# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = En ny { -brand-shorter-name }-opdatering er tilgængelig.
    .buttonlabel = Hent opdatering
    .buttonaccesskey = H
    .secondarybuttonlabel = Ikke nu
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Opdater { -brand-shorter-name } til den seneste og mest sikre version.
appmenu-update-manual =
    .label = { -brand-shorter-name } kan ikke opdatere til den seneste version.
    .buttonlabel = Hent { -brand-shorter-name }
    .buttonaccesskey = H
    .secondarybuttonlabel = Ikke nu
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Hent en frisk kopi af { -brand-shorter-name } og vi vil hjælpe dig med at installere den.
appmenu-update-whats-new =
    .value = Se nyhederne.
appmenu-update-restart =
    .label = Genstart for at opdatere { -brand-shorter-name }.
    .buttonlabel = Genstart og gendan
    .buttonaccesskey = G
    .secondarybuttonlabel = Ikke nu
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Efter en hurtig genstart vil { -brand-shorter-name } gendanne alle dine åbne faneblade og vinduer, der ikke er åbnet i privat browsing-tilstand.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, forstået
    .buttonaccesskey = O
appmenu-addon-post-install-message = Håndter dine tilføjelser ved at klikke på <image data-l10n-name='addon-install-icon'></image> i <image data-l10n-name='addon-menu-icon'></image>-menuen.
appmenu-addon-post-install-incognito-checkbox =
    .label = Tillad denne udvidelse at virke i private vinduer.
    .accesskey = T
appmenu-addon-private-browsing =
    .label = Ændring til udvidelser i private vinduer
    .buttonlabel = Håndter udvidelser
    .buttonaccesskey = H
    .secondarybuttonlabel = Ok, forstået
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Nye udvidelser, du føjer til { -brand-shorter-name } virker kun i private vinduer, hvis du tillader dette i indstillingerne.
appmenu-addon-private-browsing-learn-more = Læs mere om at håndtere indstillinger for udvidelser.
