# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = Անսարքության տեղեկատվությունը
page-subtitle = Այս էջը պարունակում է տեխնիկական ինֆորմացիա, որը կարող է օգտակար լինել, երբ դուք փորձում եք լուծել խնդիրը:Եթե դուք փնտրում եք { -brand-short-name }-ին վերաբերող ընդհանուր հարցերին պատասխաններ,փորձեք մեր <a data-l10n-name="support-link"> աջակցող կայքը </a>:
crashes-title = Վթարի զեկույցներ
crashes-id = Հաղորդագրության Համարը
crashes-send-date = Ուղարկված
crashes-all-reports = Վթարի բոլոր զեկույցները
crashes-no-config = Ծրագիրը կարգավորված չէ ցուցադրելու վթարի զեկույցները:
extensions-title = Ընդլայնումներ
extensions-name = Անուն
extensions-enabled = Միացված է
extensions-version = Տարբերակ
extensions-id = ID
security-software-title = Անվտանգության ծրագրաշար
security-software-type = Տեսակ
security-software-name = Անուն
security-software-antivirus = ՀԱկավիրուս
security-software-antispyware = Հակալրտես
security-software-firewall = Հրապատ
features-title = { -brand-short-name }-ի յուրահատկություններ
features-name = Անուն
features-version = Տարբերակ
features-id = ID
app-basics-title = Տեղեկություն հավելվածի մասին
app-basics-name = Անուն
app-basics-version = Տարբերակ
app-basics-build-id = Կառուցման ID
app-basics-update-channel = Թարմացումների աղբյուր
app-basics-update-history = Թարմացումների մատյան
app-basics-show-update-history = Ցուցադրել Թարմացումների Պատմությունը
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] Պրոֆիլի պահոց
       *[other] Պրոֆիլի թղթապանակը
    }
app-basics-enabled-plugins = Միացված բաղադրիչներ
app-basics-build-config = Հավաքման ձևաչափ
app-basics-user-agent = Օգտետերի Դիտարկիչը
app-basics-os = OS
app-basics-memory-use = Հիշողության ծավալ
app-basics-performance = Արտադրողականություն
app-basics-service-workers = Գրանցված Service Workers
app-basics-profiles = Պրոֆիլներ
app-basics-multi-process-support = Բազմաընթացքային պատուհաններ
app-basics-process-count = Վեբ բովանդակության ընթացքներ
app-basics-key-google = Google Key
app-basics-key-mozilla = Mozilla-ի տեղադրության ծառայության բանալի
app-basics-safe-mode = Ապահով կերպ
show-dir-label =
    { PLATFORM() ->
        [macos] Ցույց տալ Finder -ում
        [windows] Բացել թղթապանակը
       *[other] Բացել թղթապանակը
    }
modified-key-prefs-title = Փոփոխված կարևոր կարգավորումներ
modified-prefs-name = Անուն
modified-prefs-value = Արժեքը
user-js-title = user.js-ի կարգավորումներ
user-js-description = Ձեր պրոֆիլի թղթապանակը պարունակում է<a data-l10n-name="user-js-link">user.js ֆայլ</a>, որը ներառում է կարգավորումներ, որոնք չեն ստեղծվել { -brand-short-name }-ի կողմից։
locked-key-prefs-title = Կողպված կարևոր կարգավորումներ
locked-prefs-name = Անուն
locked-prefs-value = Արժեքը
graphics-title = Գրաֆիկա
graphics-features-title = Յուրահատկություններ
graphics-diagnostics-title = Ախտորոշում
graphics-failure-log-title = Ձախողման մատյան
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = Որոշման մատյան
graphics-crash-guards-title = Վթարի պաշտպանի անջատած յուրահատկություններ
graphics-workarounds-title = Շրջանցիկներ
place-database-title = Տվյալների շտեմարան
place-database-integrity = Շտեմարաններ
place-database-verify-integrity = Ստուգել ամբողջությունը
js-title = JavaScript
js-incremental-gc = Գործադիր GC
a11y-title = Մատչելիություն
a11y-activated = Ակտիվացված է
a11y-force-disabled = Կանխել հասանելիությունը
a11y-handler-used = Հասանելի մշակիչ է օգտ.
a11y-instantiator = Մատչելի կատարելիներ
library-version-title = Շտեմարանների տարբերակը
copy-text-to-clipboard-label = Պատճենել մեկուսաշրջույթում
copy-raw-data-to-clipboard-label = Պատճենել չմշակված տվյալները մեկուսաշրջույթ
sandbox-title = Sandbox
sandbox-sys-call-log-title = Մերժված համակարգային զանգեր
sandbox-sys-call-index = #
sandbox-sys-call-age = Վայրկյան առաջ
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = Ընթացքի տեսակը
sandbox-sys-call-number = Համզանգ
sandbox-sys-call-args = Փաստարկներ
safe-mode-title = Օգտ. Ապահով կերպը
restart-in-safe-mode-label = Վերամեկնարկել՝ անջատելով հավելումները...
media-title = Մեդիա
media-output-devices-title = Արտածելու սարքեր
media-input-devices-title = Ներածելու սարքեր
media-device-name = Անուն
media-device-group = Խումբ
media-device-vendor = Մատակարար
media-device-state = Վիճակ
media-device-preferred = Նախընտրելի
media-device-format = Ձևաչափ
media-device-channels = Ալիքներ
media-device-rate = ԳՆահատական
media-device-latency = Սպասում
intl-title = Միջազգայնացում և տեղայնացում
intl-app-title = ՀԱվելվածի կարգավորումներ
intl-locales-requested = Հարցված լեզուներ
intl-locales-available = Մատչելի լեզուներ
intl-locales-supported = Հավելվածի լեզուները
intl-locales-default = Հիմնական լեզուն
intl-os-title = Օպերացիոն համակարգ
intl-os-prefs-system-locales = Համակարգային լեզուներ
intl-regional-prefs = Տաածաշրջանային նախապատվություններ
# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] Վթարի զեկույցները վերջին { $days } օրում
       *[other] Վթարի զեկույցները վերջին { $days } օրում
    }
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] { $minutes } րոպե առաջ
       *[other] { $minutes } րոպե առաջ
    }
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] { $hours } ժամ առաջ
       *[other] { $hours } ժամ առաջ
    }
# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] { $days } օր առաջ
       *[other] { $days } օր առաջ
    }
# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] Վթարի բոլոր զեկույցները (ներառյալ նշված ժամանակում { $reports } սպասող վթար)
       *[other] Վթարի բոլոր զեկույցները (ներառյալ նշված ժամանակում { $reports } սպասող վթարներ)
    }
raw-data-copied = Չմշակված տվյալները պատճենվել են մեկուսաշրջույթ
text-copied = Տեքստը պատճենված է

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = Արգելված է տեսասարքի սարքավարի տարբերակի կողմից։
blocked-gfx-card = Արգելված է տեսաքարտի կողմից՝ անհայտ պատճառով։
blocked-os-version = Կասեցված է ձեր օպերացիոն համակարգի տարբերակի համար:
blocked-mismatched-version = Արգելափակված է ձեր գրաֆիկայի սարքավարի տարբերակի՝ գրանցատեղիի և DLL-ի միջև բացի պատճառով:
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = Արգելված է տեսասարքի սարքավարի տարբերակի կողմից։ Փորձեք թարմացնել տեսաքարտի տարբերակը { $driverVersion }-ի կամ ավելի նորի։
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = ClearType-ի ցուցիչները
compositing = Կազմում
hardware-h264 = Սարքաշարի H264 ապակոդավորում
main-thread-no-omtc = հիմնական շղթա, ոչ OMTC
yes = Այո
no = Ոչ

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = Գտնվել է
missing = Բացակայում է
gpu-description = Նկարագրություն
gpu-vendor-id = Մատակարարի ID-ին
gpu-device-id = Սարքի ID-ին
gpu-subsys-id = Subsys ID
gpu-drivers = Սարքավարներ
gpu-ram = RAM
gpu-driver-version = Հարմարանքի տարբերակը
gpu-driver-date = Սարքավարի ամսաթիվը
gpu-active = Ակտիվ
webgl1-wsiinfo = WebGL 1 սարքավարի տեղեկություն
webgl1-renderer = WebGL 1 սարքավարի նյութավորիչ
webgl1-version = WebGL 1 սարքավարի տարբերակ
webgl1-driver-extensions = WebGL 1 սարքավարի ընդլայնում
webgl1-extensions = WebGL 1 ընդլայնումներ
webgl2-wsiinfo = WebGL 2 սարքավարի WSI տեղեկություն
webgl2-renderer = WebGL 2 սարքավարի նյութավորիչ
webgl2-version = WebGL 2 սարքավարի տարբերակ
webgl2-driver-extensions = WebGL 2 սարքավարի ընդլայնումներ
webgl2-extensions = WebGL 2 ընդլայնումներ
blocklisted-bug = Սև ցուցակում՝ հայտնի խնդիրների պատճառով
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = խնդիր { $bugNumber }
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = Սև ցուցակում, վթարի կոդը՝ { $failureCode }
d3d11layers-crash-guard = D3D11 կազմարկիչ
d3d11video-crash-guard = D3D11 տեսանյութի ապակոդավորիչ
d3d9video-crash-buard = D3D9 տեսանյութի ապակոդավորիչ
glcontext-crash-guard = OpenGL
reset-on-next-restart = Վերակայել հաջորդ վերամեկնարկից
gpu-process-kill-button = Ավարտել GPU ընթացքը
audio-backend = Ձայնային հետընթաց
min-lib-versions = Ակնկալվող նվազագույն տարբերակը
loaded-lib-versions = Օգտագործվող տարբերակը
has-seccomp-bpf = Seccomp-BPF (System Call Filtering)
has-seccomp-tsync = Seccomp շղթայի համաժամեցում
has-user-namespaces = Օգտվողի անվան բացատներ
has-privileged-user-namespaces = Օգտվողի անվան բացատներ՝ արտոնյալ ընթացների համար
can-sandbox-content = Բովանդակության Sandboxing
can-sandbox-media = Մեդիաբաղադրչի Sandboxing
content-sandbox-level = Բովանդակության ընթացք Sandboxing-ի մակարդակ
sandbox-proc-type-content = բովանդակությունը
sandbox-proc-type-media-plugin = մեդիա բաղադրիչ
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = Միացված օգտվողի կողմից
multi-process-status-1 = Միացված՝ ըստ լռելյայնի
multi-process-status-2 = Անջատված
multi-process-status-4 = Անջատված հասանելիության գործիքներով
multi-process-status-6 = Անջատված է չաջակցվող տեքստի ներածումը
multi-process-status-7 = Անջատված է հավելումների կողմից
multi-process-status-8 = Ուժով անջատված
multi-process-status-unknown = Անհայտ վիճակ
async-pan-zoom = Չհամաժամված շեղում/Դիտափոխում
apz-none = նշում
wheel-enabled = անիվի ներածումը միացված է
touch-enabled = հպմամբ մուտքագրումը միացված է
drag-enabled = գլորագոտու քաշելը միացված է

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = async անիվի ներածումը անջատված է չաջակցվող նախ. պատճառով. { $preferenceKey }
touch-warning = async հպմամբ ներածումը անջատված է չաջակցվող նախ. պատճառով. { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

