# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Une nouvelle mise à jour de { -brand-shorter-name } est disponible.
    .buttonlabel = Télécharger la mise à jour
    .buttonaccesskey = T
    .secondarybuttonlabel = Plus tard
    .secondarybuttonaccesskey = P
appmenu-update-available-message = Mettez à jour votre version de { -brand-shorter-name } pour bénéficier des dernières améliorations en matière de sécurité et de vie privée.
appmenu-update-manual =
    .label = { -brand-shorter-name } ne peut pas être mis à jour vers la version la plus récente.
    .buttonlabel = Télécharger { -brand-shorter-name }
    .buttonaccesskey = T
    .secondarybuttonlabel = Plus tard
    .secondarybuttonaccesskey = P
appmenu-update-manual-message = Téléchargez à nouveau { -brand-shorter-name } et nous pourrons vous guider pour l’installer.
appmenu-update-whats-new =
    .value = Découvrez les nouveautés.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } ne peut se mettre à jour vers la dernière version.
    .buttonlabel = En savoir plus
    .buttonaccesskey = S
    .secondarybuttonlabel = Fermer
    .secondarybuttonaccesskey = F
appmenu-update-unsupported-message = La dernière version de { -brand-shorter-name } n’est pas prise en charge par votre système.
appmenu-update-restart =
    .label = Redémarrez pour mettre à jour { -brand-shorter-name }.
    .buttonlabel = Redémarrer et restaurer
    .buttonaccesskey = R
    .secondarybuttonlabel = Plus tard
    .secondarybuttonaccesskey = P
appmenu-update-restart-message = Après un rapide redémarrage, { -brand-shorter-name } restaurera l’ensemble de vos onglets et fenêtres qui n’étaient pas en mode de navigation privée.
appmenu-addon-private-browsing-installed =
    .buttonlabel = J’ai compris
    .buttonaccesskey = a
appmenu-addon-post-install-message = Gérez vos modules en cliquant sur <image data-l10n-name='addon-install-icon'></image> dans le menu <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Autoriser cette extension à s’exécuter dans une fenêtre de navigation privée
    .accesskey = A
appmenu-addon-private-browsing =
    .label = Changement pour les extensions en fenêtres de navigation privée.
    .buttonlabel = Gérer les extensions
    .buttonaccesskey = G
    .secondarybuttonlabel = J’ai compris
    .secondarybuttonaccesskey = a
appmenu-addon-private-browsing-message = Les nouvelles extensions que vous ajouterez à { -brand-shorter-name } ne fonctionneront pas dans les fenêtres de navigation privée à moins d’autoriser explicitement leur exécution dans les paramètres.
appmenu-addon-private-browsing-learn-more = Apprenez comment gérer les paramètres des extensions.
