# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

panic-button-open-new-window = এটা নতুন পৰিষ্কাৰ উইন্ডো খোলক
panic-button-undo-warning = এই কাৰ্য্য পিছত নোহোৱা কৰিব নোৱাৰি।
panic-button-forget-button =
    .label = পাহৰি যাওক!

## These strings are combined to form a complete sentence starting with
## panic-main-timeframe-desc. For example: "Forget the last: Five minutes".
## Please ensure that this remains the case in the translation.

panic-main-timeframe-desc = সৰ্বশেষ পাহৰি যাওক:
panic-button-5min =
    .label = পাঁচ মিনিট
panic-button-2hr =
    .label = দুই ঘণ্টা
panic-button-day =
    .label = 24 ঘণ্টা

## These strings are combined to form a complete sentence starting with
## panic-button-action-desc. For example: "Proceeding will: Delete Recent Cookies".
## Please ensure that this remains the case in the translation.
## Note also that some strings include <strong> tags for emphasis on the
## words "Cookies", "History", "Tabs" and "Windows". The translation should do the same.

panic-button-action-desc = আগবাঢ়িলে নিম্নলিখিত কাৰ্য্য কৰা হব:
panic-button-delete-cookies = শেহতীয়া <strong>কুকিসমূহ</strong> মচা
panic-button-delete-history = শেহতীয়া <strong>ইতিহাস</strong> মচা
panic-button-delete-tabs-and-windows = সকলো <strong>টেব</strong> আৰু <strong>উইন্ডো</strong> বন্ধ কৰা
