# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Baɗte Hakkeeji Maa
rights-intro = { -brand-full-name } ko topirɗe dokkal e open source, nde renndo ujunnaaji neɗɗo wonɓe e winndere ndee fof mbinndi. Won geɗe seeɗa ɗe pot-ɗaa faamde:
rights-intro-point-1 = { -brand-short-name } ena yettinaa e maa tugnaade e sarɗiiji <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a>. Ɗum firti ko aɗa waawi huutoraade, tummbitaade, weeɗde { -brand-short-name } woɗɓe.  Aɗa yamiraa kadi waylude dokkol yummawol { -brand-short-name } ngol no njiɗir-ɗaa ngam nafoore maa heeriingo. Mozilla Public License ena hokku-maa kadi hakke weeɗde jame maa bayklaaɗe ɗee.
rights-intro-point-2 = A hokkaaka hay hakke gooto wonande marke ɗee walla jamirooje marke Mozilla Foundation walla baawɗo wonde kala, ena jeyaa heen tawa alaa ɗo haaɗi innde Firefox ndee e logo mum. Humpito wonngo baɗte marke ena heɓoo <a data-l10n-name="mozilla-trademarks-link">ɗoo</a>.
rights-intro-point-3 = Wone e fannuuji gonɗi e { -brand-short-name }, wano Jaŋtorde Hooko, ena hokku maa suɓre hokkude miijo maa to { -vendor-short-name }. So a suɓiima naatnude miijo, aɗa hokka { -vendor-short-name } yamiroore huutoraade miijo maa ngoo ngam ɓeydude moƴƴinde paggooje mum, bayyinde miijo maa e lowe mum geese, e waaɗde miijo ngoo.
rights-intro-point-4 = No min kuutortoo humpito maa heeriingo a miijo maa naatnaaɗe to { -vendor-short-name } fayde { -brand-short-name } ena sifaa e <a data-l10n-name="mozilla-privacy-policy-link">Dawirgol Suturo { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Kala dawirɗe sutoro jammintooɗe e ndee faggoore ena foti limteede ɗoo.
rights-intro-point-5 = Won e fannuuji { -brand-short-name } ena kuutortoo carwe humpito mooftiiɗe e geese, kono, min mbaawaa adande on eɗe ngoongɗi 100% walla ɗe ngalaa juume. Humpito woɗngo, yantude e hol no fannuuji kuutortooɗi ɗeen carwe daaƴirtee ena heɓoo e <a data-l10n-name="mozilla-service-terms-link">saɗiiji carwe</a>.
rights-intro-point-5-unbranded = So ndee faggoore ena soomi carwe geese, kala sarɗi carwe pawotooɗe e carwol (carwe) ɗee ena poti jokkondirɗe e <a data-l10n-name="mozilla-website-services-link">Carwe Lowe Geese</a> taƴre.
rights-intro-point-6 = Ngam tartude yoga e loowdi widewoo, { -brand-short-name } aawtoto won e gulɗe dokkitorɗe loowdi iwde e nokkuuji goɗɗi.
rights-webservices-header = Carwe Humpito { -brand-full-name } Mooftiiɗe e Geese
rights-webservices = { -brand-full-name } ena huutoroo carwe humpito mooftiiɗe e geese ("Carwe") ngam addude won e fannuuji ɗi ngaddane-ɗaa yo a huutoro ndee yamre biinere { -brand-short-name } tugnaade e sarɗiiji cifaaɗi les ɗoo. So a yiɗaa huutoraade gootol walla keewɗe e ɗeen Carwe walla sarɗiiji gonɗi les ɗoo njaɓotaako, aɗa waawi daaƴde oon fannu Carwol(we). Tinndinoore e no fannu keeriiɗo walla Carwol daaƴirtee ena heɓoo <a data-l10n-name="mozilla-disable-service-link">ɗoo</a>. Fannuuji e Carwe goɗɗe ena mbaawi daaƴeede e cuɓoraaɗe jaaɓnirgal ngal.
rights-safebrowsing = <strong>SafeBrowsing</strong>Daaƴde fannu Peeragol Koolnol oo wasiyaaka sabu ena waawi wuftude e yahde-ma e lowe ɗe koolnaaki.  So aɗa yiɗi daaƴde fannu oo haa timma, tugno e ɗee daawe:
rights-safebrowsing-term-1 = Uddit cuɓoraaɗe jaaɓnirgal ngal
rights-safebrowsing-term-2 = Labo labannde Kisal ndee
rights-safebrowsing-term-3 = Jelto suɓre to "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Falo loowi mbonndi e puuntoori
rights-safebrowsing-term-4 = Peeragol Koolnol daaƴaama jooni
rights-locationawarebrowsing = <strong>Peeragol Ganndungol Nokkuure: </strong>ko jaɓel kala sahaa.  Alaa humpito nokkuure neldetee tawa a yamiraani.  So aɗa yiɗi daaƴde oo fannu haa timma, tugno e ɗee daawe:
rights-locationawarebrowsing-term-1 = E palal URL ngal, tappu <code>about:config</code>
rights-locationawarebrowsing-term-2 = Tappu geo.enabled
rights-locationawarebrowsing-term-3 = Dobdobo e suɓoraango geo.enabled ngoo
rights-locationawarebrowsing-term-4 = Peeragol Ganndungol Nokkuure jooni daaƴaama
rights-webservices-unbranded = Sifannde carwe lowe geese ɗe faggoore ndeel soomi ɗee, yanti heen pamminorɗe no ɗe daaƴirtee, so ena wona, ena poti heɓaade ɗoo.
rights-webservices-term-unbranded = Kala sarɗiiji carwe jammintooɗe e ndee faggoore ena foti limteede ɗoo.
rights-webservices-term-1 = { -vendor-short-name } e wallitooɓe mum, yamirooɓe e renndodiiɓe mum ena ngolloo ngam addude Carwe ɓurɗe hesɗitde.  Kono, min mbaawaa aadande on wonde ngoon humpito ena hesɗiti tee alaa juume.  Yeru, Carwol Peeragol Suturo ngol ena waawi waasde yiyde won e lowe ɗe koolnaaki tee ena waawi juumde e joopagol lowe tee Peeragol Ganndungol Nokkuure ngol nokkuuje kala ɗe carwol amen ruttini ko kiise tan tee wonaa minen, wonaa hokkooɓe carwol amen ngaadani-on moƴƴugol nokkuuje dokkaaɗe ɗee.
rights-webservices-term-2 = { -vendor-short-name } ena waawi dartaade walla wayla Carwe ɗee nde welaa.
rights-webservices-term-3 = Aɗa bismaa e huutoraade ɗee Carwe ngarduɗe e yamre { -brand-short-name }, tee { -vendor-short-name } ena hokku-maa hakkeeji waɗde ɗum.  { -vendor-short-name } e yamirooɓe mum ena panndini hakkeeji goɗɗi kala e Carwe ɗee.  Ɗii sarɗiiji mbaɗiraaka yoo pamɗin hakkeeji dokkaaɗi e tugno jamirooje open source jammintooɗe e { -brand-short-name } kadi e jame dokkol baabarol { -brand-short-name }.
rights-webservices-term-4 = <strong>Carwe ɗee ndokkiraa ko "no ngoniri nih"  { -vendor-short-name }, wallitooɓe mum, yamirooɓe, e weeɗooɓe, ena ndiiwta kala gaadane, foti ko wowlaa walla maandinaa, yantude heen tawa alaa kaadol, gaadane ɗe Carwe ɗee ena njuloree tee ena kaaɗi e nafoore maa.  Kala caɗeele gonɗe e Carwe ɗe cuɓani-ɗaa nafoore hoore maa ɗee ko aan tambii, kadi ko feewti e ŋarɗol e ñisgol Carwe ɗee. Won e laabi njamirtaa calagaol walla kaaɗnugol gaadane maandinaaɗe ɗee, ngati ngol diiwtol ena waawi waasde toɗɗaade-ma.</strong>
rights-webservices-term-5 = <strong>So wonaa ko laawol naamnii, { -vendor-short-name }, wallitooɓe mum, yamirooɓe, e weeɗooɓe mbaawoytaa joppeede so bonanndeeeji kuutoragol { -brand-short-name } e Carwe ɗee.  Pawtagol denndangol tugnaade e ɗiin sarɗiiji mbaawaa diwde $500 (teemedde joyi dolaar). Won e laabi njamirtaa diiwtol walla kaaɗnugol won heen e bonanndeeji, ngati ndol diiwtol ena waawi waasde toɗɗaade-ma.</strong>
rights-webservices-term-6 = { -vendor-short-name } ena waawi hesɗitde ɗii sarɗiiji sahaaji so soklaama. Ɗiin sarɗiiji mbaawaa wayleede walla haaytineede tawa { -vendor-short-name } addaani yamiroore mum e binndol.
rights-webservices-term-7 = Ɗii sarɗiiji huufi ɗum'en ko laabi Dowla Kaliforni, U.S.A., jeyaaka heen luure ɗaɓɓugol laawol. So won e ɗiin sarɗiiji heftinaa moƴƴaani walla mbaawaa faweede e yimɓe, ko heddi koo ena ñiiɓi e laawol tigi. So luural jolii hakkunde yamre firaande e yamre ɗemngal Engeleere, ko yamre Engeleere ndee jogii giol.
