# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

abuse-report-title-extension = Relatar esta extensão para a { -vendor-short-name }
abuse-report-title-theme = Relatar este tema para a { -vendor-short-name }
abuse-report-subtitle = Qual é o problema?
# Variables:
#   $author-name (string) - Name of the add-on author
abuse-report-addon-authored-by = por <a data-l10n-name="author-name">{ $author-name }</a>
abuse-report-learnmore =
    Não tem certeza de qual problema selecionar?
    <a data-l10n-name="learnmore-link">Saiba mais sobre como relatar extensões e temas</a>
abuse-report-submit-description = Descreva o problema (opcional)
abuse-report-textarea =
    .placeholder = É mais fácil para nós abordar um problema se tivermos detalhes. Descreva o que está acontecendo. Obrigado por nos ajudar a manter a web saudável.
abuse-report-submit-note = Nota: Não inclua informações pessoais (como nome, endereço de e-mail, número de telefone, endereço físico). A { -vendor-short-name } guarda um registro permanente desses relatos.

## Panel buttons.

abuse-report-cancel-button = Cancelar
abuse-report-next-button = Avançar
abuse-report-goback-button = Voltar
abuse-report-submit-button = Enviar

## Message bars descriptions.


## Variables:
##   $addon-name (string) - Name of the add-on

abuse-report-messagebar-aborted = Relato de <span data-l10n-name="addon-name">{ $addon-name }</span> cancelado.
abuse-report-messagebar-submitting = Enviando relato de <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-submitted = Obrigado por enviar um relato. Quer remover <span data-l10n-name="addon-name">{ $addon-name }</span>?
abuse-report-messagebar-removed-extension = Obrigado por enviar um relato. Você removeu a extensão <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-removed-theme = Obrigado por enviar um relato. Você removeu o tema <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-error = Houve um erro ao enviar o relato de <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-error-recent-submit = O relato de <span data-l10n-name="addon-name">{ $addon-name }</span> não foi enviado porque outro relato foi enviado recentemente.

## Message bars actions.

abuse-report-messagebar-action-remove = Sim, remover
abuse-report-messagebar-action-keep = Não, manter
abuse-report-messagebar-action-retry = Tentar novamente
abuse-report-messagebar-action-cancel = Cancelar

## Abuse report reasons (optionally paired with related examples and/or suggestions)

abuse-report-damage-reason = Danifica meu computador e meus dados
abuse-report-damage-example = Exemplo: injetou código malicioso ou roubou dados
abuse-report-spam-reason = Cria spam ou propaganda
abuse-report-spam-example = Exemplo: insere anúncios em páginas web
abuse-report-settings-reason = Mudou meu mecanismo de pesquisa, página inicial, ou página de nova aba sem me perguntar ou me informar
abuse-report-settings-suggestions = Antes de reportar a extensão, você pode tentar alterar suas configurações:
abuse-report-settings-suggestions-search = Muda sua configuração de pesquisa padrão
abuse-report-settings-suggestions-homepage = Muda sua página inicial e página de nova aba
abuse-report-deceptive-reason = Finge ser o que não é
abuse-report-deceptive-example = Exemplo: descrição ou imagens enganosas
abuse-report-broken-reason-extension = Não funciona, atrapalha sites, ou faz o { -brand-product-name } ficar mais lento
abuse-report-broken-reason-theme = Não funciona ou atrapalha a exibição do navegador
abuse-report-broken-example = Exemplo: recursos são lentos, difíceis de usar, ou não funcionam; partes de sites não são carregadas ou aparecem erradas
abuse-report-broken-suggestions-extension =
    Parece que você identificou um bug. Além de enviar um relato aqui, a melhor maneira de
    ter um problema de funcionalidade resolvido é entrar em contato com o desenvolvedor da extensão.
    <a data-l10n-name="support-link">Visite o site da extensão</a> para obter informações do desenvolvedor.
abuse-report-broken-suggestions-theme =
    Parece que você identificou um bug. Além de enviar um relato aqui, a melhor maneira de
    ter um problema de funcionalidade resolvido é entrar em contato com o desenvolvedor do tema.
    <a data-l10n-name="support-link">Visite o site do tema</a> para obter informações do desenvolvedor.
abuse-report-policy-reason = Conteúdo de ódio, violência ou ilegal
abuse-report-policy-suggestions =
    Nota: Problemas de direitos autorais (copyright) e marcas registradas (trademark) devem ser relatados em um processo separado.
    <a data-l10n-name="report-infringement-link">Siga essas instruções</a> para relatar o problema.
abuse-report-unwanted-reason = Nunca quis esta extensão e não consigo me livrar dela
abuse-report-unwanted-example = Exemplo: uma aplicação instalou sem minha permissão
abuse-report-other-reason = Outra coisa
