# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Yeni { -brand-shorter-name } yeniləməsi mövcuddur.
    .buttonlabel = Yeniləməni Endir
    .buttonaccesskey = D
    .secondarybuttonlabel = Başqa Vaxt
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Sürət və məxfilikdə son yeniliklər üçün { -brand-shorter-name } səyyahınızı yeniləyin.
appmenu-update-manual =
    .label = { -brand-shorter-name } son versiyaya yenilənə bilmir.
    .buttonlabel = { -brand-shorter-name } Endir
    .buttonaccesskey = D
    .secondarybuttonlabel = Başqa Vaxt
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = { -brand-shorter-name } səyyahının yeni nüsxəsini endir və biz sizə onu qurmağa kömək edəcik.
appmenu-update-whats-new =
    .value = Yeniliklərə baxın.
appmenu-update-restart =
    .label = { -brand-shorter-name } yeniləmək üçün yenidən başladın.
    .buttonlabel = Yenidən başlat və Bərpa et
    .buttonaccesskey = R
    .secondarybuttonlabel = İndi deyil
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Cəlq yenidən başlatmadan sonra { -brand-shorter-name } Məxfi Səyahət-də olmayan bütün vərəq və pəncərələrinizi bərpa edəcək.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Tamam, başa düşdüm
    .buttonaccesskey = T
appmenu-addon-post-install-message = Əlavələrinizi <image data-l10n-name='addon-menu-icon'></image> menyusundan <image data-l10n-name='addon-install-icon'></image> klikləyərək idarə edin.
appmenu-addon-private-browsing =
    .label = Məxfi Pəncərələrdəki uzantılar dəyişdirilir
    .buttonlabel = Uzantıları idarə et
    .buttonaccesskey = M
    .secondarybuttonlabel = Tamam, başa düşdüm
    .secondarybuttonaccesskey = T
appmenu-addon-private-browsing-message = { -brand-shorter-name } səyyahına əlavə etdiyiniz yeni uzantılar bu tənzimləmədə icazə vermənizə qədər Məxfi Pəncərələrdə işləməyəcəklər.
appmenu-addon-private-browsing-learn-more = Uzantı tənzimləmələrini necə idarə edəcəyinizi öyrənin.
