# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Vacib Xəbərlər
heading = { -brand-short-name } profilinizə aid dəyişikliklər
changed-title = Nələr dəyişdi?
options-title = Seçimlərim nələrdir?
resources = Mənbələr:
sync-header = Daxil olun və ya { -fxaccount-brand-name } yaradın
sync-label = E-poçtunuzu daxil edin
sync-input =
    .placeholder = E-poçt
sync-button = Davam et
sync-terms = Davam edərək <a data-l10n-name="terms">İstifadə Şərtləri</a> və <a data-l10n-name="privacy">Məxfilik Bildirişi</a> ilə razılaşmış olacaqsınız.
sync-learn = Ətraflı öyrən
