# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Muhim yangiliklar
heading = { -brand-short-name } profilidagi oʻzgarishlar
changed-title = Nima oʻzgartirildi?
changed-desc-profiles = { -brand-short-name } oʻrnatilishi bilan yangi profil yaratilgan. Profil – bu Firefox saqlaydigan xatchoʻp, parol va foydalanuvchi parametrlari kabi fayllar jamlanmasi.
changed-desc-dedicated = Oʻrnatilgan Firefox versiyalariga (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition va Firefox Nightly kabilarga ham) almashib oʻtishni osonlashtirish uchun bu oʻrnatilgan versiya uchun ham alohida profil yaratilgan. Maʼlumotlaringizni boshqa oʻrnatilgan Firefox versiyalariga avtomatik tarqatmaydi.
lost = <b> Hech qanday shaxsiy maʼlumotlar yoki sozlashlarni yoʻqotgansiz. </ b> Agar siz allaqachon ushbu kompyuterda Firefox maʼlumotlarini saqlagan boʻlsangiz, u boshqa Firefox profilida saqlanadi.
options-title = Nimalarni tanlay olaman?
options-do-nothing = Hech nima qilmasangiz, { -brand-short-name } maʼlumotlari boshqa oʻrnatilgan Firefox versiyalaridan alohida profilga saqlanadi.
options-use-sync = Barcha profil maʼlumotlari ayni oʻrnatilayotgan Firefox profili bilan bir xil boʻlishini xohlasangiz, { -fxaccount-brand-name } hisobi bilan sinxronlang.
resources = Manbalar:
support-link = Profil menejeridan foydalanish – yordam olish uchun maqola
sync-header = Hisobingizga kiritng yoki { -fxaccount-brand-name } yarating
sync-label = E-pochtangizni kiriting
sync-input =
    .placeholder = Elektron pochta
sync-button = Davom etish
sync-terms = Davom etish orqali siz <a data-l10n-name="terms"> Xizmat koʻrsatish shartlari </a> va <a data-l10n-name="privacy"> Maxfiylik eslatmalari </a>ga rozilik bildirasiz.
sync-first = { -sync-brand-name } brauzeridan birinchi marta foydalanyapsizmi? Har safar Firefox brauzerini oʻrnatganingizda sinxronlash uchun hisobingizga kirishingiz lozim.
sync-learn = Batafsil maʼlumot
