# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Γef { -brand-full-name }
releaseNotes-link = D acu i d amaynut
update-checkForUpdatesButton =
    .label = Nadi ileqman
    .accesskey = N
update-updateButton =
    .label = Sker i tikkelt-nniḍen akken ad tleqqmeḍ{ -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = Muqel ma yella lqem amaynut...
update-downloading = <img data-l10n-name="icon"/>Asider n lqem—  <label data-l10n-name="download-status"/>
update-applying = Asnas n uleqqem.
update-failed = Aleqqem ur yemmid ara. <label data-l10n-name="failed-link">Sider lqem aneggaru </label>
update-failed-main = Aleqqem ur yemmid ara. <a data-l10n-name="failed-link-main">Sider lqem aneggaru </a>
update-adminDisabled = Aleqqem issewḥel-it unedbal n unagraw-ik
update-noUpdatesFound = { -brand-short-name } yettwaleqqem
update-otherInstanceHandlingUpdates = { -brand-short-name } tleqqem-it tummant-nniḍen
update-manual = Ileqman llan deg  <label data-l10n-name="manual-link"/>
update-unsupported = Ur tezmireḍ ara ad tleqmeḍ ugar ɣef unagraw-agi. <label data-l10n-name="unsupported-link">Issin ugar </label>
update-restarting = Aɛiwed n usenker…
channel-description = Aqli-k tura deg <label data-l10n-name="current-channel"></label>.
warningDesc-version = { -brand-short-name } d armitan yerna ur yerkid.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name } </label> d <label data-l10n-name="community-exp-creditsLink">tamezdagnut tamaḍalant </label> ad neqdec lwaḥid akken ad neǧǧ Web yeldi, d azayez, d uffran i yal yiwen.
community-2 = { -brand-short-name } ifeṣṣel-it <label data-l10n-name="community-mozillaLink">{ -vendor-short-name } </label>,agraw amaḍlan n  <label data-l10n-name="community-creditsLink">imttekkiyen </label> ad nexdem lwaḥid akken ad neǧǧ Web yeldi, d azayez, d uffran i yal yiwen.
helpus = Tebɣiḍ tallalt? <label data-l10n-name="helpus-donateLink">Efk tawsa</label> neɣ <label data-l10n-name="helpus-getInvolvedLink">kki!</label>
bottomLinks-license = Talɣut n turagt
bottomLinks-rights = Izerfan n useqdac
bottomLinks-privacy = Tasertit n tbaḍnit
aboutDialog-architecture-sixtyFourBit = 64-ibiten
aboutDialog-architecture-thirtyTwoBit = 32-ibiten
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-ibiten)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate })({ $bits }-ibiten)
