# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Illa lqem amaynut { -brand-shorter-name }
    .buttonlabel = Sider lqem
    .buttonaccesskey = D
    .secondarybuttonlabel = Mačči tura
    .secondarybuttonaccesskey = T
appmenu-update-available-message = Leqqem { -brand-shorter-name } inek akken ad tesεu timahalin timaynutin di truradt akked tbaḍnit.
appmenu-update-manual =
    .label = { -brand-shorter-name } ur izmir ara ad ilqem ɣer lqem aneggaru.
    .buttonlabel = Sider { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Mačči tura
    .secondarybuttonaccesskey = T
appmenu-update-manual-message = Sider lqem aneggaru n { -brand-shorter-name } sakin ad k-nɛiwen ad t-tesbeddeḍ.
appmenu-update-whats-new =
    .value = Wali amaynut.
appmenu-update-restart =
    .label = Sker i tikkelt-nniḍen akken ad tleqqmeḍ { -brand-shorter-name }.
    .buttonlabel = Sker i tikkelt-nniḍen imir err-d
    .buttonaccesskey = R
    .secondarybuttonlabel = Mačči tura
    .secondarybuttonaccesskey = T
appmenu-update-restart-message = Seld askar arurad, { -brand-shorter-name } ad d-yerr akk accaren yeldin akked yisfayluyen ur nelli ara deg uskar n tunigin tusligt.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ih, awi-t-id
    .buttonaccesskey = O
appmenu-addon-post-install-message = Sefrek izegrar inek s usebbed γef <image data-l10n-name='addon-install-icon'></image> deg umuγ <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Sireg asiɣzef-agi ad yeddu deg isfuyla usligen
    .accesskey = S
appmenu-addon-private-browsing =
    .label = Asnifel i yisiɣzaf def isfuyla usligen
    .buttonlabel = Sefrek isiɣzaf
    .buttonaccesskey = M
    .secondarybuttonlabel = Ih, awi-t-id
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Akk isiɣzaf imaynuten ara ternuḍ ɣer { -brand-shorter-name } ur teddun ara deg isfuyla usligen arama tessirgeḍ aya deg iɣewwaṛen.
appmenu-addon-private-browsing-learn-more = Issin amek ara tesferkeḍ iɣewwaṛen n yisiɣzaf
