# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Rreth { -brand-full-name }-it
releaseNotes-link = Ç’ka të re
update-checkForUpdatesButton =
    .label = Kontrollo për përditësime
    .accesskey = K
update-updateButton =
    .label = Që të përditësohet { -brand-shorter-name }-i, riniseni
    .accesskey = R
update-checkingForUpdates = Po shihet për përditësime…
update-downloading = <img data-l10n-name="icon"/>Po shkarkohet përditësimi — <label data-l10n-name="download-status"/>
update-applying = Po zbatohet përditësimi…
update-failed = Përditësimi dështoi. <label data-l10n-name="failed-link">Shkarkoni versionin më të ri</label>
update-failed-main = Përditësimi dështoi. <a data-l10n-name="failed-link-main">Shkarkoni versionin më të ri</a>
update-adminDisabled = Përditësimet janë çaktivizuar nga përgjegjësi i sistemit tuaj
update-noUpdatesFound = { -brand-short-name }-i është i përditësuar
update-otherInstanceHandlingUpdates = { -brand-short-name }-i po përditësohet nga një instancë tjetër
update-manual = Përditësimet gjenden te <label data-l10n-name="manual-link"/>
update-unsupported = Nuk mund të kryeni përditësime të mëtejshme në këtë sistem. <label data-l10n-name="unsupported-link">Mësoni më tepër</label>
update-restarting = Po riniset…
channel-description = Tani gjendeni te kanali i përditësimit për <label data-l10n-name="current-channel"></label>.
warningDesc-version = { -brand-short-name }-i është eksperimental dhe mund të jetë i paqëndrueshëm.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> është një <label data-l10n-name="community-exp-creditsLink">bashkësi mbarëbotërore</label> që punon tok për ta mbajtur Web-in të hapët, publik dhe të përdorshëm nga kushdo.
community-2 = { -brand-short-name }-i është hartuar nga <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, një <label data-l10n-name="community-creditsLink">bashkësi mbarëbotërore</label> që punon tok për ta mbajtur Web-in të hapët, publik dhe të përdorshëm nga kushdo.
helpus = Doni të ndihmoni? <label data-l10n-name="helpus-donateLink">Bëni një dhurim</label> ose <label data-l10n-name="helpus-getInvolvedLink">përfshihuni!</label>
bottomLinks-license = Të dhëna Licencimi
bottomLinks-rights = Të drejta Përdoruesi
bottomLinks-privacy = Rregulla Privatësie
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
