# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Ka gati një përditësim të ri për { -brand-shorter-name }-in.
    .buttonlabel = Shkarkoje Përditësimin
    .buttonaccesskey = k
    .secondarybuttonlabel = Jo Tani
    .secondarybuttonaccesskey = J
appmenu-update-available-message = Për fjalën e fundit në shpejtësi dhe privatësi, përditësoni { -brand-shorter-name }-in tuaj.
appmenu-update-manual =
    .label = { -brand-shorter-name }-i s'mund të përditësohet me versionin më të ri.
    .buttonlabel = Shkarkoje { -brand-shorter-name }-in
    .buttonaccesskey = S
    .secondarybuttonlabel = Jo Tani
    .secondarybuttonaccesskey = J
appmenu-update-manual-message = Shkarkoni një kopje të re të { -brand-shorter-name }-it dhe do t'ju ndihmojmë ta instaloni.
appmenu-update-whats-new =
    .value = Shihni ç'ka të re.
appmenu-update-restart =
    .label = Që të përditësohet { -brand-shorter-name }-i, riniseni.
    .buttonlabel = Rinise dhe Riktheji
    .buttonaccesskey = R
    .secondarybuttonlabel = Jo Tani
    .secondarybuttonaccesskey = J
appmenu-update-restart-message = Pas një rinisjeje të shpejtë, { -brand-shorter-name }-i do të rikthejë krejt skedat dhe dritaret tuaja të hapura që nuk gjenden nën mënyrën Shfletim Privat.
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK, e mora vesh
    .buttonaccesskey = O
appmenu-addon-post-install-message = Administroni shtesat tuaj duke klikuar <image data-l10n-name='addon-install-icon'></image> te menuja <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Lejoje këtë zgjerim të xhirojë në Dritare Private
    .accesskey = L
appmenu-addon-private-browsing =
    .label = Ndryshim te zgjerime në Dritare Private
    .buttonlabel = Administroni Zgjerime
    .buttonaccesskey = A
    .secondarybuttonlabel = OK, e mora vesh
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Çfarëdo zgjerimesh të reja që shtoni te { -brand-shorter-name } s’do të funksionojë në Dritare Private, veç në e lejofshi ju këtë te rregullimet.
appmenu-addon-private-browsing-learn-more = Mësoni si të administroni rregullime zgjerimesh.
