# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Lajme të Rëndësishme
heading = Ndryshoni profilin tuaj { -brand-short-name }
changed-title = Ç’ndryshoi?
changed-desc-profiles = Ky instalim i { -brand-short-name } përmban një profil të ri. Një profil është një grup kartelash, ku Firefox-i ruan të dhëna të tilla si faqerojtës, fjalëkalime dhe parapëlqime përdoruesi.
changed-desc-dedicated = Për ta bërë më të kollajtë dhe më të parrezik kalimin nga një instalim Firefox-i në një tjetër (përfshi Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, dhe Firefox Nightly), ky instalim tani përmban një profil më vete. Nuk ndahen vetvetiu me instalime të tjerë të Firefox-it  të dhëna tuajat të ruajtura.
lost = <b>S’keni humbur ndonjë të dhënë personale apo përshtatje.</b> Nëse keni ruajtur tashmë të dhëna Firefox-i në këtë kompjuter, ato janë prapë të përdorshme në një tjetër instalim të Firefox-it.
options-title = Ç’mundësi kam?
options-do-nothing = Nëse s’bëni gjë, të dhënat tuaja të profilit te { -brand-short-name } do të jenë të ndryshme nga të dhëna profili prej instalimesh të tjera të Firefox-it.
options-use-sync = Nëse doni që krejt të dhënat e profilit tuaj të jenë të njëjta në krejt instalimet e Firefox-it, mund të përdorni një { -fxaccount-brand-name } për t’i mbajtur ato të njëkohësuara.
resources = Burime:
support-link = Si të përdoret Përgjegjësi i Profileve -  Artikull Asistence
sync-header = Bëni hyrjen ose krijoni një { -fxaccount-brand-name }
sync-label = Jepni email-in tuaj
sync-input =
    .placeholder = Email
sync-button = Vazhdo
sync-terms = Duke vazhduar, pajtoheni me <a data-l10n-name="terms">Kushte Shërbimi</a> dhe <a data-l10n-name="privacy">Shënim Privatësie</a>.
sync-first = Hera e parë që përdorni { -sync-brand-name }? Që të njëkohësohen të dhënat tuaja, do t’ju duhet të bëni hyrjen në çdo instalim Firefox-i.
sync-learn = Mësoni më tepër
