# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Tərtibatçı Alətləri Haqqında
enable-title = Firefox Tərtibatçı Alətlərini Aktivləşdir
enable-inspect-element-title = Element İnspektorunu işlətmək üçün Firefox Tərtibatçı Alətlərini aktivləşdirin
enable-inspect-element-message = Tərtibatçı Alətlərinin İnspektoru ilə HTML və CSS-i yoxlayın və dəyişdirin.
enable-about-debugging-message = Firefox Tərtibatçı Alətləri ilə WebExtension, web worker, service worker və daha bir çox şeyi tərtib edin və sazlayın.
enable-key-shortcut-message = Tərtibatçı Alətləri qısa yolunu aktivləşdirdiniz. Əgər bu səhvən oldusa, bu vərəqi qapata bilərsiz.
enable-menu-message = İnspektor və Sazlayıcı kimi alətlərlə saytınızın HTML, CSS və JavaScript-ini mükəmməlləşdirin.
enable-common-message = İlkin vəziyyətdə səyyahınız üzərində sizə daha çox idarə verə bilmək üçün Firefox Tərtibatçı Alətləri sönülü gəlir.
enable-learn-more-link = Tərtibatçı Alətləri haqqında ətraflı öyrən
enable-enable-button = Tərtibatçı Alətlərini Aktivləşdir
enable-close-button = Bu vərəqi qapat
welcome-title = Firefox Tərtibatçı Alətlərinə Xoş Gəldiniz!
newsletter-title = Mozilla Tərtibatçı Qəzeti
newsletter-message = Tərtibatçı xəbərləri, məsləhət və qaynaqlar birbaşa gələn qutunuza göndərilsin.
newsletter-email-placeholder =
    .placeholder = E-poçt
newsletter-privacy-label = Mozillanın bu <a data-l10n-name="privacy-policy">Məxfilik Siyasəti</a>ndə izah edildiyi kimi işlətməsinə razıyam.
newsletter-subscribe-button = Abunə ol
newsletter-thanks-title = Təşəkkürlər!
newsletter-thanks-message = Əgər daha öncə Mozilla ilə əlaqəli xəbər lentinə abunəlik təsdiqləməmisinizsə bunu etməyiniz tələb edilir. Lütfən daxil olanlar və ya spam qutunuzu e-poçtumuz üçün yoxlayın.
footer-title = Firefox Developer Edition
footer-message = Tərtibatçı Alətlərindən daha çoxunu istəyirsiniz? Xüsusilə tərtibatçılar və müasir iş axışları üçün yaradılmış Firefox səyyahını yoxlayın.
footer-learn-more-link = Ətraflı öyrən
features-learn-more = Ətraflı öyrən
features-inspector-title = İnspektor
features-inspector-desc = Mükəmməl maketlər hazırlamaq üçün kodunuzu inspektorla yoxlayın və düzəldin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsol
features-console-desc = CSS, JavaScript, təhlükəsizlik və şəbəkə xətalarını izləyin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Sazlayıcı
features-debugger-desc = Framework-ünüzü dəstəkləyən güclü JavaScript sazlayıcısı. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Şəbəkə
features-network-desc = Saytınızı yavaşlada və ya əngəlləyə biləcək şəbəkə sorğularını izləyin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Anbar
features-storage-desc = Keş, çərəz, məlumat bazası və sessiya məlumatlarını əlavə edin, dəyişdirin və silin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Uyğunlaşan Dizayn Rejimi
features-responsive-desc = Saytların mobil cihazlarda necə görünəcəyini birbaşa səyyahınızda yoxlayın. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Vizual Redaktor
features-visual-editing-desc = Animasiyaları, düzləndirməni və araları düzəldin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Məhsuldarlıq
features-performance-desc = Tıxacları açın, prosesləri sadələşdirin, mülkləri optimallaşdırın. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Yaddaş
features-memory-desc = Yaddaş sızıntılarını tapın və tətbiqetmənizi axıcı edin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Abunə istəyi uğursuz oldu ({ $errorDescription }).
newsletter-error-unknown = Gözlənilməz xəta baş verdi.
newsletter-error-timeout = Abunə istəyinin vaxtı çıxdı.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Tərtibatçı Alətlərini uğurla aktiv etdiniz! Başlamaq üçün Web Tərtibatçısı menyusunu incələyin və ya alətləri { $shortcut } ilə açın.
