# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Ný uppfærsla fyrir { -brand-shorter-name } er tiltæk.
    .buttonlabel = Hala niður uppfærslu
    .buttonaccesskey = H
    .secondarybuttonlabel = Ekki núna
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Uppfærðu { -brand-shorter-name } til að fá meiri hraða og öryggi.
appmenu-update-manual =
    .label = Ekki er hægt að uppfæra { -brand-shorter-name } í nýjustu útgáfu.
    .buttonlabel = Hala niður { -brand-shorter-name }
    .buttonaccesskey = H
    .secondarybuttonlabel = Ekki núna
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Halaðu niður nýjum { -brand-shorter-name } og við hjálpum þér að setja hann inn.
appmenu-update-whats-new =
    .value = Hvað er nýtt.
appmenu-update-restart =
    .label = Endurræstu til að uppfæra { -brand-shorter-name }.
    .buttonlabel = Enduræstu og endurheimtu
    .buttonaccesskey = r
    .secondarybuttonlabel = Ekki núna
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Eftir endurræsingu, mun { -brand-shorter-name } endurheimta alla opna flipa og glugga sem eru ekki í huliðsham.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Allt í lagi, ég skil
    .buttonaccesskey = O
appmenu-addon-post-install-message = Sýslaðu með viðbætur með því að smella á <image data-l10n-name='addon-install-icon'></image> í <image data-l10n-name='addon-menu-icon'></image> valmyndinni.
appmenu-addon-post-install-incognito-checkbox =
    .label = Leyfa þessari viðbót að keyra í huliðsgluggum
    .accesskey = L
appmenu-addon-private-browsing =
    .label = Skipta yfir í viðbætur í huliðsgluggum
    .buttonlabel = Stjórna viðbótum
    .buttonaccesskey = M
    .secondarybuttonlabel = Allt í lagi, ég skil
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Nýjar viðbætur við { -brand-shorter-name } munu ekki virka í huliðsgluggum nema það sé viljandi leyft í stillingunum.
appmenu-addon-private-browsing-learn-more = Lærðu hvernig stýra má stillingum viðbóta
