# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Uma nova atualização do { -brand-shorter-name } está disponível.
    .buttonlabel = Transferir atualização
    .buttonaccesskey = D
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Atualize o seu { -brand-shorter-name } para o mais recente em velocidade e privacidade
appmenu-update-manual =
    .label = O { -brand-shorter-name } não consegue atualizar para a versão mais recente.
    .buttonlabel = Transferir o { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Transfira uma nova cópia do { -brand-shorter-name } e iremos ajudar-lhe a instalá-lo.
appmenu-update-whats-new =
    .value = Veja as novidades.
appmenu-update-unsupported =
    .label = O { -brand-shorter-name } não consegue atualizar para a versão mais recente.
    .buttonlabel = Saber mais
    .buttonaccesskey = S
    .secondarybuttonlabel = Fechar
    .secondarybuttonaccesskey = c
appmenu-update-unsupported-message = A versão mais recente do { -brand-shorter-name } não é suportada no seu sistema.
appmenu-update-restart =
    .label = Reiniciar para atualizar o { -brand-shorter-name }.
    .buttonlabel = Reiniciar e restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Após um reinício rápido, o { -brand-shorter-name } irá restaurar todos os seus separadores abertos e janelas que não estão no modo de navegação privada.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, entendi
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gira os seus extras ao clicar em <image data-l10n-name='addon-install-icon'></image> no menu <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir que esta extensão seja executada em janelas privadas
    .accesskey = a
appmenu-addon-private-browsing =
    .label = Alteração nas extensões em janelas privadas
    .buttonlabel = Gerir extensões
    .buttonaccesskey = G
    .secondarybuttonlabel = Ok, entendi
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Quaisquer novas extensões que adicione ao { -brand-shorter-name } não irão funcionar em janelas privadas a menos que permita isto nas definições.
appmenu-addon-private-browsing-learn-more = Saber como gerir definições de extensões.
