# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Notícias importantes
heading = Alterações ao seu perfil do { -brand-short-name }
changed-title = O que foi alterado?
changed-desc-profiles = Esta instalação do { -brand-short-name } tem um novo perfil. Um perfil é o conjunto de ficheiros onde o Firefox guarda informação como marcadores, palavras-passe e preferências do utilizador.
changed-desc-dedicated = A fim de tornar mais fácil e seguro alternar entre as instalações do Firefox (incluindo Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition e Firefox Nightly), esta instalação agora tem um perfil dedicado. Esta não partilha automaticamente a sua informação guardada com outras instalações do Firefox.
lost = <b>Não perdeu qualquer dado pessoal ou personalizações.</ b> Se já guardou informação no Firefox neste computador, esta ainda está disponível  noutra instalação do Firefox.
options-title = Quais são as minhas opções?
options-do-nothing = Se não fizer nada, os dados do seu perfil no { -brand-short-name } irão ser diferentes dos dados de perfil noutras instalações do Firefox.
options-use-sync = Se gostaria que todos os seus dados de perfil sejam os mesmos em todas as instalações do Firefox, pode utilizar uma { -fxaccount-brand-name } para os manter sincronizados.
resources = Recursos:
support-link = Utilizar o Gestor de perfis - Artigo de apoio
sync-header = Iniciar sessão ou criar uma { -fxaccount-brand-name }
sync-label = Introduzir o seu email
sync-input =
    .placeholder = Email
sync-button = Continuar
sync-terms = Ao proceder, concorda com os <a data-l10n-name="terms">Termos de serviço</a> e <a data-l10n-name="privacy">Aviso de privacidade</a>.
sync-first = Primeira vez a utilizar o { -sync-brand-name }? Irá precisar de iniciar sessão em todas as instalações do Firefox para sincronizar a sua informação.
sync-learn = Saber mais
