# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = על אודות כלי פיתוח
enable-title = הפעלת כלי הפיתוח של Firefox
enable-inspect-element-title = יש להפעיל את כלי הפיתוח של Firefox כדי להשתמש בחוקר הרכיבים
enable-inspect-element-message = ניתוח ועריכת HTML ו־CSS עם המפקח כחלק מכלי הפיתוח.
enable-about-debugging-message = פיתוח וניפוי שגיאות WebExtensions, ‏web workers, ‏service workers ועוד באמצעות כלי הפיתוח של Firefox.
enable-key-shortcut-message = הפעלת את קיצור הדרך אל כלי הפיתוח. אם שגית, ניתן לסגור לשונית זו.
enable-menu-message = ניתן להביא את ה־HTML, ה־CSS וה־JavaScript שלך לידי שלמות עם כלים כמו המפקח ומנפה השגיאות.
enable-common-message = כלי הפיתוח של Firefox מנוטרלים כברירת מחדל כדי לתת לך יותר שליטה על הדפדפן שלך.
enable-learn-more-link = מידע נוסף על כלי הפיתוח
enable-enable-button = הפעלת כלי פיתוח
enable-close-button = סגירת לשונית זו
welcome-title = ברוכים הבאים לכלי הפיתוח של Firefox!
newsletter-title = Mozilla Developer Newsletter
newsletter-message = קבלת חדשות, טריקים ומשאבים ישירות לתיבת הדואר הנכנס שלך.
newsletter-email-placeholder =
    .placeholder = דוא״ל
newsletter-privacy-label = מקובל עליי שצוות Mozilla יטפל במידע שלי כפי שמפורט ב<a data-l10n-name="privacy-policy">מדיניות הפרטיות</a>.
newsletter-subscribe-button = הרשמה
newsletter-thanks-title = תודה!
newsletter-thanks-message = אם טרם אישרת מינוי לקבוצת דיוור בנושאי Mozilla יתכן שיהיה עליך לעשות זאת. נא לחפש בתיבת הדואר הנכנס או הספאם שלך אם הגיעה הודעה מאתנו.
footer-title = Firefox Developer Edition
footer-message = מעניין אותך לחקור לא רק את כלי הפיתוח? ניתן לבחון את דפדפן ה־Firefox שנבנה במיוחד למפתחים ולצורות עבודה מודרניות.
footer-learn-more-link = מידע נוסף
features-learn-more = מידע נוסף
features-inspector-title = מפקח
features-inspector-desc = חקירה וליטוש קוד לבניית פריסות מושלמות עד רמת הפיקסל. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = מסוף
features-console-desc = מעקב אחר תקלות ב־CSS,‏ JavaScript, אבטחה ורשת. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = מנפה שגיאות
features-debugger-desc = מנפה שגיאות ב־JavaScript רב עצמה עם תמיכה במנגנון התשתית שלך. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = רשת
features-network-desc = מעקב אחר בקשות רשת שעשויות להאט או לחסום את האתר שלך. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = אחסון
features-storage-desc = הוספה, שינוי והסרת מטמון, עוגיות, מסדי נתונים ונתוני פעילות גלישה. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = מצב עיצוב מסתגל
features-responsive-desc = בדיקת אתרים על התקנים מדומים בדפדפן שלך. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = עריכה חזותית
features-visual-editing-desc = כוונון של הנפשות, יישור וריפוד. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = ביצועים
features-performance-desc = פתיחת צווארי בקבוק, ייעול תהליכים ומיטוב של נכסים. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = זיכרון
features-memory-desc = איתור דליפות זיכרון כדי לגרום ליישום שלך לטוס. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = בקשת ההרשמה נכשלה ({ $errorDescription }).
newsletter-error-unknown = אירעה שגיאה בלתי צפויה.
newsletter-error-timeout = תם הזמן שהוקצב לבקשת ההרשמה.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = הפעלת בהצלחה את כלי הפיתוח! כדי להתחיל, יש לסייר בתפריט כלי הפיתוח או לפתוח את הכלים עם { $shortcut }.
