# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

abuse-report-title-extension = Reportar esta extensão à { -vendor-short-name }
abuse-report-title-theme = Reportar este tema à { -vendor-short-name }
abuse-report-subtitle = Qual é o problema?
# Variables:
#   $author-name (string) - Name of the add-on author
abuse-report-addon-authored-by = por <a data-l10n-name="author-name">{ $author-name }</a>
abuse-report-learnmore =
    Não sabe qual problema selecionar?
    <a data-l10n-name="learnmore-link">Saber mais acerca de reportar extensões e temas</a>
abuse-report-submit-description = Descreva o problema (opcional)
abuse-report-textarea =
    .placeholder = É mais fácil resolver um problema se tivermos detalhes específicos. Por favor descreva o que está a experienciar. Obrigado por nos ajudar a manter a web saudável.
abuse-report-submit-note =
    Nota: não inclua informações pessoais (como nome, endereço de email, número de telefone e endereço físico).
    A { -vendor-short-name } mantém um registo permanente destes relatórios.

## Panel buttons.

abuse-report-cancel-button = Cancelar
abuse-report-next-button = Seguinte
abuse-report-goback-button = Retroceder
abuse-report-submit-button = Submeter

## Message bars descriptions.


## Variables:
##   $addon-name (string) - Name of the add-on

abuse-report-messagebar-aborted = Relatório para <span data-l10n-name="addon-name">{ $addon-name }</span> cancelado.
abuse-report-messagebar-submitting = A enviar relatório para <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-submitted = Obrigado por enviar um relatório. Pretende remover <span data-l10n-name="addon-name">{ $addon-name }</span>?
abuse-report-messagebar-removed-extension = Obrigado por enviar um relatório. Removeu a extensão <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-removed-theme = Obrigado por enviar um relatório. Removeu o tema <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-error = Ocorreu um erro ao enviar o relatório para <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-error-recent-submit = O relatório para <span data-l10n-name="addon-name">{ $addon-name }</span> não foi enviado porque outro relatório foi submetido recentemente.

## Message bars actions.

abuse-report-messagebar-action-remove = Sim, remover
abuse-report-messagebar-action-keep = Não, manter
abuse-report-messagebar-action-retry = Voltar a tentar
abuse-report-messagebar-action-cancel = Cancelar

## Abuse report reasons (optionally paired with related examples and/or suggestions)

abuse-report-damage-reason = Danifica o meu computador e dados
abuse-report-damage-example = Exemplo: malware injetado ou dados furtados
abuse-report-spam-reason = Cria spam ou publicidade
abuse-report-spam-example = Exemplo: inserir anúncios em páginas da web
abuse-report-settings-reason = Alterou o meu motor de pesquisa, página inicial ou novo separador sem informar ou me perguntar
abuse-report-settings-suggestions = Antes de reportar a extensão, pode tentar alterar as suas definições:
abuse-report-settings-suggestions-search = Alterar o seu motor de pesquisa predefinido
abuse-report-settings-suggestions-homepage = Alterar a sua página inicial e novo separador
abuse-report-deceptive-reason = Fingir ser algo que não é
abuse-report-deceptive-example = Exemplo: descrição ou imagem enganosa
abuse-report-broken-reason-extension = Não funciona, quebra websites ou torna o { -brand-product-name } lento
abuse-report-broken-reason-theme = Não funciona ou quebra a exibição do navegador
abuse-report-broken-example = Exemplo: funcionalidades lentas, difíceis de usar ou não funcionam; partes de websites não são carregadas ou parecem invulgares
abuse-report-broken-suggestions-extension =
    Parece que identificou um bug. Além de submeter um relatório aqui, a melhor maneira
    para obter um problema de funcionalidade resolvido é entrar em contacto com o programador da extensão.
    <a data-l10n-name="support-link">Visite o website da extensão</a> para obter informação do programador.
abuse-report-broken-suggestions-theme =
    Parece que identificou um bug. Além de submeter um relatório aqui, a melhor maneira
    para obter um problema de funcionalidade resolvido é entrar em contacto com o programador do tema.
    <a data-l10n-name="support-link">Visite o website do tema</a> para obter informação do programador.
abuse-report-policy-reason = Conteúdo odioso, violento ou ilegal
abuse-report-policy-suggestions =
    Nota: os problemas de direitos de autor e marcas registadas devem ser reportados num processo separado.
    <a data-l10n-name="report-infringement-link">Utilize estas instruções</a> para
    reportar o problema.
abuse-report-unwanted-reason = Nunca quis esta extensão e não me consigo ver livre dela
abuse-report-unwanted-example = Exemplo: uma aplicação instalou-o sem a minha permissão
abuse-report-other-reason = Outra coisa
