# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = ತೊಂದರೆ ನಿವಾರಣಾ ಮಾಹಿತಿ
page-subtitle = ನೀವು ಒಂದು ಸಮಸ್ಯೆಗೆ ಪರಿಹಾರ ಹುಡುಕುವಾಗ ನಿಮಗೆ ನೆರವಾಗುವಂತಹ ಮಾಹಿತಿಗಳನ್ನು ಈ ಪುಟವು ಹೊಂದಿರುತ್ತದೆ. ನೀವು { -brand-short-name } ಕುರಿತಾದ ಸಾಮಾನ್ಯವಾದ ಪ್ರಶ್ನೆಗಳಿಗೆ ಉತ್ತರವನ್ನು ಹುಡುಕುತ್ತಿದ್ದಲ್ಲಿ, <a data-l10n-name="support-link">ಬೆಂಬಲ ಜಾಲ ತಾಣ</a>ವನ್ನು ನೋಡಿ.
crashes-title = ಕ್ರಿಯಾವೈಫಲ್ಯ ವರದಿಗಳು
crashes-id = ವರದಿ ID
crashes-send-date = ಸಲ್ಲಿಸಲಾಗಿದೆ
crashes-all-reports = ಎಲ್ಲ ಕ್ರಿಯಾವೈಫಲ್ಯಗಳ ವರದಿಗಾರ
crashes-no-config = ಈ ಅನ್ವಯವನ್ನು ಕ್ರಿಯಾವೈಫಲ್ಯ ವರದಿಗಳನ್ನು ಪ್ರದರ್ಶಿಸುವಂತೆ ಸಂರಚಿಸಲಾಗಿಲ್ಲ.
extensions-title = ವಿಸ್ತರಣೆಗಳು
extensions-name = ಹೆಸರು
extensions-enabled = ಶಕ್ತಗೊಳಿಸಲಾದ
extensions-version = ಆವೃತ್ತಿ
extensions-id = ID
features-title = { -brand-short-name } ವೈಶಿಷ್ಟ್ಯತೆಗಳು
features-name = ಹೆಸರು
features-version = ಆವೃತ್ತಿ
features-id = ID
app-basics-title = ಅನ್ವಯದ ಮೂಲತತ್ವಗಳು
app-basics-name = ಹೆಸರು
app-basics-version = ಆವೃತ್ತಿ
app-basics-build-id = ನಿರ್ಮಿತಿ ID
app-basics-update-channel = ಪರಿಷ್ಕರಿಸು ವಾಹಿನಿ
app-basics-update-history = ಅಪ್‌ಡೇಟ್‌ ಇತಿಹಾಸ
app-basics-show-update-history = ಅಪ್ಡೇಟ್ ಇತಿಹಾಸವನ್ನು ತೋರಿಸು
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] ಪ್ರೊಫೈಲ್ ಕೋಶ
       *[other] ಪ್ರೊಫೈಲ್ ಕಡತಕೋಶ
    }
app-basics-enabled-plugins = ಪ್ಲಗ್‌ಇನ್‌ಗಳನ್ನು ಶಕ್ತಗೊಳಿಸು
app-basics-build-config = ನಿರ್ಮಾಣದ ಸಂರಚನೆ
app-basics-user-agent = ಬಳಕೆದಾರ ಮಧ್ಯವರ್ತಿ
app-basics-os = OS
app-basics-memory-use = ಮೆಮೊರಿಯ ಬಳಕೆ
app-basics-performance = ಕಾರ್ಯಕ್ಷಮತೆ
app-basics-service-workers = ನೊಂದಾಯಿಸಿಕೊಂಡ ಸೇವಾ ಕೆಲಸಗಾರರು
app-basics-profiles = ಪ್ರೊಫೈಲ್‌ಗಳು
app-basics-multi-process-support = ಬಹುಪ್ರಕ್ರಿಯೆ ಕಿಟಕಿಗಳು
app-basics-key-google = ಗೂಗಲ್ ಕೀ
app-basics-key-mozilla = Mozilla ಸ್ಥಳ ಸೇವೆ ಕೀ
app-basics-safe-mode = ಸುರಕ್ಷಾ ಸ್ಥಿತಿ
show-dir-label =
    { PLATFORM() ->
        [macos] ಶೋಧಕದಲ್ಲಿ ತೋರಿಸು
        [windows] ಕಡತಕೋಶವನ್ನು ತೆರೆ
       *[other] ಕೋಶವನ್ನು ತೆರೆ
    }
modified-key-prefs-title = ಪ್ರಮುಖ ಮಾರ್ಪಡಿಕೆ ಮಾಡಲಾದ ಆದ್ಯತೆಗಳು
modified-prefs-name = ಹೆಸರು
modified-prefs-value = ಮೌಲ್ಯ
user-js-title = user.js ಆದ್ಯತೆಗಳು
user-js-description = ನಿಮ್ಮ ಪ್ರೊಫೈಲ್ <a data-l10n-name="user-js-link">user.js file</a> ಅನ್ನು ಹೊಂದಿದ್ದು, ಅದರಲ್ಲಿ { -brand-short-name } ನಲ್ಲಿ ಇರದೆ ಇರುವಂತಹ ಆದ್ಯತೆಗಳನ್ನು ಒಳಗೊಂಡಿದೆ.
locked-key-prefs-title = ಪ್ರಮುಖ ಲಾಕ್ ಮಾಡಲಾದ ಆದ್ಯತೆಗಳು
locked-prefs-name = ಹೆಸರು
locked-prefs-value = ಮೌಲ್ಯ
graphics-title = ಗ್ರಾಫಿಕ್ಸ್‍
graphics-features-title = ವೈಶಿಷ್ಟ್ಯಗಳು
graphics-diagnostics-title = ತಪಾಸಣೆ
graphics-failure-log-title = ವಿಫಲತೆಯ ದಿನಚರಿ
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = ನಿರ್ಣಯ ದಿನಚರಿ
graphics-crash-guards-title = ಕುಸಿತ ರಕ್ಷಕ ವೈಶಿಷ್ಟ್ಯ ಗಳನ್ನು ನಿಷ್ಕ್ರಿಯಗೊಳಿಸಿದೆ
graphics-workarounds-title = ಪರ್ಯಾಯಮಾರ್ಗಗಳು
place-database-title = ಸ್ಥಳಗಳ ದತ್ತಸಂಚಯ
place-database-integrity = ಸಮಗ್ರತೆ
place-database-verify-integrity = ಸಮಗ್ರತೆ ದೃಢಪಡಿಸು
js-title = ಜಾವಾಸ್ಕ್ರಿಪ್ಟ್‍
js-incremental-gc = ಏರಿಕೆಯ GC
a11y-title = ನಿಲುಕಣೆ
a11y-activated = ಸಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ
a11y-force-disabled = ನಿಲುಕಣೆಯನ್ನು ನಿಯಂತ್ರಿಸು
library-version-title = ಲೈಬ್ರರಿ ಆವೃತ್ತಿಗಳು
copy-text-to-clipboard-label = ಪಠ್ಯವನ್ನು ನಕಲುಫಲಕಕ್ಕೆ  ಪ್ರತಿಮಾಡು
copy-raw-data-to-clipboard-label = ಕಚ್ಛಾ ದತ್ತಾಂಶವನ್ನು ನಕಲುಫಲಕಕ್ಕೆ ಪ್ರತಿ ಮಾಡು
sandbox-title = ಪ್ರಯೋಗಶಾಲೆ
sandbox-sys-call-index = #
sandbox-sys-call-age = ಸೆಕೆಂಡುಗಳ ಮುನ್ನ
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-args = ವಾದಗಳು
safe-mode-title = ಸುರಕ್ಷಾ ಸ್ಥಿತಿ ಪ್ರಯತ್ನಿಸಿ
restart-in-safe-mode-label = ಆಡ್‌-ಆನ್‌ಗಳನ್ನು ಅಶಕ್ತಗೊಳಿಸಿ ಆರಂಭಿಸು…
media-title = ಮಾಧ್ಯಮ
media-device-name = ಹೆಸರು
media-device-group = ಗುಂಪು
media-device-vendor = ಮಾರಾಟಗಾರ
media-device-state = ಸ್ಥಿತಿ
media-device-preferred = ಆದ್ಯತೆಯ
media-device-format = ಸ್ವರೂಪ
media-device-channels = ಚಾನೆಲ್‌ಗಳು
media-device-rate = ದರ
media-device-latency = ತಡ
# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] ಕ್ರಿಯಾವೈಫಲ್ಯ ವರದಿಗಳು ಕಳೆದ { $days } ದಿನದ್ದು
       *[other] ಕ್ರಿಯಾವೈಫಲ್ಯ ವರದಿಗಳು ಕಳೆದ { $days } ದಿನಗಳದ್ದು
    }
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] { $minutes } ನಿಮಿಷ ಮುಂಚೆ
       *[other] { $minutes } ನಿಮಿಷಗಳ ಮುಂಚೆ
    }
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] { $hours } ಘಂಟೆ ಮುಂಚೆ
       *[other] { $hours } ಘಂಟೆಗಳ ಮುಂಚೆ
    }
# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] { $days } ದಿನ ಮುಂಚೆ
       *[other] { $days } ದಿನಗಳ ಮುಂಚೆ
    }
# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] ಎಲ್ಲಾ ಕ್ರಾಶ್‌ ರಿಪೋರ್ಟುಗಳನ್ನು (ಒದಗಿಸಲಾದ ಸಮಯದ ವ್ಯಾಪ್ತಿಯಲ್ಲಿ ಬಾಕಿ ಇರುವ { $reports } ಕ್ರಾಶ್‌ ಸೇರಿದಂತೆ)
       *[other] ಎಲ್ಲಾ ಕ್ರಾಶ್‌ ರಿಪೋರ್ಟುಗಳನ್ನು (ಒದಗಿಸಲಾದ ಸಮಯದ ವ್ಯಾಪ್ತಿಯಲ್ಲಿ ಬಾಕಿ ಇರುವ { $reports } ಕ್ರಾಶ್‌ಗಳು ಸೇರಿದಂತೆ)
    }
raw-data-copied = ಕಚ್ಛಾ ದತ್ತಾಂಶವನ್ನು ನಕಲುಫಲಕಕ್ಕೆ ಪ್ರತಿ ಮಾಡಲಾಗಿದೆ
text-copied = ಪಠ್ಯವನ್ನು ನಕಲುಫಲಕಕ್ಕೆ ಪ್ರತಿ ಮಾಡಲಾಗಿದೆ

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = ನಿಮ್ಮ ಗ್ರಾಫಿಕ್ಸ್ ಚಾಲಕದ ಆವೃತ್ತಿಗಾಗಿ ನಿರ್ಬಂಧಿಸಲಾಗಿದೆ.
blocked-gfx-card = ಪರಿಹರಿಸಲಾಗದೆ ಇರುವ ಚಾಲಕ ಸಮಸ್ಯೆಗಳ ಕಾರಣದಿಂದಾಗಿ ನಿಮ್ಮ ಗ್ರಾಫಿಕ್ಸ್ ಚಾಲಕದ ಆವೃತ್ತಿಗೆ ನಿರ್ಬಂಧಿಸಲಾಗಿದೆ.
blocked-os-version = ನಿಮ್ಮ ಕಾರ್ಯವ್ಯವಸ್ಥೆಯ ಆವೃತ್ತಿಗಾಗಿ ನಿರ್ಬಂಧಿಸಲಾಗಿದೆ.
blocked-mismatched-version = ನಿಮ್ಮ ಗ್ರಾಫಿಕ್ಸ್ ಡ್ರೈವರ್‌‌ನ ರೆಜಿಸ್ಟ್ರಿ ಮತ್ತು DLL ಆವೃತ್ತಿಯಲ್ಲಿ ಹೊಂದಾಣಿಕೆ ಆಗದಿರುವುದರಿಂದ ನಿರ್ಬಂಧಿಸಲಾಗಿದೆ
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = ನಿಮ್ಮ ಗ್ರಾಫಿಕ್ಸ್ ಚಾಲಕದ ಆವೃತ್ತಿಗಾಗಿ ನಿರ್ಬಂಧಿಸಲಾಗಿದೆ. ನಿಮ್ಮ ಗ್ರಾಫಿಕ್ಸ್ ಚಾಲಕವನ್ನು ಆವೃತ್ತಿ { $driverVersion } ಅಥವ ಹೊಸ ಆವೃತ್ತಿಗೆ ನವೀಕರಿಸಿ ಪ್ರಯತ್ನಿಸಿ.
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = ClearType ನಿಯತಾಂಕಗಳು
compositing = ರಚನೆ
hardware-h264 = ಹಾರ್ಡ್‌ವೇರ್ H264 ಡೀಕೋಡಿಂಗ್
main-thread-no-omtc = ಮುಖ್ಯ ಎಳೆ, OMTC ಇಲ್ಲ
yes = ಹೌದು
no = ಇಲ್ಲ

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = ಸಿಕ್ಕಿದೆ
missing = ಕಾಣೆಯಾಗಿರುವ
gpu-description = ವಿವರಣೆ
gpu-vendor-id = ವೆಂಡರ್ ID
gpu-device-id = ಸಾಧನ ID
gpu-subsys-id = ಸಬ್‌ಸಿಸ್ ID
gpu-drivers = ಚಾಲಕಗಳು
gpu-ram = RAM
gpu-driver-version = ಚಾಲಕ ಆವೃತ್ತಿ
gpu-driver-date = ಚಾಲಕ ದಿನಾಂಕ
gpu-active = ಸಕ್ರಿಯ
blocklisted-bug = ಗೊತ್ತಿರುವ ಸಮಸ್ಯೆಗಳಿಂದಾಗಿ ಪಟ್ಟಿಸಲಾಗಿದೆ
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = ದೋಷ { $bugNumber }
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = ನಿರ್ಬಂಧಿಸಲಾಗಿದೆ; ವಿಫಲತೆ ಸಂಕೇತ { $failureCode }
d3d11layers-crash-guard = D3D11 ಸಂರಚಕ
d3d11video-crash-guard = D3D11 ವೀಡಿಯೊ ಡೀಕೋಡರ್
d3d9video-crash-buard = D3D9 ವೀಡಿಯೊ ಡೀಕೋಡರ್
glcontext-crash-guard = OpenGL
reset-on-next-restart = ಮತ್ತೆ ಶುರುಮಾಡಿದಾಗ ಹಿಂದಿನ ಸ್ಥಿತಿಗೆ ಸ್ಥಾಪಿಸು
audio-backend = ಆಡಿಯೋ ಹಿಂಬದಿ
min-lib-versions = ನಿರೀಕ್ಷಿಸಲಾದ ಕನಿಷ್ಟ ಆವೃತ್ತಿ
loaded-lib-versions = ಬಳಸಬೇಕಿರುವ ಆವೃತ್ತಿ
has-seccomp-bpf = Seccomp-BPF (ಗಣಕ ವ್ಯವಸ್ಥೆ ಕರೆ ಸೋಸುವಿಕೆ)
has-seccomp-tsync = ಸೆಕ್ಕಾಂಪ್ ಥ್ರೆಡ್ ಸಿಂಕ್ರೊನೈಸೇಶನ್
has-user-namespaces = ಬಳಕೆದಾರದ ನೇಮ್‌ಸ್ಪೇಸ್‌ಗಳು
has-privileged-user-namespaces = ವಿಶೇಷ ಪ್ರಕ್ರಿಯೆಗಳಿಗಿರುವ ಬಳಕೆದಾರರ ನೇಮ್‌ಸ್ಪೇಸ್‌ಗಳು
can-sandbox-content = ವಿಷಯ ಪ್ರಕ್ರಿಯೆ ಪ್ರಯೋಗಾರ್ಥಗೊಳಿಸುವಿಕೆ
can-sandbox-media = ಮೀಡಿಯ ಪ್ಲಗಿನ್ ಪ್ರಯೋಗಾರ್ಥಗೊಳಿಸುವಿಕೆ
sandbox-proc-type-content = ವಿಷಯ
sandbox-proc-type-media-plugin = ಮೀಡಿಯ ಪ್ಲಗಿನ್
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = ಬಳಕೆದಾರರಿಂದ ಸಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ
multi-process-status-1 = ಪೂರ್ವನಿಯೋಜಿತವಾಗಿ ಸಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ
multi-process-status-2 = ನಿಷ್ಕ್ರಿಯಗೊಂಡ
multi-process-status-4 = ಎಕ್ಸೆಬಿಲಿಟಿ ಉಪಕರಣಗಳಿಂದ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ
multi-process-status-6 = ಬೆಂಬಲವಿರದ ಪಠ್ಯ ಇನ್‌ಪುಟ್‌ ಪಠ್ಯದಿಂದ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ
multi-process-status-7 = ಆಡ್-ಆನ್‍ಗಳಿಂದ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ
multi-process-status-8 = ಬಲವಂತವಾಗಿ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ
multi-process-status-unknown = ಅಜ್ಞಾತ ಸ್ಥಿತಿ
async-pan-zoom = ಅಸಮಕಾಲೀನ Pan/Zoom
apz-none = ಯಾವುದೂ ಇಲ್ಲ
wheel-enabled = ಗಾಲಿಯ ಊಡಿಕೆ ಸಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ
touch-enabled = ಸ್ಪರ್ಶದ ಊಡಿಕೆ ಸಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ
drag-enabled = ಸ್ಕ್ರಾಲ್‌ಬಾರ್ ಎಳೆಯುವುದನ್ನು ಸಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = ಅಸಿಂಕ್ ಗಾಲಿ ಊಡಿಕೆಯನ್ನು ಬೆಂಬಲ ರಹಿತ ಆದ್ಯತೆಗಳಿಂದಾಗಿ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ: { $preferenceKey }
touch-warning = ಅಸಿಂಕ್ ಸ್ಪರ್ಷ ಊಡಿಕೆಯನ್ನು ಬೆಂಬಲ ರಹಿತ ಆದ್ಯತೆಗಳಿಂದಾಗಿ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸಲಾಗಿದೆ: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

