# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = En ny { -brand-shorter-name }-oppdatering er tilgjengelig.
    .buttonlabel = Last ned oppdatering
    .buttonaccesskey = L
    .secondarybuttonlabel = Ikke nå
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Oppdater { -brand-shorter-name } for det siste innen fart og personvern.
appmenu-update-manual =
    .label = { -brand-shorter-name } kan ikke oppdateres til den seneste versjonen.
    .buttonlabel = Last ned { -brand-shorter-name }
    .buttonaccesskey = L
    .secondarybuttonlabel = Ikke nå
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Last ned en ny kopi av { -brand-shorter-name } og vi vil hjelpe deg med å installere den.
appmenu-update-whats-new =
    .value = Se hva som er nytt.
appmenu-update-restart =
    .label = Start på nytt for å oppdatere { -brand-shorter-name }.
    .buttonlabel = Start om og gjenopprett
    .buttonaccesskey = r
    .secondarybuttonlabel = Ikke nå
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Etter en rask omstart, vil { -brand-shorter-name } gjenopprette alle dine åpne faner og vinduer som ikke er i privat nettlesingsmodus.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, jeg forstår
    .buttonaccesskey = O
appmenu-addon-post-install-message = Administrer utvidelsene dine ved å klikke på <image data-l10n-name='addon-install-icon'></image> i menyen <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Tillat at denne utvidelsen kjøres i private vindu
    .accesskey = a
appmenu-addon-private-browsing =
    .label = Endring av hvordan utvidelser virker i private vindu
    .buttonlabel = Behandle utvidelser
    .buttonaccesskey = h
    .secondarybuttonlabel = Ok, jeg forstår
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Eventuelle nye utvidelser du legger til { -brand-shorter-name } vil ikke fungere i private vinuder med mindre du tillater dette i innstillingene.
appmenu-addon-private-browsing-learn-more = Les om hvordan du behandler utvidelsesinnstillinger.
