# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = يتوفّر تحديث { -brand-shorter-name } جديد.
    .buttonlabel = نزّل التحديث
    .buttonaccesskey = ن
    .secondarybuttonlabel = ليس الآن
    .secondarybuttonaccesskey = ل
appmenu-update-available-message = حدّث { -brand-shorter-name } للحصول على الأحدث في السرعة و الخصوصية.
appmenu-update-manual =
    .label = تعذّر تحديث { -brand-shorter-name } لآخر إصدارة.
    .buttonlabel = نزّل { -brand-shorter-name }
    .buttonaccesskey = ن
    .secondarybuttonlabel = ليس الآن
    .secondarybuttonaccesskey = ل
appmenu-update-manual-message = نزّل نسخة جديدة من { -brand-shorter-name } و سنساعدك في تنصيبها.
appmenu-update-whats-new =
    .value = اطّلع على التغييرات.
appmenu-update-unsupported =
    .label = تعذّر تحديث { -brand-shorter-name } لآخر إصدارة.
    .buttonlabel = اطّلع على المزيد
    .buttonaccesskey = ط
    .secondarybuttonlabel = أغلِق
    .secondarybuttonaccesskey = غ
appmenu-update-unsupported-message = لا يدعم نظامك آخر إصدارة من { -brand-shorter-name }.
appmenu-update-restart =
    .label = أعد التشغيل لتحديث { -brand-shorter-name }.
    .buttonlabel = أعد التشغيل و استعد
    .buttonaccesskey = ع
    .secondarybuttonlabel = ليس الآن
    .secondarybuttonaccesskey = ل
appmenu-update-restart-message = بعد إعادة تشغيل سريعة سيستعيد { -brand-shorter-name } جميع ألسنتك و نوافذك المفتوحة التي ليست في وضع التصفح الخاص.
appmenu-addon-private-browsing-installed =
    .buttonlabel = حسنًا، فهمت
    .buttonaccesskey = ح
appmenu-addon-post-install-message = أدِر إضافاتك بنقر <image data-l10n-name='addon-install-icon'></image> في قائمة <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = اسمح لهذا الامتداد بأن يعمل في النوافذ الخاصة
    .accesskey = س
appmenu-addon-private-browsing-message = لن تعمل أية امتدادات تضيفها إلى { -brand-shorter-name } في النوافذ الخاصة ما لم تسمح لها هنا في هذا القسم.
appmenu-addon-private-browsing-learn-more = اطّلع على طريقة إدارة إعدادات الامتدادات.
