# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Noticias importantes
heading = Cambios a tu perfil de { -brand-short-name }
changed-title = ¿Qué cambio?
changed-desc-profiles = Esta instalación de { -brand-short-name } tiene un nuevo perfil. Un perfil es un conjunto de archivos donde Firefox guarda información como marcadores, contraseñas y preferencias de usuario.
changed-desc-dedicated = Para que sea más fácil y seguro intercambiar las instalaciones de Firefox (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition y Firefox Nightly), esta instalación usa ahora un perfil específico. No se compartirá automáticamente la información almacenada con otras instalaciones de Firefox.
lost = <b>No ha perdido ningún dato personal ni personalizaciones.</b> Si ya has guardado información en Firefox en esta computadora, todavía está disponible en otras instalaciones de Firefox.
options-title = ¿Cuales son mis opciones?
options-do-nothing = Si no haces nada, tus datos de perfil en { -brand-short-name } serán diferentes a los datos de perfil en otras instalaciones de Firefox.
options-use-sync = Si quieres que todos tus datos de perfiles sean iguales en todas las instalaciones de Firefox, puedes usar una { -fxaccount-brand-name } para mantenerlos sincronizados.
resources = Recursos:
support-link = Usando el administrador de perfiles - Artículo de soporte
sync-header = Iniciar sesión o crear una { -fxaccount-brand-name }
sync-label = Ingresa tu correo
sync-input =
    .placeholder = Correo electrónico
sync-button = Continuar
sync-terms = Al proceder, estás de acuerdo con los <a data-l10n-name="terms">Términos de Servicio</a> y el <a data-l10n-name="privacy">Aviso de Privacidad</a>.
sync-first = ¿Primera vez que usas { -sync-brand-name }? Deberás iniciar sesión en cada instalación de Firefox para sincronizar tu información.
sync-learn = Saber más
