# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = הזכויות שלך
rights-intro = { -brand-full-name } היא תוכנה חופשית בקוד פתוח, שנבנתה בידי קהילה של אלפים מכל רחבי העולם. ישנם מספר דברים שעליך לדעת:
rights-intro-point-1 = { -brand-short-name } ניתן לך תחת התנאים של <a data-l10n-name="mozilla-public-license-link">הרישיון הציבורי של Mozilla</a>. משמעות הדבר היא שניתן להשתמש ב־{ -brand-short-name }, להעתיקו ולהפיצו לאחרים, כמו גם לשנות את קוד המקור של { -brand-short-name } בדרך המתאימה ביותר לצרכיך. הרישיון הציבורי של Mozilla גם נותן לך את הזכות להפיץ את הגרסאות עם השינויים שלך.
rights-intro-point-2 = לא הוענקה לך אף זכות בסמל המסחרי או רישיונות לסמל המסחרי של קרן Mozilla או חלקן, לא כולל הגבלה על השם או הלוגו של Firefox. מידע נוסף על הסמלים המסחריים נמצא <a data-l10n-name="mozilla-trademarks-link">כאן</a>.
rights-intro-point-3 = תכונות מסוימות ב־{ -brand-short-name }, כמו למשל מדווח הקריסות, נותנות לך את האפשרות לספק משוב ל־{ -vendor-short-name }. באמצעות בחירה בשליחת משוב, אתה נותן ל־{ -vendor-short-name } הרשאה להשתמש במשוב כדי לשפר את המוצרים, לפרסם את המשוב באתר שלהם, ולהפיץ את המשוב.
rights-intro-point-4 = מידע על אופן השימוש במידע האישי שלך ובמשוב שלך הנשלחים ל־{ -vendor-short-name } דרך { -brand-short-name } מתואר ב<a data-l10n-name="mozilla-privacy-policy-link">מדיניות הפרטיות של { -brand-short-name }</a>.
rights-intro-point-4-unbranded = כל מדיניות פרטיות ישימה למוצר זה צריכה להופיע כאן.
rights-intro-point-5 = חלק מהתכונות של { -brand-short-name } משתמשות בשירותי מידע מבוססי רשת, למרות זאת, אין באפשרותנו להבטיח שהם מדויקים ב־100% או נטולי שגיאות. מידע נוסף, לרבות הוראות לניטרול התכונות המשתמשות בשירותים אלו, זמין ב־<a data-l10n-name="mozilla-service-terms-link">תנאי השירות</a>.
rights-intro-point-5-unbranded = אם מוצר זה כולל שירותי רשת, יש לקשר כל תנאי שירות ישים עבור השירות(ים) אל הסעיף <a data-l10n-name="mozilla-website-services-link">שירותי אתרים</a>.
rights-intro-point-6 = כדי לנגן סוגים מסוימים של תוכן וידאו, על { -brand-short-name } להוריד רכיבי פענוח תוכן מסוימים מגורמי צד שלישי.
rights-webservices-header = שירותי מידע מבוססי רשת של { -brand-full-name }
rights-webservices = { -brand-full-name } משתמש בשירותי מידע מבוססי רשת (להלן "Services") כדי לספק חלק מהתכונות שלו המסופקות לשימושך עם הגרסה הבינארית הזו של { -brand-short-name } תחת התנאים שמתוארים מטה. אם אינך רוצה להשתמש באחד או יותר משירותים אלו או שהתנאים המצוינים למטה אינם מתאימים לך, אתה יכול לנטרל את התכונות או השירותים. הוראות לניטרול תכונות או שירותים מסוימים יכולות להימצא <a data-l10n-name="mozilla-disable-service-link">כאן</a>. תכונות ושירותים אחרים ניתנים לנטרול בהעדפות היישום.
rights-safebrowsing = <strong>גלישה בטוחה: </strong>ניטרול התכונה גלישה בטוחה לא מומלץ מכיוון שביטול התכונה יאפשר לך לגשת לאתרים לא בטוחים. אם אתה רוצה לנטרל את התכונה לחלוטין, עקוב אחר צעדים אלו:
rights-safebrowsing-term-1 = פתח את העדפות היישום
rights-safebrowsing-term-2 = בחר בלשונית אבטחה
rights-safebrowsing-term-3 = ניתן לבטל את הסימון כדי "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = חסימת תוכן מסוכן ומטעה
rights-safebrowsing-term-4 = גלישה בטוחה מנוטרלת כעת
rights-locationawarebrowsing = <strong>דפדוף מבוסס מיקום: </strong>תמיד ממתין לאישור המשתמש. אף מידע מיקום לא נשלח בלי לקבל את רשותך. אם אתה מעוניין לנטרל את התכונה הזו לחלוטין, עקוב אחר צעדים אלו:
rights-locationawarebrowsing-term-1 = בשורת הכתובות, הקש <code>about:config</code>
rights-locationawarebrowsing-term-2 = הקלד geo.enabled
rights-locationawarebrowsing-term-3 = לחץ לחיצה כפולה על ההעדפה geo.enabled
rights-locationawarebrowsing-term-4 = דפדוף מבוסס מיקום מנוטרל כעת
rights-webservices-unbranded = סקירה של שירותי האתרים שהמוצר מכיל, יחד עם הוראות כיצד לבטל אותם, אם הדבר ישים, צריכה להיכלל כאן.
rights-webservices-term-unbranded = יש לרשום כאן כל תנאי שירות ישימים עבור מוצר זה.
rights-webservices-term-1 = { -vendor-short-name } על תורמיו, בעלי זכויות יוצריו ושותפיו עובדים יחדיו כדי לספק את השירותים העדכניים והמדויקים ביותר.  עם זאת, איננו יכולים להבטיח כי מידע זה מקיף ונטול שגיאות.  לדוגמה, שירות הגלישה הבטוחה עלול שלא לזהות מספר אתרים מסוכנים ועלול לזהות כמה אתרים בטוחים בטעות ובשירות מבוסס המיקום כל המיקומים שמוחזרים על ידי ספקי השירות שלנו משוערכים בלבד וגם אנחנו וגם ספקי השירות שלנו לא יכולים להתחייב לדיוקם של המיקומים המסופקים.
rights-webservices-term-2 = { -vendor-short-name } עשוי להפסיק או לשנות את השירותים לפי ראותו.
rights-webservices-term-3 = אתה מוזמן להשתמש בשירותים אלו עם הגרסה הנלוות של { -brand-short-name }, ו־{ -vendor-short-name } נותנת לך את הרשות לעשות זאת. { -vendor-short-name } והזכיינים שלה מחזיקים בכל שאר הזכויות בשירותים אלה. תנאים אלו לא נועדו להגביל את הזכויות הניתנות במסגרת רישיונות הקוד הפתוח החלים על { -brand-short-name } ולגרסאות קוד המקור התואמות של { -brand-short-name }.
rights-webservices-term-4 = <strong>השירותים מסופקים "כפי שהם". { -vendor-short-name }, התורמים שלו, מעניקי הרישיונות שלו והמפיצים שלו מתנערים מכל אחריות, מפורשת או משתמעת, כולל וללא הגבלה, הבטחות שהשירותים סחירים או מתאימים למטרותיך המסוימות. אתה נושא בכל הסיכון בבחירה בשירותים למטרותיך ובאשר לאיכות ולביצועים של השירותים. שטחי שיפוט מסוימים אינם מתירים החרגה או הגבלה של הבטחות משתמעות, כך שייתכן שמיאון אחריות זה אינו חל עליך.</strong>
rights-webservices-term-5 = <strong>למעט מה שנדרש על פי חוק, { -vendor-short-name }, התורמים שלו, מעניקי הרישיונות שלו והמפיצים שלו לא ישאו בנזקים עקיפים, מיוחדים, מקריים, תוצאתיים, עונשיים, או יוצאים מגדר הרגיל כתוצאה מן השימוש ב־{ -brand-short-name } או שקשורים באיזה שהוא אופן לשימוש בו ובשירותים. האחריות הנזיקית הכוללת תחת תנאים אלה לא תעלה על 500$ (חמש מאות דולר ארצות הברית). שטחי שיפוט מסוימים אינם מתירים החרגה או הגבלה של נזקים מסוימים, כך שייתכן שהחרגות והגבלות אלה אינן חלות עליך.</strong>
rights-webservices-term-6 = { -vendor-short-name } עשוי לעדכן תנאים אלו מעת לעת לפי הצורך. אין לשנות או לבטל תנאים אלו ללא הסכמה בכתב מאת { -vendor-short-name }.
rights-webservices-term-7 = תנאים אלו ניתנים תחת חוקי מדינת קליפורניה בארצות הברית, למעט היכן שהם סותרים את הוראות החוק. אם חלק כלשהו מתנאים אלה נמצא לא תקף או לא ניתן לאכיפה, שאר החלקים ישארו בתוקף מלא. במקרה של סתירה בין גרסה מתורגמת של תנאים אלו והגרסה בשפה האנגלית, הגרסה בשפה האנגלית תגבר.
