# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Novo { -brand-shorter-name } ažuriranje je dostupno.
    .buttonlabel = Preuzmi ažuriranje
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne sada
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Ažurirajte { -brand-shorter-name } za brže i sigurnije iskustvo.
appmenu-update-manual =
    .label = { -brand-shorter-name } nije moguće ažurirati na najnoviju inačicu.
    .buttonlabel = Preuzmi { -brand-shorter-name }
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne sada
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Preuzmite novu { -brand-shorter-name } instalaciju i pomoći ćemo vam ga instalirati.
appmenu-update-whats-new =
    .value = Pogledajte novosti.
appmenu-update-restart =
    .label = Ponovno pokrenite za ažuriranje { -brand-shorter-name }a
    .buttonlabel = Ponovno pokreni i obnovi
    .buttonaccesskey = r
    .secondarybuttonlabel = Ne sada
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Nakon brzog ponovnog pokretanja, { -brand-shorter-name } će vratiti sve vaše otvorene kartice i prozore koji nisu u privatnom načinu pretraživanja.
appmenu-addon-private-browsing-installed =
    .buttonlabel = U redu, razumijem
    .buttonaccesskey = U
appmenu-addon-post-install-message = Upravljajte svojim dodacima klikom na <image data-l10n-name='addon-install-icon'></image> u <image data-l10n-name='addon-menu-icon'></image> izborniku.
appmenu-addon-post-install-incognito-checkbox =
    .label = Dopusti ovom dodatku da radi u privatnom prozoru
    .accesskey = a
appmenu-addon-private-browsing =
    .label = Promijeni u dodatke u privatnim prozorima
    .buttonlabel = Upravljanje dodacima
    .buttonaccesskey = d
    .secondarybuttonlabel = U redu, razumijem
    .secondarybuttonaccesskey = U
appmenu-addon-private-browsing-message = Nove dodatke koje dodate u { -brand-shorter-name } neće raditi u privatnim prozorima kod ne dopustite ovo u postavkama.
appmenu-addon-private-browsing-learn-more = Saznajte kako upravljati postavkama dodataka.
