# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## UI strings for the simplified onboarding modal

onboarding-button-label-learn-more = Več o tem
onboarding-button-label-try-now = Preizkusite ga zdaj
onboarding-button-label-get-started = Začni
onboarding-welcome-header = Dobrodošli v { -brand-short-name }
onboarding-join-form-continue = Nadaljuj
onboarding-start-browsing-button-label = Začnite z brskanjem

## These are individual benefit messages shown with an image, title and
## description.


## These strings belong to the individual onboarding messages.


## Each message has a title and a description of what the browser feature is.
## Each message also has an associated button for the user to try the feature.
## The string for the button is found above, in the UI strings section

onboarding-private-browsing-title = Zasebno brskanje
onboarding-private-browsing-text = Brskajte sami. Zasebno brskanje z zavračanjem vsebine zavrača spletne sledilce, ki vam sledijo na spletu.
onboarding-screenshots-title = Posnetki zaslona
onboarding-screenshots-text = Ustvarjajte, shranjujte in delite posnetke zaslona – ne da bi zapustili { -brand-short-name }. Med brskanjem zajemite celotno stran ali njen del, ter jo shranite na spletu za preprost dostop in deljenje.
onboarding-addons-title = Dodatki
onboarding-addons-text = Opremite { -brand-short-name } za vsako nalogo. Primerjajte cene, preverite vremensko napoved ali izrazite svojo osebnost s temo po meri.
onboarding-ghostery-title = Ghostery
onboarding-ghostery-text = Brskajte hitreje, pametneje in varneje z razširitvami, kot je Ghostery, orodje za zavračanje nadležnih oglasov.
# Note: "Sync" in this case is a generic verb, as in "to synchronize"
onboarding-fxa-title = Sinhronizacija
onboarding-fxa-text = Ustvarite { -fxaccount-brand-name } ter sinhronizirajte svoje zaznamke, gesla in odprte zavihke povsod, kjer uporabljate { -brand-short-name }.

## Message strings belonging to the Return to AMO flow

return-to-amo-sub-header = Odlično, imate { -brand-short-name }
# <icon></icon> will be replaced with the icon belonging to the extension
#
# Variables:
#   $addon-name (String) - Name of the add-on
return-to-amo-addon-header = Zdaj pa dodajte <icon></icon><b>{ $addon-name }.</b>
return-to-amo-extension-button = Dodaj razširitev
return-to-amo-get-started-button = Začnite s { -brand-short-name }om
