# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Γef Ifecka n tneflit
enable-title = Rmed ifecka n tneflit n Firefox
enable-inspect-element-title = Rmed ifecka n uneflay Firefox akken ad tesqedceḍ asweḍ n uferdis
enable-inspect-element-message = Sekyed sakin ẓreg HTML akked CSS s umaswaḍ n ifecka n tneflit.
enable-about-debugging-message = Snefli udiɣ seɣti s WebExtensions, Web workers, imeẓla workers d wayen nniḍen s useqdec n yifecka n tneflit n Firefox.
enable-key-shortcut-message = Tremdeḍ anegzum ifecka n uneflay. ma tella tucḍa, tzemreḍ ad tmedleḍ iccer-agi.
enable-menu-message = Qaεed asmel inek web HTML,CSS, akked JavaScript s ufecku am nspector akked Debugger.
enable-common-message = Ifecka n uneflay Firefox nsan s wudem amezwer akken ad tizmireḍ i usenqed n iminig inek.
enable-learn-more-link = Issin ugar γef Ifecka n tneflit
enable-enable-button = Rmed ifecka n tneflit
enable-close-button = Mdel iccer-a
welcome-title = Ansuf yis-k γer Ifecka Firefox Developer!
newsletter-title = Aγmis n ineflayen n Mozilla
newsletter-message = Rmes-d isallen, tixbula akked tiɣbula i yineflayen srid di tnaka-ik n urmas.
newsletter-email-placeholder =
    .placeholder = Imayl
newsletter-privacy-label = Qebleɣ akken ad tesqedcem talɣut-agi am akken i d-yettwasegza di <a data-l10n-name="privacy-policy">tsertit n tbaḍnit agi</a>.
newsletter-subscribe-button = Jerred
newsletter-thanks-title = Tanemmirt!
newsletter-thanks-message = Ma yella ur tsentmeḍ ara ajerred inek ar tebratt n isallen icudden ar Mozilla, ahat tzemreḍ akka tura. Ma ulac aɣilif, wali ma yella yimayl di tebwaṭ inek n imaylen neɣ ula deg ispamen.
footer-title = Firefox Developer Edition
footer-message = Tettnadiḍ ugar n ifecka n uneflay? Senqed iminig Firefox ittwabnan i lmend i yineflayen akked leqdic amaynut.
footer-learn-more-link = Issin ugar
features-learn-more = Issin ugar
features-inspector-title = Amaswaḍ
features-inspector-desc = Sweḍ udiɣ seggem tanglat akken ad tebnuḍ iɣunab n ipiksilen ifazen. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Tadiwent
features-console-desc = Ḍfer uguren n CSS, JavaScript, taɣellist d uẓeṭṭa. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Tamseɣtayt
features-debugger-desc = Tamseɣtayt JavaScript tuzmirt s usefrek i unagraw-ik. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Aẓeṭṭa
features-network-desc = Ṭṭef-d isawalen n uẓeṭṭa izemren ad saẓẓayen neɣ ad sweḥlen asmel. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Asekles
features-storage-desc = Rnu, beddel, kkes isefka n tuffirt, inagan n tuqqna, taffiwin n isefka akked tɣimit. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Askar n tmeẓri taserwestant
features-responsive-desc = Sekyed ismal s utellel n isuga yemgaraden srid deg iminig-ik. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Taẓrigt tummant
features-visual-editing-desc = Ṣeggem imrayen; areyyec akked tamiwin s wudem ufrin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Tamellit
features-performance-desc = Kkes tineqqiḍin isewḥalen, ṣeggem ikalan akked tiqbula. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Takatut
features-memory-desc = Af-d takatut itef̣f̣ɣen udiɣ snerni timellit n usnas-ik. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Tuttra n ujerred tecceḍ ({ $errorDescription }).
newsletter-error-unknown = Teḍra-d tuccḍa.
newsletter-error-timeout = Tuttra n ujerred tfat.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Tremdeḍ akken iwata ifecka n uneflay! akken ad tebduḍ, snirem umuγ n uneflay web neγ ldi ifecka s { $shortcut }.
