# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = Informoj por solvado de problemoj
page-subtitle = Tiu ĉi paĝo enhavas teĥnikajn informojn kiuj povas esti utilaj kiam vi klopodas solvi problemon. Se vi serĉas respondojn al oftaj demandoj pri  { -brand-short-name }, bonvolu viziti nian <a data-l10n-name="support-link">helporetejon</a>.
crashes-title = Raportoj pri paneoj
crashes-id = Identigilo de raporto
crashes-send-date = Sendita
crashes-all-reports = Ĉiuj raportoj pri paneo
crashes-no-config = Tiu ĉi programo ne estis agordita por montri raportojn pri paneo.
extensions-title = Etendoprogramoj
extensions-name = Nomo
extensions-enabled = Aktiva
extensions-version = Versio
extensions-id = ID
security-software-title = Sekureca programaro
security-software-type = Tipo
security-software-name = Nomo
security-software-antivirus = Kontraŭvirusa programo
security-software-antispyware = Kontraŭspiona programo
security-software-firewall = Retbarilo
features-title = Trajtoj de { -brand-short-name }
features-name = Nomo
features-version = Versio
features-id = ID
processes-title = Fora procezo
processes-type = Tipo
processes-count = Nombro
app-basics-title = Bazaj programaj informoj
app-basics-name = Nomo
app-basics-version = Versio
app-basics-build-id = Identigilo de konstruo
app-basics-update-channel = Kanalo de ĝisdatigo
app-basics-update-history = Historio de ĝisdatigoj
app-basics-show-update-history = Montri historion de ĝisdatigoj
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] Dosierujo de profiloj
       *[other] Dosierujo de profiloj
    }
app-basics-enabled-plugins = Aktivaj kromprogramoj
app-basics-build-config = Agordoj de konstruado
app-basics-user-agent = Agento de uzanto
app-basics-os = OS
app-basics-memory-use = Uzado de memoro
app-basics-performance = Efikeco
app-basics-service-workers = Registritaj Service Workers
app-basics-profiles = Profiloj
app-basics-launcher-process-status = Lanĉa procezo
app-basics-multi-process-support = Plurprocezaj fenestroj
app-basics-process-count = Teksaĵaj enhavaj taskoj
app-basics-remote-processes-count = Foraj procezoj
app-basics-enterprise-policies = Kompaniaj politikoj
app-basics-location-service-key-google = Ŝlosilo de la pozicia servo de Google
app-basics-safebrowsing-key-google = Ŝlosilo de Google Safebrowsing
app-basics-key-mozilla = Ŝlosilo de la servo de pozicio de Mozilla
app-basics-safe-mode = Sekura reĝimo
show-dir-label =
    { PLATFORM() ->
        [macos] Montri en dosierserĉilo
        [windows] Malfermi dosierujon
       *[other] Malfermi dosierujon
    }
modified-key-prefs-title = Modifitaj preferoj
modified-prefs-name = Nomo
modified-prefs-value = Valoro
user-js-title = Preferoj de user.js
user-js-description = La dosierujo de via profilo enhavas <a data-l10n-name="user-js-link">dosieron nomita user.js</a>, kiu havas preferojn kiuj ne estis kreitaj de { -brand-short-name }.
locked-key-prefs-title = Gravaj blokitaj preferoj
locked-prefs-name = Nomo
locked-prefs-value = Valoro
graphics-title = Grafikoj
graphics-features-title = Trajtoj
graphics-diagnostics-title = Diagnozoj
graphics-failure-log-title = Registro de misoj
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = Registro de decidoj
graphics-crash-guards-title = Trajtoj malŝaltitaj de la protekto kontraŭ paneoj
graphics-workarounds-title = Provizoraj solvoj
place-database-title = Datumbazo de lokoj
place-database-integrity = Integreco
place-database-verify-integrity = Kontroli integrecon
js-title = JavaScript
js-incremental-gc = Poioma GC
a11y-title = Alirebleco
a11y-activated = Aktiva
a11y-force-disabled = Eviti alireblon
a11y-handler-used = Alirebleca pelilo uzita
a11y-instantiator = Alirebleca kreanto
library-version-title = Versioj de bibliotekoj
copy-text-to-clipboard-label = Kopii tekston al tondujo
copy-raw-data-to-clipboard-label = Kopii krudajn datumojn al tondujo
sandbox-title = Izolejo
sandbox-sys-call-log-title = Rifuzitaj sistemaj vokoj
sandbox-sys-call-index = #
sandbox-sys-call-age = sekundoj antaŭe
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = Tipo de procezo
sandbox-sys-call-number = Sistema voko
sandbox-sys-call-args = Parametroj
safe-mode-title = Provi la sekuran reĝimon
restart-in-safe-mode-label = Restartigi kun ĉiuj aldonaĵoj malaktivaj…
media-title = Aŭdvidaĵo
media-output-devices-title = Eligaj aparatoj
media-input-devices-title = Enigaj aparatoj
media-device-name = Nomo
media-device-group = Grupo
media-device-vendor = Vendisto
media-device-state = Stato
media-device-preferred = Preferata
media-device-format = Formo
media-device-channels = Kanaloj
media-device-rate = Frekvenco
media-device-latency = Prokrasto
intl-title = Lingvo kaj internacieco
intl-app-title = Agordoj de programo
intl-locales-requested = Petitaj lingvoj
intl-locales-available = Disponeblaj lingvoj
intl-locales-supported = Lingvoj de la programo
intl-locales-default = Norma lingvo
intl-os-title = Mastruma sistemo
intl-os-prefs-system-locales = Lingvoj de la sistemo
intl-regional-prefs = Regionaj preferoj
# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] Raportoj pri paneo dum la lasta tago
       *[other] Raportoj pri paneo dum la lastaj { $days } tagoj
    }
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] antaŭ { $minutes } minuto
       *[other] antaŭ { $minutes } minutoj
    }
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] antaŭ { $hours } horo
       *[other] antaŭ { $hours } horoj
    }
# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] antaŭ { $days } tago
       *[other] antaŭ { $days } tagoj
    }
# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] Ĉiuj raportoj pri paneo (kun { $reports } traktota paneo en la donita intertempo)
       *[other] Ĉiuj raportoj pri paneo (kun { $reports } traktotaj paneoj en la donita intertempo)
    }
raw-data-copied = Krudaj datumoj kopiitaj al tondujo
text-copied = Teksto kopiita al tondujo

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = Blokita por via version de grafika pelilo.
blocked-gfx-card = Blokita por via grafika karto pro nesolvitaj pelilaj aferoj.
blocked-os-version = Blokita por via versio de la mastruma sistemo.
blocked-mismatched-version = Blokita pro la nekongruo de versio de pelilo inter la registro kaj la DLL.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = Blokita por via versio de grafika pelilo. Klopodu ĝisdatigi vian grafikan pelilon al la versio { $driverVersion } aŭ al pli nova.
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = Agordoj de ClearType
compositing = Komponado
hardware-h264 = Aparata malkodigo de H264
main-thread-no-omtc = ĉefa fadeno, sen OMTC
yes = Jes
no = Ne
unknown = Nekonata
virtual-monitor-disp = Virtuala ekrano

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = Trovita
missing = Mankanta
gpu-process-pid = GPUProcessPid
gpu-process = GPUProcess
gpu-description = Priskribo
gpu-vendor-id = ID de vendisto
gpu-device-id = ID de aparato
gpu-subsys-id = ID de subsistemo
gpu-drivers = Peliloj
gpu-ram = RAM
gpu-driver-version = Versio de pelilo
gpu-driver-date = Dato de pelilo
gpu-active = Aktiva
webgl1-wsiinfo = WebGL 1 WSI informo
webgl1-renderer = Pelilo de la videbligo WebGL 1
webgl1-version = WebGL 1 GL versio
webgl1-driver-extensions = Etendaĵo de pelilo WebGL 1
webgl1-extensions = WebGL 1 GL etendaĵoj
webgl2-wsiinfo = WebGL 2 WSI informo
webgl2-renderer = Pelilo de la videbligo WebGL2
webgl2-version = WebGL 2 GL versio
webgl2-driver-extensions = Etendaĵoj de pelilo WebGL 2
webgl2-extensions = WebGL 2 GL etendaĵoj
blocklisted-bug = En la bloklisto pro konataj problemoj
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = cimo { $bugNumber }
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = En bloklisto; kodo de malsukceso { $failureCode }
d3d11layers-crash-guard = D3D11 Komponisto
d3d11video-crash-guard = D3D11 Videa malkodilo
d3d9video-crash-buard = D3D9 Videa malkodilo
glcontext-crash-guard = OpenGL
reset-on-next-restart = Restarigi en la venonta restarto
gpu-process-kill-button = Fini procezon de GPU
gpu-device-reset = Restartigi aparaton
gpu-device-reset-button = Okazigi rekomencon de pelilo
uses-tiling = Kaheloj uzataj
content-uses-tiling = Kaheloj uzataj (enhavo)
off-main-thread-paint-enabled = La farbado ekster la ĉefa fadeno estas aktiva
off-main-thread-paint-worker-count = Nombro de workers, kiuj farbas ekster la ĉefa fadeno
low-end-machine = Malpli pova maŝino trovita
target-frame-rate = Celata frekvenco de kadroj
audio-backend = Sonsistemo
max-audio-channels = Maksimuma nombro de kanaloj
channel-layout = Preferata aranĝo de kanaloj
sample-rate = Preferata specimena frekvenco
min-lib-versions = Minimuma atendita versio
loaded-lib-versions = Uzata versio
has-seccomp-bpf = Seccomp-BPF (Filtrado de sistemaj vokoj)
has-seccomp-tsync = Sinkronigo de fadenoj de Seccomp
has-user-namespaces = Nomspacoj de uzanto
has-privileged-user-namespaces = Nomspacoj de uzanto por privilegiitaj procezoj
can-sandbox-content = Izolado de enhava procezo
can-sandbox-media = Izolado de aŭdvida kromprogramo
content-sandbox-level = Nivelo de izolado por enhava procezo
effective-content-sandbox-level = Efektiva nivelo de izolado por enhava procezo
sandbox-proc-type-content = enhavo
sandbox-proc-type-file = enhavo de dosiero
sandbox-proc-type-media-plugin = aŭdvida kromprogramo
sandbox-proc-type-data-decoder = malkodilo de datumoj
launcher-process-status-0 = Aktiva
launcher-process-status-1 = Malaktiva pro paneo
launcher-process-status-2 = Devigite malaktiva
launcher-process-status-unknown = Nekonata stato
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = Aktivigita de uzanto
multi-process-status-1 = Norme aktiva
multi-process-status-2 = Malaktiva
multi-process-status-4 = Malaktivigita de alireblecaj iloj
multi-process-status-6 = Malaktivigita de nesubtenata teksta enigo
multi-process-status-7 = Malaktivigita de aldonaĵoj
multi-process-status-8 = Devigite malaktiva
multi-process-status-unknown = Nekonata stato
async-pan-zoom = Nesinkrona panoramado kaj skaligo
apz-none = neniu
wheel-enabled = rada enigo aktiva
touch-enabled = tuŝa enigo aktiva
drag-enabled = treno de ŝovstrio aktiva
keyboard-enabled = klavaro aktiva
autoscroll-enabled = aŭtomata ŝovo aktiva

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = nesinkrona rada enigo malaktiva pro nesubtenata prefero: { $preferenceKey }
touch-warning = nesinkrona tuŝa enigo malaktiva pro nesubtenata prefero: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = Malaktiva
policies-active = Aktiva
policies-error = Eraro
