# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

title-label = প্লাগিনসমূহৰ বিষয়ে
installed-plugins-label = ইনস্টল্ড প্লাগিনসমূহ
no-plugins-are-installed-label = কোনো ইনস্টল্ড প্লাগিন পোৱা নগল

## The information of plugins
##
## Variables:
##   $pluginLibraries: the plugin library
##   $pluginFullPath: path of the plugin
##   $version: version of the plugin

file-dd = <span data-l10n-name="file">ফাইল:</span> { $pluginLibraries }
path-dd = <span data-l10n-name="path">পথ:</span> { $pluginFullPath }
version-dd = <span data-l10n-name="version">সংস্কৰণ:</span> { $version }

## These strings describe the state of plugins
##
## Variables:
##   $blockListState: show some special state of the plugin, such as blocked, outdated

state-dd-enabled = <span data-l10n-name="state">অৱস্থা:</span> সামৰ্থবান
state-dd-enabled-block-list-state = <span data-l10n-name="state">অৱস্থা:</span> সামৰ্থবান ({ $blockListState })
state-dd-Disabled = <span data-l10n-name="state">অৱস্থা:</span> অসামৰ্থবান
state-dd-Disabled-block-list-state = <span data-l10n-name="state">অৱস্থা:</span> অসামৰ্থবান ({ $blockListState })
mime-type-label = MIME ধৰণ
description-label = বিৱৰণ
suffixes-label = প্ৰত্যয়সমূহ
