# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = আপোনাৰ অধিকাৰসমূহৰ বিষয়ে
rights-intro = { -brand-full-name } এটা বিনামূলীয়া আৰু মুক্ত উৎস চফ্টৱেৰ, যাক বিশ্বৰ সকলো প্ৰান্তৰ পৰা হাজাৰ হাজাৰ মানুহৰ এটা সম্প্ৰদায় নিৰ্মাণ কৰিছে। কিছুমান কথা আছে যি আপুনি জানিব লাগে:
rights-intro-point-1 = { -brand-short-name } আপেনাৰ বাবে উপলব্ধ কৰা হৈছে <a data-l10n-name="mozilla-public-license-link">Mozilla Public License ৰ অন্তৰ্গত</a>। ইয়াৰ অৰ্থ আপুনি { -brand-short-name } ক ব্যৱহাৰ, কপি আৰু অন্যক বিতৰণ কৰিব পাৰিব।  লগতে আপুনি আপোনাৰ প্ৰয়োজন অনুসৰি { -brand-short-name } ৰ উৎস ক'ড সলনি কৰিব পাৰিব। Mozilla Public License এ আপোনাক আপোনাৰ পৰিবৰ্তিত সংস্কৰণসমূহ বিতৰণ কৰাৰ অধিকাৰো প্ৰদান কৰে।
rights-intro-point-2 = আপোনাক Mozilla Foundation অথবা অন্য কোনো দলৰ পণ্যচিহ্নসমূহ, Firefox নাম অথবা লগোৰ পণ্যচিহ্ন অধিকাৰ অথবা অণুজ্ঞাসমূহ প্ৰদান কৰা নহয়। পণ্যচিহ্নসমূহৰ বিষয়ে অতিৰিক্ত তথ্য পোৱা যাব <a data-l10n-name="mozilla-trademarks-link">ইয়াত</a>.
rights-intro-point-3 = { -brand-short-name } ৰ কিছুমান বৈশিষ্ট্য, যেনে স্খলন সংবাদক, এ আপোনাক { -vendor-short-name } লে সঁহাৰি জমা দিয়াৰ বিকল্প প্ৰদান কৰে। সঁহাৰি জমা দিয়াটো নিৰ্বাচন কৰি, আপুনি { -vendor-short-name } ক তাৰ উৎপাদনসমূহ উন্নত কৰিবলে সঁহাৰি ব্যৱহাৰ কৰাৰ, ইয়াৰ ৱেবছাইটসমূহত সঁহাৰি প্ৰকাশ কৰাৰ, আৰু সঁহাৰি বিতৰণ কৰাৰ অনুমতি দিয়ে।
rights-intro-point-4 = আমি কিদৰে আপোনাৰ ব্যক্তিগত তথ্য আৰু { -brand-short-name } ৰে { -vendor-short-name } লে জমা দিয়া সঁহাৰি ব্যৱহাৰ কৰো তাৰ বিৱৰণ <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name } গোপনীয়তা নীতি</a>.
rights-intro-point-4-unbranded = এই উৎপাদনৰ বিষয়ে যিকোনো প্ৰযোজ্য নীতি ইয়াত তালিকাভুক্ত কৰিব লাগিব।
rights-intro-point-5 = কিছুমান { -brand-short-name } বৈশিষ্ট্যসমূহে ৱেব-ভিত্তিয় তথ্য সেৱাসমূহৰ ব্যৱহাৰ কৰে, যি কি নহওক, আমি ঠাওৰ দি কব নোৱাৰো সিহত ১০০% সঠিক অথবা ত্ৰুটি-মুক্ত। অধিক বিৱৰণ, লগতে এই সেৱাসমূহ ব্যৱহাৰ কৰা বৈশিষ্ট্যসমূহ কেনেকৈ অসামৰ্থবান কৰা হব তাৰ বিষয়ে তথ্য পোৱা যাব <a data-l10n-name="mozilla-service-terms-link">সেৱা চুক্তিসমূহ</a>.
rights-intro-point-5-unbranded = যদি এই উৎপাদনে ৱেব সেৱাসমূহ অন্তৰ্ভুক্ত কৰে, সেৱা(সমূহ) ৰ বাবে যিকোনো প্ৰযোজ্য সেৱা চুক্তি সংযোগ কৰিব লাগিব <a data-l10n-name="mozilla-website-services-link">ৱেবছাইট সেৱাসমূহ</a> অংশ।
rights-webservices-header = { -brand-full-name } ৱেব-ভিত্তিয় তথ্য সেৱাসমূহ
rights-webservices = { -brand-full-name } এ তলত বিৱৰিত চুক্তিসমূহৰ অন্তৰ্গত { -brand-short-name } ৰ এই বাইনাৰি সংস্কৰণৰ সৈতে আপোনাৰ ব্যৱহাৰৰ বাবে প্ৰদান কৰা বৈশিষ্ট্যসমূহৰ কিছুমান বৈশিষ্ট্য প্ৰদান কৰিবলে ৱেব-ভিত্তিয় তথ্য সেৱাসমূহ ("সেৱাসমূহ") ব্যৱহাৰ কৰে। যদি আপুনি সেৱাসমূহৰ এটা বা অধিক ব্যৱহাৰ কৰিব নিবিচাৰে অথবা তলত দিয়া চুক্তিসমূহ গ্ৰহণযোগ্য নহয়, আপুনি বৈশিষ্ট্য অথবা সেৱা(সমূহ) অসামৰ্থবান কৰিব পাৰে। এটা বিশেষ বৈশিষ্ট্য অথবা সেৱা কেনেকৈ অসামৰ্থবান কৰিব তাৰ বিষয়ে নিৰ্দেশ পোৱা যাব <a data-l10n-name="mozilla-disable-service-link">ইয়াত</a>। অন্য বৈশিষ্ট্য আৰু সেৱা এপ্লিকেচন পছন্দসমূহত অসামৰ্থবান কৰিব পাৰি।
rights-safebrowsing = <strong>SafeBrowsing: </strong>Safe Browsing বৈশিষ্ট্য অসামৰ্থবান কৰাটো উপদেশিত নহয় কাৰণ ইয়াৰ ফলত আপুনি অসুৰক্ষিত ছাইটসমূহত যাব পাৰে।  যদি আপুনি এই বৈশিষ্ট্য সম্পূৰ্ণভাৱে অসামৰ্থবান কৰিব বিচাৰে, এই স্তৰসমূহ অনুকৰণ কৰক:
rights-safebrowsing-term-1 = এপ্লিকেচন পছন্দসমূহ খোলক
rights-safebrowsing-term-2 = সুৰক্ষা নিৰ্বাচন বাছক
rights-safebrowsing-term-4 = Safe Browsing এতিয়া অসামৰ্থবান
rights-locationawarebrowsing = <strong>অৱস্থান সতৰ্ক ব্ৰাউছিং: </strong>হল সদায় opt-in।  কোনো অৱস্থান তথ্য আপোনাৰ অনুমতি নহোৱাকৈ পঠোৱা নহয়।  যদি আপুনি বৈশিষ্ট্যটো সম্পূৰ্ণভাৱে অসামৰ্থবান কৰিব বিচাৰে, এই স্তৰবোৰ অনুকৰণ কৰক:
rights-locationawarebrowsing-term-1 = URL বাৰত, টাইপ কৰক <code>about:config</code>
rights-locationawarebrowsing-term-2 = geo.enabled টাইপ কৰক
rights-locationawarebrowsing-term-3 = geo.enabled পছন্দত দুবাৰ ক্লিক কৰক
rights-locationawarebrowsing-term-4 = অৱস্থান-সতৰ্ক ব্ৰাউছিং এতিয়া অসামৰ্থবান
rights-webservices-unbranded = উৎপাদন দ্বাৰা অন্তৰ্ভুক্ত কৰা ৱেবছাইট সেৱাসমূহৰ এটা অভাৰভিউ, সিহতক অসামৰ্থবান কৰাৰ নিৰ্দেশৰ সৈতে, যদি প্ৰযোজ্য, ইয়াত অন্তৰ্ভুক্ত কৰিব লাগিব।
rights-webservices-term-unbranded = এই উৎপাদনৰ বাবে যিকোনো প্ৰযোজ্য সেৱা চুক্তি ইয়াত তালিকাভুক্ত কৰিব লাগিব।
rights-webservices-term-1 = { -vendor-short-name } আৰু ইয়াৰ অৱদানকাৰীসকল, অনুজ্ঞাদাতাসকল আৰু অংশীদাৰসকলে সঠিক আৰু বৰ্তমান-তাৰিখলৈ-উন্নত সেৱাসমূহ প্ৰদান কৰিবলে কৰ্মৰত।  যি কি নহওক, আমি ঠাওৰ দি কব নোৱাৰো এই তথ্য বিশদ আৰু ত্ৰুটি-মুক্ত।  উদাহৰণস্বৰূপ, Safe Browsing সেৱায় কিছুমান বিপদজনক ছাইট চিনাক্ত নকৰিবও পাৰে আৰু কিছুমান সুৰক্ষিত ছাইটকো ত্ৰুটিপূৰ্ণ বুলি চিনাক্ত কৰিব পাৰে আৰু অৱস্থান সতৰ্ক সেৱাৰ বাবে আমাৰ সেৱা প্ৰদানকাৰী দ্বাৰা প্ৰদান কৰা সকলো অৱস্থান কেৱল অনুমান হয় আৰু আমি অথবা আমাৰ সেৱা প্ৰদানকাৰীসকলে প্ৰদান কৰা অৱস্থানৰ সঠিকতাৰ প্ৰত্যাভূতি দিব নোৱাৰো।
rights-webservices-term-2 = { -vendor-short-name } এ নিজ ইচ্ছাত সেৱাসমূহ বাতিল অথবা সলনি কৰিব পাৰে।
rights-webservices-term-3 = আপুনি { -brand-short-name } ৰ সংযুক্ত সংস্কৰণৰ সৈতে এই সেৱাসমূহ ব্যৱহাৰ কৰিবলে স্বাগত, আৰু { -vendor-short-name } এ আপোনাক এনেকুৱা কৰিবলে অনুমতি প্ৰদান কৰে।  { -vendor-short-name } আৰু ইয়াৰ অনুজ্ঞাদাতাসকলে সেৱাসমূহত অন্য সকলো অধিকাৰ সুৰক্ষিত কৰে।  এই চুক্তিসমূহ { -brand-short-name } আৰু { -brand-short-name } ৰ প্ৰাসংগিক উৎস ক'ড সংস্কৰণসমূহলে প্ৰযোজ্য মুক্ত উৎস অনুজ্ঞাসমূহৰ অন্তৰ্গত প্ৰদান কৰা কোনো অধিকাৰক সীমিত কৰিবলে নহয়।
rights-webservices-term-4 = <strong>সেৱাসমূহ "যেনেকুৱা আছে-তেনেকুৱা" ধৰণে প্ৰদান কৰা হয়।  { -vendor-short-name }, ইয়াক অৱদানকাৰীসকল, অনুজ্ঞাদাতাসকল, আৰু বিতৰণকাৰীসকল, সকলো ৱাৰেন্টি অস্বীকাৰ কৰে, আভাস দিয়া অথবা প্ৰণয়ন কৰা, কোনো সীমা নহোৱাকৈ অন্তৰ্ভুক্ত কৰা, ৱাৰেন্টি যাৰ বাবে সেৱাসমূহ বাণিজ্যিক আৰু আপোনাৰ নিৰ্দিষ্ট উদ্দেশ্যৰ বাবে উপযুক্ত।  আপুনি সেৱাসমূহ আপোনাৰ উদ্দেশ্যৰ বাবে নিৰ্বাচন কৰিলে সেৱাসমূহৰ বৈশিষ্ট্য আৰু পৰিৱেশনৰ সম্পূৰ্ণ বিপদৰ দায়িত্ব লব। কিছুমান ক্ষেত্ৰাধিকাৰে প্ৰণয়ন কৰা ৱাৰেন্টিসমূহ বহিষ্কাৰ অথবা সীমিত কৰাৰ অনুমতি নিদিয়ে, সেয়েহে এই অস্বীকাৰ পত্ৰ আপোনাৰ বাবে প্ৰযোজ্য নহবও পাৰে।</strong>
rights-webservices-term-5 = <strong>কেৱল আইন দ্বাৰা প্ৰয়োজন হলে, { -vendor-short-name }, ইয়াৰ অৱদানকাৰীসকল, অনুজ্ঞাদাতাসকল, আৰু বিতৰণকাৰীসকল কোনোধৰণে { -brand-short-name } আৰু সেৱাসমূহৰ পৰা উৎপন্ন অথবা কোনোভাৱে ইয়াৰ ব্যৱহাৰৰ সৈতে জড়িত কোনো অপ্ৰত্যক্ষ, বিশেষ, আকস্মিক, ফলস্বৰূপ, শাস্তিমূলক, অথবা আদৰ্শস্বৰূপ ক্ষতিৰ বাবে দায়ি নহব।  এই চুক্তিসমূহৰ অন্তৰ্গত সন্মিলিত পৰিশোধ $500 (পাচশ ডলাৰ) ৰ অধিক নহয়। কিছুমান ক্ষেত্ৰাধিকাৰে কিছুমান ক্ষতিৰ বহিষ্কাৰ অথবা সীমাৰ অনুমতি নিদিয়ে, সেয়েহে এই বহিষ্কাৰ আৰু সীমা আপোনাৰ বাবে প্ৰযোজ্য নহবও পাৰে।</strong>
rights-webservices-term-6 = { -vendor-short-name } এ এই চুক্তিসমূহ সময় সময়ে উন্নত কৰিব পাৰে। এই চুক্তিসমূহ { -vendor-short-name } ৰ লিখিত নিবন্ধনৰ অবিহনে পৰিবৰ্তন অথবা বাতিল কৰিব নোৱাৰি।
rights-webservices-term-7 = এই চুক্তিসমূহ কেলিফৰ্নিয়া ৰাজ্য, U.S.A. ৰ আইন দ্বাৰা শাসন কৰা হয়, আইন যোগানৰ ইয়াৰ দন্দক বাদ দি। যদি এই চুক্তিসমূহৰ কোনো অংশক অবৈধ অথবা বলৱৎৰ অযোগ্য ধৰা হয়, অৱশিষ্ট অংশসমূহ সম্পূৰ্ণভাৱে কাৰ্য্যকৰী আৰু প্ৰভাৱশালী থাকিব। যদি এই চুক্তিসমূহৰ এটা অনুবাদ কৰা সংস্কৰণ আৰু ইংৰাজী সংস্কৰণৰ মাজত কেতিয়াবা দন্দ হয়, ইংৰাজী সংস্কৰণে নিয়ন্ত্ৰণ কৰিব।
