# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = ព័ត៌មាន​សំខាន់ៗ
heading = ការផ្លាស់ប្ដូរ​ចំពោះ​កម្រង​ព័ត៌មាន { -brand-short-name } របស់​អ្នក
changed-title = អ្វី​បាន​ផ្លាស់ប្ដូរដែរ?
changed-desc-profiles = ការដំឡើង { -brand-short-name } នេះ​មាន​កម្រង​ព័ត៌មាន​ថ្មី​មួយ។ កម្រង​ព័ត៌មាន​ គឺ​ជា​សំណុំ​នៃ​ឯកសារ ដែល Firefox រក្សាទុក​ព័ត៌មាន​ដូចជា​ ចំណាំ ពាក្យ​សម្ងាត់ និង​ចំណូលចិត្ត​អ្នក​ប្រើប្រាស់។
changed-desc-dedicated = ដើម្បី​ធ្វើ​ឲ្យកាន់តែ​​ងាយស្រួល និង​សុវត្ថិភាព ក្នុង​ការប្ដូរ​រវាង​ការដំឡើង Firefox (ដែល​មាន Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition និង Firefox Nightly) ឥឡូវ​ការដំឡើង​នេះ​មាន​កម្រង​ព័ត៌មាន​ដែល​បាន​ផ្ដល់។ វា​មិន​ចែករំលែក​​ព័ត៌មាន​ដែល​បាន​រក្សាទុក​​ជាមួយ​ការដំឡើង Firefox ផ្សេង​ដោយ​ស្វ័យប្រវត្តិ​ទេ។
lost = <b>អ្នក​មិន​បាត់បង់​ទិន្នន័យ ឬ​ការកំណត់​តាម​បំណង​ផ្ទាល់ខ្លួន​ណា​មួយ​ទេ។</b>ប្រសិនបើ​អ្នក​បាន​ចែករំលែក​ព័ត៌មាន​ទៅ Firefox នៅ​លើ​កុំព្យូទ័រ​នេះ​រួចរាល់​ហើយ វា​នៅតែ​មាន​នៅ​ក្នុង​ការដំឡើង Firefox ផ្សេង​ជានិច្ច។
options-title = តើ​អ្វី​ជា​ជម្រើស​របស់​ខ្ញុំ?
options-do-nothing = ប្រសិនបើ​អ្នក​មិន​ធ្វើ​អ្វី​មួយ​ទេ ទិន្នន័យ​កម្រង​ព័ត៌មាន​របស់​អ្នក​នៅ​ក្នុង { -brand-short-name } នឹង​ខុស​ពី​ទិន្នន័យ​កម្រង​ព័ត៌មាន​នៅ​ក្នុង​ការដំឡើង Firefox ផ្សេង។
options-use-sync = ប្រសិនបើ​អ្នក​ចង់​ឲ្យ​ទិន្នន័យ​កម្រង​ព័ត៌មាន​របស់​អ្នក​ទាំងអស់​ដូចគ្នា​នៅ​លើ​​ការដំឡើង​ Firefox ទាំងអស់ អ្នក​អាច​ប្រើប្រាស់ { -fxaccount-brand-name } ដើម្បី​រក្សា​​ព័ត៌មាន​ទាំងនោះ​នៅ​ក្នុង​សមកាលកម្ម។
resources = ធនធាន៖
support-link = កំពុង​ប្រើប្រាស់​កម្មវិធី​គ្រប់គ្រង​កម្រង​ព័ត៌មាន ៖ អត្ថបទ​ជំនួយ
sync-header = ចូល ឬ​បង្កើត { -fxaccount-brand-name }
sync-label = បញ្ចូល​អ៊ីមែល​របស់​អ្នក
sync-input =
    .placeholder = អ៊ីមែល
sync-button = បន្ត
sync-terms = បើ​អ្នក​បន្ត អ្នក​យល់ព្រម​នឹង <a data-l10n-name="terms">លក្ខខណ្ឌ​ប្រើប្រាស់</a> និង <a data-l10n-name="privacy">ការជូនដំណឹង​អំពី​ឯកជនភាព</a>។
sync-first = ប្រើប្រាស់ { -sync-brand-name } លើក​ដំបូង​មែនទេ? អ្នក​ត្រូវ​ចូល​ទៅ​រាល់​ការដំឡើង Firefox នីមួយៗ ដើម្បី​ធ្វើ​សមកាលកម្ម​ការដំឡើង​របស់​អ្នក។
sync-learn = ស្វែងយល់​បន្ថែម
