# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Ulteriori informazioni sulla <a data-l10n-name="learn-more">Navigazione anonima</a>.
about-private-browsing-info-visited = pagine salvate
privatebrowsingpage-open-private-window-label = Apri una finestra anonima
    .accesskey = A
about-private-browsing-info-notsaved = Quando si naviga in una finestra anonima <strong>non vengono salvati</strong>:
about-private-browsing-search-placeholder = Cerca sul Web
about-private-browsing-info-bookmarks = segnalibri
about-private-browsing-info-title = Ti trovi in una finestra anonima
about-private-browsing-info-searches = ricerche
about-private-browsing-info-downloads = download
private-browsing-title = Navigazione anonima
about-private-browsing-info-saved = Mentre <strong>vengono salvati</strong>:
about-private-browsing-info-myths = Miti comuni sulla navigazione anonima
about-private-browsing-info-clipboard = testo copiato
about-private-browsing-info-temporary-files = file temporanei
about-private-browsing-info-cookies = cookie
tracking-protection-start-tour = Scopri come funziona
about-private-browsing-note = La Navigazione anonima <strong>non nasconde ogni traccia della navigazione</strong> su Internet. Il datore di lavoro o il fornitore di servizi internet saranno comunque in grado di mantenere un registro delle pagine visitate.
about-private-browsing =
    .title = Cerca sul Web
about-private-browsing-not-private = Questa non è una finestra anonima.
content-blocking-title = Blocco contenuti
content-blocking-description = Alcuni siti web utilizzano elementi traccianti in grado di seguire l’attività degli utenti su Internet. Nelle finestre anonime il blocco contenuti di { -brand-short-name } blocca automaticamente molti di questi strumenti, impedendo la raccolta di informazioni sulle abitudini di navigazione dei visitatori.
about-private-browsing-info-description = { -brand-short-name } cancella la cronologia di ricerca e navigazione quando si chiude l’applicazione o vengono chiuse tutte le finestre e schede in Navigazione anonima. Nonostante questa modalità non ti renda completamente anonimo nei confronti dei siti web o del tuo fornitore di servizi internet, si tratta comunque di uno strumento utile per impedire ad altri utilizzatori di questo computer di ottenere informazioni sulla tua attività online.
