# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = È disponibile un nuovo aggiornamento di { -brand-shorter-name }.
    .buttonlabel = Scarica l’aggiornamento
    .buttonaccesskey = S
    .secondarybuttonlabel = Non adesso
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Aggiorna { -brand-shorter-name } per ottenere il massimo della velocità e della privacy.
appmenu-update-manual =
    .label = Non è stato possibile aggiornare { -brand-shorter-name } all’ultima versione disponibile.
    .buttonlabel = Scarica { -brand-shorter-name }
    .buttonaccesskey = S
    .secondarybuttonlabel = Non adesso
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Scarica un’altra copia di { -brand-shorter-name } e cercheremo di aiutarti con l’installazione.
appmenu-update-whats-new =
    .value = Scopri le novità.
appmenu-update-unsupported =
    .label = Impossibile aggiornare { -brand-shorter-name } all’ultima versione disponibile.
    .buttonlabel = Ulteriori informazioni
    .buttonaccesskey = U
    .secondarybuttonlabel = Chiudi
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = La versione più recente di { -brand-shorter-name } non è compatibile con il sistema in uso.    
appmenu-update-restart =
    .label = Riavvia per aggiornare { -brand-shorter-name }.
    .buttonlabel = Riavvia e ripristina
    .buttonaccesskey = R
    .secondarybuttonlabel = Non adesso
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Dopo il riavvio verranno ripristinate tutte le schede e le finestre attualmente aperte, ad eccezione di quelle in modalità Navigazione anonima.
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK, tutto chiaro
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gestisci i componenti aggiuntivi facendo clic su <image data-l10n-name='addon-install-icon'></image> nel menu <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Consenti il funzionamento di questa estensione in finestre anonime
    .accesskey = C
appmenu-addon-private-browsing =
    .label = Cambiamenti relativi alle estensioni in finestre anonime
    .buttonlabel = Gestisci estensioni
    .buttonaccesskey = G
    .secondarybuttonlabel = OK, tutto chiaro
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Qualunque estensione aggiunta a { -brand-shorter-name } non funzionerà in finestre anonime a meno che non venga garantito il permesso nelle impostazioni.
appmenu-addon-private-browsing-learn-more = Scopri come gestire le impostazioni delle estensioni
