# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = เรียนรู้เพิ่มเติมเกี่ยวกับ <a data-l10n-name="learn-more">การท่องเว็บแบบส่วนตัว</a>
about-private-browsing-info-visited = หน้าที่เยี่ยมชมแล้ว
privatebrowsingpage-open-private-window-label = เปิดหน้าต่างส่วนตัว
    .accesskey = ส
about-private-browsing-info-notsaved = เมื่อคุณเรียกดูในหน้าต่างส่วนตัว { -brand-short-name } <strong>ไม่บันทึก</strong>:
about-private-browsing-search-placeholder = ค้นหาเว็บ
about-private-browsing-info-bookmarks = ที่คั่นหน้า
about-private-browsing-info-title = คุณอยู่ในหน้าต่างส่วนตัว
about-private-browsing-info-searches = การค้นหา
about-private-browsing-info-downloads = การดาวน์โหลด
private-browsing-title = การท่องเว็บแบบส่วนตัว
about-private-browsing-info-saved = { -brand-short-name } <strong>จะบันทึก</strong>:
about-private-browsing-info-myths = ตำนานทั่วไปเกี่ยวกับการท่องเว็บแบบส่วนตัว
about-private-browsing-info-clipboard = ข้อความที่คัดลอก
about-private-browsing-info-temporary-files = ไฟล์ชั่วคราว
about-private-browsing-info-cookies = คุกกี้
tracking-protection-start-tour = ดูวิธีการทำงาน
about-private-browsing-note = การท่องเว็บแบบส่วนตัว<strong>ไม่ได้ทำให้คุณนิรนาม</strong>บนอินเทอร์เน็ต นายจ้างหรือผู้ให้บริการอินเทอร์เน็ตยังคงสามารถทราบว่าคุณเยี่ยมชมหน้าใดบ้าง
about-private-browsing =
    .title = ค้นหาเว็บ
about-private-browsing-not-private = ขณะนี้คุณไม่ได้อยู่ในหน้าต่างส่วนตัว
content-blocking-title = การปิดกั้นเนื้อหา
content-blocking-description = บางเว็บไซต์ใช้ตัวติดตามที่สามารถเฝ้าสังเกตกิจกรรมของคุณทั่วทั้งอินเทอร์เน็ต ในหน้าต่างส่วนตัว { -brand-short-name } Content Blocking จะบล็อกตัวติดตามจำนวนมากโดยอัตโนมัติ ตัวติดตามเหล่านี้สามารถเก็บรวบรวมข้อมูลเกี่ยวกับพฤติกรรมการท่องเว็บของคุณ
about-private-browsing-info-description = { -brand-short-name } จะล้างประวัติการค้นหาและประวัติการท่องเว็บของคุณเมื่อคุณออกจากแอปหรือปิดแท็บและหน้าต่างการท่องเว็บแบบส่วนตัวทั้งหมด แม้ว่าสิ่งนี้จะไม่ทำให้คุณปิดบังตัวตนกับเว็บไซต์หรือผู้ให้บริการอินเทอร์เน็ตของคุณ แต่จะทำให้การรักษาความเป็นส่วนตัวของสิ่งที่คุณทำออนไลน์จากผู้อื่นที่ใช้คอมพิวเตอร์เครื่องนี้ง่ายขึ้น
