# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = มีการอัปเดต { -brand-shorter-name } ใหม่
    .buttonlabel = ดาวน์โหลดการอัปเดต
    .buttonaccesskey = ด
    .secondarybuttonlabel = ไม่ใช่ตอนนี้
    .secondarybuttonaccesskey = ม
appmenu-update-available-message = อัปเดต { -brand-shorter-name } ของคุณเพื่อความเร็วและความเป็นส่วนตัวล่าสุด
appmenu-update-manual =
    .label = ไม่สามารถอัปเดต { -brand-shorter-name } เป็นรุ่นล่าสุด
    .buttonlabel = ดาวน์โหลด { -brand-shorter-name }
    .buttonaccesskey = ด
    .secondarybuttonlabel = ไม่ใช่ตอนนี้
    .secondarybuttonaccesskey = ม
appmenu-update-manual-message = ดาวน์โหลดสำเนาใหม่ของ { -brand-shorter-name } และเราจะช่วยคุณติดตั้ง
appmenu-update-whats-new =
    .value = ดูว่ามีอะไรใหม่
appmenu-update-restart =
    .label = เริ่มการทำงานใหม่เพื่ออัปเดต { -brand-shorter-name }
    .buttonlabel = เริ่มการทำงานใหม่และเรียกคืน
    .buttonaccesskey = ร
    .secondarybuttonlabel = ไม่ใช่ตอนนี้
    .secondarybuttonaccesskey = ม
appmenu-update-restart-message = หลังจากเริ่มการทำงานใหม่อย่างรวดเร็ว { -brand-shorter-name } จะเรียกคืนแท็บและหน้าต่างที่เปิดอยู่ทั้งหมดของคุณที่ไม่ได้อยู่ในโหมดการท่องเว็บแบบส่วนตัว
appmenu-addon-private-browsing-installed =
    .buttonlabel = ตกลง เข้าใจแล้ว
    .buttonaccesskey = ต
appmenu-addon-post-install-message = จัดการส่วนเสริมของคุณโดยคลิก <image data-l10n-name='addon-install-icon'></image> ใน <image data-l10n-name='addon-menu-icon'></image> เมนู
appmenu-addon-post-install-incognito-checkbox =
    .label = อนุญาตให้ส่วนขยายนี้ทำงานในหน้าต่างส่วนตัว
    .accesskey = อ
appmenu-addon-private-browsing =
    .label = การเปลี่ยนแปลงกับส่วนขยายในหน้าต่างส่วนตัว
    .buttonlabel = จัดการส่วนขยาย
    .buttonaccesskey = จ
    .secondarybuttonlabel = ตกลง เข้าใจแล้ว
    .secondarybuttonaccesskey = ต
appmenu-addon-private-browsing-message = ส่วนขยายใหม่ใด ๆ ที่คุณเพิ่มไปยัง { -brand-shorter-name } จะไม่ทำงานในหน้าต่างส่วนตัวนอกจากคุณจะอนุญาตสิ่งนี้ในการตั้งค่า
appmenu-addon-private-browsing-learn-more = เรียนรู้วิธีการจัดการการตั้งค่าส่วนขยาย
