# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = O razvojnih orodjih
enable-title = Omogoči razvojna orodja za Firefox
enable-inspect-element-title = Omogočite Firefoxova razvojna orodja za uporabo pregledovalnika
enable-inspect-element-message = Preiščite in uredite HTML ter CSS s pregledovalnikom iz razvojnih orodij.
enable-about-debugging-message = Razvoj in razhroščevanje razširitev, web workerjev, service workerjev in druge programske opreme s Firefoxovimi razvojnimi orodji.
enable-key-shortcut-message = Uporabili ste bližnjico razvojnih orodij. Če ste to storili ponesreči, lahko zaprete ta zavihek.
enable-menu-message = Izpopolnite HTML, CSS in JavaScript svoje spletne strani z orodji, kot sta pregledovalnik in razhroščevalnik.
enable-common-message = Firefoxova razvojna orodja smo privzeto onemogočili, da bi vam dali več nadzora nad brskalnikom.
enable-learn-more-link = Več o razvojnih orodjih
enable-enable-button = Omogoči razvojna orodja
enable-close-button = Zapri zavihek
welcome-title = Dobrodošli v razvojnih orodjih za Firefox!
newsletter-title = Mozillina okrožnica za razvijalce
newsletter-message = Prejemajte novice, zvijače in vire za razvijalce naravnost v svoj e-poštni predal.
newsletter-email-placeholder =
    .placeholder = E-pošta
newsletter-privacy-label = Strinjam se, da Mozilla upravlja moje podatke kot to opredeljuje v svoji <a data-l10n-name="privacy-policy">politiki zasebnosti</a>.
newsletter-subscribe-button = Naroči se
newsletter-thanks-title = Hvala!
newsletter-thanks-message = Če v preteklosti še niste potrdili naročnine na Mozillino okrožnico, boste morda to morali storiti zdaj. Poiščite našo pošto v poštnem predalu ali mapi z neželeno pošto.
footer-title = Firefox Developer Edition
footer-message = Želite več kot zgolj razvojna orodja? Preskusite brskalnik Firefox, izdelan posebej za razvijalce in sodobne delovne metode.
footer-learn-more-link = Več o tem
features-learn-more = Več o tem
features-inspector-title = Pregledovalnik
features-inspector-desc = Pregledujte in izpilite kodo za do pike natančno postavitev. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konzola
features-console-desc = Sledite težavam CSS, JavaScripta, varnosti in omrežja. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Razhroščevalnik
features-debugger-desc = Zmogljiv razhroščevalnik JavaScripta s podporo za vaše ogrodje. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Omrežje
features-network-desc = Spremljajte omrežne zahteve, ki lahko upočasnijo ali blokirajo vašo stran. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Shramba
features-storage-desc = Dodajajte, upravljajte in odstranjujte predpomnilnik, piškotke, baze podatkov in podatke o seji. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Odziven način
features-responsive-desc = Testirajte strani na emuliranih napravah v svojem brskalniku. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Vizualno urejanje
features-visual-editing-desc = Zgladite animacije, poravnavo in odmike. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Učinkovitost
features-performance-desc = Odpravite ozka grla, pohitrite procese, optimizirajte vire. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Pomnilnik
features-memory-desc = Odkrijte vzroke za puščanje pomnilnika in poskrbite za tekoče delovanje svoje aplikacije. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Zahteva za naročnino ni uspela ({ $errorDescription }).
newsletter-error-unknown = Prišlo je do nepričakovane napake.
newsletter-error-timeout = Zahteva za naročnino je potekla.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Uspešno ste omogočili razvojna orodja! Za začetek raziščite meni Spletni razvoj ali jih odprite z bližnjico { $shortcut }.
