# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = A apărut o nouă actualizare de { -brand-shorter-name }.
    .buttonlabel = Descarcă actualizarea
    .buttonaccesskey = D
    .secondarybuttonlabel = Nu acum
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Actualizează { -brand-shorter-name } pentru ultimul răcnet în materie de viteză și confidențialitate.
appmenu-update-manual =
    .label = { -brand-shorter-name } nu se poate actualiza la cea mai recentă versiune.
    .buttonlabel = Descarcă { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Nu acum
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Descarcă o nouă copie de { -brand-shorter-name } și noi te vom ajuta la instalarea acesteia.
appmenu-update-whats-new =
    .value = Vezi ce este nou.
appmenu-update-restart =
    .label = Repornește pentru a actualiza { -brand-shorter-name }.
    .buttonlabel = Repornește și restaurează
    .buttonaccesskey = R
    .secondarybuttonlabel = Nu acum
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = După o repornire rapidă, { -brand-shorter-name } va restaura toate filele tale deschise și ferestrele care nu sunt în modul de navigare privată.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, am înțeles
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gestionează suplimentele dând clic pe <image data-l10n-name='addon-install-icon'></image> în meniu <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permite acestei extensii să ruleze în ferestre private
    .accesskey = A
appmenu-addon-private-browsing =
    .label = Modificare pentru extensii în ferestre private
    .buttonlabel = Gestionează extensiile
    .buttonaccesskey = M
    .secondarybuttonlabel = Ok, am înțeles
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Orice extensii noi pe care le adaugi în { -brand-shorter-name } nu vor funcționa în ferestrele private dacă nu le permiți să o facă din setări.
appmenu-addon-private-browsing-learn-more = Află cum să gestionezi setările pentru extensii
