# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Știri importante
heading = Modificări ale profilului tău { -brand-short-name }
changed-title = Ce s-a schimbat?
changed-desc-profiles = Această instalare { -brand-short-name } are un profil nou. Profilul este setul de fișiere în care Firefox salvează informații cum ar fi marcajele, parolele și preferințele utilizatorilor.
changed-desc-dedicated = Pentru a face mai ușoară și mai sigură comutarea între instalările Firefox (inclusiv Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition și Firefox Nightly), această instalare are acum un profil dedicat. Nu partajează automat informațiile pe care le-ai salvat cu alte instalații Firefox.
lost = <b>Nu ai pierdut nicio personalizare sau date personale. </b> Dacă ai salvat deja informații în Firefox pe acest calculator, acestea sunt în continuare disponibile în altă instalație Firefox.
options-title = Ce opțiuni am?
options-do-nothing = Dacă nu faci nimic, datele tale de profil din { -brand-short-name } vor fi diferite de cele din alte instalații Firefox.
options-use-sync = Dacă vrei ca toate datele tale de profil să fie identice pe toate instalările Firefox, poți folosi un { -fxaccount-brand-name } pentru a le păstra sincronizate.
resources = Resurse:
support-link = Utilizarea managerului de profile - articol de asistență
sync-header = Intră în cont sau creează un { -fxaccount-brand-name }
sync-label = Introdu adresa de e-mail
sync-input =
    .placeholder = E-mail
sync-button = Continuă
sync-terms = Prin continuare, agreezi <a data-l10n-name="terms">Termenii de utilizare a serviciilor</a> și <a data-l10n-name="privacy">Politica de confidențialitate</a>.
sync-first = E prima dată când folosești { -sync-brand-name }? Trebuie să te autentifici pe fiecare instalare de Firefox ca să îți sincronizezi informațiile.
sync-learn = Află mai multe
