# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = വഞ്ചിപ്പിക്കാവുന്ന സൈറ്റ്
safeb-blocked-malware-page-title = ഈ വെബ്സൈറ്റ് സന്ദർശിക്കുന്നത് നിങ്ങളുടെ കമ്പ്യൂട്ടറിനെ കേടാക്കാനിടയുണ്ട്
safeb-blocked-unwanted-page-title = മുന്നോട്ടുള്ള സൈറ്റിൽ ദോഷകരമായ പ്രോഗ്രാമുകൾ അടങ്ങിയിരിക്കാം
safeb-blocked-harmful-page-title = മുന്നിലുള്ള സൈറ്റിൽ മാല്‍വെയർ അടങ്ങിയിരിക്കാം
safeb-blocked-phishing-page-short-desc = { -brand-short-name } ഈ പേജ് തടഞ്ഞു കാരണം ഇത് സോഫ്റ്റ്‍വെയറുകൾ ഇൻസ്റ്റാൾ ചെയ്യുന്നത് പോലെയോ അല്ലെങ്കിൽ പാസ്വേഡുകൾ അല്ലെങ്കിൽ ക്രെഡിറ്റ് കാർഡുകൾ പോലുള്ള വ്യക്തിഗത വിവരങ്ങൾ വെളിപ്പെടുത്തുന്നതോ പോലുള്ള അപകടകരമായ കാര്യങ്ങൾ ചെയ്യുന്നതിലൂടെ നിങ്ങളെ കബളിപ്പിച്ചേക്കാം.
safeb-blocked-malware-page-short-desc = നിങ്ങളുടെ കമ്പ്യൂട്ടറിൽ സ്വകാര്യ വിവരങ്ങൾ മോഷ്ടിക്കാനോ ഇല്ലാതാക്കാനോ ഇടയുള്ള ക്ഷുദ്ര സോഫ്റ്റ്‍വെയറുകള്‍ ഇൻസ്റ്റാൾ ചെയ്യാൻ ശ്രമിച്ചേക്കാം എന്നതിനാൽ { -brand-short-name } ഈ പേജിനെ തടഞ്ഞു.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } നിങ്ങളുടെ ബ്രൌസിംഗിനെ ബാധിക്കുന്ന പ്രോഗ്രാമുകൾ ഇൻസ്റ്റാള്‍ ചെയ്യുാന്‍ നോക്കി കബളിപ്പിക്കാൻ ശ്രമിക്കാനിടയുള്ളത് കൊണ്ടാണ് ഈ പേജ് തടഞ്ഞത് (ഉദാഹരണത്തിന്, നിങ്ങളുടെ ഹോംപേജ് മാറ്റുന്നതിലൂടെ അല്ലെങ്കിൽ നിങ്ങൾ സന്ദർശിക്കുന്ന സൈറ്റുകളിൽ അധിക പരസ്യങ്ങൾ കാണിക്കുന്നതിലൂടെ).
safeb-palm-advisory-desc = <a data-l10n-name='advisory_provider'>{ $advisoryname }</a> നൽകിയ ഉപദേശങ്ങൾ.
safeb-palm-accept-label = മടങ്ങിപ്പോവുക
safeb-palm-see-details-label = വിശദാംശങ്ങൾ കാണുക
safeb-blocked-malware-page-learn-more = വൈറസ്, മാൽവെയര്‍ തുടങ്ങിയ ദോഷകരമായ വെബ്സൈറ്റ് ഉള്ളടക്കങ്ങളെ കുറിച്ച് കൂടൂതൽ അറിയാനും അവയിൽ നിന്നും നിങ്ങളൂടെ കമ്പ്യൂട്ടറിനെ എങ്ങനെ സംരക്ഷിക്കാമെന്ന് അറിയാനും <a data-l10n-name='learn_more_link'>StopBadware.org</a> സന്ദര്‍ശിക്കുക. { -brand-short-name } ന്റെ ഫിഷിംഗ്, മാല്‍വെയര്‍ സംരക്ഷണത്തെക്കുറിച്ച് കൂടുതല്‍ അറിയാന്‍ <a data-l10n-name='firefox_support'>support.mozilla.org</a> സന്ദര്‍ശിക്കുക.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ദോഷകരമായ സോഫ്റ്റവെയർ അടിങ്ങിയിരിക്കുന്നതായി <a data-l10n-name='error_desc_link'>റിപ്പോർട്ട് ചെയ്യപ്പെട്ടിരിക്കുന്നു</a>.
safeb-palm-notdeceptive =
    .label = ഇത് വഞ്ചനാപരമായ സൈറ്റല്ല…
    .accesskey = d
