# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } পরিচিতি
releaseNotes-link = নতুন কি আছে
update-checkForUpdatesButton =
    .label = হালনাগাদ যাচাই
    .accesskey = C
update-updateButton =
    .label = { -brand-shorter-name } হালনাগাদ করতে পুনরায় চালু করুন
    .accesskey = R
update-checkingForUpdates = হালনাগাদ পরীক্ষা করা হচ্ছে…
update-downloading = <img data-l10n-name="icon"/>হালনাগাদ ডাউনলোড করা হচ্ছে — <label data-l10n-name="download-status"/>
update-applying = হালানাগাদ প্রয়োগ করা হচ্ছে…
update-failed = হালনাগাদ ব্যর্থ। <label data-l10n-name="failed-link">সর্বশেষ সংস্করণ ডাউনলোড করুন</label>
update-failed-main = হালনাগাদ ব্যর্থ। <a data-l10n-name="failed-link-main">সর্বশেষ সংস্করণ ডাউনলোড করুন</a>
update-adminDisabled = সিস্টেম প্রশাসক কর্তৃক হালনাগাদ নিস্ক্রিয় করা রয়েছে
update-noUpdatesFound = { -brand-short-name } হালনাগাদ করা হয়েছে
update-otherInstanceHandlingUpdates = { -brand-short-name } অন্য স্থানে হালনাগাদ হয়েছে
update-manual = হালনাগাদ যেখানে পাওয়া যাবে <label data-l10n-name="manual-link"/>
update-unsupported = আপনি এই সিস্টেমে আর হালনাগাদ করতে পারবেন না। <label data-l10n-name="unsupported-link">আরও জানুন</label>
update-restarting = পুনরায় আরম্ভ হচ্ছে…
channel-description = আপনি বর্তমানে রয়েছেন <label data-l10n-name="current-channel"></label> হালনাগাদ চ্যানেল।
warningDesc-version = { -brand-short-name } হচ্ছে পরীক্ষামূলক সংস্করণ এবং অস্থিতিশীল।
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> হচ্ছে <label data-l10n-name="community-exp-creditsLink">আন্তর্জাতিক সম্প্রদায়</label> যারা ওয়েব কে মুক্ত, সার্বজনীন ও প্রবেশযোগ্য রাখতে, একসাথে কাজ করে যাচ্ছে।
community-2 = { -brand-short-name } নকশা করেছে <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, একটি <label data-l10n-name="community-creditsLink">আন্তর্জাতিক সম্প্রদায়</label> যারা ওয়েব কে মুক্ত, সার্বজনীন ও প্রবেশযোগ্য রাখতে, একসাথে কাজ করে যাচ্ছে।
helpus = সাহায্য করতে চান? <label data-l10n-name="helpus-donateLink">দান করুন</label> অথবা <label data-l10n-name="helpus-getInvolvedLink">যোগদান করুন!</label>
bottomLinks-license = লাইসেন্স এর তথ্য
bottomLinks-rights = প্রান্তিক ব্যবহারকারীর অধিকার
bottomLinks-privacy = গোপনীয়তা নীতি
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-বিট)
