# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = এ সম্পর্কে আরও জানুন <a data-l10n-name="learn-more">ব্যক্তিগত ব্রাউজিং</a>।
about-private-browsing-info-visited = দেখে ফেলা পেজসমূহ
privatebrowsingpage-open-private-window-label = একটি ব্যক্তিগত উইন্ডো খুলুন
    .accesskey = P
about-private-browsing-info-notsaved = যখন আপনি কোন ব্যক্তিগত উইন্ডো ব্রাউজ করেন, { -brand-short-name } <strong>সংরক্ষণ করবে না</strong>:
about-private-browsing-search-placeholder = ওয়েবে অনুসন্ধান করুন
about-private-browsing-info-bookmarks = বুকমার্ক
about-private-browsing-info-title = আপনি একটি ব্যাক্তিগত উইন্ডোতে আছেন
about-private-browsing-info-searches = অনুসন্ধান
about-private-browsing-info-downloads = ডাউনলোড
private-browsing-title = ব্যক্তিগত ব্রাউজিং
about-private-browsing-info-saved = { -brand-short-name } <strong>সংরক্ষণ করা হবে</strong> আপনার:
about-private-browsing-info-clipboard = অনুলিপি করা টেক্সট
about-private-browsing-info-temporary-files = অস্থায়ী ফাইল
about-private-browsing-info-cookies = কুকি
tracking-protection-start-tour = দেখুন এটা কিভাবে কাজ করে
about-private-browsing-note = ব্যাক্তিগত ব্রাউজিং <strong>আপনাকে নামহীন করবে না</strong> ইন্টারনেটে আপনার নিয়োগকর্তা কিংবা ইন্টারনেট সেবা প্রদানকারী এখনও জানতে পারবে, আপনি কোন পাতায় গিয়েছিলেন।
about-private-browsing =
    .title = ওয়েবে অনুসন্ধান করুন
about-private-browsing-not-private = আপনি বর্তমানে কোনো ব্যক্তিগত উইন্ডোতে নেই।
content-blocking-title = কনটেন্ট ব্লকিং
content-blocking-description = অনেক ওয়েবসাইট ট্র্যাকার ব্যবহার করে, ইন্টারনেট আপনার কার্যক্রম পর্যবেক্ষণ করতে পারে। ব্যক্তিগত উইন্ডোতে, { -brand-short-name } কনটেন্ট ব্লকিং স্বয়ংক্রিয়ভাবে অনেক ট্র্যাকার আটকে দেয়, যা আপনার ব্রাউজিং আচরণ সম্পর্কে তথ্য সংগ্রহ করতে পারে।
