# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = গুরুত্বপূর্ণ খবর
heading = আপনার { -brand-short-name } প্রোফাইল পরিবর্তন করুন
changed-title = কি পরিবর্তন হয়েছে?
changed-desc-profiles = { -brand-short-name } এর নতুন ইন্সটলে নতুন প্রোফাইল রয়েছে। প্রোফাইল হল কিছু ফাইলের সেট যেখানে Firefox বুকমার্ক, পাসওয়ার্ড এবং ব্যবহারকারীর পছন্দগুলো সংরক্ষণ করে।
changed-desc-dedicated = Firefox (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, এবং Firefox Nightly) এর বিভিন্ন ইনস্টলেশনের মধ্যে সহজে এবং নিরাপদে বদল করতে, এই ইনস্টলেশনে এখন নিবেদিত প্রোফাইল রয়েছে। যা Firefox এর অন্য ইনস্টলেশনে সাথে আপনার সংরক্ষিত তথ্য শেয়ার করে না।
options-title = আমার অপশনগুলো কি কি?
resources = রিসোর্স:
sync-label = আপনার ইমেইল দিন
sync-input =
    .placeholder = ইমেইল
sync-button = চালিয়ে যান
sync-terms = এগিয়ে যাওয়ার মাধ্যমে, আপনি <a data-l10n-name="terms"> পরিষেবার শর্তাবলি </a> এবং <a data-l10n-name="privacy"> গোপনীয়তা বিজ্ঞপ্তি </a> এর সাথে সম্মত হন।
sync-learn = আরও জানুন
