# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Tawetamaj kiwäch ri taq ach'ojib'al
rights-intro = { -brand-full-name } jun jamäl chuqa' jaqäl b'itz'ib' kema', ri nuk'un kuma ach'ala'il chijun ri ruwach'ulew. Ja re' ri jujun taq na'oj k'atzinel nawetamaj:
rights-intro-point-1 = { -brand-short-name } wachel rik'in re taq rojqanem ri <a data-l10n-name="mozilla-public-license-link">Ruwinaqilal ya'öl q'ij Mozilla</a>. Rere' nrajo' nub'ij chi ütz nawokisaj, nawachib'ej chuqa' nataluj ri { -brand-short-name } chi ke ch'aqa' chik.  Chuqa' ütz najalwachij ri ruxe' nimatz'ib' ri { -brand-short-name } achike na rub'eyal rajowaxik chawe. Ri ya'öl ruq'ij winaqilal ri Mozilla chuqa' nuya' pan ach'ojib'al chi ye'ataluj ri taq ruwäch ye'ak'ëx.
rights-intro-point-2 = Man niya' ta ri taq ch'ojib'äl kichin ri taq rajawal o taq ya'öl q'ij ri e retal rub'i' eruq'alajisan ri Mozilla Moloj o xa b'a achike jun chik peraj, ri chuqa' k'o chupam ri rub'i' o ruwachib'al rub'i' ri Firefox. Ch'aqa' chik etamab'äl chi kij ri taq retal b'i'aj tikirel nawïl pa <a data-l10n-name="mozilla-trademarks-link">wawe'</a>.
rights-intro-point-3 = Jujun taq rub'anikil pa { -brand-short-name }, achi'el ri rutzijol taq sachoj, xtuya' q'ij chawe chi natäq el etamab'äl pa { -vendor-short-name }. Toq nacha' natäq ri taq atzijol, naya' q'ij chi re' ri { -vendor-short-name } richin yerokisaj richin yerub'än rutzil ri taq ruk'ayij, yerutz'ajb'a' ri taq atzijol pa ri ruxaq ruk'amaya'l chuqa' yerutaluj ri taq atzijol.
rights-intro-point-4 = Achike rub'eyal niqokisaj ri rutzijol awichin chuqa' taq atzijol k'o pa { -vendor-short-name } rik'in ri { -brand-short-name } xkecholajïx pa <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name } Richinan Na'oj</a>.
rights-intro-point-4-unbranded = Xa b'a achike richinan na'oj okel pa re k'ayij re', rajowaxik niq'alajisäx wawe'.
rights-intro-point-5 = Jujun taq rub'anikil ri { -brand-short-name } nikokisaj taq samaj pa ruwi' na'oj, ri k'o kixe'el richin k'amaya'l; xa xe chi man yojtikïr ta niqajikib'a' chi kan e 100% ütz chuqa' chi majun rusachoj. Nilitäj ch'aqa' chik taq rutzijol, achi'el taq etamab'äl pa ruwi' rub'eyal ye'achüp ri kib'anikil nikokisaj re taq samaj re', pa <a data-l10n-name="mozilla-service-terms-link">rojqanem samaj</a>.
rights-intro-point-5-unbranded = We re jun k'ayij re' k'o taq rusamaj k'amaya'l chupam, xa b'a achike chi rojqanem samaj okel pa (taq) samaj k'o ta chi kiximon ki' pa <a data-l10n-name="mozilla-website-services-link">Taq rusamaj ri ruxaq k'amaya'l</a> peraj.
rights-intro-point-6 = Richin ye'atzïj jujun taq ruwäch chi rupam silowachib'äl, { -brand-short-name } ke'aqasaj jujun peraj taq ch'akul richin chi e'etaman kipam aj rox winäq.
rights-webservices-header = taq samaj retamab'äl ri { -brand-full-name } k'o kixe'el pa k'amaya'l
rights-webservices = { -brand-full-name } nrokisaj taq samaj richin etamab'äl ri k'o ruxe'el pa k'amaya'l ("taq samaj") richin nuq'alajisab'ej jujun taq rub'anikil ya'on retal richin rokisaxik rik'in ri ruwäch rukach'akul ri { -brand-short-name } rik'in ri taq ojqanem xkecholajïx qa. We man nawajo' ta nawokisaj jun o juley chik taq samaj o man e ütz ta chawäch ri taq ojqanem, ütz nachüp ri rusamaj o (taq) Samaj. Ri taq rucholajil pa ruwi' rub'eyal nachüp jun rub'anikil o samaj, ütz nawïl pa <a data-l10n-name="mozilla-disable-service-link">wawe'</a>. Ch'aqa' chik taq rub'anikil o taq samaj ütz yechup pa taq rajowaxik ri samajel.
rights-safebrowsing = <strong>Ütz okem pa k'amaya'l: </strong>Man ruk'amon ta nachüp ri ütz okem pa kematz'ib', ruma chi rik'in jub'a' katok chupam itzel taq ruxaq k'amaya'l.  We nawajo' jumul nachüp re rusamaj re', tawoqaj re jujun taq rucholajil re:
rights-safebrowsing-term-1 = Tajaqa' ri taq rajowaxik samajel
rights-safebrowsing-term-2 = Tacha' ri rucha'oj chajinem
rights-safebrowsing-term-3 = Tachupu' ri cha'oj richin "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Keq'at k'ayew chuqa' q'olonel rupam
rights-safebrowsing-term-4 = Wakami ri ütz okem pa k'amaya'l chupül
rights-locationawarebrowsing = <strong>Okem pa k'amaya'l k'o ruxe'el pa ruk'ojlemal: </strong>junelïk cha'el ruma ri winäq.  Majub'ey nitaq etamab'äl chi rij ri ruk'ojlemal we man naya' ta q'ij.  We kan nawajo' nachüp re rub'anikil re', tawoqaj re taq rucholajil re':
rights-locationawarebrowsing-term-1 = Pa URL k'amaya'l, tatz'ib'aj <code>about:config</code>
rights-locationawarebrowsing-term-2 = Ruwäch geo.enabled
rights-locationawarebrowsing-term-3 = Ka'i' pitz' pa rajowaxik geo.enabled
rights-locationawarebrowsing-term-4 = Wakami chupül ri okem pa k'amaya'l rik'in k'ojlemal
rights-webservices-unbranded = Wawe' k'o chi nitz'aqatisäx apo jun ruch'utitzijol rusamaj ri ruxaq k'amaya'l, ri ruk'wan ri k'ayij, chuqa' k'o pe ri taq rucholajil rub'eyal nitz'apïx, we ke ri' rajowaxik.
rights-webservices-term-unbranded = Konojel ri taq rojqanem samaj e okel chi re, re k'ayij re', k'atzinel chi e cholotäl qa wawe'.
rights-webservices-term-1 = { -vendor-short-name } chuqa' ri taq ruto'onela', ajya'öl q'ij chuqa' achib'ilal samaj, ri yeya'on ri jikïl chuqa' k'exon samaj.  Xa xe chi man yojtikïr ta niqajikib'a' chi re etamab'äl re' tz'aqät chuqa' chi majun sachoj chupam.  Achi'el, ri samaj chi rij ütz okem pa k'amaya'l rik'in jub'a' man titikïr ta nuya' ketal jujun taq itzel ruxaq k'amaya'l chuqa' rik'in jub'a' choj nisach toq nuya' ketal chi e ütz jujun taq ruxaq k'amaya'l chuqa' ri taq retal ochochib'äl tzolin pe kuma ri ya'öl samaj chi rij okema pa k'amaya'l toq ruk'wa'a'n ri k'ojlemal xa xe jun q'ijub'äl chuqa' ni xa ta röj chuqa' ri e ya'öl qasamaj kan niqajikib'a' ri taq k'ojlemal eya'on pe.
rights-webservices-term-2 = { -vendor-short-name } nitikïr nuqupij o nuk'ëx ri Samaj ri nawajo' rat.
rights-webservices-term-3 = Yatqapeyoj chi ye'awokisaj ri taq samaj rik'in ri ruwäch rachib'ilanik ri { -brand-short-name }, chuqa'  { -vendor-short-name } nuya' q'ij chawe' richin  nab'än. { -vendor-short-name } chuqa' ri yeya'on q'ij nikiq'ät ki chuwäch ri ch'aqa' chik taq ch'ojib'äl chi kij ri taq samaj. Ri taq ojqanem ri' man nuq'ät ta majun chi ch'ojib'äl nikiya' ri taq ya'öl q'ij chi rij ri nimaläj b'i'aj aj okel pa { -brand-short-name } chuqa' ri taq kiwäch taq nimaläj b'i'aj richin tz'ib' e k'o pa { -brand-short-name }.
rights-webservices-term-4 = <strong>Ri taq samaj richinan "achi'el."  { -vendor-short-name }, ri to'onela', ajya'öl q'ij chuqa' talunela', nikixutüj xa b'a achike retal chilab'enïk, achi'el akuchi' tz'ib'atäl wi chuqa' nuna'ojij rij, ri k'o chupam chuqa' man nuq'ät ta ri', retal chilab'enïk chi ri samaj ajk'ayij chuqa' chi nik'atzin chi re jun winäq.  Rat natz'ila' awi' we nacha' re jun samaj re' richin nawokisaj, achi'el chuqa' ri rutzil chuqa' rub'eyal nisamäj. Jujun taq ulewal man nikiya' ta q'ij richin ye'elesäx o yeq'at ri taq retal chilab'enïk e ch'ob'otel, we ke ri' re jun q'atoj re' man xtitikïr ta xtub'än rusamaj.</strong>
rights-webservices-term-5 = <strong>Xa xe we nich'ojïx ruma ri taqanem tzij, { -vendor-short-name } ri taq ruto'onela', taq ajya'öl q'ij chuqa' talunela' man xkepa'e' ta ki' chuwäch jun k'ayewal man chuwäch ta, nimaläj, k'ulwachinem, jikïl, k'o ruk'amon pe o tz'etel, ri yek'ulwachitäj pe rik'in rokisaxik ri { -brand-short-name } chuqa' ri taq samaj.  Ri niman tzij pa molaj ruma ri taq ojqanem ri' man niq'ax ta chuwäch ri US$500 (juq'o' juk'al taq dolar). Jujun taq ulewal man nikiya' ta q'ij chi nik'is o niq'at kiwa jujun taq tz'ilanem, ruma ri' re jun elenem re' o q'atoj rik'in jub'a' man okel ta chawe.</strong>
rights-webservices-term-6 = { -vendor-short-name } ütz ye'ak'ëx re taq ojqanem re we rajowaxik chi ramajil chi ramajil. Man ütz ta yejal o yeq'at we man nuya' ta q'ij pa tz'ib'anïk ri { -vendor-short-name }.
rights-webservices-term-7 = Re jujun taq ojqanem re' nitz'et kiwa kuma ri taq rutaqanem tzij ri California amaq', U.S.A, ye'el chuqa' chupam ri taq k'ayewal kik'in ch'aqa' chik taqanem taq tzij. We jun peraj chi ke re taq ojqanem re' nitz'et chi man e ütz ta o man tikirel ta yesamajïx, ri ch'aqa' chik k'o chupam jikïl ri kuchuq'a' chuqa' kik'amon pe. We k'o k'ayewal rik'in ri kitzalq'omanik re taq ojqanem re' rik'in ri pa q'anchi', ja ri ruwäch pa q'anchi' xtoqäx.
