# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Wo wuwiwarskich nastrojach
enable-title = Wuwiwarske nastroje Firefox zmóžnić
enable-inspect-element-title = Wuwiwarske nastroje Firefox zmóžnić, zo by so Element přepytować wužiwało
enable-inspect-element-message = Přepytajće a wobdźěłajće HTML a CSS z Inspektora wuwiwarskich nastrojow.
enable-about-debugging-message = Wuwiwajće a testujće WebExtensions, webworkery, service workery a wjace z wuwiwarskimi nastrojemi Firefox.
enable-key-shortcut-message = Sće tastowu skrótšenku wuwiwarskich nastrojow aktiwizował. Jeli běše to zmylk, móžeće tutón rajtark začinić.
enable-menu-message = Wudokonjejće HTML, CSS a JavaScript swojeho websydła z nastrojemi kaž Inspektor a pytanje za zmylkami.
enable-common-message = Wuwiwarske nastroje Firefox su znjemóžnjene po standardźe, zo byšće wjace kontrole nad swojim wobhladowakom měł.
enable-learn-more-link = Zhońće wjace wo wuwiwarskich nastrojach
enable-enable-button = Wuwiwarske nastroje zmóžnić
enable-close-button = Tutón rajtark začinić
welcome-title = Witajće k wuwiwarskim nastrojam Firefox!
newsletter-title = Wuwiwarski powěsćowy list Mozilla
newsletter-message = Wobstarajće sej nowinki wuwiwarjow, pokiwy a resursy, kotrež so direktnje na was sćelu.
newsletter-email-placeholder =
    .placeholder = E-mejl
newsletter-privacy-label = Sym přezjedny, zo Mozilla po <a data-l10n-name="privacy-policy">tutych prawidłach priwatnosće</a> z mojimi informacijemi wobchadźa.
newsletter-subscribe-button = Abonować
newsletter-thanks-title = Wulki dźak!
newsletter-thanks-message = Jeli hišće njejsće abonement powěsćoweho lista Mozilla wobkrućił, dyrbiće to nětko činić. Prošu hladajće do dochadneje e-mejle abo papjernika za e-mejlku wot nas.
footer-title = Firefox Developer Edition
footer-message = Pytaće wjace hač jenož wuwiwarske nastroje? Wuslědźće wobhladowak Firefox, kotryž je so specielnje za wuwiwarjow a moderne dźěłowe wotběhi wuwił.
footer-learn-more-link = Dalše informacije
features-learn-more = Dalše informacije
features-inspector-title = Inspektor
features-inspector-desc = Analyzujće a polěpšće žórłowy kod, zo byšće na pikselu dokładne wuhotowanja wuwiwał. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsola
features-console-desc = Slědujće problemam z CSS, JavaScriptom, wěstotu a syću. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Pytanje za zmylkami
features-debugger-desc = Mócny JavaScriptowy debugger z podpěru za waš framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Syć
features-network-desc = Dohladujće syćowe naprašowanja, kotrež móža waše sydło spomałšić abo blokować. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Składowak
features-storage-desc = Přidajće, změńće a wotstrońće pufrowak, placki, datowe banki a posedźenske daty. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Přiměrjeny design
features-responsive-desc = Testujće sydła na emulowanych gratach w swojim wobhladowaku. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Wizuelne wobdźěłowanje
features-visual-editing-desc = Polěpšće animacije, wusměrjenje a wotstupy. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Wukon
features-performance-desc = Wotstrońce blešowe šije, starajće so wo prudojte procesy a optimujće wukon. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Skład
features-memory-desc = Namakajće składowe dźěry, zo by waše nałoženje hładce běžało. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Požadanje wo abonement je so nimokuliło ({ $errorDescription }).
newsletter-error-unknown = Njewočakowany zmylk je wustupił.
newsletter-error-timeout = Požadanje wo abonement je čas překročiło.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Sće wuwiwarske nastroje wuspěšnje zmóžnił! Zo byšće započał, přehladujće meni Webwuwiwar abo wočińće nastroje z pomocu tastoweje skrótšenki { $shortcut }.
