# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Доступна нова версія { -brand-shorter-name }.
    .buttonlabel = Завантажити оновлення
    .buttonaccesskey = З
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-available-message = Оновіть { -brand-shorter-name } для підвищення рівня швидкодії та приватності.
appmenu-update-manual =
    .label = { -brand-shorter-name } не може оновитися до останньої версії.
    .buttonlabel = Завантажити { -brand-shorter-name }
    .buttonaccesskey = З
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-manual-message = Завантажте нову версію { -brand-shorter-name } і ми допоможемо вам її встановити.
appmenu-update-whats-new =
    .value = Перегляньте, що нового.
appmenu-update-restart =
    .label = Перезапуск для оновлення { -brand-shorter-name }.
    .buttonlabel = Перезапустити й відновити
    .buttonaccesskey = П
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-restart-message = Після швидкого перезапуску { -brand-shorter-name } відновить всі відкриті вкладки й вікна, які не були відкриті в режимі приватного перегляду.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Гаразд, зрозуміло
    .buttonaccesskey = Г
appmenu-addon-post-install-message = Керуйте своїми додатками, натиснувши <image data-l10n-name='addon-install-icon'></image> в меню <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Дозволити цьому розширенню виконуватися в приватних вікнах
    .accesskey = л
appmenu-addon-private-browsing =
    .label = Зміни розширень в приватних вікнах
    .buttonlabel = Керувати розширеннями
    .buttonaccesskey = К
    .secondarybuttonlabel = Гаразд, зрозуміло
    .secondarybuttonaccesskey = Г
appmenu-addon-private-browsing-message = Нові розширення, які ви додаєте в { -brand-shorter-name }, не працюватимуть в приватних вікнах, доки ви не встановите дозвіл в налаштуваннях.
appmenu-addon-private-browsing-learn-more = Дізнайтеся, як керувати налаштуваннями розширень.
