# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Un hizivadenn nevez a zo evit { -brand-shorter-name }.
    .buttonlabel = Pellgargañ an hizivadenn
    .buttonaccesskey = P
    .secondarybuttonlabel = Diwezhatoc'h
    .secondarybuttonaccesskey = D
appmenu-update-available-message = Hizivait { -brand-shorter-name } evit gwellaat e dizh hag e brevezded.
appmenu-update-manual =
    .label = N'haller ket hizivaat { -brand-shorter-name } d'an handelv nevez.
    .buttonlabel = Pellgargañ { -brand-shorter-name }
    .buttonaccesskey = P
    .secondarybuttonlabel = Ket bremañ
    .secondarybuttonaccesskey = K
appmenu-update-manual-message = Pellgargit un eilad nevez eus { -brand-shorter-name } ha skoazellañ a raimp d'e staliañ.
appmenu-update-whats-new =
    .value = Lennit petra zo nevez.
appmenu-update-restart =
    .label = Adloc'hit evit hizivaat { -brand-shorter-name }
    .buttonlabel = Adloc'hañ hag atoriñ
    .buttonaccesskey = A
    .secondarybuttonlabel = Diwezhatoc'h
    .secondarybuttonaccesskey = D
appmenu-update-restart-message = Goude un adloc'hadur prim e vo atoret gant { -brand-shorter-name } ho holl ivinelloù ha prenestroù na oa ket e mod merdeiñ prevez.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Mat eo, komprenet am eus
    .buttonaccesskey = M
appmenu-addon-post-install-message = Merit hoc'h askouezhioù en ur glikañ war <image data-l10n-name='addon-install-icon'></image> el lañser <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Aotren an askouezh-mañ da vezañ lañset en ur prenestr merdeiñ prevez
    .accesskey = A
appmenu-addon-private-browsing =
    .label = Cheñchamant evit an askouezhioù er merdeiñ prevez
    .buttonlabel = Merañ an askouezhioù
    .buttonaccesskey = a
    .secondarybuttonlabel = Mat eo, komprenet am eus
    .secondarybuttonaccesskey = M
appmenu-addon-private-browsing-message = Forzh pe askouezh nevez a ouzhpennit da { -brand-shorter-name } a vo stanket er prenestroù prevez estreget mard aotreit anezho en arventennoù.
appmenu-addon-private-browsing-learn-more = Deskit penaos merañ arventennoù an askouezhioù.
