# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = เกี่ยวกับสิทธิของคุณ
rights-intro = { -brand-full-name } เป็นซอฟต์แวร์เสรีและเปิดต้นฉบับ สร้างขึ้นโดยชุมชนของคนนับพันจากทั่วโลก มีบางสิ่งที่คุณควรทราบ:
rights-intro-point-1 = { -brand-short-name } ให้คุณใช้ภายใต้เงื่อนไขของ <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a> สิ่งนี้หมายถึงคุณอาจใช้งาน คัดลอก และแจกจ่าย { -brand-short-name } ให้กับผู้อื่น  คุณยังสามารถแก้ไขโค้ดต้นฉบับของ { -brand-short-name } ตามที่คุณต้องการเพื่อให้ตรงกับความต้องการของคุณ Mozilla Public License ยังให้สิทธิคุณในการแจกจ่ายรุ่นที่คุณแก้ไขอีกด้วย
rights-intro-point-2 = คุณไม่ได้รับสิทธิหรือสัญญาอนุญาตเครื่องหมายการค้าใด ๆ ในเครื่องหมายการค้าของมูลนิธิ Mozilla หรือบุคคลใด ๆ ไม่จำกัดทั้งชื่อหรือโลโก้ Firefox ข้อมูลเพิ่มเติมเกี่ยวกับเครื่องหมายการค้าอาจพบได้ <a data-l10n-name="mozilla-trademarks-link">ที่นี่</a>
rights-intro-point-3 = บางคุณลักษณะใน { -brand-short-name } อย่างตัวรายงานข้อขัดข้อง ให้ตัวเลือกคุณในการเสนอข้อคิดเห็นมายัง { -vendor-short-name } โดยการเลือกส่งข้อคิดเห็นหมายถึงคุณให้อนุญาต { -vendor-short-name } ในการใช้ข้อคิดเห็นนั้นเพื่อปรับปรุงผลิตภัณฑ์ เผยแพร่ข้อคิดเห็นบนเว็บไซต์ และแจกจ่ายข้อคิดเห็น
rights-intro-point-4 = วิธีที่เราใช้ข้อมูลส่วนบุคคลและข้อคิดเห็นของคุณที่ส่งมายัง { -vendor-short-name } ผ่าน { -brand-short-name } ได้รับการอธิบายไว้ใน <a data-l10n-name="mozilla-privacy-policy-link">นโยบายความเป็นส่วนตัว { -brand-short-name }</a>
rights-intro-point-4-unbranded = นโยบายความเป็นส่วนตัวใด ๆ ที่บังคับใช้สำหรับผลิตภัณฑ์นี้ควรถูกแสดงรายการไว้ที่นี่
rights-intro-point-5 = บางคุณสมบัติของ { -brand-short-name } ใช้บริการข้อมูลจากเว็บภายนอก อย่างไรก็ตาม เราไม่สามารถรับประกันได้ว่าบริการเหล่านั้นจะทำงานได้ถูกต้อง 100% หรือปราศจากความผิดพลาด รายละเอียดเพิ่มเติมรวมไปถึงวิธียกเลิกใช้บริการเหล่านั้น สามารถอ่านได้ที่ <a data-l10n-name="mozilla-service-terms-link">ข้อตกลงบริการ</a>
rights-intro-point-5-unbranded = ถ้าผลิตภัณฑ์นี้ได้ทำการรวมบริการเว็บไว้ ข้อตกลงบริการใด ๆ สำหรับบริการนั้น ๆ ที่สามารถนำไปปรับใช้ได้จะถูกลงรายการไว้ที่ส่วน<a data-l10n-name="mozilla-website-services-link">บริการเว็บ</a> หัวข้อ
rights-intro-point-6 = เพื่อเล่นเนื้อหาวิดีโอบางชนิด { -brand-short-name } ดาวน์โหลดโมดูลถอดรหัสเนื้อหาบางส่วนจากบุคคลที่สาม
rights-webservices-header = บริการข้อมูลผ่านเว็บ { -brand-full-name }
rights-webservices = { -brand-full-name } ใช้บริการข้อมูลผ่านเว็บ ("บริการ") ในการเสนอความสามารถให้กับคุณใน { -brand-short-name } รุ่นนี้ภายใต้ข้อตกลงที่อธิบายไว้ข้างล่าง ถ้าคุณไม่ต้องการใช้งานบริการเหล่านั้นหรือข้อตกลงข้างล่างนั้นไม่สามารถยอมรับได้ คุณอาจจะปิดการใช้งานความสามารถเหล่านั้น วิธีการปิดใช้งานความสามารถส่วนใดส่วนหนึ่งอาจจะพบได้ <a data-l10n-name="mozilla-disable-service-link">ที่นี่</a> คุณลักษณะและบริการอื่น ๆ สามารถปิดใช้งานได้ในค่ากำหนดแอปพลิเคชัน
rights-safebrowsing = <strong>การท่องเว็บแบบปลอดภัย: </strong>ไม่แนะนำให้ปิดใช้งานการท่องเว็บแบบปลอดภัยเพราะอาจจะส่งผลให้คุณเข้าไปยังเว็บไซต์ที่ไม่ปลอดภัย ถ้าคุณต้องการปิดความสามารถนี้อย่างถาวร โปรแกรมทำตามขั้นตอนนี้:
rights-safebrowsing-term-1 = เปิดค่ากำหนดแอปพลิเคชัน
rights-safebrowsing-term-2 = เลือก ความปลอดภัย
rights-safebrowsing-term-3 = ยกเลิกการกาเครื่องหมายตัวเลือก "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = ปิดกั้นเนื้อหาที่เป็นอันตรายและหลอกลวง
rights-safebrowsing-term-4 = การท่องเว็บแบบปลอดภัยถูกปิดใช้งานแล้ว
rights-locationawarebrowsing = <strong>การท่องเว็บที่ผูกพันกับสถานที่: </strong>เป็นการใช้งานตามความสมัครใจเสมอ ข้อมูลที่เกี่ยวข้องกับสถานที่จะไม่ถูกส่งออกหากคุณไม่อนุญาต ถ้าคุณต้องการปิดใช้งาน โปรดทำตามขั้นตอนนี้:
rights-locationawarebrowsing-term-1 = ในแถบ URL พิมพ์ <code>about:config</code>
rights-locationawarebrowsing-term-2 = พิมพ์ geo.enabled
rights-locationawarebrowsing-term-3 = คลิกสองครั้งที่ค่ากำหนด geo.enabled
rights-locationawarebrowsing-term-4 = การท่องเว็บที่ผูกพันกับสถานที่ถูกปิดใช้งานแล้ว
rights-webservices-unbranded = ภาพรวมของบริการเว็บที่ได้รวมเข้าในผลิตภัณฑ์ รวมไปถึงวิธีใช้การยกเลิกใช้งานบริการเหล่านั้น ควรนำมารวมไว้ที่นี่
rights-webservices-term-unbranded = ข้อกำหนดการของบริการใดๆ ที่เข้ากันควรจะแสดงไว้ที่นี่
rights-webservices-term-1 = { -vendor-short-name } ตลอดจนผู้ร่วมสมทบ ผู้อนุญาตให้ใช้สิทธิ และภาคีได้ร่วมทำงานเพื่อสร้างฐานข้อมูลเว็บไซต์หลอกลวงและมัลแวร์ที่มีความเที่ยงตรงและทันสมัยที่สุด อย่างไรก็ตาม กลุ่มผู้ร่วมทำงานไม่สามารถรับประกันได้ว่าข้อมูลเหล่านี้จะครอบคลุมและปราศจากความผิดพลาด เว็บไซต์ที่มีความเสี่ยงบางเว็บอาจจะไม่ถูกบ่งชี้ว่าอันตรายและบางเว็บไซต์ที่ปลอดภัยอาจจะถูกบ่งชี้ว่าอันตรายได้
rights-webservices-term-2 = { -vendor-short-name } อาจพิจารณายกเลิกหรือแก้ไขบริการเหล่านี้ได้ในภายหลัง
rights-webservices-term-3 = คุณสามารถใช้บริการเหล่านี้ในรุ่นเพิ่มเติมของ { -brand-short-name } และ { -vendor-short-name } ให้สิทธิในการทำเช่นนั้น { -vendor-short-name } และเจ้าของสัญญาอนุญาตที่เกี่ยวข้องขอสงวนสิทธิ์ต่างๆ ในบริการ ข้อตกลงเหล่านี้ไม่ได้มีไว้เพื่อจำกัดสิทธิ์ที่ถูกให้ไว้ภายใต้สัญญาอนุญาตซอฟต์แวร์เปิดรหัสใดๆ ที่ { -brand-short-name } ใช้งานอยู่และที่สอดคล้องกับต้นรหัสของ { -brand-short-name }
rights-webservices-term-4 = <strong>บริการเหล่านี้ได้รับการจัดหาให้ "ตามที่เป็น" { -vendor-short-name }, ผู้ร่วมสมทบ ผู้อนุญาตให้ใช้สิทธิ์ และผู้แจกจ่ายขอปฏิเสธการรับประกันใด ๆ ทั้งที่แจ้งไว้และโดยนัยยะ รวมถึงโดยไม่จำกัดเพียงการรับประกันว่าบริการนั้นสามารถใช้เพื่อการค้าได้และตรงตามความวัตถุประสงค์เฉพาะของคุณ คุณได้ยอมรับความเสี่ยงรวมไปถึงคุณภาพและประสิทธิภาพในการใช้บริการเพื่อวัตถุประสงค์ของคุณ เขตอำนาจศาลบางแห่งไม่อนุญาตการยกเว้นหรือจำกัดการรับประกันโดยนัยยะ ดังนั้นข้อความปฏิเสธความรับผิดนี้อาจจะไม่มีผลกับคุณ</strong>
rights-webservices-term-5 = <strong>เว้นแต่ที่กฎหมายบังคับไว้ { -vendor-short-name } ผู้ร่วมสมทบ ผู้อนุญาตให้ใช้สิทธิ์ และผู้แจกจ่ายไม่พึงต้องรับผิดแก่ความเสียหายไม่ว่าจะในรูปแบบใด ไม่ว่าจะในทางตรงหรือทางอ้อมอันเนื่องมาจากการใช้งาน { -brand-short-name } และบริการต่าง ๆ  ทั้งนี้ความเสียหายตามข้อตกลงข้างต้นนี้จะต้องไม่เกิน $500 (ห้าร้อยดอลลาร์สหรัฐอเมริกา) เขตอำนาจศาลบางแห่งไม่อนุญาตการยกเว้นหรือจำกัดความเสียหายบางประเภท ดังนั้นข้อความยกเว้นและข้อจำกัดเหล่านี้อาจไม่มีผลกับคุณ</strong>
rights-webservices-term-6 = { -vendor-short-name } อาจแก้ไขข้อกำหนดเงื่อนไขเหล่านี้ได้ตามความจำเป็นเมื่อเวลาผ่านไป ข้อกำหนดเงื่อนไขเหล่านี้ไม่อาจถูกแก้ไขหรือยกเลิกได้โดยไม่มีข้อตกลงที่เป็นลายลักษณ์อักษรจาก { -vendor-short-name }.
rights-webservices-term-7 = ข้อตกลงบริการเหล่านี้บังคับใช้โดยกฎหมายแห่งรัฐแคลิฟอร์เนีย ประเทศสหรัฐอเมริกา ทั้งนี้เว้นแต่มีข้อขัดแย้งของบทบัญญัติ หากส่วนหนึ่งส่วนใดของข้อกำหนดเงื่อนไขเหล่านี้เป็นโมฆะหรือไม่สามารถบังคับใช้ได้ ส่วนที่เหลือยังคงมีผลบังคับใช้เช่นเดิม ในกรณีที่เกิดความขัดแย้งระหว่างข้อกำหนดเงื่อนไขรุ่นที่แปลแล้วกับรุ่นภาษาอังกฤษ ให้ยึดถือรุ่นภาษาอังกฤษเป็นหลัก
