# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Важныя навіны
heading = Змены ў вашым профілі { -brand-short-name }
changed-title = Што змянілася?
changed-desc-profiles = Гэта ўстаноўка { -brand-short-name } мае новы профіль. Профіль ўяўляе сабой набор файлаў, дзе Firefox захоўвае інфармацыю, напрыклад, закладкі, паролі і перавагі карыстальнікаў.
changed-desc-dedicated = Каб зрабіць больш лёгкім і бяспечным пераключэнне паміж усталёўкамі Firefox (уключна з Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition і Firefox Nightly), гэта ўстаноўка цяпер мае адасоблены профіль. Ён не дзеліць вашы захаваныя звесткі з іншымі ўсталёўкамі Firefox аўтаматычна.
lost = <b>Вы не згубілі нічога з сваіх асабістых звестак і ўладкаванняў.</b> Калі вы ўжо захоўвалі інфармацыю ў Firefox на гэтым камп'ютары, яна даступна ў іншай устаноўцы Firefox.
options-title = Якія ў мяне варыянты?
options-do-nothing = Калі вы не будзеце нічога рабіць, вашы звесткі профілю ў { -brand-short-name } будуць адрознівацца ад дадзеных профілю ў іншых усталёўках Firefox.
options-use-sync = Калі хочаце, каб усе вашы дадзеныя профілю былі аднолькавыя ва ўсіх устаноўках Firefox, вы можаце выкарыстоўваць { -fxaccount-brand-name } для іх сінхранізацыі.
resources = Рэсурсы:
support-link = Выкарыстанне менеджара профіляў - Артыкул падтрымкі
sync-header = Увайдзіце або стварыце { -fxaccount-brand-name }
sync-label = Увядзіце сваю электронную пошту
sync-input =
    .placeholder = Эл.пошта
sync-button = Працягнуць
sync-terms = Працягваючы, вы згаджаецеся з <a data-l10n-name="terms">Умовамі абслугоўвання</a> і <a data-l10n-name="privacy">Палітыкай прыватнасці</a>.
sync-first = Упершыню карыстаецеся { -sync-brand-name }? Вам трэба ўвайсці ў кожнай устаноўцы Firefox для сінхранізацыі інфармацыі.
sync-learn = Даведацца больш
