# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } পরিচিতি
releaseNotes-link = নতুন কি
update-checkForUpdatesButton =
    .label = আপডেটের উপস্থিতি পরীক্ষা করুন
    .accesskey = C
update-updateButton =
    .label = { -brand-shorter-name } আপডেট করতে পুনরায় চালু করুন
    .accesskey = R
update-checkingForUpdates = আপডেটের উপস্থিতি পরীক্ষা করা হচ্ছে…
update-downloading = <img data-l10n-name="icon"/>আপডেট ডাউনলোড করা হচ্ছে — <label data-l10n-name="download-status"/>
update-applying = আপডেট প্রয়োগ করা হচ্ছে…
update-failed = আপডেট করতে ব্যর্থ। <label data-l10n-name="failed-link">সর্বশেষ সংস্করণ ডাউনলোড করুন</label>
update-failed-main = আপডেট করতে ব্যর্থ। <a data-l10n-name="failed-link-main">সর্বশেষ সংস্করণ ডাউনলোড করুন</a>
update-adminDisabled = সিস্টেম অ্যাডমিনিস্ট্রেটর দ্বারা আপডেট প্রাপ্তি নিষ্ক্রিয় করা হয়েছে
update-noUpdatesFound = { -brand-short-name } আপডেট করা অবস্থায় রয়েছে
update-otherInstanceHandlingUpdates = { -brand-short-name } আরেকটি প্রতিলিপিতে আপডেট হচ্ছে
update-manual = আপডেট উপলব্ধ রয়েছে এইখানে <label data-l10n-name="manual-link"/>
update-unsupported = আপনি এই সিস্টেমে আর আপডেট করতে পারবেন না।<label data-l10n-name="unsupported-link">আরও জানুন</label>
update-restarting = পুনরারম্ভ…
channel-description = আপনি বর্তমানে <label data-l10n-name="current-channel"></label> আপডেট চ্যানেলে রয়েছেন।
warningDesc-version = { -brand-short-name } বর্তমানে পরীক্ষামূলক পর্যায়ে রয়েছে এবং স্থায়ী না হতে পারে।
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> দ্বারা, একটি <label data-l10n-name="community-exp-creditsLink">বিশ্বব্যাপী সম্প্রদায়</label> যা ওয়েবকে মুক্ত, সার্বজনীন ও সকলের ব্যবহারযোগ্য করার উদ্দেশ্যে একযোগে কাজ করে চলেছে।
community-2 = { -brand-short-name } পরিকল্পিত হয়েছে <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label> দ্বারা, একটি <label data-l10n-name="community-creditsLink">বিশ্বব্যাপী সম্প্রদায়</label> যা ওয়েবকে মুক্ত, সার্বজনীন ও সকলের ব্যবহারযোগ্য করার উদ্দেশ্যে একযোগে কাজ করে চলেছে।
helpus = সাহায্য করতে চান? <label data-l10n-name="helpus-donateLink">দান করুন</label> অথবা <label data-l10n-name="helpus-getInvolvedLink">যোগদান করুন!</label>
bottomLinks-license = লাইসেন্স সংক্রান্ত তথ্য
bottomLinks-rights = ব্যবহারকারীদের অধিকার
bottomLinks-privacy = গোপনীয়তা সংক্রান্ত নীতি
aboutDialog-architecture-sixtyFourBit = 64-বিট
aboutDialog-architecture-thirtyTwoBit = 32-বিট
