# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = ਨਵਾਂ { -brand-shorter-name } ਅੱਪਡੇਟ ਮੌਜੂਦ ਹੈ।
    .buttonlabel = ਅੱਪਡੇਟ ਡਾਊਨਲੋਡ ਕਰੋ
    .buttonaccesskey = D
    .secondarybuttonlabel = ਹੁਣੇ ਨਹੀਂ
    .secondarybuttonaccesskey = N
appmenu-update-available-message = ਗਤੀ ਅਤੇ ਪਰਦੇਦਾਰੀ ਵਿੱਚ ਨਵੇਂ ਪ੍ਰਾਪਤ ਕਰਨ ਲਈ ਆਪਣੇ { -brand-shorter-name } ਨੂੰ ਅੱਪਡੇਟ ਕਰੋ।
appmenu-update-manual =
    .label = { -brand-shorter-name } ਨੂੰ ਨਵੇਂ ਵਰਜ਼ਨ ਲਈ ਅੱਪਡੇਟ ਨਹੀਂ ਕੀਤਾ ਜਾ ਸਕਿਆ।
    .buttonlabel = { -brand-shorter-name } ਡਾਊਨਲੋਡ ਕਰੋ
    .buttonaccesskey = D
    .secondarybuttonlabel = ਹੁਣੇ ਨਹੀਂ
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = { -brand-shorter-name } ਦੀ ਨਵੀਂ ਕਾਪੀ ਡਾਊਨਲੋਡ ਕਰੋ ਅਤੇ ਅਸੀਂ ਇਸ ਨੂੰ ਇੰਸਟਾਲ ਕਰਨ ਲਈ ਤੁਹਾਡੀ ਮਦਦ ਕਰਾਂਗੇ।
appmenu-update-whats-new =
    .value = ਵੇਖੋ ਕਿ ਕੀ ਨਵਾਂ ਹੈ।
appmenu-update-restart =
    .label = { -brand-shorter-name } ਅੱਪਡੇਟ ਕਰਨ ਵਾਸਤੇ ਮੁੜ-ਚਾਲੂ ਕਰੋ।
    .buttonlabel = ਮੁੜ-ਚਾਲੂ ਅਤੇ ਬਹਾਲ ਕਰੋ
    .buttonaccesskey = R
    .secondarybuttonlabel = ਹੁਣੇ ਨਹੀਂ
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = ਤੁਰੰਤ ਮੁੜ-ਚਾਲੂ ਕਰਨ ਦੇ ਬਾਅਦ { -brand-shorter-name } ਤੁਹਾਡੀਆਂ ਖੁੱਲੀਆਂ ਟੈਬਾਂ ਅਤੇ ਵਿੰਡੋ, ਜੋ ਕਿ ਤੁਸੀਂ ਪ੍ਰਾਈਵੇਟ ਬਰਾਊਜ਼ਿੰਗ ਮੋਡ 'ਚ ਨਹੀਂ ਹਨ, ਨੂੰ ਬਹਾਲ ਕਰੇਗਾ।
appmenu-addon-private-browsing-installed =
    .buttonlabel = ਠੀਕ ਹੈ, ਸਮਝ ਗਏ
    .buttonaccesskey = O
appmenu-addon-post-install-message = <image data-l10n-name='addon-install-icon'></image> ਮੇਨੂ ਵਿੱਚ <image data-l10n-name='addon-menu-icon'></image> ਤੇ ਕਲਿੱਕ ਕਰਕੇ ਆਪਣੇ ਐਡਆਨ ਦਾ ਬੰਦੋਬਸਤ ਕਰੋੋ।
appmenu-addon-post-install-incognito-checkbox =
    .label = ਇਸ ਇਕਸਟੈਨਸ਼ਨ ਨੂੰ ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋਜ਼ ਵਿੱਚ ਚੱਲਣ ਦੀ ਇਜਾਜ਼ਤ ਦਿਓ
    .accesskey = A
appmenu-addon-private-browsing =
    .label = ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋਜ਼ ਵਿੱਚ ਇਕਸਟੈਨਸ਼ਨਾਂ ਨੂੰ ਬਦਲੋ
    .buttonlabel = ਇਕਸਟੈਨਸ਼ਨਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
    .buttonaccesskey = M
    .secondarybuttonlabel = ਠੀਕ ਹੈ, ਸਮਝ ਗਏ
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-learn-more = ਸਿੱਖੋ ਕਿ ਇਕਟਨੈਸ਼ਨ ਸੈਟਿੰਗਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਦਾ ਕਿਵੇਂ ਕਰੀਏ
