# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = O vašim pravima
rights-intro = { -brand-full-name } je slobodan program otvorenog koda, izgrađen od strane zajednice tisuća programera iz cijelog svijeta. Trebali biste znati neke podatke:
rights-intro-point-1 = { -brand-short-name } vam je dostupan pod uvjetima <a data-l10n-name="mozilla-public-license-link">Mozilla Public licence</a>. To znači da možete koristiti, kopirati i distribuirati { -brand-short-name } drugima. Također ste pozvani mijenjati izvorni kod { -brand-short-name } kako god želite. Mozilla Public licenca vam daje pravo distribucije izmijenjenih inačica.
rights-intro-point-2 = Nisu vam odobrena nikakva prava na zaštitni znak ili licenciranje zaštitnih znakova Mozilla fundacije ili bilo kojih drugih strana, uključujući, ali ne i ograničeno na, ime Firefox ili logo. Dodatne informacije o zaštitnim znacima možete naći <a data-l10n-name="mozilla-trademarks-link">ovdje</a>.
rights-intro-point-3 = Neke mogućnosti u { -brand-short-name }, poput izvjestitelja o rušenjima, nude vam izbor slanja povratnih informacija na { -vendor-short-name }. Odabirom slanja povratnih informacija, automatski dopuštate da { -vendor-short-name } iskoristi vaše informacije za unaprijeđenje svojih proizoda, objavi informacije na svojim web stranicama i to distribuira vaše povratne informacije.
rights-intro-point-4 = Način na koji koristimo vaše osobne informacije i povratne informacije poslane na { -vendor-short-name } kroz { -brand-short-name } je opisan u <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name } politici privatnosti</a>.
rights-intro-point-4-unbranded = Bilo koje primjenjivo pravilo privatnosti za ovaj proizvod mora biti navedeno ovdje.
rights-intro-point-5 = Neke { -brand-short-name } mogućnosti koriste informacijske usluge na webu, međutim, ne možemo jamčiti da su one 100% točne i bez grešaka. Više detalja, uključujući i informacije kako onemogućiti ovu mogućnosti koje koriste te usluge možete pronaći u <a data-l10n-name="mozilla-service-terms-link">uvjetima usluga</a>.
rights-intro-point-5-unbranded = Ukoliko ovaj proizvod uključuje web usluge, svi primjenjivi uvjeti za tu uslugu bi trebali biti povezani na <a data-l10n-name="mozilla-website-services-link">Usluge web stranica</a> odjeljku.
rights-intro-point-6 = Da bi mogao reproducirati neke vrste video zapisa, { -brand-short-name } preuzima određene module za dekripciju od trećih strana.
rights-webservices-header = { -brand-full-name }ove informacijske usluge na webu
rights-webservices = Za pružanje nekih mogućnosti u ovoj binarnoj inačici, { -brand-full-name } koristi informacijske usluge na webu pod niže navedenim uvjetima. Ako ne želite koristiti jednu ili više ovih usluga ili su vam niže navedeni uvjeti neprihvatljivi, možete isključiti mogućnost ili uslugu/e. Upute za isključivanje određene mogućnosti ili usluge možete pronaći <a data-l10n-name="mozilla-disable-service-link">ovdje</a>. Druge mogućnosti i usluge se mogu onemogućiti u postavkama programa.
rights-safebrowsing = <strong>Sigurno pretraživanje: </strong>Nije preporučljivo onemogućavati značajku Sigurno pretraživanje jer u tom slučaju niste zaštićeni od pristupanja nesigurnim stranicama.  Ako želite u potpunosti onemogućiti ovu mogućnost, slijedite ove korake:
rights-safebrowsing-term-1 = Otvorite postavke aplikacije
rights-safebrowsing-term-2 = Odaberite kategoriju Sigurnost
rights-safebrowsing-term-3 = Isključite mogućnost kako biste "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Blokiraj opasni i zavaravajući sadržaj
rights-safebrowsing-term-4 = Sigurno je pretraživanje onemogućeno
rights-locationawarebrowsing = <strong>Geolokacijsko pretraživanje: </strong>je uvijek dobrovoljno.  Informacije o lokaciji se nikada ne šalju bez vašeg dopuštenja.  Ako želite u potpunosti onemogućiti ovu mogućnost, slijedite ove korake:
rights-locationawarebrowsing-term-1 = U adresnu traku upišite <code>about:config</code>
rights-locationawarebrowsing-term-2 = Upišite geo.enabled
rights-locationawarebrowsing-term-3 = Dvaput kliknite na postavku geo.enabled
rights-locationawarebrowsing-term-4 = Geolokacijsko pretraživanje je sada isključeno
rights-webservices-unbranded = Pregled usluga za web stranice, koje ovaj proizvod uključuje, uz upute kako ih onemogućiti, ako je moguće, trebao bi se nalaziti ovdje.
rights-webservices-term-unbranded = Bilo koji primijenjivi uvjeti usluga za ovaj proizvod bi trebali biti navedeni ovdje.
rights-webservices-term-1 = { -vendor-short-name } i njegovi doprinositelji, izdavatelji licencija i partneri rade na pružanju najpreciznijih i ažurnih usluga.  Međutim, ne možemo jamčiti da su ove informacije sveobuhvatne i bez grešaka.  Na primjer, usluga Sigurno pretraživanje možda neće identificirati neke rizične stranice ili će pak neke sigurne stranice označiti rizičnima. Lokacije u usluzi geolociranja su procjene naših pružatelja usluge koji ne jamče preciznost dobivenih lokacija.
rights-webservices-term-2 = { -vendor-short-name } može ukinuti ili promijeniti uslugu prema vlastitom nahođenju.
rights-webservices-term-3 = Uz danu inačicu { -brand-short-name }a ste slobodni koristiti ove usluge i { -vendor-short-name } vam daje pravo za to.  { -vendor-short-name } i njezini pružatelji licence zadržavaju sva ostala prava u uslugama.  Ovi uvjeti nisu namjenjeni ograničavanju vaših prava danih u licencama otvorenog kôda koje se primjenjuju na { -brand-short-name } i odgovarajući izvorni kôd { -brand-short-name }a.
rights-webservices-term-4 = <strong>Usluge su pružete "kakve jesu". { -vendor-short-name }, njegovi razvijatelji, vlasnici licenca i distributeri, poriču sva jamstva, izražena ili podrazumijevana, uključujući bez ograničenja, jamstva da su usluge uporabljive kvalitete i da su primjenjive vašim potrebama. Snosite cijeli rizik odabira Usluga za svoje potrebe i kvalitete i performansi Usluga. Neki entiteti ne dozvoljavaju izizueće ili ograničavanje podrazumijevanih jamstava, pa se ovo odricanje možda ne primjenjuje i na vas.</strong>
rights-webservices-term-5 = <strong>Osim kada to zahtijeva zakon, { -vendor-short-name }, njegovi razvijatelji, vlasnici licenca i distributeri neće biti odgovorni za nikakvu indirektnu, posebnu, slučajnu, posljedičnu, kaznenu ili primjernu štetu nastalu od ili na bilo koji način povezano uz uporabu { -brand-short-name } i njegovih Usluge. Ukupna odgovornost pod ovim uvjetima neće prelaziti $500 (pet stotina dolara). Neki entiteti ne dozvoljavaju izizueće ili ograničavanje podrazumijevanih jamstava, pa se ovo odricanje možda ne primjenjuje i na vas.</strong>
rights-webservices-term-6 = { -vendor-short-name } može izmijeniti ove uvjete s vremena na vrijeme, ukoliko je to potrebno. Ovi se uvjeti ne mogu promijeniti  ili ukinuti bez pisanog sporazuma s { -vendor-short-name }.
rights-webservices-term-7 = Ovi uvjeti su pokriveni zakonima države Kalifornija, SAD, izuzimajući je iz konflikata u zakonskim propisima. Ako je bilo koji dio ovih uvjeta nevaljan ili neprimijenjiv, preostali dio ostaje u punoj snazi i djelovanju. U slučaju konflikta između prevedene inačice ovih uvjeta i inačice na engleskom jeziku, inačica na engleskom jeziku je primijenjiva.
