# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = ട്രബിള്‍ഷൂട്ടിങിനുള്ള വിവരം
page-subtitle = This page contains technical information that might be useful when you're trying to solve a problem. If you are looking for answers to common questions about { -brand-short-name }, check out our <a data-l10n-name="support-link">support web site</a>.
crashes-title = തകരാര്‍ രേഖപ്പെടുത്തുന്ന റിപോര്‍ട്ടുകള്‍
crashes-id = ഐഡി രേഖപ്പെടുത്തുക
crashes-send-date = സമര്‍പ്പിച്ചവ
crashes-all-reports = എല്ലാ തകരാര്‍ റിപ്പോര്‍ട്ടുകളും
crashes-no-config = തകരാറിന്റെ റിപോര്‍ട്ട് കാണിയ്ക്കുന്നതിനു് ഈ പ്രയോഗം ക്രമീകരിച്ചിട്ടില്ല.
extensions-title = എക്സ്റ്റെന്‍ഷനുകള്‍
extensions-name = പേരു്
extensions-enabled = പ്രവര്‍ത്തന സജ്ജം
extensions-version = പതിപ്പു്
extensions-id = ഐഡി
features-title = { -brand-short-name } സവിശേഷതകൾ
features-name = പേര്
features-version = പതിപ്പ്
app-basics-title = പ്രയോഗത്തിന്റെ അടിസ്ഥാന വിശേഷതകള്‍
app-basics-name = പേരു്
app-basics-version = പതിപ്പു്
app-basics-build-id = ബില്‍ഡ് ഐഡി
app-basics-update-channel = ചാനല്‍ പുതുക്കുക
app-basics-update-history = നാള്‍വഴി പുതുക്കുക
app-basics-show-update-history = പരിഷ്കരണ നാള്‍വഴി കാണിക്കുക
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] പ്രൊഫൈല്‍ ഡയറക്ടറി
       *[other] പ്രൊഫൈല്‍ ഫോള്‍ഡര്‍
    }
app-basics-enabled-plugins = പ്രവര്‍ത്തന സജ്ജമായ പ്ലഗിനുകള്‍
app-basics-build-config = ബിള്‍ഡ് ക്രമീകരണം
app-basics-user-agent = യൂസര്‍ ഏജന്റ്
app-basics-memory-use = മെമ്മറിയുടെ ഉപയോഗം
app-basics-service-workers = രജിസ്റ്റര്‍ ചെയ്‌ത Service Workers
app-basics-multi-process-support = അനവധി പ്രക്രിയയ്ക്കുള്ള ജാലകങ്ങള്‍
app-basics-safe-mode = സുരക്ഷ മോഡ്
show-dir-label =
    { PLATFORM() ->
        [macos] ഫൈന്‍ഡറില്‍ കാണിയ്ക്കുക
        [windows] ഫോൾഡർ തുറക്കുക
       *[other] ഡയറക്ടറി തുറക്കുക
    }
modified-key-prefs-title = മാറ്റം വരുത്തിയ പ്രധാനപ്പെട്ട മുന്‍ഗണനകള്‍
modified-prefs-name = പേരു്
modified-prefs-value = മൂല്ല്യം
user-js-title = user.js മുന്‍ഗണനകള്‍
user-js-description = നിങ്ങളുടെ പ്രൊഫൈല്‍ ഫോള്‍ഡറില്‍ ഒരു <a data-l10n-name="user-js-link">user.js file</a> അടങ്ങുന്നു. ഇതില്‍ { -brand-short-name } തയ്യാറാക്കാത്ത മുന്‍ഗണനങ്ങള്‍ ഉള്‍പ്പെടുന്നു.
locked-key-prefs-title = പൂട്ടിയ പ്രധാനപ്പെട്ട മുന്‍ഗണനകള്‍
locked-prefs-name = പേരു്
locked-prefs-value = മൂല്ല്യം
graphics-title = ഗ്രാഫിക്ക്സ്
graphics-features-title = സവിശേഷതകൾ
graphics-decision-log-title = തീരുമാനങ്ങളുടെ ലോഗ്
js-title = ജാവാസ്ക്രിപ്റ്റ്
js-incremental-gc = വര്‍ദ്ധിച്ച ജിസി
a11y-title = ആക്സസിബിളിറ്റി
a11y-activated = സജീവമാക്കിയിരിയ്ക്കുന്നു
a11y-force-disabled = ആക്സസിബിളിറ്റി തടയുക
library-version-title = ലൈബ്രറി പതിപ്പുകള്‍
copy-text-to-clipboard-label = ക്ലിപ്പ്ബോര്‍ഡിലേക്കു് വാചകം പകര്‍ത്തുക
copy-raw-data-to-clipboard-label = ക്ലിപ്പ്ബോര്‍ഡിലേക്കു് ഡേറ്റാ പകര്‍ത്തുക
sandbox-title = സാന്റ്ബോക്സ്
sandbox-sys-call-log-title = നിരസിച്ച സിസ്റ്റം കോളുകൾ
sandbox-sys-call-index = #
sandbox-sys-call-age = നിമിഷങ്ങൾക്ക് മുമ്പ്
safe-mode-title = സേഫ് മോഡ് ശ്രമിച്ചുനോക്കുക
restart-in-safe-mode-label = ആഡ്-ഓണുകള്‍ പ്രവര്‍ത്തന രഹിതമാക്കി വീണ്ടും ആരംഭിയ്ക്കുക…
media-output-devices-title = ഔട്ട്പുട്ട് ഉപകരണങ്ങൾ
media-input-devices-title = ഇൻപുട്ട് ഉപകരണങ്ങൾ
media-device-name = പേര്
media-device-group = ഗ്രൂപ്പ്
media-device-state = അവസ്ഥ
media-device-channels = ചാനലുകൾ
media-device-rate = നിരക്ക്
# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] അവസാന { $days } ദിവസത്തിനുള്ള തകരാര്‍ റിപോര്‍ട്ടുകള്‍
       *[other] അവസാന { $days } ദിവസത്തേക്കുള്ള തകരാര്‍ റിപോര്‍ട്ടുകള്‍
    }
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] { $minutes } മിനിറ്റ് മുമ്പു്
       *[other] { $minutes } മിനിറ്റുകള്‍ മുമ്പു്
    }
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] { $hours } മണിക്കൂര്‍ മുമ്പു്
       *[other] { $hours } മണിക്കൂറുകള്‍ മുമ്പു്
    }
# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] { $days } ദിവസം മുമ്പു്
       *[other] { $days } ദിവസങ്ങള്‍ മുമ്പു്
    }
# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] എല്ലാ തകരാര്‍ റിപ്പോര്‍ട്ടുകള്‍ (നല്‍കിയ സമയ പരിധിയില്‍ ബാക്കിയുള്ള { $reports }  തകരാര്‍ ഉള്‍പ്പടെ)
       *[other] എല്ലാ തകരാര്‍ റിപ്പോര്‍ട്ടുകള്‍ (നല്‍കിയ സമയ പരിധിയില്‍ ബാക്കിയുള്ള { $reports }  തകരാറുകള്‍ ഉള്‍പ്പടെ)
    }
raw-data-copied = ക്ലിപ്പ്ബോര്‍ഡിലേക്കു് ഡേറ്റാ പകര്‍ത്തിയിരിയ്ക്കുന്നു
text-copied = ക്ലിപ്പ്ബോര്‍ഡിലേക്കു് വാചകം പകര്‍ത്തിയിരിയ്ക്കുന്നു

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = നിങ്ങളുടെ ഗ്രാഫിക്സ് ഡ്രൈവര്‍ പതിപ്പിനു് ലഭ്യമല്ല.
blocked-gfx-card = പരിഹരിയ്ക്കാത്ത ഡ്രൈവര്‍ പ്രശ്നങ്ങള്‍ കാരണം നിങ്ങളുടെ ഗ്രാഫിക്സ് ഡ്രൈവര്‍ പതിപ്പിനു് ലഭ്യമല്ല.
blocked-os-version = നിങ്ങളുടെ ഓപ്പറേറ്റിങ് സിസ്റ്റം പതിപ്പിനു് ലഭ്യമല്ല
blocked-mismatched-version = രജിസ്ട്രിയിലും ഡി‌എല്‍എലിലും ഉള്ള പതിപ്പുകള്‍ തമ്മിലുള്ള പൊരുത്തക്കേട് കാരണം താങ്കളുടെ ഗ്രാഫിക്സ് ഡ്രൈവര്‍ തടഞ്ഞിരിക്കുന്നു.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = നിങ്ങളുടെ ഗ്രാഫിക്സ് ഡ്രൈവര്‍ പതിപ്പിനു് ലഭ്യമല്ല. Try updating your graphics driver to version { $driverVersion } അല്ലെങ്കില്‍ പുതിയ പതിപ്പിലേക്കു് നിങ്ങളുടെ ഗ്രാഫിക്സ് ഡ്രൈവര്‍ പരിഷ്കരിയ്ക്കുന്നതിനായി ശ്രമയിക്കുക.
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = ClearType പരാമീറ്ററുകള്‍
compositing = കമ്പോസിറ്റിങ്ങ്
hardware-h264 = H264 ഹാര്‍ഡ്‍വെയര്‍ ഡീകോഡിംഗ്
main-thread-no-omtc = പ്രധാന ത്രെഡ്, OMTC ഇല്ല
yes = അതെ
no = അല്ല

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = കണ്ടെത്തി
missing = കാണുന്നില്ല
gpu-description = വിവരണം
gpu-vendor-id = വെണ്ടര്‍ ഐഡി
gpu-device-id = ഡിവൈസ് ഐഡി
gpu-subsys-id = സബ്സിസ് ഐഡി
gpu-drivers = ഡ്രൈവറുകള്‍
gpu-ram = RAM
gpu-driver-version = ഡ്രൈവറിന്റെ പതിപ്പു്
gpu-driver-date = ഡ്രൈവറിന്റെ തീയതി
gpu-active = സജീവം
webgl1-wsiinfo = WebGL1 ഡ്രൈവര്‍ WSI വിവരങ്ങള്‍
webgl1-renderer = WebGL1 ഡ്രൈവര്‍ റെന്‍ഡറര്‍
webgl1-version = WebGL1 ഡ്രൈവര്‍ പതിപ്പ്
webgl1-driver-extensions = WebGL1 ഡ്രൈവര്‍ എക്സ്റ്റന്‍ഷനുകള്‍
webgl1-extensions = WebGL1 എക്സ്റ്റന്‍ഷനുകള്‍
webgl2-wsiinfo = WebGL2 ഡ്രൈവര്‍ WSI വിവരങ്ങള്‍
webgl2-renderer = WebGL 2 ഡ്രൈവര്‍ റെന്‍ഡറര്‍
webgl2-version = WebGL 2 ഡ്രൈവര്‍ പതിപ്പ്
webgl2-driver-extensions = WebGL 2 ഡ്രൈവര്‍ എക്സ്റ്റന്‍ഷനുകള്‍
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = ബഗ് { $bugNumber }
glcontext-crash-guard = ഓപ്പണ്‍ജിഎല്‍
reset-on-next-restart = അടുത്ത റീസ്റ്റാർട്ടിൽ പുനഃസജ്ജമാക്കുക
gpu-process-kill-button = GPU പ്രോസസ്സ് അവസാനിപ്പിക്കുക
max-audio-channels = പരമാവധി ചാനലുകൾ
min-lib-versions = പ്രതീക്ഷിച്ച ഏറ്റവും കുറഞ്ഞ പതിപ്പു്
loaded-lib-versions = ഉപയോഗത്തിലുള്ള പതിപ്പു്
has-seccomp-bpf = Seccomp-BPF (സിസ്റ്റം കോള്‍ ഫില്‍റ്ററിങ്)
has-seccomp-tsync = Seccomp ത്രെഡ്ഡ് സിങ്ക്രണൈസേഷൻ
has-user-namespaces = ഉപയോക്താവിന്റെ നേമ്സ്പേസ്സുകള്‍
has-privileged-user-namespaces = പ്രബലമായ പ്രക്രിയകള്‍ക്കു വേണ്ടിയുള്ള ഉപയോക്താവിന്റെ നേമ്സ്പേസ്സുകള്‍
can-sandbox-content = ഉള്ളടക്ക പ്രക്രിയകളുടെ സാന്റ്‌‌‌‌‌ബോക്സിങ്ങ്
can-sandbox-media = മീഡിയാ പ്ലഗിന്‍ സാന്റ്‌‌‌‌‌ബോക്സിങ്ങ്
sandbox-proc-type-content = ഉള്ളടക്കം
sandbox-proc-type-file = ഫയൽ ഉള്ളടക്കം
sandbox-proc-type-media-plugin = മീഡിയ പ്ലഗിൻ
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = ഉപയോക്താവു് സജ്ജമാക്കി
multi-process-status-1 = സ്വതേ സജ്ജമായി
multi-process-status-2 = പ്രവര്‍ത്തന രഹിതം
multi-process-status-unknown = അവസ്ഥ അറിയില്ല
async-pan-zoom = അങ്ങോട്ടും ഇങ്ങോട്ടും വലിക്കുക/വലുതാക്കുക
apz-none = ഒന്നുമില്ല
wheel-enabled = വീല്‍ ഇന്‍പുട്ട് പ്രവര്‍ത്തനസജ്ജമാക്കിയിരിക്കുന്നു
touch-enabled = ടച്ച് ഇന്‍പുട്ട് പ്രവര്‍ത്തന സജ്ജമാക്കിയിരിക്കുന്നു
drag-enabled = സ്ക്രോള്‍ബാര്‍ വലിച്ചില്‍ പ്രവര്‍ത്തനസജ്ജമാക്കിയിരിക്കുന്നു
keyboard-enabled = കീബോർഡ് സജീവമാക്കി

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = പിന്തുണയില്ലാത്ത pref: { $preferenceKey } കാരണം അസിങ്ക് വീല്‍ ഇന്‍പുട്ട് പ്രവര്‍ത്തനരഹിതമാക്കിയിരിക്കുന്നു
touch-warning = പിന്തുണയില്ലാത്ത pref: { $preferenceKey } കാരണം അസിങ്ക് ടച്ച് ഇന്‍പുട്ട് പ്രവര്‍ത്തനരഹിതമാക്കിയിരിക്കുന്നു

## Strings representing the status of the Enterprise Policies engine.

