# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Naidheachdan cudromach
heading = Atharraichean air a’ phròifil { -brand-short-name } agad
changed-title = Dè dh’atharraich?
changed-desc-profiles = Tha pròifil ùr aig an stàladh seo de { -brand-short-name }. ’S iad na faidhlichean anns an sàbhail Firefox rudan mar comharran-lìn, faclan-faire agus roghainnean a’ chleachdaiche a tha ann am pròifil.
changed-desc-dedicated = Airson ’s gum bi e nas fhasa agus nas sàbhailte leum a ghearradh eadar diofar stàlaidhean de Firefox (a’ gabhail a-staigh Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition agus Firefox Nightly), tha pròifil shònraichte aig an stàladh seo a-nis. Cha cho-roinn e fiosrachadh a shàbhaileas tu le stàlaidhean eile de Firefox gu fèin-obrachail.
lost = <b>Cha do chaill thu dàta pearsanta no gnàthachadh sam bith.</b> Ma shàbhail thu fiosrachadh ann am Firefox air a’ choimpiutair seo mu thràth, bidh e ri do làimh ann an stàladh eile de Firefox fhathast.
options-title = Dè na roghainnean a tha agam?
options-do-nothing = Mur an dèan thu dad, bidh an dàta sa phròifil agad ann am { -brand-short-name } eadar-dhealaichte on dàta phròifil ann an stàlaidhean eile de Firefox.
options-use-sync = Ma tha thu airson ’s gum bi an dàta sa phròifil agad co-ionnann anns gach stàladh de Firefox, is urrainn dhut { -fxaccount-brand-name } a chleachdadh gus an cumail sioncronaichte.
resources = Goireasan:
support-link = A’ cleachdadh manaidsear nam pròifilean - Artaigeal taice
sync-header = Clàraich a-steach no cruthaich { -fxaccount-brand-name }
sync-label = Cuir a-steach am post-d agad
sync-input =
    .placeholder = Post-d
sync-button = Lean air adhart
sync-terms = Ma leanas tu air adhart, bidh thu ag aontachadh ri <a data-l10n-name="terms">teirmichean na seirbheise</a> agus <a data-l10n-name="privacy">aithris na prìobhaideachd</a>.
sync-first = A’ cleachdadh { -sync-brand-name } a’ chiad turas? Bidh agad ri clàradh a-steach air gach stàladh de Firefox airson am fiosrachadh agad a shioncronachadh.
sync-learn = Barrachd fiosrachaidh
