# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Scito inganevole
safeb-blocked-malware-page-title = Vixitâ sto scito o porieiva aroinâ o computer
safeb-blocked-unwanted-page-title = Sto scito o peu contegnî di programmi pericolozi
safeb-blocked-harmful-page-title = Sto scito o peu contegnî do malware
safeb-blocked-phishing-page-short-desc = { -brand-short-name } o l'à blocou sta pagina perché a te peu inbrogiâ e fate fâ quarcösa de pericolozo comme instalâ software ò rivelâ informaçioin personâ comme poule segrete ò carte a poffo.
safeb-blocked-malware-page-short-desc = { -brand-short-name } o l'à blocou sta pagina perché a preuva a instalâ do software grammo che te peu xatâ ò scancelâ informaçioin personâ into computer.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } o l'à blocou sta pagina perché a peu provâ a inbrogiâte e fate instalâ di programmi che en pericolozi pe-a teu esperiensa de navegaçion (prezenpio cangiando a teu pagina iniçiâ ò mostrando de publicitæ in ciù inti sciti che ti vixiti).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } o l'à blocou sta pagina perché a preuva a instalâ de app gramme che te peu xatâ ò scancelâ de teu informaçioin (prezenpio föto, poule segrete, mesaggi e carte a poffo).
safeb-palm-advisory-desc = Conseggio da <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Vanni inderê
safeb-palm-see-details-label = Mostra detalli
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> o l'é stæto <a data-l10n-name='error_desc_link'>segnalou comme scito inganevole</a>. Ti peu <a data-l10n-name='report_detection'>segnalâ un erô de segnalaçion</a> ò <a data-l10n-name='ignore_warning_link'>ignorâ o reizego</a> e anâ in sto scito pericolozo.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> o l'é stæto <a data-l10n-name='error_desc_link'>segnalou comme scito inganevole</a>. Ti peu <a data-l10n-name='report_detection'>segnalâ un erô de segnalaçion</a>.
safeb-blocked-phishing-page-learn-more = Atre informaçioin in sci sciti inganevole e phishing into <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Atre informaçioin in sciâ proteçion de { -brand-short-name }’s contra Phishing e Malware into <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> o l'é stæto <a data-l10n-name='error_desc_link'>segnalou de contegnî software grammo</a>. Ti peu <a data-l10n-name='report_detection'>segnalâ un erô de segnalaçion</a> ò <a data-l10n-name='ignore_warning_link'>ignorâ o reizego</a> e anâ in sto scito pericolozo.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> o l'é stæto <a data-l10n-name='error_desc_link'>segnalou de contegnî software grammo</a>. Ti peu <a data-l10n-name='report_detection'>segnalâ un erô de segnalaçion</a>.
safeb-blocked-malware-page-learn-more = Inpara de ciù in sci contegnui web pericolozi comme viros e atro malware e comme protezze o computer into <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Atre informaçioin in sciâ proteçion de { -brand-short-name }’s contra Phishing e Malware into <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> o l'é stæto <a data-l10n-name='error_desc_link'>segnalou de contegnî software grammo</a>. Ti peu <a data-l10n-name='ignore_warning_link'>ignorâ o reizego</a> e anâ in sto scito pericolozo.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> o l'é stæto <a data-l10n-name='error_desc_link'>segnalou de contegnî do software pericolozo</a>.
safeb-blocked-unwanted-page-learn-more = Atre informaçioin in sci programmi pericolozi e no vosciui inta <a data-l10n-name='learn_more_link'>Politica do software no vosciuo</a>. Atre informaçioin in sciâ proteçion de { -brand-short-name }’s contra Phishing e Malware into <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> o l'é stæto <a data-l10n-name='error_desc_link'>segnalou de contegnî de aplicaçioin potensialmente pericoloze</a>. Ti peu <a data-l10n-name='ignore_warning_link'>ignorâ o reizego</a> e anâ in sto scito pericolozo.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> o l'é stæto <a data-l10n-name='error_desc_link'>segnalou de contegnî de aplicaçioin potensialmente pericoloze</a>.
safeb-blocked-harmful-page-learn-more = Atre informaçioin in sciâ proteçion de { -brand-short-name }’s contra Phishing e Malware into <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Questo o no l'é 'n scito inganevole…
    .accesskey = g
