# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Ei ny { -brand-shorter-name }-oppdatering er tilgjengeleg.
    .buttonlabel = Last ned oppdatering
    .buttonaccesskey = L
    .secondarybuttonlabel = Ikkje no
    .secondarybuttonaccesskey = k
appmenu-update-available-message = Oppdater { -brand-shorter-name } for det siste innan fart og personvern.
appmenu-update-manual =
    .label = { -brand-shorter-name } kan ikkje oppdaterast til siste versjon.
    .buttonlabel = Last ned { -brand-shorter-name }
    .buttonaccesskey = L
    .secondarybuttonlabel = Ikkje no
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Last ned eit heilt nytt eksemplar av { -brand-shorter-name } og vi vil hjelpe deg med å installere han.
appmenu-update-whats-new =
    .value = Sjå kva som er nytt.
appmenu-update-restart =
    .label = Start på nytt for å oppdatere { -brand-shorter-name }.
    .buttonlabel = Start på nytt og bygg oppatt
    .buttonaccesskey = r
    .secondarybuttonlabel = Ikkje no
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Etter ein rask omstart, vil { -brand-shorter-name } byggje oppatt alle opne faner og vindauge som ikkje er i privat nettlesingsmodus.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, eg forstår
    .buttonaccesskey = O
appmenu-addon-post-install-message = Administrer tillegga dine ved å klikke på <image data-l10n-name='addon-install-icon'></image> i <image data-l10n-name='addon-menu-icon'></image> menyen.
appmenu-addon-post-install-incognito-checkbox =
    .label = Tillat denne utvidinga å kløyre i private vindauge
    .accesskey = T
appmenu-addon-private-browsing =
    .label = Endring av korleis utvidingar fungerer i private vindauge
    .buttonlabel = Handter tillegg
    .buttonaccesskey = H
    .secondarybuttonlabel = Ok, eg forstår
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Eventuelle nye utvidingar du legg til { -brand-shorter-name } vil ikkje fungere i private vindauge med mindre du tillèt dette i innstillingane.
appmenu-addon-private-browsing-learn-more = Les om korleis du handterer utvidingsinnstillingar.
