# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = O razvojnim alatima
enable-title = Omogući Firefox razvojne alate
enable-inspect-element-title = Omogući Firefox razvojnim alatima da koriste inspekciju elementa
enable-inspect-element-message = Istražite i uredite HTML i CSS pomoću Inspektora iz Razvojnih alata.
enable-about-debugging-message = Razvijajte i debagirajte Web ekstenzije, web workere, service workere i još mnogo toga pomoću Firefox razvojnih alata.
enable-key-shortcut-message = Aktivirali ste kraticu Razvojnih alata. Ako je to bilo greškom, možete zatvoriti ovaj tab.
enable-menu-message = Usavršite HTML, CSS i JavaScript kod vaše web stranice pomoću alata poput Inspektora i Debagera.
enable-common-message = Firefox razvojni alati su izvorno onemogućeni kako bi vam dali više kontrole nad vašim browserom.
enable-learn-more-link = Saznajte više o Razvojnim alatima
enable-enable-button = Omogući Razvojne alate
enable-close-button = Zatvori ovaj tab
welcome-title = Dobrodošli u Firefox razvojne alate!
newsletter-title = Mozilla Developer Newsletter
newsletter-message = Neka vijesti, trikovi i resursi za developere stignu direktno u vaš inbox.
newsletter-email-placeholder =
    .placeholder = E-mail
newsletter-privacy-label = Saglasan/a sam da Mozilla upravlja mojim podacima kao što je objašnjeno u ovoj <a data-l10n-name="privacy-policy">Polici privatnosti</a>.
newsletter-subscribe-button = Pretplati
newsletter-thanks-title = Hvala!
newsletter-thanks-message = Ako niste ranije potvrdili pretplatu na Mozillin newsletter, možda ćete ipak morati. Molimo provjerite vaš inbox ili vaše spam filtere za e-mail od nas.
footer-title = Firefox Developer Edition
footer-message = Tražite više od običnih Razvojnih alata? Predstavljamo vam Firefox browser koji je izgrađen specifično za developere i moderan workflow.
footer-learn-more-link = Saznajte više
features-learn-more = Saznajte više
features-inspector-title = Inspektor
features-inspector-desc = Izvršite inspekciju i unaprijedite kod za pixel-perfect layoute. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konzola
features-console-desc = Pratite CSS, JavaScript, sigurnosne i mrežne probleme. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Debager
features-debugger-desc = Moćan JavaScript debager s podrškom za vaš framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Mreža
features-network-desc = Pratite mrežne zahtjeve koji mogu usporiti ili blokirati vašu stranicu. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Spremište
features-storage-desc = Dodajte, promijenite i uklonite keš, kolačiće, baze podataka i podatke sesija. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Responzivni dizajn režim
features-responsive-desc = Testirajte stranice na emuliranim uređajima u vašem browseru. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Vizualno uređivanje
features-visual-editing-desc = Usavršite animacije, poravnanje i padding. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Performanse
features-performance-desc = Deblokirajte uska grla, optimizujte procese i assete. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memorija
features-memory-desc = Pronađite curenja memorije i ubrzajte vašu aplikaciju. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Neuspješan zahtjev za pretplatu ({ $errorDescription }).
newsletter-error-unknown = Desila se neočekivana greška.
newsletter-error-timeout = Zahtjev za pretplatu je istekao.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Uspješno ste omogućili Razvojne alate! Da započnete, istražite Web Developer meni ili otvorite alate sa { $shortcut }.
