# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Rutzijol { -brand-full-name }
releaseNotes-link = Achike natzijoj
update-checkForUpdatesButton =
    .label = Kekanöx taq k'exoj
    .accesskey = K
update-updateButton =
    .label = Titikirisäx chik richin nik'ex { -brand-shorter-name }
    .accesskey = T
update-checkingForUpdates = Tajin yekanöx taq k'exoj ruwäch…
update-downloading = <img data-l10n-name="icon"/>Tajin niqasäx k'exoj ruwäch — <label data-l10n-name="download-status"/>
update-applying = Rokisaxik k'exoj ruwäch…
update-failed = Man xuchäp ta ri k'exoj ruwäch. <label data-l10n-name="failed-link">Taqasaj ri k'ak'a' ruwäch</label>
update-failed-main = Man xuchäp ta ri k'exoj ruwäch. <a data-l10n-name="failed-link-main">Taqasaj ri k'ak'a' ruwäch</a>
update-adminDisabled = Xechup ri taq k'exoj ruwäch ruma ri runuk'samajel aq'inoj
update-noUpdatesFound = { -brand-short-name } jalon chik
update-otherInstanceHandlingUpdates = { -brand-short-name } tajin nik'ex pa jun chik molaj
update-manual = Wachel taq k'exoj ruwäch pa <label data-l10n-name="manual-link"/>
update-unsupported = Man tikirel ta chik nab'an taq k'exoj pa re q'inoj re'. <label data-l10n-name="unsupported-link">Tetamäx ch'aqa' chik</label>
update-restarting = Tajin nitikirisäx chik…
channel-description = Tajin nawokisaj ri q'axab'äl <label data-l10n-name="current-channel"></label> kiq'axab'al taq k'exoj ruwäch.
warningDesc-version = { -brand-short-name } choj ok nitojtob'ëx, rik’in jub'a' man pa rub'eyal ta.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> jun <label data-l10n-name="community-exp-creditsLink">chijun ach'ala'il</label> yojsamäj pa q'u'ch richin jantape' jaqäl chuqa' okel nisamajïx ri k'amaya'l.
community-2 = { -brand-short-name } wachib'en ruma <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, jun <label data-l10n-name="community-creditsLink">chijun ach'ala'il</label> yojsamäj junam richin jantape' jaqäl chuqa' okel nisamajïx ri k’amaya'l.
helpus = ¿La nawajo' yato'on? <label data-l10n-name="helpus-donateLink">Taya' jun sipanïk</label> o <label data-l10n-name="helpus-getInvolvedLink">¡kato'on!</label>
bottomLinks-license = Na'oj chi rij ya'öl q’ij
bottomLinks-rights = Kich'ojib'al K'isib'äl-Okisanel
bottomLinks-privacy = Runa'ojil ichinanem
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
