# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Nïm taq Rutzijol
heading = Jaloj pan { -brand-short-name } ruwäch ab'i'
changed-title = ¿Achike xjalatäj?
changed-desc-profiles = Re ruyakoj { -brand-short-name } k'o jun k'ak'a' ruwäch rub'i'. Ri ruwäch b'i'aj jun molaj yakb'äl, akuchi' ri Firefox yeruyäk etamab'äl chi kij taq yaketal, ewan taq tzij chuqa' taq rajowab'al okisanel.
changed-desc-dedicated = Richin man k'ayew ta chuqa' ütz nik'exlöx chi kikojol ri Firefox (pa Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition chuqa' Firefox Nightly), re yakoj re' wakami k'o jun ruwäch rub'i'. Man nukomonij ta pa ruyonil ri awetamab'al yakon pa ch'aqa' chik taq ruyakoj Firefox.
lost = <b>Majun awetamab'al xasäch ni xa ta ri taq awichinanem.</b>We xe'ayäk yan taq etamab'äl pa re Firefox re' pa re kematz'ib' re', k'a wachel na pa jun chi ruyakoj Firefox.
options-title = ¿Achike ütz ninb'än?
options-do-nothing = We majun nab'än, ri rutzij ruwäch ab'i' pa { -brand-short-name } jalon kik'in ri taq rutzij ruwäch ab'i' pa ch'aqa' chik taq ruyakoj Firefox.
options-use-sync = We nawajo' chi ronojel ri taq rutzij ruwäch ab'i' e junam pa ri taq ruyakoj Firefox, ütz nawokisaj { -fxaccount-brand-name } richin kexime'.
resources = Taq Tob'äl:
support-link = Rokisaxik ri Runuk'samajel Ruwäch B'i'aj - Ruwäch Tob'äl
sync-header = Titikirisäx pa o titz'uk jun { -fxaccount-brand-name }
sync-label = Tatz'ib'aj ataqoya'l
sync-input =
    .placeholder = Taqoya'l
sync-button = Titikïr chik el
sync-terms = Pa rub'eyal, rat nawojqaj ri <a data-l10n-name="terms">Rojqanem Samaj</a> chuqa' <a data-l10n-name="privacy">Rutzijol Ichinanem</a>.
sync-first = ¿La k'a ja nab'ey mul nawokisaj { -sync-brand-name }? K'o chi natikirisaj molojri'ïl pa jujun ruyakoj Firefox richin ye'axïm ri taq awetamab'al.
sync-learn = Tetamäx ch'aqa' chik
