# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = সামনে প্রতারক সাইট
safeb-blocked-malware-page-title = এই ওয়েবসাইটটিতে প্রবেশ করলে আপনার কম্পিউটারের ক্ষতি হতে পারে
safeb-blocked-unwanted-page-title = সামনের সাইটে ক্ষতিকারক প্রোগ্রাম থাকতে পারে
safeb-blocked-harmful-page-title = সামনের সাইটটিতে ম্যালওয়্যার থাকতে পারে
safeb-blocked-phishing-page-short-desc = পেজটি আপনাকে ধোঁকা দিয়ে বিপদজ্জনক সফটওয়ার ইনস্টল করিয়ে নিতে পারে, অথবা আপনার ব্যক্তিগত তথ্য যেমন পাসওয়ার্ড বা ক্রেডিট কার্ডের তথ্য জেনে নিতে পারে, তাই { -brand-short-name } পেজটিকে ব্লক করে দিয়েছে।
safeb-blocked-malware-page-short-desc = { -brand-short-name } এই পাতাটিকে অবরুদ্ধ করেছে কারণ এটি আপনার কম্পিউটারে ব্যক্তিগত তথ্য চুরি বা মুছতে পারে এমন দূষিত সফ্টওয়্যার ইনস্টল করার চেষ্টা করতে পারে।
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } পাতাটি ব্লক করছে কারণ এটি আপনার ব্রাউজিং অভিজ্ঞতাকে ক্ষতিগ্রস্ত করে এমন প্রোগ্রাম ইনস্টল করতে সহায়তা করে (উদাহরণস্বরূপ, আপনার নীড়পাতা পরিবর্তন করে বা আপনার দেখা সাইটে অতিরিক্ত বিজ্ঞাপন দেখায়)।
safeb-blocked-harmful-page-short-desc = { -brand-short-name } পেজটি ব্লক করেছে কারণ এটি কোন ক্ষতিকর অ্যাপ্লিকেশন ইনস্টল করার চেষ্টা করছে যা আপনার তথ্য (উদাহরণস্বরূপ ফটো, পাসওয়ার্ড, বার্তা এবং ক্রেডিট কার্ড) চুরি বা মুছে ফেলতে পারে।
safeb-palm-advisory-desc = <a data-l10n-name='advisory_provider'>{ $advisoryname }</a> উপদেশ দেয়।
safeb-palm-accept-label = পূর্ববর্তী স্থানে চলুন
safeb-palm-see-details-label = বিবরণ দেখুন
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> একটি <a data-l10n-name='error_desc_link'>প্রতারক ওয়েবসাইট হিসাবে সনাক্ত</a> করা হয়েছে। আপনি এই সনাক্তকরণ কে সমস্যা হিসাবে <a data-l10n-name='report_detection'>রিপোর্ট</a> করতে পারেন অথবা <a data-l10n-name='ignore_warning_link'>ঝুঁকি উপেক্ষা করে</a> এই অনিরাপদ ওয়েবসাইট ভিজিট করতে পারেন।
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> কে <a data-l10n-name='error_desc_link'>প্রতারণামূলক সাইট হিসাবে প্রতিবেদন করা হয়েছে</a>। আপনি <a data-l10n-name='report_detection'>সনাক্তকরণ সমস্যা নিয়ে প্রতিবেদন করতে পারেন</a>।
safeb-blocked-phishing-page-learn-more = প্রতারণামূলক সাইট এবং ফিশিং সম্পর্কে আরও জানুন <a data-l10n-name='learn_more_link'>www.antiphishing.org</a> এখানে।{ -brand-short-name } এর ফিশিং এবং মালওয়্যার সুরক্ষা সম্পর্কে আরও জানুন <a data-l10n-name='firefox_support'>support.mozilla.org</a> তে।
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> কে <a data-l10n-name='error_desc_link'>ক্ষতিকারক সফ্টওয়্যার রয়েছে বলে রিপোর্ট করা হয়েছে</a>। আপনি <a data-l10n-name='report_detection'>সনাক্তকরণ সমস্যা রিপোর্ট করতে পারেন</a> অথবা <a data-l10n-name='ignore_warning_link'>ঝুঁকি উপেক্ষা করে</a> এই অনিরাপদ সাইটে যেতে পারেন।
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> কে <a data-l10n-name='error_desc_link'>ক্ষতিকারক সফ্টওয়্যার রয়েছে বলে রিপোর্ট করা হয়েছে </a>। আপনি <a data-l10n-name='report_detection'>সনাক্তকরণ সমস্যা রিপোর্ট করতে পারেন</a>।
safeb-blocked-malware-page-learn-more = ভাইরাস এবং অন্যান্য ম্যালওয়্যার সহ ক্ষতিকর ওয়েব কনটেন্ট সম্পর্কে জানুন আর কিভাবে আপনার কম্পিউটার সুরক্ষিত রাখবেন তা জানতে ভিজিট করুন <a data-l10n-name='learn_more_link'>StopBadware.org</a>। { -brand-short-name } এর ফিশিং এবং ম্যালওয়্যার সুরক্ষা সম্পর্কে জানতে ভিজিট করুন <a data-l10n-name='firefox_support'>support.mozilla.org</a>।
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> সাইটটিতে <a data-l10n-name='error_desc_link'>ক্ষতিকারক সফটওয়ার রয়েছে বলে রিপোর্ট করা হয়েছে</a>। আপনি <a data-l10n-name='ignore_warning_link'>ঝুঁকি উপেক্ষা করে</a> এই অনিরাপদ সাইট ভিজিট করতে পারে।
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> সাইটটিতে <a data-l10n-name='error_desc_link'>ক্ষতিকারক সফটওয়ার রয়েছে বলে রিপোর্ট করা হয়েছে</a>।
safeb-blocked-unwanted-page-learn-more = <a data-l10n-name='learn_more_link'>অযাচিত সফটওয়্যার পলিসিতে</a> ক্ষতিকারক এবং অযাচিত সফটওয়্যার সম্পর্কে পড়ুন। <a data-l10n-name='firefox_support'>support.mozilla.org</a> ঠিকানায় { -brand-short-name } এর ফিশিং এবং ম্যালওয়ার সুরক্ষা সম্পর্কে আরও জানুন।
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> কে <a data-l10n-name='error_desc_link'>সম্ভাব্য ক্ষতিকারক অ্যাপ্লিকেশন সরবরাহকারী হিসাবে রিপোর্ট করা হয়েছে</a>। আপনি <a data-l10n-name='ignore_warning_link'>ঝুঁকি উপেক্ষা করতে পারেন</a> এবং এই অনিরাপদ সাইটে যান।
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> কে <a data-l10n-name='error_desc_link'>সম্ভাব্য ক্ষতিকারক অ্যাপ্লিকেশন সরবরাহকারী হিসাবে রিপোর্ট করা হয়েছে</a>।
safeb-blocked-harmful-page-learn-more = { -brand-short-name } এর ফিশিং এবং ম্যালওয়্যার সুরক্ষা সম্পর্কে আরও জানুন <a data-l10n-name='firefox_support'>support.mozilla.org</a> তে।
safeb-palm-notdeceptive =
    .label = এটা একটি প্রতারক সাইট নয়…
    .accesskey = d
