# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Więcej informacji o <a data-l10n-name="learn-more">przeglądaniu prywatnym</a>.
about-private-browsing-info-visited = historii
privatebrowsingpage-open-private-window-label = Otwórz okno w trybie prywatnym
    .accesskey = O
about-private-browsing-info-notsaved = Podczas przeglądania w oknie prywatnym { -brand-short-name } <strong>nie zachowa</strong>:
about-private-browsing-search-placeholder = Szukaj w Internecie
about-private-browsing-info-bookmarks = dodane zakładki
about-private-browsing-info-title = Okno w trybie prywatnym
about-private-browsing-info-searches = wyszukiwań
about-private-browsing-info-downloads = pobrane pliki
private-browsing-title = Przeglądanie prywatne
about-private-browsing-info-saved = { -brand-short-name } <strong>zachowa</strong>:
about-private-browsing-info-myths = Popularne mity na temat przeglądania prywatnego
about-private-browsing-info-clipboard = skopiowany tekst
about-private-browsing-info-temporary-files = plików tymczasowych
about-private-browsing-info-cookies = ciasteczek
tracking-protection-start-tour = Zobacz, jak to działa
about-private-browsing-note = Przeglądanie prywatne <strong>nie czyni użytkownika anonimowym</strong> w Internecie. Pracodawca lub dostawca usług internetowych może w dalszym ciągu monitorować odwiedzane strony.
about-private-browsing =
    .title = Szukaj w Internecie
about-private-browsing-not-private = Okno bez aktywnego trybu prywatnego.
content-blocking-title = Blokowanie treści
content-blocking-description = Niektóre strony używają elementów mogących śledzić aktywność użytkownika w Internecie. W oknach przeglądania prywatnego przeglądarka automatycznie zablokuje wiele z elementów mogących zbierać informacje o przeglądaniu.
about-private-browsing-info-description = { -brand-short-name } czyści historię wyszukiwania i przeglądania po wyłączeniu programu lub zamknięciu wszystkich kart i okien w trybie przeglądania prywatnego. Chociaż nie czyni to użytkownika anonimowym wobec stron internetowych ani dostawcy Internetu, to ułatwia zachowanie prywatności przed pozostałymi użytkownikami komputera.
