# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Nowa wersja programu { -brand-shorter-name } jest dostępna.
    .buttonlabel = Pobierz aktualizację
    .buttonaccesskey = P
    .secondarybuttonlabel = Nie teraz
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Uaktualnij program { -brand-shorter-name } dla szybkości i bezpieczeństwa.
appmenu-update-manual =
    .label = { -brand-shorter-name } nie może zostać uaktualniony do najnowszej wersji.
    .buttonlabel = Pobierz program
    .buttonaccesskey = P
    .secondarybuttonlabel = Nie teraz
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Pobierz świeżą kopię programu { -brand-shorter-name }, a my pomożemy ją zainstalować.
appmenu-update-whats-new =
    .value = Sprawdź, co nowego.
appmenu-update-restart =
    .label = Uruchom ponownie program, aby go uaktualnić.
    .buttonlabel = Uruchom i przywróć
    .buttonaccesskey = U
    .secondarybuttonlabel = Nie teraz
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = { -brand-shorter-name } po ponownym uruchomieniu przywróci wszystkie karty i okna (oprócz okien prywatnych).
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message = Zarządzaj dodatkami klikając <image data-l10n-name='addon-install-icon'></image> w menu <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = To rozszerzenie może działać w oknach prywatnych
    .accesskey = T
appmenu-addon-private-browsing =
    .label = Zmiana działania rozszerzeń w oknach prywatnych
    .buttonlabel = Ustawienia rozszerzeń
    .buttonaccesskey = U
    .secondarybuttonlabel = OK
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Rozszerzenia dodane do przeglądarki { -brand-shorter-name } nie będą działać w oknach prywatnych, jeśli nie zostanie to zmienione w ustawieniach.
appmenu-addon-private-browsing-learn-more = Więcej informacji o zarządzaniu ustawieniami rozszerzeń.
