# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Na voljo je nova posodobitev za { -brand-shorter-name }.
    .buttonlabel = Prenesi posodobitev
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne zdaj
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Posodobite svoj { -brand-shorter-name } za najnovejše izboljšave hitrosti in zasebnosti.
appmenu-update-manual =
    .label = { -brand-shorter-name }a ni mogoče posodobiti na najnovejšo različico.
    .buttonlabel = Prenesi { -brand-shorter-name }
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne zdaj
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Prenesite svežo kopijo { -brand-shorter-name }a, mi pa vam jo bomo pomagali namestiti.
appmenu-update-whats-new =
    .value = Oglejte si, kaj je novega.
appmenu-update-restart =
    .label = Ponovno zaženi za posodobitev { -brand-shorter-name }a.
    .buttonlabel = Ponovno zaženi in obnovi
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne zdaj
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Po hitrem ponovnem zagonu bo { -brand-shorter-name } obnovil vse vaše odprte zavihke in okna, razen tistih v zasebnem brskanju.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Razumem
    .buttonaccesskey = z
appmenu-addon-post-install-message = Upravljajte dodatke s klikom na <image data-l10n-name='addon-install-icon'></image> v meniju <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Dovoli, da se ta razširitev izvaja v zasebnih oknih
    .accesskey = D
appmenu-addon-private-browsing =
    .label = Sprememba delovanja razširitev v zasebnih oknih
    .buttonlabel = Upravljaj razširitve
    .buttonaccesskey = U
    .secondarybuttonlabel = Razumem
    .secondarybuttonaccesskey = z
appmenu-addon-private-browsing-message = Nove razširitve, ki jih boste dodali v { -brand-shorter-name }, ne bodo delovale v zasebnih oknih, razen če to dovolite v možnostih.
appmenu-addon-private-browsing-learn-more = Več o upravljanju možnosti razširitev.
