# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Nova ĝisdatigo de { -brand-shorter-name } estas disponebla.
    .buttonlabel = Elŝuti ĝisdatigon
    .buttonaccesskey = E
    .secondarybuttonlabel = Nun ne
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Ĝisdatigu vian { -brand-shorter-name } al la plej nova versio por sperti la lastajn rapidecajn kaj privatecajn plibonigojn.
appmenu-update-manual =
    .label = { -brand-shorter-name } ne povas esti ĝisdatigita al la plej nova versio.
    .buttonlabel = Elŝuti { -brand-shorter-name }
    .buttonaccesskey = E
    .secondarybuttonlabel = Ne nun
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Denove elŝutu { -brand-shorter-name } kaj ni helpos vin instali ĝin.
appmenu-update-whats-new =
    .value = Vidi la novaĵojn.
appmenu-update-restart =
    .label = Restartigu por ĝisdatigi { -brand-shorter-name }.
    .buttonlabel = Restarti kaj restarigi
    .buttonaccesskey = R
    .secondarybuttonlabel = Ne nun
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Post rapida restarto { -brand-shorter-name } restarigos ĉiujn viajn malfermitajn langetojn kaj fenestrojn, kiuj ne estas en reĝimo de privata retumo.
appmenu-addon-private-browsing-installed =
    .buttonlabel = En ordo, mi komprenis
    .buttonaccesskey = o
appmenu-addon-post-install-message = Administru viajn aldonaĵojn per alklako de <image data-l10n-name='addon-install-icon'></image> en la menuo <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permesi al tiu ĉi etendaĵo funkcii en privataj fenestroj
    .accesskey = P
appmenu-addon-private-browsing =
    .label = Ŝanĝoj de etendaĵoj en privataj fenestroj
    .buttonlabel = Administri etendaĵojn
    .buttonaccesskey = A
    .secondarybuttonlabel = En ordo, mi komprenis
    .secondarybuttonaccesskey = o
appmenu-addon-private-browsing-message = Neniu nova etendaĵo aldonita al { -brand-shorter-name } funkcios en privataj fenestroj, krom se vi tion permesas en la agordoj.
appmenu-addon-private-browsing-learn-more = Pli da informo pri administro de agordoj de etendaĵoj.
