# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Saiba mais sobre <a data-l10n-name="learn-more">Navegação privativa</a>.
about-private-browsing-info-visited = páginas visitadas
privatebrowsingpage-open-private-window-label = Abrir uma janela privativa
    .accesskey = p
about-private-browsing-info-notsaved = Quando você navega em uma janela privativa, o { -brand-short-name } <strong>não salva</strong>:
about-private-browsing-search-placeholder = Pesquisar na web
about-private-browsing-info-bookmarks = favoritos
about-private-browsing-info-title = Você está em uma janela privativa
about-private-browsing-info-searches = pesquisas
about-private-browsing-info-downloads = downloads
private-browsing-title = Navegação privativa
about-private-browsing-info-saved = O { -brand-short-name } <strong>salvará</strong> seus:
about-private-browsing-info-myths = Mitos comuns sobre a navegação privativa
about-private-browsing-info-clipboard = texto copiado
about-private-browsing-info-temporary-files = arquivos temporários
about-private-browsing-info-cookies = cookies
tracking-protection-start-tour = Veja como funciona
about-private-browsing-note = A navegação privativa <strong>não o torna anônimo</strong> na internet. Seu empregador ou provedor de acesso à internet ainda podem saber que páginas você visita.
about-private-browsing =
    .title = Pesquisar na web
about-private-browsing-not-private = Você não está em uma janela privativa no momento.
content-blocking-title = Bloqueio de conteúdo
content-blocking-description = Alguns sites usam rastreadores que podem monitorar sua atividade pela Internet. Nas janelas privativas, o bloqueio de conteúdo do { -brand-short-name } bloqueia automaticamente muitos rastreadores que podem coletar informação sobre seu comportamento de navegação.
about-private-browsing-info-description = O { -brand-short-name } limpa seu histórico de pesquisa e navegação quando você sai do aplicativo ou fecha todas as abas e janelas de navegação privativa. Apesar disto não tornar você anônimo para sites e para seu provedor de serviços de internet, facilita manter o que você faz online privativo para outras pessoas que usam este computador.
