# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Uma nova atualização do { -brand-shorter-name } está disponível.
    .buttonlabel = Baixar atualização
    .buttonaccesskey = B
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Atualize o { -brand-shorter-name } para ganhar mais velocidade e privacidade.
appmenu-update-manual =
    .label = Não é possível atualizar o { -brand-shorter-name } para a versão mais recente.
    .buttonlabel = Baixar o { -brand-shorter-name }
    .buttonaccesskey = B
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Baixe uma nova cópia do { -brand-shorter-name } e ajudaremos a instalar.
appmenu-update-whats-new =
    .value = Veja o que há de novo.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } não conseguiu atualizar para a versão mais recente.
    .buttonlabel = Saiba mais
    .buttonaccesskey = S
    .secondarybuttonlabel = Fechar
    .secondarybuttonaccesskey = F
appmenu-update-unsupported-message = A versão mais recente do { -brand-shorter-name } não é suportada pelo seu sistema.
appmenu-update-restart =
    .label = Reinicie para atualizar o { -brand-shorter-name }.
    .buttonlabel = Reiniciar e restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Após um reinício rápido, o { -brand-shorter-name } irá restaurar todas as suas abas e janelas abertas que não sejam de Navegação Privativa.
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK, entendi
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gerencie suas extensões clicando em <image data-l10n-name='addon-install-icon'></image> no menu <image data-l10n-name='addon-menu-icon'></image>
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir que esta extensão funcione em janelas privativas
    .accesskey = P
appmenu-addon-private-browsing =
    .label = Alteração de extensões em janelas privativas
    .buttonlabel = Gerenciar extensões
    .buttonaccesskey = G
    .secondarybuttonlabel = OK, entendi
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Qualquer nova extensão que você adicionar ao { -brand-shorter-name } não funcionará em janelas privativas, a menos que permita isso nas configurações.
appmenu-addon-private-browsing-learn-more = Saiba como gerenciar configurações de extensões.
