# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Podejrzana strona
safeb-blocked-malware-page-title = Odwiedzenie tej strony może być szkodliwe
safeb-blocked-unwanted-page-title = Strona może zawierać szkodliwe oprogramowanie
safeb-blocked-harmful-page-title = Złośliwe oprogramowanie za rogiem!
safeb-blocked-phishing-page-short-desc = { -brand-short-name } zablokował tę stronę, ponieważ może ona próbować nakłaniać do niebezpiecznych zachowań, jak instalacja oprogramowania lub ujawnianie danych osobistych (haseł, danych kart płatniczych).
safeb-blocked-malware-page-short-desc = { -brand-short-name } zablokował tę stronę, ponieważ może ona próbować instalować niebezpieczne oprogramowanie mogące wykradać lub usuwać z komputera dane osobiste.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } zablokował tę stronę, ponieważ może one próbować nakłonić do instalacji programów, które mogą zaszkodzić Twojemu przeglądaniu (np. zmieniając stronę startową lub wyświetlając dodatkowe reklamy).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } zablokował tę stronę, ponieważ może ona próbować instalować niebezpieczne oprogramowanie mogące wykradać lub usuwać dane (np. zdjęcia, hasła, wiadomości, dane kart płatniczych).
safeb-palm-advisory-desc = Na podstawie danych dostarczanych przez <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Przejdź do poprzedniej strony
safeb-palm-see-details-label = Szczegóły
safeb-blocked-phishing-page-error-desc-override = Strona „<span data-l10n-name='sitename'>{ $sitename }</span>” została zgłoszona jako <a data-l10n-name='error_desc_link'>próba oszustwa</a>. Możesz <a data-l10n-name='report_detection'>zgłosić problem z wykrywaniem</a> lub <a data-l10n-name='ignore_warning_link'>zignorować ryzyko</a> i przejść do tej niebezpiecznej strony.
safeb-blocked-phishing-page-error-desc-no-override = Strona „<span data-l10n-name='sitename'>{ $sitename }</span>” została zgłoszona jako strona <a data-l10n-name='error_desc_link'>próba oszustwa</a>. Możesz <a data-l10n-name='report_detection'>zgłosić problem z wykrywaniem</a>.
safeb-blocked-phishing-page-learn-more = Więcej informacji o stronach będącymi próbami oszustwa i złośliwym oprogramowaniu można znaleźć w witrynie <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Więcej informacji o ochronie przed złośliwym oprogramowaniem i próbami oszustwa można znaleźć w witrynie <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = Strona „<span data-l10n-name='sitename'>{ $sitename }</span>” została zgłoszona jako strona <a data-l10n-name='error_desc_link'>zawierająca niebezpieczne oprogramowanie</a>. Możesz <a data-l10n-name='report_detection'>zgłosić problem z wykrywaniem</a> lub <a data-l10n-name='ignore_warning_link'>zignorować ryzyko</a> i przejść do tej niebezpiecznej strony.
safeb-blocked-malware-page-error-desc-no-override = Strona „<span data-l10n-name='sitename'>{ $sitename }</span>” została zgłoszona jako strona <a data-l10n-name='error_desc_link'>zawierająca niebezpieczne oprogramowanie</a>. Możesz <a data-l10n-name='report_detection'>zgłosić problem z wykrywaniem</a>.
safeb-blocked-malware-page-learn-more = Więcej informacji o szkodliwych treściach, takich jak wirusy i inne złośliwe oprogramowanie, oraz metodach ochrony komputera można znaleźć w witrynie <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Więcej informacji o ochronie przed złośliwym oprogramowaniem i próbami oszustwa można znaleźć w witrynie <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = Strona „<span data-l10n-name='sitename'>{ $sitename }</span>” została zgłoszona jako strona <a data-l10n-name='error_desc_link'>zawierająca szkodliwe oprogramowanie</a>. Możesz <a data-l10n-name='ignore_warning_link'>zignorować ryzyko</a> i przejść do tej niebezpiecznej strony.
safeb-blocked-unwanted-page-error-desc-no-override = Strona „<span data-l10n-name='sitename'>{ $sitename }</span>” została zgłoszona jako strona <a data-l10n-name='error_desc_link'>zawierająca szkodliwe oprogramowanie</a>.
safeb-blocked-unwanted-page-learn-more = Więcej informacji o szkodliwym i niechcianym oprogramowaniu można znaleźć na stronie <a data-l10n-name='learn_more_link'>Unwanted Software Policy</a>. Więcej informacji o ochronie przed złośliwym oprogramowaniem i próbami oszustwa można znaleźć w witrynie <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = Strona „<span data-l10n-name='sitename'>{ $sitename }</span>” została zgłoszona jako strona <a data-l10n-name='error_desc_link'>zawierająca potencjalnie szkodliwe oprogramowanie</a>. Możesz <a data-l10n-name='ignore_warning_link'>zignorować ryzyko</a> i przejść do tej niebezpiecznej strony.
safeb-blocked-harmful-page-error-desc-no-override = Strona „<span data-l10n-name='sitename'>{ $sitename }</span>” została zgłoszona jako strona <a data-l10n-name='error_desc_link'>zawierająca potencjalnie szkodliwe oprogramowanie</a>.
safeb-blocked-harmful-page-learn-more = Więcej informacji o ochronie przed złośliwym oprogramowaniem i próbami oszustwa można znaleźć w witrynie <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = To nie jest oszustwo…
    .accesskey = n
