# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Er is een nieuwe { -brand-shorter-name }-update beschikbaar.
    .buttonlabel = Update downloaden
    .buttonaccesskey = d
    .secondarybuttonlabel = Niet nu
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Werk uw { -brand-shorter-name } bij voor het nieuwste in snelheid en privacy.
appmenu-update-manual =
    .label = { -brand-shorter-name } kan niet naar de nieuwste versie worden bijgewerkt.
    .buttonlabel = { -brand-shorter-name } downloaden
    .buttonaccesskey = d
    .secondarybuttonlabel = Niet nu
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Download een nieuwe kopie van { -brand-shorter-name } en we helpen u deze te installeren.
appmenu-update-whats-new =
    .value = Bekijk wat er nieuw is.
appmenu-update-restart =
    .label = Herstart om { -brand-shorter-name } bij te werken.
    .buttonlabel = Herstarten en herstellen
    .buttonaccesskey = H
    .secondarybuttonlabel = Niet nu
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Na een snelle herstart zal { -brand-shorter-name } al uw open tabbladen en vensters herstellen die zich niet in privénavigatiemodus bevinden.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Oké, begrepen
    .buttonaccesskey = O
appmenu-addon-post-install-message = Beheer uw add-ons door op <image data-l10n-name='addon-install-icon'></image> in het menu <image data-l10n-name='addon-menu-icon'></image> te klikken.
appmenu-addon-post-install-incognito-checkbox =
    .label = Deze extensie in privévensters laten uitvoeren
    .accesskey = D
appmenu-addon-private-browsing =
    .label = Wijziging aan extensies in privévensters
    .buttonlabel = Extensies beheren
    .buttonaccesskey = b
    .secondarybuttonlabel = Oké, begrepen
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Nieuwe extensies die u aan { -brand-shorter-name } toevoegt werken niet in privévensters, tenzij u dit toestaat in de instellingen.
appmenu-addon-private-browsing-learn-more = Meer info over het beheren van extensie-instellingen
