# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = O prawach użytkownika
rights-intro = { -brand-full-name } to wolne oprogramowanie o otwartym kodzie źródłowym (open source), stworzone przez społeczność tysięcy ludzi z całego świata. Jest kilka zagadnień związanych z tym programem, o których należy wiedzieć:
rights-intro-point-1 = { -brand-short-name } został udostępniony użytkownikowi na warunkach licencji <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a>. Oznacza to, że użytkownik ma prawo używać, kopiować i rozpowszechniać program { -brand-short-name }. Może on też modyfikować kod źródłowy programu { -brand-short-name }, by dostosować go do swoich potrzeb. Licencja MPL (Mozilla Public License) daje użytkownikowi także prawo do rozpowszechniania zmodyfikowanych wersji.
rights-intro-point-2 = Nie otrzymujesz żadnych licencji ani praw do znaków towarowych Mozilla Foundation i innych podmiotów, w tym w szczególności do nazwy i logotypu Firefox. Więcej informacji na ten temat znajdziesz <a data-l10n-name="mozilla-trademarks-link">tutaj</a>.
rights-intro-point-3 = Niektóre funkcje programu { -brand-short-name }, takie jak zgłaszanie awarii, umożliwiają przesyłanie opinii do dostawcy oprogramowania ({ -vendor-short-name }). Przesyłając takie opinie, wyrażasz zgodę na używanie przez dostawcę oprogramowania ({ -vendor-short-name }) przesłanych opinii do celów ulepszenia jego produktów, publikowania tych opinii na stronach internetowych i do ich rozpowszechniania.
rights-intro-point-4 = Informacje o tym, jak wykorzystujemy dane osobiste i opinie przesłane do dostawcy oprogramowania ({ -vendor-short-name }) przez program { -brand-short-name } zostały przedstawione w <a data-l10n-name="mozilla-privacy-policy-link">zasadach ochrony prywatności programu { -brand-short-name }</a>.
rights-intro-point-4-unbranded = W tym miejscu powinny być wypisane wszelkie zbiory zasad ochrony prywatności związane z tym produktem.
rights-intro-point-5 = Niektóre funkcje programu { -brand-short-name } umożliwiają korzystanie z internetowych usług informacyjnych, jednakże nie możemy zagwarantować ich stuprocentowej dokładności ani bezbłędności. Szczegółowe informacje, w tym opis wyłączenia tych usług, można znaleźć w <a data-l10n-name="mozilla-service-terms-link">warunkach korzystania z tych usług</a>.
rights-intro-point-5-unbranded = Jeśli ten produkt zawiera usługi WWW, odnośniki do wszelkich warunków korzystania z nich powinny znajdować się w sekcji <a data-l10n-name="mozilla-website-services-link">Usługi WWW</a>.
rights-intro-point-6 = Aby odtwarzać niektóre treści wideo, { -brand-short-name } pobiera pewne moduły deszyfrowania treści od zewnętrznych podmiotów.
rights-webservices-header = Usługi informacyjne WWW programu { -brand-full-name }
rights-webservices = W tej wersji program { -brand-full-name } wykorzystuje niektóre usługi informacyjne WWW, zwane dalej „usługami” i udostępnia je na zasadach przedstawionych poniżej. Jeśli nie chcesz korzystać z tych usług lub nie akceptujesz poniższych zasad, możesz wyłączyć daną funkcję lub usługę. Instrukcje, jak wyłączyć konkretną funkcję lub usługę znajdują się <a data-l10n-name="mozilla-disable-service-link">tutaj</a>. Inne funkcje i usługi można wyłączyć w preferencjach programu.
rights-safebrowsing = <strong>Usługa „Bezpieczne przeglądanie”: </strong>Nie zaleca się wyłączania funkcji „Bezpieczne przeglądanie”, ponieważ wówczas podczas próby otworzenia niebezpiecznej witryny nie będzie emitowane stosowne ostrzeżenie. Aby wyłączyć tę funkcję całkowicie:
rights-safebrowsing-term-1 = Otwórz opcje programu
rights-safebrowsing-term-2 = Przejdź do panelu Bezpieczeństwo
rights-safebrowsing-term-3 = Odznacz opcję „{ enableSafeBrowsing-label }”
enableSafeBrowsing-label = Blokowanie niebezpiecznych i podejrzanych treści.
rights-safebrowsing-term-4 = Funkcja „Bezpieczne przeglądanie” zostanie wówczas wyłączona
rights-locationawarebrowsing = <strong>Udostępnianie witrynom położenia użytkownika: </strong>Ta funkcja przesyła dane tylko za zgodą użytkownika. Bez wyrażenia zgody żadne informacje geolokalizacyjne nie są przesyłane. Aby całkowicie wyłączyć tę funkcję:
rights-locationawarebrowsing-term-1 = W pasku adresu wprowadź: <code>about:config</code>
rights-locationawarebrowsing-term-2 = W polu filtru wpisz: „geo.enabled”
rights-locationawarebrowsing-term-3 = Kliknij dwukrotnie opcję „geo.enabled”
rights-locationawarebrowsing-term-4 = Udostępnianie położenia geograficznego zostanie wyłączone
rights-webservices-unbranded = W tym miejscu powinien znaleźć się opis usług WWW powiązanych z tym produktem, wraz z instrukcją ich wyłączenia, o ile jest potrzebna.
rights-webservices-term-unbranded = W tym miejscu powinny zostać wymienione wszelkie mające zastosowanie dla tego produktu zasady korzystania z usług.
rights-webservices-term-1 = Dostawca oprogramowania ({ -vendor-short-name }) i jego współpracownicy, licencjodawcy i partnerzy pracują, by dostarczyć najwłaściwszych i najbardziej aktualnych usług. Jednakże nie możemy zagwarantować, że udostępnione przez te usługi informacje będą bezbłędne i kompletne. Na przykład, niektóre niebezpieczne witryny mogą nie zostać zidentyfikowane przez funkcję „Bezpieczne przeglądanie”, a niektóre bezpieczne strony mogą być przez nią błędnie oznaczone jako niebezpieczne. Ponadto położenia geolokalizacyjne wyznaczone przez naszych dostawców usług są tylko szacunkowe — ani my, ani nasi dostawcy usług nie jesteśmy w stanie zagwarantować dokładności dostarczonych danych lokalizacyjnych.
rights-webservices-term-2 = { -vendor-short-name } może przerwać lub zmienić funkcjonowanie usług według własnego uznania.
rights-webservices-term-3 = Możesz korzystać z tych usług za pomocą wersji programu { -brand-short-name }, w której zostały one zaimplementowane i masz wszelkie niezbędne do tego prawa. { -vendor-short-name } i licencjodawcy zastrzegają sobie wszelkie inne prawa związane z usługami. Zasady te nie mają na celu ograniczenia żadnych praw gwarantowanych w ramach licencji dla oprogramowania o otwartym kodzie źródłowym mających zastosowanie do programu { -brand-short-name }, jak i analogicznych wersji jego kodu źródłowego.
rights-webservices-term-4 = <strong>Usługi dostarczane są w stanie, „w jakim są”. { -vendor-short-name }, współpracownicy, licencjodawcy i dystrybutorzy nie udzielają żadnych gwarancji, zarówno wyraźnych, jak i domniemanych, że usługi te spełniają twoje oczekiwania. Ponosisz zatem całkowite ryzyko w kwestii wyboru usług odpowiednich dla twoich celów, jak też w kwestii ich jakości i wydajności. Niektóre systemy prawne nie zezwalają na takie wyłączenie lub ograniczenie domniemanych gwarancji, tak więc to zaprzeczenie może nie obowiązywać.</strong>
rights-webservices-term-5 = <strong>Z wyjątkiem wymogów prawnych, { -vendor-short-name }, współpracownicy, licencjodawcy ani dystrybutorzy nie ponoszą odpowiedzialności za żadne szkody — pośrednie, wyjątkowe, przypadkowe, będące skutkiem czegoś, karne, moralne, czy wyjątkowe szkody wynikłe z lub w jakikolwiek sposób powiązane z korzystaniem z programu { -brand-short-name } i usług. Zgodnie z tymi zasadami łączna odpowiedzialność nie może przekroczyć wartości 500 (pięciuset) dolarów amerykańskich. Niektóre systemy prawne nie zezwalają na takie wyłączenie lub ograniczenie niektórych szkód, tak więc to wyłączenie i ograniczenie może nie obowiązywać.</strong>
rights-webservices-term-6 = { -vendor-short-name } może co jakiś czas aktualizować niniejsze warunki. Warunki te nie mogą być zmieniane ani anulowane, o ile { -vendor-short-name } nie wyrazi pisemnej zgody.
rights-webservices-term-7 = Niniejsze warunki powinny być rozpatrywane zgodnie z prawem stanu Kalifornia (Stany Zjednoczone Ameryki), z wyłączeniem konfliktu postanowień prawnych. Jeśli jakakolwiek część niniejszych warunków zostanie uznana za nieprawidłową lub niewykonalną, pozostałe części pozostaną w mocy. W przypadku różnic między przetłumaczoną wersją niniejszych warunków a oryginalną angielską wersją językową, obowiązujące są postanowienia angielskiej wersji językowej.
