# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = In sci teu diritti
rights-intro = { -brand-full-name } a l'é 'n'aplicaçion libera co-o sorgente averto e a l'é fæta da 'na comunitæ de migiæa de personn-e de tutto o mondo. Gh'é de cöse che ti doviesci savei:
rights-intro-point-1 = { -brand-short-name } te vegne dæto sotta a-i termini da <a data-l10n-name="mozilla-public-license-link">Licensa Pubrica de Mozilla</a>. Questo o veu dî che ti ti peu deuviâ, copiâ e distriboî o { -brand-short-name } a-i atri. Ti ê o benvegnuo anche a cangiâ i sorgenti de { -brand-short-name } pe-i teu bezeugni. A Licensa Pubrica de Mozilla a te dâ anche o dirito de distriboî e teu verscioin modificæ.
rights-intro-point-2 = Mozilla no te dâ di diriti in sci marchi e lòghi de Mozilla e Firefox. Atre informaçioin in sci marchi e lòghi se peuan atrovâ <a data-l10n-name="mozilla-trademarks-link">chi</a>.
rights-intro-point-3 = Quarche fonçion de { -brand-short-name }, comme o Report di Cianti, te dâ a poscibilitæ de fornî comenti a { -vendor-short-name }. Se ti mandi di comenti a { -vendor-short-name } ti ne dæ anche o permisso de deuviali pe megioâ o produto e de pubricâ sti comenti in sci sciti web e de distriboili.
rights-intro-point-4 = O mòddo che emmo de deuviâ e teu informaçioin e comenti che mandi a { -vendor-short-name } co-o { -brand-short-name } o l'é descrito inta <a data-l10n-name="mozilla-privacy-policy-link">Informativa in sciâ privacy de { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Tutte e informative in sciâ privacy pe sto produto devan ese chi.
rights-intro-point-5 = Quarche fonçion de { -brand-short-name } a peu deuviâ serviççi in sciâ ræ e niatri no poemmo garantî che segian a-o 100% sensa eroî. Pe avei ciù detalli vanni inte <a data-l10n-name="mozilla-service-terms-link">Termini do serviçio</a>.
rights-intro-point-5-unbranded = Sto produto o l'à di serviççi web. I termini di serviççi se peaun trovâ chi <a data-l10n-name="mozilla-website-services-link">Serviççi do scito</a>.
rights-intro-point-6 = Pe riprodue quarche tipo de contegnuo video, { -brand-short-name } o scarega di mòdoli de decifraçion de terse parte.
rights-webservices-header = Serviççi de { -brand-full-name } bazê in sciâ ræ
rights-webservices = O { -brand-full-name } o l'uza di serviççi di informaçion di sciti ("Serviççi") pe fornî de carateristiche de { -brand-short-name } inti termini descriti chi sotta. Se ti no veu uzâ un o ciù di sti serviççi ò no t'ê d'acòrdio co-i termini ti peu dizabilitali. E istruçioin pe dizabilitâ un particolâ serviççio ò carateristica ti peu trovale <a data-l10n-name="mozilla-disable-service-link">chi</a>. Atre carateristiche e serviççi peuan ese dizativæ inte preferense de l'aplicaçion.
rights-safebrowsing = <strong>Navegaçion segua: </strong>No l'é racòmandou dizabilitâ a Navegaçion segua perché ti peu finî in di sciti che no son segui. Se ti veu dizabilitâ conpletamente sta carateristica segoi sti passi:
rights-safebrowsing-term-1 = Arvi e preferense da aplicaçion
rights-safebrowsing-term-2 = Seleçionn-a a seleçion de seguessa
rights-safebrowsing-term-3 = Deseleçionn-a l'òpçion pe "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Blòcca contegui grammi pericolozi
rights-safebrowsing-term-4 = A navegaçion segua a l'é dizabilitâ
rights-locationawarebrowsing = <strong>Navegaçion atenta a-i indirissi: </strong>a l'é de longo ativa. Nisciunn-a informaçion saiâ spedia sensa o teu permisso. Se ti veu dizabilitâ conpletamente sta carateristica, segoi sti passi:
rights-locationawarebrowsing-term-1 = Inta bara di indirissi, scrivi <code>about:config</code>
rights-locationawarebrowsing-term-2 = Scrivi geo.enabled
rights-locationawarebrowsing-term-3 = Sciacca doî vòtte co-o ratto in sce preferense de geo.enabled
rights-locationawarebrowsing-term-4 = A navegaçion atenta a-i indirissi a l'é dizabilitâ
rights-webservices-unbranded = 'Na vixon d'insemme di serviççi do scito into produto, co-e istroçioin in sce comme dizabilitali, se existan, saian chi.
rights-webservices-term-unbranded = Tutti i termini do serviçio pe sto produto devan ese chi.
rights-webservices-term-1 = { -vendor-short-name } e i seu colaboratoî, licensoî louan pe fornî serviççi o ciù boin e sensa eroî poscibile.  Ma no poemmo garantî che ste informaçioin segian conplete e sensa eroî.  Prezenpio, a Navegaçion Segua a no peu identificâ çerti sciti pericolozi e peu anche dî che 'n scito o l'é seguo anche se o no l'é.
rights-webservices-term-2 = { -vendor-short-name } peu fermâ ò cangiâ i Serviççi a seu discreçion.
rights-webservices-term-3 = T'ê o benvegnuo a deuviâ sti serviççi con sta verscion de { -brand-short-name } e o { -vendor-short-name } te garantisce o dirito de falo. O { -vendor-short-name } e i seu licensoî se riservan tutti i atri diriti in sci serviççi. Sti termini no en pe limitâ in nisciunn-a manea i diriti de sorgente averto aplicabili a { -brand-short-name } e a-e verscioin in còdice sorgente do { -brand-short-name }.
rights-webservices-term-4 = <strong>I serviççi son fornî "cosci-comme-son."  { -vendor-short-name }, i seu colaboratoî, licensoî, e distriboitoî disconoscian tutte e garançie, sia inplicite che esplicite, con e sensa limitaçion, garançie che i serviççi seggian vendibili e seggian adati pe quarche fin particola.  Ti devi pigiate o reizego de seleçionâ i serviççi pe-i teu fin co-a qualitæ e prestaçioin di serviççi. Quarche giurisdiçion no permitte a escluxion ò limitaçion de garançie inplicite, coscì sto disconoscimento no se peu aplicâ a ti.</strong>
rights-webservices-term-5 = <strong>Tranne comme domandou da lezze, { -vendor-short-name }, i seu colaboratoi, licensoî e distriboitoî no saian responsabili pe ògni indireito, speciale, incidentâ, consequensiâ, punitivo ò danno dovuo in quarche mòddo a l'uzo de { -brand-short-name } e di Serviççi. A responsabilitæ coletiva sotta sti termini a no saiâ ciù de $500 (çinque çento dòlari american). Quarche giurisdiçion o no permitte  l'escluxion ò limitaçion de çerti danni, còsci sta escluxion ò limitaçion no se aplica a ti.</strong>
rights-webservices-term-6 = O { -vendor-short-name } peu agiornâ sti termini comme peu servî di vòtta in vòtta. Sti termini no van cangiæ ò scancelæ sensa o permisso scrito de { -vendor-short-name }.
rights-webservices-term-7 = Sti termini en governæ da-a lezze do stæto de a California, U.S.A., escluzo conflitti de lezze. Se quarche parte di termini a no l'é valida a parte che ghe resta a saiâ in fòrsa e efetto. Into cazo che ghe segge un conflitto fra 'na verscion traduta de sti termini e quella Ingleize, a verscion Ingleize a prevale.
