# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Hi ha una actualització del { -brand-shorter-name } disponible.
    .buttonlabel = Baixa l'actualització
    .buttonaccesskey = B
    .secondarybuttonlabel = Ara no
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Actualitzeu el { -brand-shorter-name } per millorar la velocitat i privadesa.
appmenu-update-manual =
    .label = El { -brand-shorter-name } no s'ha pogut actualitzar a la versió més recent.
    .buttonlabel = Baixa el { -brand-shorter-name }
    .buttonaccesskey = B
    .secondarybuttonlabel = Ara no
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Baixeu una còpia nova del { -brand-shorter-name } i us ajudarem a instal·lar-la.
appmenu-update-whats-new =
    .value = Descobriu-ne les novetats.
appmenu-update-restart =
    .label = Reinicia per actualitzar el { -brand-shorter-name }.
    .buttonlabel = Reinicia i restaura
    .buttonaccesskey = R
    .secondarybuttonlabel = Ara no
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Després d'un reinici ràpid, el { -brand-shorter-name } restaurarà totes les pestanyes i obertes i les finestres que no estiguin en mode de navegació privada.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Entesos
    .buttonaccesskey = E
appmenu-addon-post-install-message = Gestioneu els vostres complements fent clic a <image data-l10n-name='addon-install-icon'></image> al menú <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permet que aquesta extensió s'executi en finestres privades
    .accesskey = P
appmenu-addon-private-browsing =
    .label = Canvi en les extensions en finestres privades
    .buttonlabel = Gestiona les extensions
    .buttonaccesskey = G
    .secondarybuttonlabel = Entesos
    .secondarybuttonaccesskey = E
appmenu-addon-private-browsing-message = Les extensions noves que afegiu al { -brand-shorter-name } no funcionaran en les finestres privades llevat que ho permeteu als paràmetres.
appmenu-addon-private-browsing-learn-more = Més informació sobre com gestionar els paràmetres de les extensions
