# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Sobre las Ferramentas de Desenvolvedor
enable-title = Activar las ferramientas de desenvolvedor de Firegox
enable-inspect-element-title = Activar las ferramientas de desenvolvedor de Firefox pa usar Examinar l'elemento
enable-inspect-element-message = Examinar y editar HTML y CSS con l'Inspector de Ferramientas de Desenvolvedor.
enable-about-debugging-message = Desenvolver y depurar WebExtensions, web workers, workers de servicio y mas, con as ferramientas de desenvolvedor de Firefox.
enable-key-shortcut-message = Has activau un alcorce de Ferramientas de Desenvolvedor. Si ye per error, puetz zarrar esta pestanya.
enable-menu-message = Perfecciona los codigos HTML, CSS y JavaScript d'as tuyas pachinas con ferramientas como l'Inspector y lo Depurador.
enable-common-message = Las Ferramientas de Desenvolvedor de Firefox son desactivadas per defecto pa dar-te mas control sobre lo navegador.
enable-learn-more-link = Saber mas sobre las Ferramientas de Desenvolvedor
enable-enable-button = Acativar las Ferramientas de Desenvolvedor
enable-close-button = Zarrar esta pestanya
welcome-title = Benveniu ta las Ferramientas de Desenvolvedor de Firefox!
newsletter-title = Boletín d'o desenvolvedor de Mozilla
newsletter-message = Leye noticias pa los desenvolverdors, trucos y recursos, directament en o tuya servilla de correu.
newsletter-email-placeholder =
    .placeholder = Correu-e
newsletter-privacy-label = Veigo bien que Mozilla maneye la mía información como s'explica en esta <a data-l10n-name="privacy-policy">Politica de Privacidat</a>.
newsletter-subscribe-button = Conducir-se
newsletter-thanks-title = Gracias!
newsletter-thanks-message = Si denantes no has confirmau la conducción a bell boletín de noticias de Mozilla, ye posible que l'haigas de fer. Compreba la servilla de dentrada u lo filtro de correu vasuera pa veyer si i hai bell mensache de Mozilla.
footer-title = Firefox edición de desenvolvedor
footer-message = Yes mirando bella cosa mas que ferramientas pa desenvolvedors? Mira-te este navegador de Firefox que ye feito especificament pa desenvolvedors y fluxos de treballo modernos.
footer-learn-more-link = Saber-ne mas
features-learn-more = Saber-ne mas
features-inspector-title = Inspector
features-inspector-desc = Inspeccionar y refinar lo codigo pa construyir layouts perfectament definius. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Consola
features-console-desc = Seguir CSS, Javascripot, seguranza y problemas de ret. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Depurador
features-debugger-desc = Un potent depurador de JavaScript con soporte pa lo tuyo framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Ret
features-network-desc = Monitoriar las requestas de ret que pueden enlentir u blocar lo tuyo puesto. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Almagazenamiento
features-storage-desc = Anyader, modificar y eliminar caché, cookies, bases de datos y datos de sesión. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Modo de disenyo adaptable
features-responsive-desc = Comprebar puestos sobre dispositivos emulaus en o tuyo navegador. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Edición visual
features-visual-editing-desc = Achuste fino d'as animacion, l'aliniamiento y lo repleno. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Rendimiento
features-performance-desc = Desblocar cuellos de botella, achiliza procesos y optimiza los components. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memoria
features-memory-desc = Trobar fugas de memoria y fer que la tuya aplicación siga liuchera. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Fallo de demanda de subscripción ({ $errorDescription }).
newsletter-error-unknown = Ha ocurriu una error no esperada.
newsletter-error-timeout = La demanda de conducción ha caducau.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Has activau las Ferramientas de desenvolvedor! Pa empecipiar, explora lo menú d'o desenvolvedor web u ubre las ferramientas ocn { $shortcut }.
