# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Tuilleadh eolais faoi <a data-l10n-name="learn-more">Brabhsáil Phríobháideach</a>.
about-private-browsing-info-visited = stair bhrabhsála
privatebrowsingpage-open-private-window-label = Oscail Fuinneog Phríobháideach
    .accesskey = P
about-private-browsing-info-notsaved = Nuair a dhéanann tú brabhsáil i bhFuinneog Phríobháideach, <strong>ní shábhálann { -brand-short-name }</strong>:
about-private-browsing-info-bookmarks = leabharmharcanna
about-private-browsing-info-searches = cuardaigh
about-private-browsing-info-downloads = íoslódálacha
private-browsing-title = Brabhsáil Phríobháideach
about-private-browsing-info-saved = Ach <strong>sábhálann { -brand-short-name }</strong> do chuid:
about-private-browsing-info-temporary-files = comhaid shealadacha
about-private-browsing-info-cookies = fianáin
tracking-protection-start-tour = Conas a oibríonn sé
about-private-browsing-note = Fiú le Brabhsáil Phríobháideach, <strong>ní bheidh tú anaithnid</strong> ar an Idirlíon. Is féidir le d'fhostaí nó le do sholáthraí seirbhíse na leathanaigh a dtugann tú cuairt orthu a fheiceáil mar sin féin.
about-private-browsing-not-private = Níl tú i bhfuinneog phríobháideach faoi láthair.
