# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = თაღლითური საიტი
safeb-blocked-malware-page-title = საიტზე გადასვლამ, შესაძლოა ავნოს თქვენს კომპიუტერს
safeb-blocked-unwanted-page-title = ეს საიტი შესაძლოა მავნე პროგრამებს შეიცავდეს
safeb-blocked-harmful-page-title = ეს საიტი შესაძლოა მავნე კოდს შეიცავდეს
safeb-blocked-phishing-page-short-desc = { -brand-short-name } ზღუდავს ამ გვერდს, ვინაიდან, შესაძლოა მოტყუებით დაგაყენებინოთ პროგრამა ან ხელყოს თქვენი პირადი მონაცემები, როგორიცაა პაროლები ან საკრედიტო ბარათების ნომრები.
safeb-blocked-malware-page-short-desc = { -brand-short-name } ზღუდავს ამ გვერდს, ვინაიდან ცდილობდა მავნე პროგრამის დაყენებას, რომელსაც შეეძლო მოეპარა ან გაენადგურებინა პირადი მონაცემები თქვენს კომპიუტერში.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } ზღუდავს ამ გვერდს, ვინაიდან შესაძლოა მოტყუებით დაგაყენებინოთ პროგრამა, რომელიც ხელყოფს თქვენს ბრაუზერს (მაგალითად, შეგიცვლით საწყის გვერდს, ამოგიგდებთ დამატებით რეკლამებს საიტებზე და ა.შ.).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } ზღუდავს ამ გვერდს, ვინაიდან შესაძლოა სახიფათო პროგრამას აყენებდეს და იპარავდეს ან აზიანებდეს თქვენს პირად მონაცემებს (როგორიცაა ფოტოები, პაროლები, შეტყობინებები და საკრედიტო ბარათები).
safeb-palm-advisory-desc = ინფორმაციის მომწოდებელი: <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = უკან დაბრუნება
safeb-palm-see-details-label = ვრცლად
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> მიჩნეულია <a data-l10n-name='error_desc_link'>თაღლითურ საიტად</a>. თუ ფიქრობთ, რომ ეს არასწორი ინფორმაციაა, შეგიძლიათ <a data-l10n-name='report_detection'>მოგვახსენოთ ამის შესახებ</a>, ან <a data-l10n-name='ignore_warning_link'>უგულებელყოთ</a> ეს გაფრთხილება და მაინც გადახვიდეთ სახიფათო საიტზე.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> მიჩნეულია <a data-l10n-name='error_desc_link'>თაღლითურ საიტად</a>. თუ ფიქრობთ, რომ ეს ინფორმაცია არასწორია, შეგიძლიათ <a data-l10n-name='report_detection'>მოგვახსენოთ ამის შესახებ</a>.
safeb-blocked-phishing-page-learn-more = იხილეთ ვრცლად, თაღლითური და ყალბი საიტების შესახებ ბმულზე <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. იხილეთ ვრცლად, როგორ იცავს { -brand-short-name } ყალბი და მავნე საიტებისგან, ბმულზე <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> მიჩნეულია <a data-l10n-name='error_desc_link'>მავნე პროგრამების გამავრცელებლად</a>. თუ ფიქრობთ, რომ არასწორია ეს ინფორმაცია, შეგიძლიათ <a data-l10n-name='report_detection'>მოგვახსენოთ ამის შესახებ</a>, ან <a data-l10n-name='ignore_warning_link'>უგულებელყოთ ეს გაფრთხილება</a> და მაინც გადახვიდეთ ამ სახიფათო საიტზე.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> მიჩნეულია <a data-l10n-name='error_desc_link'>მავნე პროგრამების გამავრცელებლად</a>. თუ ფიქრობთ, რომ არასწორია ეს ინფორმაცია, შეგიძლიათ <a data-l10n-name='report_detection'>მოგვახსენოთ ამის შესახებ</a>.
safeb-blocked-malware-page-learn-more = შეიტყვეთ მეტი სახიფათო ვებშიგთავსის შესახებ, როგორიცაა ვირუსები, მავნე კოდი და გაეცანით მისგან თავდაცვის გზებს ბმულზე <a data-l10n-name='learn_more_link'>StopBadware.org</a>. დამატებით იხილეთ { -brand-short-name }-ის თაღლითური და მავნე გვერდებისგან დაცვის შესახებ ინფორმაცია საიტზე <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> მიჩნეულია <a data-l10n-name='error_desc_link'>საზიანო პროგრამების გამავრცელებლად</a>. შეგიძლიათ <a data-l10n-name='ignore_warning_link'>უგულებელყოთ ეს გაფრთხილება</a> და მაინც გადახვიდეთ ამ სახიფათო საიტზე.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> მიჩნეულია <a data-l10n-name='error_desc_link'>მავნე პროგრამების გამავრცელებლად</a>.
safeb-blocked-unwanted-page-learn-more = გაეცანით საზიანო და არასასურველ პროგრამებზე ინფორმაციას <a data-l10n-name='learn_more_link'>არასასურველი პროგრამების დებულებაში</a>. იხილეთ ვრცლად, როგორ იცავს { -brand-short-name } ყალბი და მავნე საიტებისგან, ბმულზე <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> მიჩნეულია <a data-l10n-name='error_desc_link'>საზიანო პროგრამების გამავრცელებლად</a>. შეგიძლიათ <a data-l10n-name='ignore_warning_link'>უგულებელყოთ ეს გაფრთხილება</a> და მაინც გადახვიდეთ ამ სახიფათო საიტზე.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> მიჩნეულია <a data-l10n-name='error_desc_link'>საზიანო პროგრამების გამავრცელებლად</a>.
safeb-blocked-harmful-page-learn-more = იხილეთ ვრცლად, როგორ იცავს { -brand-short-name } ყალბი და სახიფათო გვერდებისგან ბმულზე <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = ეს თაღლითური საიტი არაა…
    .accesskey = ე
