# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Tietoa oikeuksistasi
rights-intro = { -brand-full-name } on ilmainen, avoimen lähdekoodin ohjelmisto, jonka tekijäyhteisö koostuu tuhansista ympäri maailmaa asuvista ihmisistä. Seuraavat seikat on hyvä tietää:
rights-intro-point-1 = { -brand-short-name } on annettu sinulle <a data-l10n-name="mozilla-public-license-link">Mozillan julkisen lisenssin (Mozilla Public License)</a> ehdoilla. Lisenssissä annetaan sinulle oikeus käyttää, kopioida ja levittää { -brand-short-name }ia. Sinulla on myös halutessasi oikeus muokata ja muuttaa { -brand-short-name }in lähdekoodia omien tarpeittesi mukaisesti. Mozillan julkinen lisenssi antaa sinulle myös oikeuden levittää näitä muokkaamiasi versioita.
rights-intro-point-2 = Sinulle ei anneta minkään muotoisia tavaramerkki- tai lisenssioikeuksia Mozilla-säätiön tai muun tahon tavaramerkkeihin, joihin lukeutuu Firefox-nimi ja -logo. Voit lukea tarkempia lisätietoja tavaramerkeistä <a data-l10n-name="mozilla-trademarks-link">täältä</a>.
rights-intro-point-3 = Jotkin { -brand-short-name }in ominaisuudet, kuten kaatumisen raportointi, antavat mahdollisuuden lähettää palautetta { -vendor-short-name }lle. Lähettämällä palautetta annat { -vendor-short-name }lle luvan käyttää lähetettyjä tietoja parantamaan tuotetta, julkaisemaan lähetetyn palautteen verkkosivuilla ja jakelemaan lähetettyjä palautetietoja.
rights-intro-point-4 = <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name }in tietosuojakäytännössä </a>kuvataan, mihin tarkoituksiin käytämme { -brand-short-name }ista { -vendor-short-name }lle lähetetyt palautteet ja käyttäjätiedot.
rights-intro-point-4-unbranded = Kaikki tämän tuotteen käyvät tietosuojakäytänteet tulisi luetteloida tässä.
rights-intro-point-5 = Jotkin { -brand-short-name }in ominaisuudet käyttävät hyväkseen verkkopohjaisia tietopalveluja, joiden emme voi taata olevan 100 % tarkkoja tai virheettömiä. Lisätietoja palveluista mukaan lukien ohjeet niiden päältä poistamiseen löydät <a data-l10n-name="mozilla-service-terms-link">palveluehdoista</a>.
rights-intro-point-5-unbranded = Jos tämä tuote käyttää toiminnassaan hyväkseen verkkopohjaisia palveluja, niiden palveluehdot tulisi linkittää <a data-l10n-name="mozilla-website-services-link">verkkosivustopalvelut</a>-osioon.
rights-intro-point-6 = { -brand-short-name } lataa kolmansilta osapuolilta salauksen purkumoduuleja voidakseen toistaa tietyntyyppistä videosisältöä.
rights-webservices-header = { -brand-full-name }in verkkopohjaiset tietopalvelut
rights-webservices = { -brand-full-name }käyttää hyväkseen verkkopohjaisia tietopalveluita (”palveluita”) joidenkin tämän { -brand-short-name }in binääriversion ominaisuuksien toteuttamiseen kuten alla ehdoissa määritellään. Jos et halua käyttää näitä palveluita tai alla määritellyt ehdot eivät ole hyväksyttäviä, voit poistaa omaisuuden tai palvelut käytöstä. Ohjeet, kuinka tämä tehdään löytyvät <a data-l10n-name="mozilla-disable-service-link">täältä</a>. Muut ominaisuudet ja palvelut voi poistaa päältä ohjelman asetuksista.
rights-safebrowsing = <strong>Selaussuoja: </strong>Selaussuoja (Safe Browsing) -toiminnon ottaminen pois päältä ei ole suositeltua, koska se voi johtaa ei-turvallisilla sivuilla käyntiin. Jos haluat ottaa tämän ominaisuuden pois päältä kokonaan, tee seuraavasti:
rights-safebrowsing-term-1 = Avaa ohjelman asetukset
rights-safebrowsing-term-2 = Valitse Turvallisuus-paneeli
rights-safebrowsing-term-3 = Poista valinta kohdasta "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Estä vaarallinen ja petollinen sisältö
rights-safebrowsing-term-4 = Selaussuoja on nyt poistettu käytöstä
rights-locationawarebrowsing = <strong>Sijaintitietoinen selaus: </strong>on aina valinnainen. Sijaintitietoja ei ikinä lähetetä ilman hyväksyntääsi. Jos haluat poistaa toiminnon kokonaan, tee seuraavasti:
rights-locationawarebrowsing-term-1 = Kirjoita osoitepalkkiin <code>about:config</code>
rights-locationawarebrowsing-term-2 = Kirjoita suodata-kenttään geo.enabled
rights-locationawarebrowsing-term-3 = Tuplanapsauta geo.enabled -asetusta
rights-locationawarebrowsing-term-4 = Sijaintitietoinen selaus -toiminto on nyt otettu pois päältä
rights-webservices-unbranded = Tässä kohdassa tulisi olla kuvaus verkkosivustopalveluista, joita tuote käyttää, sekä ohjeet näiden palvelujen poistamiseen käytöstä jos tämä on mahdollista kyseiselle palvelulle.
rights-webservices-term-unbranded = Tässä tulisi luetteloida kaikki tuotteen käyvät palveluehdot.
rights-webservices-term-1 = { -vendor-short-name } ja siihen liittyvät vapaaehtoiset, lisensoijat ja yhteistyökumppanit pyrkivät toimittamaan ja tarjoamaan mahdollisimman tarkat ja ajan tasalla olevat palvelut. Tämän tiedon kattavuudesta tai virheettömyydestä ei kuitenkaan voida antaa takuita. Esimerkiksi joitain vaarallisia sivustoja ei ehkä tunnisteta ja jotkin harmittomat sivut voidaan virheellisesti luokitella vaarallisiksi. Vastaavasti sijaintitiedot ovat vain arvioita, emmekä me tai meidän palveluntarjoajat voi taata sijaintitietojen tarkkuutta.
rights-webservices-term-2 = { -vendor-short-name } voi lakkauttaa tai muuttaa palveluita yksipuolisesti.
rights-webservices-term-3 = Voit käyttää näitä palveluita tämän { -brand-short-name }in version kanssa ja sinulla on ohjelman myötä kaikki tarvittavat oikeudet niiden käyttämiseen. { -vendor-short-name } ja sen lisensoijat säilyttävät kaikki muut oikeudet palveluihin. Näitä ehtoja ei ole suunniteltu rajoittamaan mitään { -brand-short-name }in avoimen lähdekoodin lisenssien myöntämiä oikeuksia saati lähdekoodiversiolle myönnettyjä oikeuksia.
rights-webservices-term-4 = <strong>Palvelut toimitetaan siinä tilassa "kuin ne ovat". { -vendor-short-name }, siihen liittyvät vapaaehtoiset, lisensoijat ja levittäjät kieltävät kaikki takuut, mukaan lukien lupaukset palvelun kaupallisesta laadusta ja sopivuudesta tarkoituksiisi. Kannat kokonaan vastuun palvelun valinnasta, sen laadusta ja toiminnasta. Tällaiset vastuun rajoitukset eivät ole välttämättä voimassa joissain tuomiovalloissa, joten edellä mainittu ei välttämättä pidä paikkaansa.</strong>
rights-webservices-term-5 = <strong>Lukuunottamatta mitä laki vaatii, { -vendor-short-name }, siihen liittyvät vapaaehtoiset, lisensoijat ja levittäjät eivät ole korvausvastuussa mistään epäsuorasta, erikoisesta tai sattumanvaraisesta vahingosta, joka johtuu suoraan tai epäsuoraan { -brand-short-name }in ja palvelujen käytöstä. Näiden ehtojen alainen kollektiivinen korvausvelvollisuus ei ylitä $500 (viittä sataa Yhdysvaltain dollaria). Joissain tuomiovalloissa korvausvelvollisuuden ylärajaa ei lain mukaan voi asettaa, jolloin edellä mainittu ei pidä paikkaansa tapauksessasi.</strong>
rights-webservices-term-6 = { -vendor-short-name } voi päivittää ja muuttaa näitä ehtoja tarpeen mukaan aika ajoin. Näitä ehtoja ei voi muuttaa tai poistaa ilman { -vendor-short-name }n kirjallista suostumusta.
rights-webservices-term-7 = Nämä ehdot ovat Amerikan Yhdysvaltojen Kalifornian osavaltion lainsäädännön alaisia. Jos jokin osa ehdoista ei päde tuomiovallan alueella, loput ehdot ovat voimassa kokonaisuudessaan. Jos näiden ehtojen käännetty versio ja alkuperäinen englanninkielinen versio eroavat toisistaan, englanninkielinen versio on sitova.
