# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Доступна новая версия { -brand-shorter-name }.
    .buttonlabel = Загрузить обновление
    .buttonaccesskey = а
    .secondarybuttonlabel = Не сейчас
    .secondarybuttonaccesskey = е
appmenu-update-available-message = Обновитесь на последнюю версию { -brand-shorter-name } для повышения скорости и приватности.
appmenu-update-manual =
    .label = { -brand-shorter-name } не может обновиться до последней версии.
    .buttonlabel = Загрузить { -brand-shorter-name }
    .buttonaccesskey = а
    .secondarybuttonlabel = Не сейчас
    .secondarybuttonaccesskey = е
appmenu-update-manual-message = Загрузите новую версию { -brand-shorter-name } и мы поможем вам её установить.
appmenu-update-whats-new =
    .value = Посмотреть, что нового.
appmenu-update-restart =
    .label = Перезапустить { -brand-shorter-name } для обновления.
    .buttonlabel = Перезапустить и восстановить
    .buttonaccesskey = з
    .secondarybuttonlabel = Не сейчас
    .secondarybuttonaccesskey = е
appmenu-update-restart-message = После быстрого перезапуска, { -brand-shorter-name } восстановит все открытые вкладки и окна, которые не были открыты в режиме приватного просмотра.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ок, понятно
    .buttonaccesskey = я
appmenu-addon-post-install-message = Управляйте своими дополнениями, щёлкнув по <image data-l10n-name='addon-install-icon'></image> в меню <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Разрешить этому расширению работать в приватных окнах
    .accesskey = ш
appmenu-addon-private-browsing =
    .label = Изменение в работе расширений в приватных окнах
    .buttonlabel = Управление расширениями
    .buttonaccesskey = п
    .secondarybuttonlabel = Ок, понятно
    .secondarybuttonaccesskey = я
appmenu-addon-private-browsing-message = Любые новые расширения, которые вы добавите в { -brand-shorter-name } не будут работать в приватных окнах, если вы не разрешите этого в настройках.
appmenu-addon-private-browsing-learn-more = Узнайте, как управлять настройками расширений.
