# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = O aplikácii { -brand-full-name }
releaseNotes-link = Čo je nové
update-checkForUpdatesButton =
    .label = Vyhľadať aktualizácie
    .accesskey = h
update-updateButton =
    .label = Reštartovať a aktualizovať aplikáciu { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = Vyhľadávajú sa aktualizácie…
update-downloading = <img data-l10n-name="icon"/>Preberá sa aktualizácia — <label data-l10n-name="download-status"/>
update-applying = Aktualizácia sa inštaluje…
update-failed = Aktualizácia zlyhala. <label data-l10n-name="failed-link">Prevziať najnovšiu verziu</label>
update-failed-main = Aktualizácia zlyhala. <a data-l10n-name="failed-link-main">Prevziať najnovšiu verziu</a>
update-adminDisabled = Aktualizácie boli vypnuté správcom systému
update-noUpdatesFound = Používate najnovšiu verziu prehliadača { -brand-short-name }
update-otherInstanceHandlingUpdates = { -brand-short-name } sa práve aktualizuje v inej inštancii
update-manual = Aktualizácie sú dostupné na <label data-l10n-name="manual-link"/>
update-unsupported = Ďalšie aktualizácie už nie sú na tomto systéme možné. <label data-l10n-name="unsupported-link">Ďalšie informácie</label>
update-restarting = Reštartovanie…
channel-description = Používate aktualizačný kanál <label data-l10n-name="current-channel"></label>.{ " " }
warningDesc-version = Zostavenie { -brand-short-name } je experimentálne a môže byť nestabilné.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> je <label data-l10n-name="community-exp-creditsLink">globálna komunita</label> pracujúca s cieľom zachovať internet otvoreným, verejným a dostupným zdrojom pre všetkých.
community-2 = { -brand-short-name } vytvára <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, <label data-l10n-name="community-creditsLink">globálna komunita</label> pracujúca s cieľom zachovať internet otvoreným, verejným a dostupným zdrojom pre všetkých.
helpus = Chcete nám pomôcť? <label data-l10n-name="helpus-donateLink">Zašlite svoj príspevok</label> alebo <label data-l10n-name="helpus-getInvolvedLink">sa zapojte!</label>
bottomLinks-license = Informácie o licenciách
bottomLinks-rights = Práva koncového používateľa
bottomLinks-privacy = Zásady ochrany súkromia
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
