# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } നെ കുറിച്ചു്
releaseNotes-link = പുതിയതെന്തെല്ലാം
update-checkForUpdatesButton =
    .label = പുതുക്കലുകള്‍ക്കായി പരിശോധിക്കൂ
    .accesskey = പ
update-updateButton =
    .label = ഫയലുകള്‍ വേണ്ടവിധത്തില്‍ നവീകരിക്കൻ വീണ്ടും പുനരാരംഭിക്കുക { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = പുതുക്കലുകള്‍ക്കായി പരിശോധിക്കുന്നു...
update-downloading = <img data-l10n-name="icon"/>പുതുക്കല്‍ ഡൌണ്‍ലോഡ് ചെയ്യുന്നു — <label data-l10n-name="download-status"/>
update-applying = പുതുക്കല്‍ നടപ്പാക്കുന്നു…
update-failed = പുതുക്കാന്‍ കഴിഞ്ഞില്ല.<label data-l10n-name="failed-link">ഏറ്റവും പുതിയ പതിപ്പു് ഡൌണ്‍ലോഡ് ചെയ്യുക</label>
update-failed-main = പുതുക്കാന്‍ കഴിഞ്ഞില്ല.<a data-l10n-name="failed-link-main">ഏറ്റവും പുതിയ പതിപ്പു് ഡൌണ്‍ലോഡ് ചെയ്യുക</a>
update-adminDisabled = സിസ്റ്റം അഡ്മിനിസ്ട്രേറ്റര്‍ പുതുക്കല്‍ അനുവദിക്കുന്നില്ല
update-noUpdatesFound = { -brand-short-name } ഏറ്റവും പുതിയതാണു്
update-otherInstanceHandlingUpdates = മറ്റൊരു ഇന്‍സ്റ്റന്‍സ് { -brand-short-name } പുതുക്കുന്നു
update-manual = പുതുക്കലുകള്‍ ലഭ്യമാവാന്‍ <label data-l10n-name="manual-link"/>
update-unsupported = ഈ സിസ്റ്റത്തില്‍ നിങ്ങള്‍ക്കു് കൂടുതൽ പുതുക്കലുകള്‍ നടത്താന്‍ കഴിയില്ല.<label data-l10n-name="unsupported-link">കൂടുതലറിയാന്‍</label>
update-restarting = വീണ്ടും പുനരാരംഭിക്കുന്നു…
channel-description = നിങ്ങളിപ്പോള്‍ പുതുക്കിയ<label data-l10n-name="current-channel"></label> ചാനലിലാണു്.
warningDesc-version = { -brand-short-name } പരീക്ഷണാര്‍ത്ഥമുള്ളതാകുന്നു, അതിനാല്‍ അസ്ഥിരവുമാകുന്നു.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label>ഒരു<label data-l10n-name="community-exp-creditsLink">ആഗോള കൂട്ടായ്മ</label> വെബ് തുറന്നതും പൊതുവും ഏവര്‍ക്കും ലഭ്യമായതും ആക്കിമാറ്റുന്നതിനു് കൂട്ടായി പ്രയത്നിക്കുന്നു .
community-2 = { -brand-short-name } രൂപകല്‍പ്പന ചെയ്തത് <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, ഇതു് <label data-l10n-name="community-creditsLink">ആഗോള കൂട്ടായ്മ</label> വെബ് തുറന്നതും, പൊതുവായതും, എല്ലാര്‍ക്കും ലഭ്യമായതും ആക്കാനായി ഒന്നിച്ചു് ജോലി ചെയ്യുന്നു.
helpus = സഹായം?<label data-l10n-name="helpus-donateLink">സംഭാവന നൽക്കുക</label> അല്ലെങ്കില്‍  <label data-l10n-name="helpus-getInvolvedLink">പങ്കാളിയാകൂ!</label>
bottomLinks-license = അനുമതി വിവരങ്ങള്‍
bottomLinks-rights = ഉപയോക്തൃ അവകാശങ്ങള്‍
bottomLinks-privacy = സ്വകാര്യതാ നയം
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-ബിറ്റ്)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-ബിറ്റ്)
