# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Dysgu rhagor am <a data-l10n-name="learn-more">Pori Preifat</a>.
about-private-browsing-info-visited = tudalennau rydych wedi ymweld â nhw
privatebrowsingpage-open-private-window-label = Agor Ffenestr Breifat
    .accesskey = F
about-private-browsing-info-notsaved = Pan fyddwch yn pori mewn Ffenestr Breifat, <strong>nid yw'n cadw</strong>:
about-private-browsing-search-placeholder = Chwilio'r We
about-private-browsing-info-bookmarks = nodau tudalen
about-private-browsing-info-title = Rydych mewn Ffenestr Preifat
about-private-browsing-info-searches = eich chwilio
about-private-browsing-info-downloads = llwythi
private-browsing-title = Pori Preifat
about-private-browsing-info-saved = Bydd { -brand-short-name } <strong>yn cadw</strong> eich:
about-private-browsing-info-myths = Mythau cyffredin am bori preifat
about-private-browsing-info-clipboard = testun wedi ei gopïo
about-private-browsing-info-temporary-files = ffeiliau dros dro
about-private-browsing-info-cookies = cwcis
tracking-protection-start-tour = Gweld sut mae hyn yn gweithio
about-private-browsing-note = Nid yw Pori Preifat <strong>yn eich gwneud yn anhysbys</strong> ar y Rhyngrwyd. Cofiwch y bydd eich cyflogwr a'ch darparwr gwasanaeth rhyngrwyd yn gallu olrhain y tudalennau i chi ymweld â nhw.
about-private-browsing =
    .title = Chwilio'r We
about-private-browsing-not-private = Nid ydych mewn ffenestr breifat ar hyn o bryd.
content-blocking-title = Rhwystro Cynnwys
content-blocking-description = Mae rhai gwefannau yn defnyddio tracwyr sy'n monitro eich gweithgaredd ar draws y rhyngrwyd. Mewn ffenestri preifat mae Rhwystro Cynnwys gan { -brand-short-name } yn rhwystro'n awtomatig unrhyw dracwyr sy'n gallu casglu gwybodaeth am eich ymddygiad pori.
about-private-browsing-info-description = Mae { -brand-short-name } yn clirio eich hanes chwilio a phori pan fyddwch yn cau'r ap neu'n cau pob tab a ffenestr Pori Preifat. Er nad yw hyn yn eich gwneud yn ddienw i wefannau neu i'ch darparwr gwasanaeth rhyngrwyd, mae'n ei gwneud yn haws i chi gadw'r hyn rydych chi'n ei wneud ar-lein yn breifat rhag unrhyw un arall sy'n defnyddio'r cyfrifiadur hwn.
