# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Mae diweddariad newydd o { -brand-shorter-name } ar gael.
    .buttonlabel = Llwytho'r Diweddariad i Lawr
    .buttonaccesskey = L
    .secondarybuttonlabel = Nid Nawr
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Diweddarwch { -brand-shorter-name } ar gyfer y diweddaraf mewn cyflymder a phreifatrwydd.
appmenu-update-manual =
    .label = Nid yw { -brand-shorter-name } yn gallu diweddaru i'r fersiwn diweddaraf.
    .buttonlabel = Llwytho { -brand-shorter-name } i lawr.
    .buttonaccesskey = L
    .secondarybuttonlabel = Nid Nawr
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Llwythwch gopi newydd o { -brand-shorter-name } i lawr ac mi wnawn ni eich helpu i'w gosod.
appmenu-update-whats-new =
    .value = Gweld beth sy'n newydd.
appmenu-update-restart =
    .label = Ailgychwyn i ddiweddaru { -brand-shorter-name }
    .buttonlabel = Ail gychwyn ac Adfer
    .buttonaccesskey = A
    .secondarybuttonlabel = Nid Nawr
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Ar ôl ailgychwyn cyflym, bydd { -brand-shorter-name } yn adfer eich tabiau a ffenestri agored sydd ddim yn y modd Pori Preifat.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Iawn, rwy'n deall
    .buttonaccesskey = I
appmenu-addon-post-install-message = Rheolwch eich ychwanegion drwy glicio <image data-l10n-name='addon-install-icon'></image> yn newislen <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Caniatáu i'r estyniad yma redeg mewn Ffenestri Preifat
    .accesskey = C
appmenu-addon-private-browsing =
    .label = Newid i estyniadau mewn Ffenestri Preifat
    .buttonlabel = Rheoli Estyniadau
    .buttonaccesskey = R
    .secondarybuttonlabel = Iawn, rwy'n deall
    .secondarybuttonaccesskey = I
appmenu-addon-private-browsing-message = Ni fydd unrhyw estyniad newydd y byddwch yn eu hychwanegu i { -brand-shorter-name } yn gweithio mewn Ffenestri Preifat oni bai eich bod yn caniatáu hynny yn y gosodiadau.
appmenu-addon-private-browsing-learn-more = Dysgu sut i reoli gosodiadau estyniad.
