# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Newyddion Pwysig
heading = Newidiadau i'ch proffil { -brand-short-name }
changed-title = Beth sydd wedi newid?
changed-desc-profiles = Mae gan y gosodiad hwn o { -brand-short-name } broffil newydd. Proffil yw'r set o ffeiliau lle mae Firefox yn cadw gwybodaeth megis nodau tudalen, cyfrineiriau a dewisiadau defnyddwyr.
changed-desc-dedicated = Er mwyn ei gwneud hi'n haws ac yn fwy diogel newid rhwng gosodiadau Firefox (gan gynnwys Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, a Firefox Nightly), mae gan y gosodiad hwn broffil penodol. Nid yw'n cadw eich gwybodaeth wedi'u cadw yng ngosodiadau Firefox eraill yn awtomatig.
lost = <b> Nid ydych chi wedi colli unrhyw ddata personol na chyfaddasiadau.</b> Os ydych eisoes wedi cadw gwybodaeth i Firefox ar y cyfrifiadur hwn, mae'n dal ar gael mewn gosodiad Firefox eraill.
options-title = Beth yw fy newisiadau?
options-do-nothing = Os na wnewch chi ddim byd, bydd eich data proffil yn { -brand-short-name } yn wahanol i ddata proffil mewn gosodiadau eraill o Firefox.
options-use-sync = Os hoffech i'ch holl ddata proffil fod yr un peth ar bob gosodiad o Firefox, gallwch ddefnyddio { -fxaccount-brand-name } i'w cadw wedi'u cydweddu.
resources = Adnoddau:
support-link = Defnyddio'r Rheolwr Proffil - Erthygl Gymorth
sync-header = Mewngofnodi neu greu { -fxaccount-brand-name }
sync-label = Rhowch eich e-bost
sync-input =
    .placeholder = E-bost
sync-button = Parhau
sync-terms = Drwy barhau, rydych yn cytuno i'r <a data-l10n-name="terms">>Amodau Gwasanaeth</a> a'r <a data-l10n-name="privacy">Hysbysiad Preifatrwydd</a>.
sync-first = Y tro cyntaf i ddefnyddio { -sync-brand-name }? Bydd angen i chi fewngofnodi i bob gosodiad o Firefox i gydweddu eich manylion.
sync-learn = Dysgu rhagor
