# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = { -brand-shorter-name } жаңартуы бар.
    .buttonlabel = Жаңартуды жүктеп алу
    .buttonaccesskey = д
    .secondarybuttonlabel = Қазір емес
    .secondarybuttonaccesskey = м
appmenu-update-available-message = Жылдамдық және жекелігіңіз үшін { -brand-shorter-name } жаңартыңыз
appmenu-update-manual =
    .label = { -brand-shorter-name } соңғы нұсқаға дейін жаңартыла алмайды.
    .buttonlabel = { -brand-shorter-name } жүктеп алу
    .buttonaccesskey = к
    .secondarybuttonlabel = Қазір емес
    .secondarybuttonaccesskey = м
appmenu-update-manual-message = { -brand-shorter-name } жаңа нұсқасын жүктеп алыңыз, оны орнатуға көмектесеміз.
appmenu-update-whats-new =
    .value = Жаңалықтарын біліңіз.
appmenu-update-restart =
    .label = { -brand-shorter-name } жаңарту үшін қайта іске қосу.
    .buttonlabel = Қайта іске қосу және қалпына келтіру
    .buttonaccesskey = т
    .secondarybuttonlabel = Қазір емес
    .secondarybuttonaccesskey = м
appmenu-update-restart-message = Жылдам қайта іске қосылудан кейін, { -brand-shorter-name } Жекелік шолу режиміндегі емес сіздің барлық ашық беттер мен терезелеріңізді қалпына келтіреді.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Жақсы, түсіндім
    .buttonaccesskey = а
appmenu-addon-post-install-message = Қосымшаларыңызды <image data-l10n-name='addon-menu-icon'></image> мәзірінен <image data-l10n-name='addon-install-icon'></image> шерту арқылы басқарыңыз.
appmenu-addon-post-install-incognito-checkbox =
    .label = Бұл кеңейтуге жекелік шолу терезелерінде орындалуға рұқсат ету
    .accesskey = а
appmenu-addon-private-browsing =
    .label = Жекелік шолу режиміндегі кеңейтулерге өзгеріс
    .buttonlabel = Кеңейтулерді басқару
    .buttonaccesskey = б
    .secondarybuttonlabel = Жақсы, түсіндім
    .secondarybuttonaccesskey = а
appmenu-addon-private-browsing-message = { -brand-shorter-name } ішіне қосылған әрбір жаңа кеңейту жекелік шолу терезелерінде жасамайды, сіз оған рұқсат беруіңіз керек.
appmenu-addon-private-browsing-learn-more = Кеңейту баптауларын қалай басқаруға болатынын білу.
