# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Հասանելի է { -brand-shorter-name }-ի նոր թարմացում:
    .buttonlabel = Ներբեռնել թարմացումը
    .buttonaccesskey = Ն
    .secondarybuttonlabel = Ոչ հիմա
    .secondarybuttonaccesskey = Ո
appmenu-update-available-message = Թարմացրեք { -brand-shorter-name }-ը՝ արագագործության և անվտանգության համար:
appmenu-update-manual =
    .label = { -brand-shorter-name }-ը հնարավոր չէ թարմացնել:
    .buttonlabel = Ներբեռնել { -brand-shorter-name }-ը
    .buttonaccesskey = Ն
    .secondarybuttonlabel = Ոչ հիմա
    .secondarybuttonaccesskey = Ո
appmenu-update-manual-message = Ներբեռնեք { -brand-shorter-name }-ի նոր տարբերակը և մենք կօգնենք Ձեզ տեղադրել այն:
appmenu-update-whats-new =
    .value = Ինչն է նոր:
appmenu-update-restart =
    .label = Վերամեկնարկեք՝ { -brand-shorter-name }-ը թարմացնելու համար:
    .buttonlabel = Վերամեկնարկել և վերականգնել
    .buttonaccesskey = Վ
    .secondarybuttonlabel = Ոչ հիմա
    .secondarybuttonaccesskey = Ո
appmenu-update-restart-message = Արագ վերամեկնարկից հետո { -brand-shorter-name }-ը կվերականգնի բոլոր բաց ներդիրները և պատուհանները, որոնք Գաղտնի Դիտարկման կերպում չեն:
appmenu-addon-private-browsing-installed =
    .buttonlabel = Հասկանալի է:
    .buttonaccesskey = O
appmenu-addon-post-install-message = Կառավարեք ձեր հավելումները սեղմելով <image data-l10n-name='addon-install-icon'></image><image data-l10n-name='addon-menu-icon'></image>ցանկին:
appmenu-addon-post-install-incognito-checkbox =
    .label = Թույլատրել այս ընդլայնմանը աշխատեցնել Գաղտնի պատուհանը
    .accesskey = A
appmenu-addon-private-browsing =
    .label = Փոխել Գաղտնի պատուհանի ընդլայնումներին
    .buttonlabel = Կառավարել ընդլայնումները
    .buttonaccesskey = M
    .secondarybuttonlabel = Հասկանալի է
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Բոլոր նոր ընդլայնումները, որոնք դուք ավելացնում եք { -brand-shorter-name }-ում չեն աշխատի Գաղտնի դիտարկման պատուհանում, մինչև յոր դուք չթույլատրեք դա:
appmenu-addon-private-browsing-learn-more = Իմացեք, թե ինչպես կառավարել ընդլայնումների կարգավորումները
