# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Der is in nije { -brand-shorter-name }-fernijing beskikber.
    .buttonlabel = Fernijing downloade
    .buttonaccesskey = F
    .secondarybuttonlabel = No net
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Wurkje jo { -brand-shorter-name } by foar it nijste yn faasje en privacy.
appmenu-update-manual =
    .label = { -brand-shorter-name } kin net fernije nei de lêste ferzje.
    .buttonlabel = { -brand-shorter-name } downloade
    .buttonaccesskey = d
    .secondarybuttonlabel = No net
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Download in farske kopy fan { -brand-shorter-name } en wy helpe jo it te ynstallearjen.
appmenu-update-whats-new =
    .value = Wat is nij.
appmenu-update-restart =
    .label = Start opnij om { -brand-shorter-name } by te wurkjen.
    .buttonlabel = Opnij starte en werstelle
    .buttonaccesskey = O
    .secondarybuttonlabel = No net
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Nij in flugge werstart, sil { -brand-shorter-name } al jo iepen ljepblêden en finsters dy't net yn priveemodus binne werstelle.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Okee, begrepen
    .buttonaccesskey = O
appmenu-addon-post-install-message = Behear jo add-ons troch op <image data-l10n-name='addon-install-icon'></image> yn it menu <image data-l10n-name='addon-menu-icon'></image> te klikken.
appmenu-addon-post-install-incognito-checkbox =
    .label = Dizze útwreiding yn priveefinsters útfiere litte
    .accesskey = D
appmenu-addon-private-browsing =
    .label = Wiziging oan útwreidingen yn priveefinsters
    .buttonlabel = Utwreidingen beheare
    .buttonaccesskey = U
    .secondarybuttonlabel = Okee, begrepen
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Nije útwreidingen dy't jo oan { -brand-shorter-name } tafoegje wurkje net yn priveefinsters, útsein jo dit tastean yn de ynstellingen.
appmenu-addon-private-browsing-learn-more = Mear ynfo oer it behearen fan útwreidingen-ynstellingen.
