# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Wichtich nijs
heading = Wizigingen oan jo { -brand-short-name }-profyl
changed-title = Wat is der wizige?
changed-desc-profiles = Dizze ynstallaasje fan { -brand-short-name } hat in nij profyl. In profyl is de groep bestannen wêryn Firefox ynformaasje lykas blêdwizers, wachtwurden en brûkersfoarkarren bewarret.
changed-desc-dedicated = Om it wikseljen tusken ynstallaasjes fan Firefox (wêrûnder Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition en Firefox Nightly) makliker en feiliger te meitsjen, hat dizze ynstallaasje no in spesifyk profyl. Jo bewarre ynformaasje wurdt net automatysk mei oare ynstallaasjes fan Firefox dield.
lost = <b>Jo binne gjin persoanlike gegevens of oanpassingen kwytrekke.</b> As jo al ynformaasje yn Firefox op dizze kompjûter bewarre hawwe, is dizze noch hieltyd yn in oare ynstallaasje fan Firefox beskikber.
options-title = Hokker opsjes haw ik?
options-do-nothing = As jo neat dogge, sille jo profylgegevens yn { -brand-short-name } oars wêze as profylgegevens yn oare ynstallaasjes fan Firefox.
options-use-sync = As jo wolle dat al jo profylgegevens yn alle ynstallaasjes fan Firefox itselde binne, kinne jo in { -fxaccount-brand-name } brûke om se syngroan te hâlden.
resources = Boarnen:
support-link = De profylbehearder brûke - Stipe-artikel
sync-header = Meld jo oan of meitsje in { -fxaccount-brand-name } oan
sync-label = Fier jo e-mailadres yn
sync-input =
    .placeholder = E-mailadres
sync-button = Trochgean
sync-terms = Troch fierder te gean, geane jo akkoard mei de <a data-l10n-name="terms">Tsjinstbetingsten</a> en <a data-l10n-name="privacy">Privacyferklearring</a>.
sync-first = Brûke jo { -sync-brand-name } foar it earst? Jo moatte jo by elke ynstallaasje fan Firefox oan te melden om jo ynformaasje te syngronisearjen.
sync-learn = Mear ynfo
