# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = 详细了解<a data-l10n-name="learn-more">隐私浏览</a>。
about-private-browsing-info-visited = 访问过的页面
privatebrowsingpage-open-private-window-label = 打开隐私窗口
    .accesskey = P
about-private-browsing-info-notsaved = 当您在隐私窗口中浏览时，{ -brand-short-name } <strong>不会保存</strong>：
about-private-browsing-search-placeholder = 在网络上搜索
about-private-browsing-info-bookmarks = 书签
about-private-browsing-info-title = 您已进入隐私窗口
about-private-browsing-info-searches = 搜索记录
about-private-browsing-info-downloads = 下载项
private-browsing-title = 隐私浏览模式
about-private-browsing-info-saved = { -brand-short-name } <strong>将保存</strong>您的：
about-private-browsing-info-myths = 隐私浏览功能的常见误解
about-private-browsing-info-clipboard = 剪贴板内容
about-private-browsing-info-temporary-files = 临时文件
about-private-browsing-info-cookies = Cookie
tracking-protection-start-tour = 看看怎么用
about-private-browsing-note = 隐私浏览模式<strong>无法让您</strong>在互联网上匿名。您的雇主或者网络服务提供商仍然可以知道您访问了什么页面。
about-private-browsing =
    .title = 在网络上搜索
about-private-browsing-not-private = 您当前不在隐私窗口中。
content-blocking-title = 内容拦截
content-blocking-description = 某些网站会使用跟踪器来监控您上网做了什么。在隐私窗口中，{ -brand-short-name } 的内容拦截功能会自动拦截许多试图收集您的上网行为的跟踪器。
about-private-browsing-info-description = { -brand-short-name } 在您退出本程序或关闭所有隐私浏览标签页和窗口时，将清除您的搜索记录与浏览历史。虽然这样做不会使您对网站或网络服务提供商匿名，但还是可以更简单地让使用此计算机的人无法得知您在网上的活动。
