# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = A proposito de { -brand-full-name }
releaseNotes-link = Novas
update-checkForUpdatesButton =
    .label = Cercar actualisationes
    .accesskey = C
update-updateButton =
    .label = Reinitiar pro actualisar { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = Cercante actualisationes…
update-downloading = <img data-l10n-name="icon"/>Discarga de actualisation — <label data-l10n-name="download-status"/>
update-applying = Applicante le actualisation…
update-failed = Le actualisation ha fallite. <label data-l10n-name="failed-link">Discargar le ultime version</label>
update-failed-main = Le actualisation ha fallite. <a data-l10n-name="failed-link-main">Discargar le ultime version</a>
update-adminDisabled = Actualisationes inactivate per le administrator de tu systema
update-noUpdatesFound = { -brand-short-name } es actual
update-otherInstanceHandlingUpdates = { -brand-short-name } es in actualisation per un altere instantia
update-manual = Actualisationes disponibile in <label data-l10n-name="manual-link"/>
update-unsupported = Tu non pote facer plus actualisationes in iste systema. <label data-l10n-name="unsupported-link">Saper plus</label>
update-restarting = Reinitiante…
channel-description = Tu es actualmente in le canal de actualisationes <label data-l10n-name="current-channel"></label>.
warningDesc-version = { -brand-short-name } es experimental e pote esser instabile.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> es un <label data-l10n-name="community-exp-creditsLink">communitate mundial</label> qui travalia unite pro mantener le Web aperite, public e accessibile a totes.
community-2 = { -brand-short-name } es designate per <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, un <label data-l10n-name="community-creditsLink">communitate mundial</label> qui travalia unite pro mantener le Web aperite, public e accessibile a totes.
helpus = Desira tu adjutar? <label data-l10n-name="helpus-donateLink">Face un donation</label> o <label data-l10n-name="helpus-getInvolvedLink">collabora!</label>
bottomLinks-license = Informationes de licentia
bottomLinks-rights = Derectos del usator
bottomLinks-privacy = Politica de confidentialitate
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
