# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Saper plus super <a data-l10n-name="learn-more">Navigation private</a>.
about-private-browsing-info-visited = paginas visitate
privatebrowsingpage-open-private-window-label = Aperir un Fenestra private
    .accesskey = P
about-private-browsing-info-notsaved = Quando tu naviga in un Fenestra private, { -brand-short-name } <strong>non salvar lo</strong>:
about-private-browsing-search-placeholder = Cercar in le Web
about-private-browsing-info-bookmarks = marcapaginas
about-private-browsing-info-title = Tu es in un Fenestra private
about-private-browsing-info-searches = recercas
about-private-browsing-info-downloads = discargamentos
private-browsing-title = Navigation private
about-private-browsing-info-saved = { -brand-short-name } <strong>salveguardara</strong> tu:
about-private-browsing-info-myths = Mythos commun re le navigation anonyme
about-private-browsing-info-clipboard = texto copiate
about-private-browsing-info-temporary-files = files temporari
about-private-browsing-info-cookies = cookies
tracking-protection-start-tour = Vider como functiona
about-private-browsing-note = Navigation private <strong>non te rende anonyme</strong> in Internet. Tu empleator o fornitor de servicio Internet pote totevia saper que pagina tu visita.
about-private-browsing =
    .title = Cercar in le Web
about-private-browsing-not-private = Tu non es actualmente in un Fenestra private.
content-blocking-title = Blocada de contentos
content-blocking-description = Alcun sitos web usa traciatores que pote controlar tu activitate trans internet. In le Fenestras private { -brand-short-name } Content Blocking bloca automaticamente plure traciatores que pote colliger informationes re tu comportamento in navigation.
about-private-browsing-info-description = { -brand-short-name } cancella tu chronologia de navigation e de recerca quando tu quita le application o claude tote le schedas e fenestras de navigation private. Ben que isto non te rende anonyme al sitos web o a tu providitor de servicio internet, illo rende plus facile mantener private lo que tu face online, salvo que pro illes qui usa iste computator.
