# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Novas importante
heading = Cambios a tu profilo de { -brand-short-name }
changed-title = Que es cambiate?
changed-desc-profiles = Iste installation de { -brand-short-name } ha un nove profilo. Un profilo es le collection de files ubi Firefox salva informationes tal como marcapaginas, contrasignos e preferentias de usator.
changed-desc-dedicated = Pro render plus facile e plus secur passar inter installationes de Firefox (anque Firefox, Firefox ESR, Firefox Beta, Firefox Edition pro disveloppatores, e Firefox Nightly), iste installation ora ha un profilo dedicate. Illo non comparti automaticamente tu informationes salvate con altere installationes de Firefox.
lost = <b>Tu non ha perdite ulle datos personal o personalisationes.</b> Si tu ha jam salvate informationes in Firefox sur iste computator, il es ancora disponibile in un altere installation de Firefox.
options-title = Qual es mi optiones?
options-do-nothing = Si tu face nihil, tu datos de profilo in { -brand-short-name } sera differente del datos de profilo in altere installationes de Firefox.
options-use-sync = Si tu desira que tote le datos de tu profilo es identic sur tote le installationes de Firefox, tu pote usar un { -fxaccount-brand-name } pro los mantener in synchronia.
resources = Ressources:
support-link = Uso del Gestor del profilo - Articulo de supporto
sync-header = Accede o crea un { -fxaccount-brand-name }
sync-label = Insere tu email
sync-input =
    .placeholder = Email
sync-button = Continuar
sync-terms = Si tu procede, tu concorda con le <a data-l10n-name="terms">Terminos de servicio</a> e con le <a data-l10n-name="privacy">Aviso de confidentialitate</a>.
sync-first = Es il le prime vice que tu usa { -sync-brand-name }? Tu debera acceder a cata installation de Firefox pro synchronisar tu informationes.
sync-learn = Saper plus
