# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Pe saveine de ciù in sciâ <a data-l10n-name="learn-more">Navegaçion Privâ</a>.
about-private-browsing-info-visited = pagine vixitæ
privatebrowsingpage-open-private-window-label = Arvi 'n barcon privou
    .accesskey = à
about-private-browsing-info-notsaved = Quande ti naveghi inte 'n barcon privou, { -brand-short-name } <strong>o no se sarva</strong>:
about-private-browsing-search-placeholder = Çerca inta Ræ
about-private-browsing-info-bookmarks = Segnalibbri
about-private-browsing-info-title = Ti ê inte 'n barcon privou
about-private-browsing-info-searches = riçerche
about-private-browsing-info-downloads = descaregamenti
private-browsing-title = Navegaçion privâ
about-private-browsing-info-saved = { -brand-short-name } <strong>o se sarva</strong>:
about-private-browsing-info-myths = Miti comuin in sciâ navegaçion privâ
about-private-browsing-info-clipboard = testo copiou
about-private-browsing-info-temporary-files = schedai tenporanei
about-private-browsing-info-cookies = cookie
tracking-protection-start-tour = Descòvri comme fonçionn-a
about-private-browsing-note = Navegaçion privâ <strong>no te fâ deventâ anònimo</strong> in sce l'internet. A ògni mòddo i teu inpiegæ ò o fornitô do serviçio de conescion a l'Internet peuan ancon savei e pagine che ti vixiti.
about-private-browsing =
    .title = Çerca inta Ræ
about-private-browsing-not-private = Sto chi o no l'é 'n barcon privou.
content-blocking-title = Blòcco di contengui
content-blocking-description = Quarche scito o deuvia traciatoî che peuan amiâ e teu ativitæ in sce l'Internet. Inti barcoin privæ, { -brand-short-name } o blòcca o contegnuo in aotomatico tanti traciatoî che pigian de informaçioin in sciô teu conportamento de navegaçion.
about-private-browsing-info-description = { -brand-short-name } scancella a teu cronologia de navegaçion e de riçerche quande seri i feuggi e i barcoin de navegaçion privâ. Sciben questo no ti fasci deventâ anònimo co-i sciti o co-o fornitô de Internet, l'agiutta in ògni mòddo a mantegnî privou da-i atri utenti de sto computer cöse ti fæ in linea.
