# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Gh'é 'n neuvo agiornamento de { -brand-shorter-name }.
    .buttonlabel = Scarega Agiornamento
    .buttonaccesskey = S
    .secondarybuttonlabel = Oua no
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Agiorna { -brand-shorter-name } pe-o megio da velocitæ e da privacy.
appmenu-update-manual =
    .label = { -brand-shorter-name } o no se peu agiornâ a l'urtima verscion.
    .buttonlabel = Scarega { -brand-shorter-name }
    .buttonaccesskey = S
    .secondarybuttonlabel = Oua no
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Scarega 'na còpia neuva de { -brand-shorter-name } e te agiutiemo a instalalo.
appmenu-update-whats-new =
    .value = Amia cöse gh'é de neuvo.
appmenu-update-restart =
    .label = Arvi torna pe agiornâ { -brand-shorter-name }.
    .buttonlabel = Arvi torna e repiggia
    .buttonaccesskey = A
    .secondarybuttonlabel = Oua no
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Dòppo ina avertua rapida, { -brand-shorter-name } o repigiâ tutti feuggi e barcoin che no ean into mòddo de Naveagçion Privâ.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Va ben, ò capio
    .buttonaccesskey = V
appmenu-addon-post-install-message = Gestisci e inpostaçioin di conponenti azonti sciacando <image data-l10n-name='addon-install-icon'></image> into <image data-l10n-name='addon-menu-icon'></image> menû.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permetti l’ezegoçion de sta estenscion inti barcoin privæ
    .accesskey = A
appmenu-addon-private-browsing =
    .label = Cangiamenti in scê estenscioin inti barcoin privæ
    .buttonlabel = Gestisci estenscioin
    .buttonaccesskey = G
    .secondarybuttonlabel = Va ben, ò capio
    .secondarybuttonaccesskey = V
appmenu-addon-private-browsing-learn-more = Descòvri comme gestî e inpostaçioin de estenscioin.
