# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Una nueva actualización de { -brand-shorter-name } está disponible.
    .buttonlabel = Bajar actualización
    .buttonaccesskey = D
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Actualiza tu { -brand-shorter-name } para lo último en velocidad y privacidad.
appmenu-update-manual =
    .label = { -brand-shorter-name } no se puede actualizar a la última versión.
    .buttonlabel = Descargar { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Baja una copia fresca de { -brand-shorter-name } y nosotros te ayudaremos a instalarla.
appmenu-update-whats-new =
    .value = Revisa que hay de nuevo.
appmenu-update-restart =
    .label = Reiniciar para actualizar { -brand-shorter-name }.
    .buttonlabel = Reiniciar y restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Después de un reinicio rápido, { -brand-shorter-name } restaurará todas tus pestañas y ventanas abiertas que no estén en el modo de navegación privada.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, ¡ya caché!
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gestiona tus complementos haciendo clic en <image data-l10n-name='addon-install-icon'></image> en el menú <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir a esta extensión ejecutarse en ventanas privadas
    .accesskey = A
appmenu-addon-private-browsing =
    .label = Cambios a las extensiones en ventanas privadas
    .buttonlabel = Gestionar extensiones
    .buttonaccesskey = M
    .secondarybuttonlabel = Ok, ¡ya caché!
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Cualquier extensión nueva que añadas a { -brand-shorter-name } no funcionará en ventanas privadas salvo que lo permitas en los ajustes.
appmenu-addon-private-browsing-learn-more = Aprender cómo gestionar ajustes de extensiones.
