# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Noticias importantes
heading = Cambios a tu perfil de { -brand-short-name }
changed-title = ¿Qué cambio?
changed-desc-profiles = La instalación de { -brand-short-name } tiene un nuevo perfil. Un perfil es un conjunto de archivos en los que Firefox guarda información como por ejemplo marcadores, contraseñas y preferencias de usuario.
changed-desc-dedicated = Con la finalidad de hacer más fácil y seguro el cambio entre instalaciones de Firefox (Incluyendo Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition y Firefox Nightly), esta instalación ahora tiene un perfil dedicado. No comparte de forma automáticamente tu información guardada con otras instalaciones de Firefox.
lost = <b>No has perdido ningún dato personal o personalización.</b> Si ya habías guardado información en Firefox en este computador, esta se encuentra todavía disponible en otra instalación de Firefox.
options-title = ¿Cuales son mis opciones?
options-do-nothing = Si no haces nada, tus datos de perfil en { -brand-short-name } serán diferentes a los datos de perfil en otras instalaciones de Firefox.
options-use-sync = Si quieres que todos tus datos de perfiles sean los mismos en todas las instalaciones de Firefox, puedes usar una { -fxaccount-brand-name } para mantenerlos sincronizados.
resources = Recursos:
support-link = Usando el administrador de perfiles - Artículo de soporte
sync-header = Conéctate o crea una { -fxaccount-brand-name }
sync-label = Ingresa tu correo
sync-input =
    .placeholder = Correo
sync-button = Continuar
sync-terms = Al proceder, aceptas los <a data-l10n-name="terms">Términos de servicio</a> y el <a data-l10n-name="privacy">aviso de privacidad</a>.
sync-first = ¿Primera vez usando { -sync-brand-name }? Deberás conectarte en cada instalación de Firefox para sincronizar tu información.
sync-learn = Aprender más
