# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Tietoja web-työkaluista
enable-title = Firefoxin web-työkalujen käyttöönotto
enable-inspect-element-title = Ota Firefoxin web-työkalut käyttöön, jotta voit käyttää Inspect Element -toimintoa
enable-inspect-element-message = Voit tarkastella ja muokata HTML:ää ja CSS:ää web-työkalujen Inspector-työkalulla.
enable-about-debugging-message = Voit kehittää WebExtensioneita, web workereitä, service workereitä ynnä muuta sekä jäljittää niiden virheitä Firefoxin web-työkaluilla.
enable-key-shortcut-message = Käytit web-työkalun pikanäppäintä. Jos teit niin vahingossa, voit sulkea tämän välilehden.
enable-menu-message = Hio verkkosivustosi HTML, CSS ja JavaScript käyttämällä työkaluja, kuten Inspector ja Debugger.
enable-common-message = Firefoxin web-työkalut ovat oletusarvoisesti poissa käytöstä, jotta selain on paremmin hallittavissasi.
enable-learn-more-link = Lue lisää web-työkaluista englanniksi
enable-enable-button = Ota englanninkieliset web-työkalut käyttöön
enable-close-button = Sulje tämä välilehti
welcome-title = Tervetuloa käyttämään Firefoxin web-työkaluja!
newsletter-title = Mozilla Developer Newsletter
newsletter-message = Saa kehittäjille suunnattuja uutisia, vinkkejä ja resursseja sähköpostiisi englanniksi.
newsletter-email-placeholder =
    .placeholder = Sähköposti
newsletter-privacy-label = Minulle sopii, että Mozilla käsittelee tietojani <a data-l10n-name="privacy-policy">tietosuojaselosteen</a> mukaisesti.
newsletter-subscribe-button = Tilaa
newsletter-thanks-title = Kiitos!
newsletter-thanks-message = Voit joutua vahvistamaan tilauksen, jos et ole aiemmin vahvistanut Mozillaan liittyvän uutiskirjeen tilausta. Tarkista sähköpostisi ja roskapostisuodattimesi viestimme varalta.
footer-title = Firefox Developer Edition
footer-message = Haluatko enemmän kuin web-työkalut? Kokeile Firefox-selainta, joka on tehty varta vasten kehittäjiä ja nykyaikaisia työtapoja varten.
footer-learn-more-link = Lue lisää
features-learn-more = Lue lisää englanniksi
features-inspector-title = Inspector
features-inspector-desc = Tarkastele ja hio koodia tehdäksesi kuvapisteentarkan designin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Console
features-console-desc = Selvitä CSS:ään, JavaScriptiin, turvallisuuteen ja verkkoon liittyviä ongelmia. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Debugger
features-debugger-desc = Tehokas JavaScript-virheenjäljitin, joka tukee käyttämääsi sovelluskehystä. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Network
features-network-desc = Tarkkaile verkkopyyntöjä, jotka hidastavat tai odotuttavat sivustoasi. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Storage
features-storage-desc = Lisää, muokkaa ja poista välimuistin, evästeiden, tietokantojen ja istunnon tietoja. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Responsive Design Mode
features-responsive-desc = Testaa sivustoja emuloiduilla laitteilla selaimessasi. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Visuaalinen muokkaus
features-visual-editing-desc = Hienosäädä animaatioita, sijoittelua ja tilankäyttöä. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Performance
features-performance-desc = Ratkaise pullonkauloja, kevennä prosesseja ja optimoi resursseja. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memory
features-memory-desc = Etsi muistivuotoja ja tee sovelluksestasi vikkelämpi. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Tilauspyyntö epäonnistui ({ $errorDescription }).
newsletter-error-unknown = Tapahtui odottamaton virhe.
newsletter-error-timeout = Tilauspyyntö aikakatkaistiin.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Olet ottanut englanninkieliset web-työkalut käyttöön! Aloita selaamalla Web-työkalut-valikkoa tai avaamalla työkalut painamalla { $shortcut }.
