# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = შემმუშავებლის ხელსაწყოების შესახებ
enable-title = შემმუშავებლის ხელსაწყოების ჩართვა
enable-inspect-element-title = შემმუშავებლის ხელსაწყოების ჩართვა, ელემენტზე დასაკვირვებლად
enable-inspect-element-message = გამოიკვლიეთ, შეამოწმეთ და ჩაასწორეთ HTML და CSS, ელემენტზე დაკვირვების ხელსაწყოების მეშვეობით.
enable-about-debugging-message = შეიმუშავეთ და გამართეთ WebExtensions (გაფართოებების), WebWorkers (მრავალამოცანიანი), ServiceWorkers (ფონურად დასამუშავებელი) და სხვა სახის სკრიპტები, Firefox-ის შემმუშავებლის ხელსაწყოებით.
enable-key-shortcut-message = თქვენ აამოქმედეთ შემმუშავებლის ხელსაწყოების მალსახმობი. თუ ეს შემთხვევით მოხდა, შეგიძლიათ დახუროთ ჩანართი.
enable-menu-message = სრულყავით თქვენი საიტის HTML, CSS, და JavaScript, ელემენტზე დაკვირვებისა და გამმართველი ხელსაწყოებით.
enable-common-message = Firefox-ის შემმუშავებლის ხელსაწყოები, ნაგულისხმევად გამორთულია, რომ ბრაუზერის მართვის სადავეები, სრულად თქვენს ხელში იყოს.
enable-learn-more-link = ვრცლად, შემმუშავებლის ხელსაწყოების შესახებ
enable-enable-button = შემმუშავებლის ხელსაწყოების ჩართვა
enable-close-button = ჩანართის დახურვა
welcome-title = მოგესალმებით, Firefox-ის შემმუშავებლის ხელსაწყოების გვერდზე!
newsletter-title = Mozilla-ს სიახლეები და ცნობები შემმუშავებლებისთვის
newsletter-message = მიიღეთ, ვებშემუშავებასთან დაკავშირებული სიახლეები, რჩევები და სასარგებლო ბმულები, პირდაპირ თქვენს საფოსტო ყუთში.
newsletter-email-placeholder =
    .placeholder = ელფოსტა
newsletter-privacy-label = თანახმა ვარ, რომ Mozilla-მ ჩემი მონაცემები გამოიყენოს, <a data-l10n-name="privacy-policy">პირადულობის დაცვის დებულების</a> შესაბამისად.
newsletter-subscribe-button = გამოწერა
newsletter-thanks-title = გმადლობთ!
newsletter-thanks-message = თუ ჯერ არ დაგიმოწმებიათ Mozilla-ს საინფორმაციო ცნობების გამოწერა, ამის გაკეთება ახლაც შეგიძლიათ. გთხოვთ, მონახოთ ჩვენი გზავნილი მიღებული წერილების ან სპამის საქაღალდეში.
footer-title = Firefox Developer Edition
footer-message = გსურთ მეტი, ვიდრე შემმუშავებლის ხელსაწყოებია? იხილეთ Firefox ბრაუზერი, შექმნილი საგანგებოდ შემმუშავებლებისთვის და განკუთვნილი, თანამედროვე სამუშაო პირობებისთვის.
footer-learn-more-link = იხილეთ ვრცლად
features-learn-more = იხილეთ ვრცლად
features-inspector-title = ელემენტზე დაკვირვება
features-inspector-desc = გამოიკვლიეთ და გააუმჯობესეთ კოდი, ზუსტი და სრულყოფილი განლაგების შესაქმნელად. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = კონსოლი
features-console-desc = თვალი ადევნეთ CSS, JavaScript, უსაფრთხოებასა და ქსელის მუშაობას. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = გამმართველი
features-debugger-desc = JavaScript-ის მძლავრი გამმართველი, უამრავი სამუშო გარსის მხარდაჭერით. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = ქსელი
features-network-desc = თვალი ადევნეთ დაკავშირების მოთხოვნებს, რომელთაც შეუძლია შეანელოს ან შეზღუდოს საიტთან წვდომა. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = საცავების მართვა
features-storage-desc = დაამატეთ, შეცვალეთ ან გააუქმეთ კეში, ფუნთუშები, ბაზები და სეანსის მონაცემები. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = თავსებადი იერსახე
features-responsive-desc = გამოცადეთ საიტები ვირტუალურ მოწყობილობებზე, თქვენს ბრაუზერშივე. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = იერსახის შესწორება
features-visual-editing-desc = გამართეთ საიტზე ანიმაციები, განლაგება და საზღვრები. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = წარმადობა
features-performance-desc = მოხსენით საცობები, შეამცირეთ დამუშავების დრო და გააუმჯობესეთ წარმადობა. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = მეხსიერება
features-memory-desc = დაადგინეთ მეხსიერების გადატვირთულობის მიზეზები და შეამსუბუქეთ თქვენი პროგრამა. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = გამოწერის მოთხოვნა ვერ გაიგზავნა ({ $errorDescription }).
newsletter-error-unknown = მოულოდნელი შეცდომა.
newsletter-error-timeout = გამოწერის მოთხოვნის ვადა ამოიწურა.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = შემმუშავებლის ხელსაწყოები წარმატებით ჩაირთო! დასაწყისისთვის, გადახედეთ ვებშემმუშავებლის მენიუს, ან გახსენით ხელსაწყოები { $shortcut } მალსახმობით.
