.asrouter-admin {
  $border-color: var(--newtab-border-secondary-color);
  $monospace: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace;
  $sidebar-width: 240px;
  margin: 0 auto;
  font-size: 14px;
  padding-left: $sidebar-width;
  display: flex;
  color: var(--newtab-text-primary-color);

  .sidebar {
    inset-inline-start: 0;
    position: fixed;
    width: $sidebar-width;
    padding: 30px 20px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li a {
      padding: 10px 34px;
      display: block;
      color: var(--lwt-sidebar-text-color);

      &:hover {
        background: var(--newtab-textbox-background-color);
      }
    }
  }


  h1 {
    font-weight: 200;
    font-size: 32px;
  }

  h2 .button {
    font-size: 14px;
    padding: 6px 12px;
    margin-inline-start: 5px;
    margin-bottom: 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    &.minimal-table {
      border-collapse: collapse;

      td {
        padding: 8px;
        border: 1px solid $border-color;
      }

      td:first-child {
        width: 1%;
        white-space: nowrap;
      }

      td:not(:first-child) {
        font-family: $monospace;
      }
    }
  }

  .sourceLabel {
    background: var(--newtab-textbox-background-color);
    padding: 2px 5px;
    border-radius: 3px;

    &.isDisabled {
      background: $email-input-invalid;
      color: $red-60;
    }
  }

  .message-item {
    &:first-child td {
      border-top: 1px solid $border-color;
    }

    td {
      vertical-align: top;
      border-bottom: 1px solid $border-color;
      padding: 8px;



      &.min {
        width: 1%;
        white-space: nowrap;
      }

      &:first-child {
        border-left: 1px solid $border-color;
      }

      &:last-child {
        border-right: 1px solid $border-color;
      }
    }

    &.current {
      .message-id span {
        background: $yellow-50;
        padding: 2px 5px;

        [lwt-newtab-brighttext]:not(.force-light-theme) & {
          color: $black;
        }
      }
    }

    &.blocked {
      .message-id,
      .message-summary {
        opacity: 0.5;
      }

      .message-id {
        opacity: 0.5;
      }
    }

    .message-id {
      font-family: $monospace;
      font-size: 12px;
    }
  }

  .providerUrl {
    font-size: 12px;
  }

  pre {
    background: var(--newtab-textbox-background-color);
    margin: 0;
    padding: 8px;
    font-size: 12px;
    max-width: 750px;
    overflow: auto;
    font-family: $monospace;
  }

  .errorState {
    border: 1px solid $red-60;
  }

  .helpLink {
    padding: 10px;
    display: flex;
    background: $yellow-50;
    border-radius: 3px;
    color: $grey-90;

    a {
      text-decoration: underline;
    }
  }

  .dsEnabled {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid $border-color;
  }

  .ds-component {
    margin-bottom: 20px;
  }

  .optOutNote {
    font-size: 12px;
    margin-inline-start: 4px;
  }
}
