# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Yra galimas „{ -brand-shorter-name }“ naujinimas.
    .buttonlabel = Parsiųsti naujinimą
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne dabar
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Atnaujinę „{ -brand-shorter-name }“ turėsite paskiausius greičio ir privatumo patobulinimus.
appmenu-update-manual =
    .label = „{ -brand-shorter-name }“ naujinimas nepavyko.
    .buttonlabel = Parsiųsti „{ -brand-shorter-name }“
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne dabar
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Parsisiųskite šviežią „{ -brand-shorter-name }“ kopiją, o mes jums padėsime ją įsidiegti.
appmenu-update-whats-new =
    .value = Susipažinkite su naujovėmis.
appmenu-update-restart =
    .label = Perleiskite, norėdami atnaujinti „{ -brand-shorter-name }“
    .buttonlabel = Perleisti ir atkurti
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne dabar
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Po greito perleidimo, „{ -brand-shorter-name }“ atkurs visas jūsų atviras korteles ir langus, kurie nėra privačiojo naršymo veiksenoje.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Gerai, supratau
    .buttonaccesskey = G
appmenu-addon-post-install-message = Tvarkykite savo priedus paspausdami <image data-l10n-name='addon-install-icon'></image>, esantį <image data-l10n-name='addon-menu-icon'></image> meniu.
appmenu-addon-post-install-incognito-checkbox =
    .label = Leisti šiam priedui veikti privačiojo naršymo languose
    .accesskey = L
appmenu-addon-private-browsing =
    .label = Pakeisti į priedus privačioje naršymo languose
    .buttonlabel = Tvarkyti priedus
    .buttonaccesskey = T
    .secondarybuttonlabel = Gerai, supratau
    .secondarybuttonaccesskey = G
appmenu-addon-private-browsing-message = Visi naujai priedai, kuriuos pridėsite į „{ -brand-shorter-name }“, neveiks privačiojo naršymo languose, nebent leisite tai per nuostatas.
appmenu-addon-private-browsing-learn-more = Sužinokite, kaip tvarkyti priedų nuostatas.
