# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = ახალი { -brand-shorter-name } განახლება ხელმისაწვდომია.
    .buttonlabel = განახლების ჩამოტვირთვა
    .buttonaccesskey = ჩ
    .secondarybuttonlabel = ახლა არა
    .secondarybuttonaccesskey = ა
appmenu-update-available-message = განაახლეთ { -brand-shorter-name } გაუმჯობესებული სიჩქარისა და უსაფრთხოებისთვის.
appmenu-update-manual =
    .label = { -brand-shorter-name } -ის უახლეს ვერსიამდე განახლება ვერ ხერხდება.
    .buttonlabel = { -brand-shorter-name } -ის ჩამოტვირთვა
    .buttonaccesskey = ჩ
    .secondarybuttonlabel = ახლა არა
    .secondarybuttonaccesskey = ა
appmenu-update-manual-message = ჩამოტვირთეთ { -brand-shorter-name } -ის ახალი ვერსია და ჩვენ დაგეხმარებით მის დაყენებაში.
appmenu-update-whats-new =
    .value = იხილეთ სიახლეები.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } ვერ ახერხებს განახლებას ბოლო ვერსიამდე.
    .buttonlabel = ვრცლად
    .buttonaccesskey = ვ
    .secondarybuttonlabel = დახურვა
    .secondarybuttonaccesskey = დ
appmenu-update-unsupported-message = უახლესი ვერსიის { -brand-shorter-name } არაა მხარდაჭერილი თქვენს სისტემაზე.
appmenu-update-restart =
    .label = გასაახლებლად, გაუშვით ხელახლა { -brand-shorter-name }.
    .buttonlabel = გაშვება და აღდგენა
    .buttonaccesskey = გ
    .secondarybuttonlabel = ახლა არა
    .secondarybuttonaccesskey = ა
appmenu-update-restart-message = ხელახლა გაშვების შემდეგ, { -brand-shorter-name } აღადგენს თქვენს ყველა გახსნილ ჩანართსა და ფანჯარას, პირადი ჩანართებისა და ფანჯრების გარდა.
appmenu-addon-private-browsing-installed =
    .buttonlabel = კარგი, გასაგებია
    .buttonaccesskey = გ
appmenu-addon-post-install-message = მართეთ თქვენი დამატებები <image data-l10n-name='addon-install-icon'></image> ხატულაზე დაწკაპებით, <image data-l10n-name='addon-menu-icon'></image> მენიუში.
appmenu-addon-post-install-incognito-checkbox =
    .label = დაშვება ამ გაფართოების, პირად ფანჯრებში
    .accesskey = დ
appmenu-addon-private-browsing =
    .label = გაფართოებების გამოყენება პირად ფანჯრებში
    .buttonlabel = გაფართოებების მართვა
    .buttonaccesskey = მ
    .secondarybuttonlabel = კარგი, გასაგებია
    .secondarybuttonaccesskey = გ
appmenu-addon-private-browsing-message = ახლად დაყენებულ გაფართოებებს { -brand-shorter-name } არ გაუშვებს პირად ფანჯრებში, სანამ თქვენ არ დაუშვებთ პარამეტრებიდან.
appmenu-addon-private-browsing-learn-more = იხილეთ, თუ როგორ იმართება გაფართოების პარამეტრები.
