# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = کہ بارے میں مزید سیکھیں<a data-l10n-name="learn-more">نجی براوزنگ</a>.
about-private-browsing-info-visited = دورہ کردہ صفحہات
privatebrowsingpage-open-private-window-label = ایک نجی ونڈوں مے کھولیں
    .accesskey = P
about-private-browsing-info-notsaved = جب آپ نجی دریچوں میں براؤز کریں، { -brand-short-name } <strong>محفوظ نہیں کرسکتا</strong>:
about-private-browsing-info-bookmarks = بک مارک
about-private-browsing-info-searches = تلاش شدہ
about-private-browsing-info-downloads = ڈاؤن لوڈ
private-browsing-title = نجی براوزنگ
about-private-browsing-info-saved = { -brand-short-name } <strong>محفوظ کریں گا</strong> تمھارا:
about-private-browsing-info-clipboard = نقل شدہ متن
about-private-browsing-info-temporary-files = عارضی مسلیں
about-private-browsing-info-cookies = کوکی
tracking-protection-start-tour = دیکھیں کہ یہ کیسے کام کرتا ہے
about-private-browsing-note = نجی براوزنگ <strong>آپ کو گمنام نہیں بناتا</strong> انٹرنیٹ پر۔ آپ کی کمپنی یا انٹرنیٹ سروس مہیا کنندہ آپ کے دیکھے گئے صفحات کی پھر بھی سراغ راہ لگا سکتے ہیں۔
about-private-browsing-not-private = آپ فی الحال نجی دریچے میں نہیں۔
content-blocking-title = مواد روکنا
content-blocking-description = کچھ ویب سائٹ ٹریکر کا استعمال کرتے ہے جو انٹرنیٹ پر آپ کے حرکت کی نگرانی کرتے ہے۔ نجی ونڈوز میں، { -brand-short-name } کے مواد روکنے کی خصوصیات خودبخود بہت سے ٹریکر کو روکتا ہے جو آپ کے براؤزنگ کے معلومات جمع کر سکتے ہے۔
