# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = 新しい { -brand-shorter-name } の更新が利用可能です。
    .buttonlabel = 更新をダウンロード
    .buttonaccesskey = D
    .secondarybuttonlabel = 後で
    .secondarybuttonaccesskey = N
appmenu-update-available-message = 最新の速さとプライバシーのために { -brand-shorter-name } を更新してください。
appmenu-update-manual =
    .label = { -brand-shorter-name } を最新バージョンに更新できません。
    .buttonlabel = { -brand-shorter-name } をダウンロード
    .buttonaccesskey = D
    .secondarybuttonlabel = 後で
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = { -brand-shorter-name } の新たなコピーをダウンロードしてください。インストールを手助けします。
appmenu-update-whats-new =
    .value = 新着情報を見る。
appmenu-update-restart =
    .label = 再起動して { -brand-shorter-name } を更新してください。
    .buttonlabel = 再起動して復元
    .buttonaccesskey = R
    .secondarybuttonlabel = 後で
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = { -brand-shorter-name } の再起動後、開いていたタブとプライベートブラウジングモードでないウィンドウがすべて復元されます。
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message = <image data-l10n-name='addon-menu-icon'></image> メニューの <image data-l10n-name='addon-install-icon'></image> をクリックすると、アドオンを管理できます。
appmenu-addon-post-install-incognito-checkbox =
    .label = この拡張機能のプライベートウィンドウでの実行を許可する
    .accesskey = A
appmenu-addon-private-browsing =
    .label = プライベートウィンドウでの拡張機能を変更する
    .buttonlabel = 拡張機能の管理
    .buttonaccesskey = M
    .secondarybuttonlabel = OK
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = { -brand-shorter-name } に新しく追加した拡張機能は、設定で許可しない限りプライベートウィンドウでは動作しません。
appmenu-addon-private-browsing-learn-more = 拡張機能設定の管理の詳細
