# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Om Udviklerværktøj
enable-title = Aktiver Udviklerværktøj i Firefox
enable-inspect-element-title = Aktiver Udviklerværktøj i Firefox for at inspicere elementer
enable-inspect-element-message = Undersøg og rediger HTML og CSS med Inspektør i Udviklerværktøj
enable-about-debugging-message = Udvikl og debug WebExtensions, web-workers, service-workers og mere med Udviklerværktøj i Firefox.
enable-key-shortcut-message = Du har aktiveret en genvej i Udviklerværktøj. Hvis det var en fejl, kan du blot lukke dette faneblad.
enable-menu-message = Brug værktøjer som Inspektør og Debugger til at sørge for perfekt HTML, CSS og JavScript på dit websted.
enable-common-message = Udviklerværktøj i Firefox er som standard slået fra for at give dig mere kontrol over din browser.
enable-learn-more-link = Læs mere om Udviklerværktøj
enable-enable-button = Aktiver Udviklerværktøj
enable-close-button = Luk dette faneblad
welcome-title = Velkommen til Udviklerværktøj i Firefox
newsletter-title = Mozillas nyhedsbrev til udviklere
newsletter-message = Få relevante nyheder, smarte tricks og baggrundsviden direkte i din indbakke (på engelsk)
newsletter-email-placeholder =
    .placeholder = Mailadresse
newsletter-privacy-label = Jeg accepterer, at Mozilla håndterer mine informationer som forklaret i <a data-l10n-name="privacy-policy">Privatlivspolitikken</a>.
newsletter-subscribe-button = Abonner
newsletter-thanks-title = Tak!
newsletter-thanks-message = Hvis du ikke tidligere har bekræftet et abonnement på et Mozilla-relateret nyhedsbrev, skal du muligvis gøre det nu. Tjek din indbakke eller dit spamfilter for at se, om du har fået en mail fra os
footer-title = Firefox Developer Edition
footer-message = Vil du have mere end Udviklerværktøj? Så skulle du tage at kigge på Firefox Developer Edition - en browser skræddersyet til udviklere og moderne arbejdsgange.
footer-learn-more-link = Læs mere
features-learn-more = Læs mere
features-inspector-title = Inspektør
features-inspector-desc = Inspicer og tilpas din kode indtil hver eneste pixel er perfekt. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsol
features-console-desc = Forfølg problemer med CSS, JavaScript, sikkerhed og netværk. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Debugger
features-debugger-desc = Avanceret JavaScript-debugger med understøttelse af dit framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Netværk
features-network-desc = Overvåg netværks-requests, der kan blokere dit websted eller gøre det langsomt. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Lager
features-storage-desc = Tilføj, rediger og fjern cache, cookies, databaser og sessionsdata. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Responsivt design-visning
features-responsive-desc = Test websteder på emulerede enheder i din browser. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Visuel redigering
features-visual-editing-desc = Finindstil animationer, placering og afstande. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Ydelse
features-performance-desc = Løs flaskehalsproblemer, strømlin processer, optimer aktiver. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Hukommelse
features-memory-desc = Find memory-leaks, og gør din applikation hurtigere. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Der opstod en fejl med at melde dig til nyhedsbrevet ({ $errorDescription }).
newsletter-error-unknown = Der opstod en uventet fejl.
newsletter-error-timeout = Tidsfristen for anmodningen udløb.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Du har nu aktiveret Udviklerværktøj! Kig på Udvikler-menuen (under Funktioner), eller åbn værktøjerne med { $shortcut } for at komme i gang.
