# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = { -brand-shorter-name } eguneraketa berri bat erabilgarri dago.
    .buttonlabel = Deskargatu eguneraketa
    .buttonaccesskey = D
    .secondarybuttonlabel = Une honetan ez
    .secondarybuttonaccesskey = e
appmenu-update-available-message = Eguneratu zure { -brand-shorter-name } abiaduran eta pribatutasunean azkena eskuratzeko.
appmenu-update-manual =
    .label = Ezin da { -brand-shorter-name } azken bertsiora eguneratu.
    .buttonlabel = Deskargatu { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Une honetan ez
    .secondarybuttonaccesskey = z
appmenu-update-manual-message = Deskargatu { -brand-shorter-name } nabigatzailearen kopia berri bat eta instalatzen lagunduko dizugu.
appmenu-update-whats-new =
    .value = Ikusi nobedadeak.
appmenu-update-restart =
    .label = Berrabiarazi { -brand-shorter-name } eguneratzeko.
    .buttonlabel = Berrabiarazi eta berreskuratu
    .buttonaccesskey = B
    .secondarybuttonlabel = Une honetan ez
    .secondarybuttonaccesskey = z
appmenu-update-restart-message = Berrabiarazi ondoren, nabigatze pribatuan ez dauden irekitako fitxa eta leiho guztiak berreskuratuko ditu { -brand-shorter-name }(e)k.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ados, ulertuta
    .buttonaccesskey = u
appmenu-addon-post-install-message = Kudeatu zure gehigarriak <image data-l10n-name='addon-menu-icon'></image> menuko <image data-l10n-name='addon-install-icon'></image> ikonoan klik eginez.
appmenu-addon-post-install-incognito-checkbox =
    .label = Baimendu hedapen honi leiho pribatuetan exekutatzea
    .accesskey = B
appmenu-addon-private-browsing =
    .label = Aldatu leiho pribatuetako hedapenetara
    .buttonlabel = Kudeatu hedapenak
    .buttonaccesskey = K
    .secondarybuttonlabel = Ados, ulertuta
    .secondarybuttonaccesskey = u
appmenu-addon-private-browsing-message = Ezarpenetan baimendu ezean, { -brand-shorter-name }(e)ra gehitutako hedapen berriak ez dira leiho pribatuetan ibiliko.
appmenu-addon-private-browsing-learn-more = Ikasi nola kudeatu hedapenen ezarpenak.
