# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Berri garrantzitsua
heading = Aldaketak zure { -brand-short-name } profilari
changed-title = Zer aldatu da?
changed-desc-profiles = { -brand-short-name }(r)en instalazioak profil berria dauka. Firefoxek laster-marka, pasahitz eta erabiltzaile-hobespenen tankerako informazioa gordetzen duen fitxategi multzoa da profila.
changed-desc-dedicated = Firefoxen instalazioen artean errazago eta seguruago aldatzeko (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition eta Firefox Nightly barne), instalazio honek orain bere profil propioa dauka. Gordetako zure informazioa ez da automatikoki Firefoxen beste instalazioekin partekatuko.
lost = <b>Ez duzu datu pertsonal edo pertsonalizaziorik galdu.</b> Ordenagailu honetako Firefoxen informaziorik gordeta bazenu, beste Firefox instalazio batean erabilgarri dago oraindik.
options-title = Zein dira nire aukerak?
options-do-nothing = Ezer ez baduzu egiten, zure { -brand-short-name }(e)ko profilaren datuak beste Firefox instalazioekiko desberdinak izango dira.
options-use-sync = Profileko datuak berdinak izatea nahi baduzu Firefoxen instalazio guztietan, { -fxaccount-brand-name } erabil dezakezu hauek sinkronizatuta mantentzeko.
resources = Baliabideak:
support-link = Profilen kudeatzailea erabiltzea - laguntza artikulua
sync-header = Hasi saioa edo sortu { -fxaccount-brand-name } kontua
sync-label = Idatzi zure helbide elektronikoa
sync-input =
    .placeholder = Helbide elektronikoa
sync-button = Jarraitu
sync-terms = Jarraituz gero, <a data-l10n-name="terms">zerbitzuaren baldintzak</a>eta <a data-l10n-name="privacy">pribatutasun-oharra</a> onartzen dituzu.
sync-first = Lehenengo aldia da { -sync-brand-name } erabiltzen? Zure informazioa sinkronizatzeko, saioa hasi behar duzu Firefoxen instalazio guztietan.
sync-learn = Argibide gehiago
