# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Uusi { -brand-shorter-name }-päivitys on saatavilla.
    .buttonlabel = Lataa päivitys
    .buttonaccesskey = L
    .secondarybuttonlabel = Ei nyt
    .secondarybuttonaccesskey = E
appmenu-update-available-message = Päivitä { -brand-shorter-name }, niin pysyt vauhdissa ja turvassa.
appmenu-update-manual =
    .label = { -brand-shorter-name } ei voi päivittyä uusimpaan versioon.
    .buttonlabel = Lataa { -brand-shorter-name }
    .buttonaccesskey = L
    .secondarybuttonlabel = Ei nyt
    .secondarybuttonaccesskey = E
appmenu-update-manual-message = Lataa uusi { -brand-shorter-name }-kopio, niin autamme sen asentamisessa.
appmenu-update-whats-new =
    .value = Lue, mikä on uutta.
appmenu-update-restart =
    .label = Päivitä { -brand-shorter-name } käynnistämällä se uudestaan.
    .buttonlabel = Käynnistä uudestaan ja palauta
    .buttonaccesskey = K
    .secondarybuttonlabel = Ei nyt
    .secondarybuttonaccesskey = E
appmenu-update-restart-message = Nopean uudelleenkäynnistyksen jälkeen { -brand-shorter-name } palauttaa kaikki välilehdet ja ikkunat, jotka eivät olleet yksityisen selauksen tilassa.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Selvä
    .buttonaccesskey = S
appmenu-addon-post-install-message = Voit hallita lisäosia avaamalla <image data-l10n-name='addon-menu-icon'></image>-valikon ja napsauttamalla <image data-l10n-name='addon-install-icon'></image>-kuvaketta.
appmenu-addon-post-install-incognito-checkbox =
    .label = Salli laajennuksen suoritus yksityisissä ikkunoissa
    .accesskey = a
appmenu-addon-private-browsing =
    .label = Muutos laajennusten toimintaan yksityisissä ikkunoissa
    .buttonlabel = Hallitse laajennuksia
    .buttonaccesskey = H
    .secondarybuttonlabel = Selvä
    .secondarybuttonaccesskey = S
appmenu-addon-private-browsing-message = Yksikään { -brand-shorter-name }iin lisäämäsi uusi laajennus ei toimi yksityisissä ikkunoissa, ellet salli toimintaa asetuksista.
appmenu-addon-private-browsing-learn-more = Lue lisää kuinka hallita laajennusten asetuksia
