# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Tärkeitä uutisia
heading = Muutoksia { -brand-short-name }-profiiliisi
changed-title = Mikä on muuttunut?
changed-desc-profiles = Tällä { -brand-short-name }-asennuksella on uusi profiili. Profiili on joukko tiedostoja, johon Firefox tallentaa muun muassa kirjanmerkit, salasanat ja käyttäjän asetukset.
changed-desc-dedicated = Jotta Firefox-asennusten (mukaan lukien Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition ja Firefox Nightly) välillä vaihtaminen olisi helpompaa ja turvallisempaa, tällä asennuksella on nyt erillisprofiili. Se ei jaa tallennettuja tietoja automaattisesti muiden Firefox-asennusten kanssa.
lost = <b>Et ole menettänyt henkilökohtaisia tietoja tai mukautuksia.</b> Jos olet jo tallentanut tietoja Firefoxiin tällä tietokoneella, tietosi ovat edelleen saavutettavissa toisesta Firefox-asennuksesta.
options-title = Mitä voin tehdä?
options-do-nothing = Jos et tee mitään, { -brand-short-name }-profiilisi tiedot eroavat muiden Firefox-asennusten profiilitiedoista.
options-use-sync = Jos haluat, että profiilitietosi ovat samat kaikissa Firefox-asennuksissa, voit käyttää { -fxaccount-brand-name(case: "partitive") } pitääksesi ne synkronoituna.
resources = Resurssit:
support-link = Profiilien hallinnan käyttäminen -tukiartikkeli
sync-header = Kirjaudu sisään tai luo { -fxaccount-brand-name }
sync-label = Anna sähköpostiosoitteesi
sync-input =
    .placeholder = Sähköposti
sync-button = Jatka
sync-terms = Jatkamalla hyväksyt <a data-l10n-name="terms">käyttöehdot</a> ja <a data-l10n-name="privacy">yksityisyyskäytännön</a>.
sync-first = Onko { -sync-brand-name } käytössäsi ensimmäistä kertaa? Sinun tulee kirjautua jokaiseen Firefox-asennukseen erikseen synkronoidaksesi tietosi.
sync-learn = Lue lisää
