# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

abuse-report-title-extension = Segnala questa estensione a { -vendor-short-name }
abuse-report-title-theme = Segnala questo tema a { -vendor-short-name }
abuse-report-subtitle = Qual è il problema?

# Variables:
#   $author-name (string) - Name of the add-on author
abuse-report-addon-authored-by = di <a data-l10n-name="author-name">{ $author-name }</a>

abuse-report-learnmore =
  Non sei sicuro di quale tipologia di problema selezionare?
  <a data-l10n-name="learnmore-link">Scopri ulteriori informazioni relative alla segnalazione di estensioni e temi</a>

abuse-report-submit-description = Descrivi il problema (facoltativo)
abuse-report-textarea =
  .placeholder = È più semplice risolvere un problema se abbiamo tutti i dettagli. Descrivi il problema che hai riscontrato. Grazie per aiutarci a mantenere il Web sicuro.
abuse-report-submit-note =
  Nota: non includere informazioni personali come nome, indirizzo email, numero di telefono, indirizzo fisico. { -vendor-short-name } mantiene un registro permanente di queste segnalazioni.

## Panel buttons.

abuse-report-cancel-button = Annulla
abuse-report-next-button = Successivo
abuse-report-goback-button = Torna indietro
abuse-report-submit-button = Invia

## Message bars descriptions.

## Variables:
##   $addon-name (string) - Name of the add-on
abuse-report-messagebar-aborted = Segnalazione per <span data-l10n-name="addon-name">{ $addon-name }</span> annullata.
abuse-report-messagebar-submitting = Invio segnalazione per <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-submitted = Grazie per aver inviato una segnalazione. Rimuovere <span data-l10n-name="addon-name">{ $addon-name }</span>?
abuse-report-messagebar-removed-extension = Grazie per aver inviato una segnalazione. L’estensione <span data-l10n-name="addon-name">{ $addon-name }</span> è stata rimossa.
abuse-report-messagebar-removed-theme = Grazie per aver inviato una segnalazione. Il tema <span data-l10n-name="addon-name">{ $addon-name }</span> è stato rimosso.
abuse-report-messagebar-error = Si è verificato un errore durante l’invio della segnalazione per <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-error-recent-submit = La segnalazione per <span data-l10n-name="addon-name">{ $addon-name }</span> non è stata inviata in quanto è stata appena inviata un’altra segnalazione.

## Message bars actions.

abuse-report-messagebar-action-remove = Sì, rimuovilo
abuse-report-messagebar-action-keep = No, voglio tenerlo
abuse-report-messagebar-action-retry = Riprova
abuse-report-messagebar-action-cancel = Annulla

## Abuse report reasons (optionally paired with related examples and/or suggestions)

abuse-report-damage-reason = Ha danneggiato il mio computer e i miei dati
abuse-report-damage-example = Esempio: ha installato malware o sottratto dati

abuse-report-spam-reason = Crea spam o pubblicità
abuse-report-spam-example = Esempio: aggiunge pubblicità alle pagine web

abuse-report-settings-reason = Modifica il motore di ricerca, la pagina iniziale o la nuova scheda senza avvisare o chiedere il consenso
abuse-report-settings-suggestions = Prima di segnalare l’estensione, provare a modificare le relative impostazioni:
abuse-report-settings-suggestions-search = Imposta il motore di ricerca predefinito
abuse-report-settings-suggestions-homepage = Modifica la pagina iniziale e la nuova scheda

abuse-report-deceptive-reason = Pretende di essere qualcos’altro
abuse-report-deceptive-example = Esempio: descrizione o grafica ingannevoli

abuse-report-broken-reason-extension = Non funziona, rende i siti web inutilizzabili o rallenta { -brand-product-name }
abuse-report-broken-reason-theme = Non funziona o rende l’interfaccia del browser inutilizzabile
abuse-report-broken-example =
  Esempio: è difficile da utilizzare, è lento o non funziona. I siti web si caricano in modo parziale o vengono visualizzati in modo strano
abuse-report-broken-suggestions-extension =
  Sembra che tu abbia trovato un bug. Oltre a segnalare il problema qui, il modo migliore per
  risolvere questo tipo di problemi è contattare lo sviluppatore dell’estensione.
  <a data-l10n-name="support-link">Visita il sito web dell’estensione</a> per trovare informazioni sullo sviluppatore.
abuse-report-broken-suggestions-theme =
  Sembra che tu abbia trovato un bug. Oltre a segnalare il problema qui, il modo migliore per
  risolvere questo tipo di problemi è contattare lo sviluppatore del tema.
  <a data-l10n-name="support-link">Visita il sito web del tema</a> per trovare informazioni sullo sviluppatore.

abuse-report-policy-reason = Contenuti offensivi, violenti o illegali
abuse-report-policy-suggestions =
  Nota: problemi relativi a copyright e abuso di marchi registrati vanno segnalati
  utilizzando un procedimento diverso.
  <a data-l10n-name="report-infringement-link">Segui queste istruzioni</a> per
  segnalare il problema.

abuse-report-unwanted-reason = Non ho mai chiesto di installare questa estensione e non riesco a rimuoverla
abuse-report-unwanted-example = Esempio: un’applicazione installata senza consenso

abuse-report-other-reason = Altro
