# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = डेवलपर उपकरणों के बारे में
enable-title = Firefox डेवलपर उपकरणों को सक्षम करें
enable-inspect-element-title = इंस्पेक्ट एलिमेंट का उपयोग करने हेतु Firefox डेवलपर उपकरणों को सक्षम करें
enable-inspect-element-message = HTML और CSS को डेवलपर उपकरणों के साथ जांचें तथा सम्पादित करें’ इंस्पेक्टर.
enable-about-debugging-message = Firefox डेवलपर उपकरणों के साथ WebExtensions, वेब कर्ता , सेवा कर्ता  तथा अधिक चीजों को विकसित करें तथा पुनर्निरक्षण करें.
enable-key-shortcut-message = आपने डेवलपर उपकरणों के एक शार्टकट को सक्रीय किया है. यदि यह एक गलती थी, तो आप इस टैब को बंद कर सकते हैं.
enable-menu-message = इंस्पेक्टर तथा डीबगर जैसे उपकरणों के साथ अपने वेबसाइट के HTML, CSS, और JavaScript की सुधार करें.
enable-common-message = आपके ब्राउज़र के ऊपर आपको अधिक नियंत्रण देने के लिए Firefox डेवलपर उपकरण डिफ़ॉल्ट रूप से अक्षम है.
enable-learn-more-link = डेवलपर उपकरणों के बारे में और जानें
enable-enable-button = डेवलपर उपकरण सक्षम करें
enable-close-button = इस टैब को बन्द करें
welcome-title = Firefox डेवलपर उपकरण में आपका स्वागत है!
newsletter-title = Mozilla डेवलपर संवादपत्र
newsletter-message = डेवलपर समाचार, तरकीबें और संसाधन सीधे अपने इनबॉक्स में पहुँचा हुआ पाएँ.
newsletter-email-placeholder =
    .placeholder = ईमेल
newsletter-privacy-label = मैं Mozilla द्वारा मेरी जानकारियों को संभालने से राजी हूँ जैसा कि इस <a data-l10n-name="privacy-policy">गोपनीयता निति</a>में बताया गया है.
newsletter-subscribe-button = सदस्यता लें
newsletter-thanks-title = धन्यवाद!
newsletter-thanks-message = अगर आपने पिछले किसी Mozilla संबंधित समाचार की सदस्यता पुष्टि नहीं की है, तो आपको करनी पड़ सकती है. कृपया अपने इनबॉक्स या अवांछनीय ई-मेल फ़िल्टर में हमारे द्वारा भेजी गयी ईमेल की जांच करें.
footer-title = Firefox डेवलपर संस्करण
footer-message = सिर्फ डेवलपर उपकरण से ज्यादा की तलाश में हैं? Firefox ब्राउज़र को जाँचें जो कि विशेष रूप से डेवलपरों और आधुनिक कार्यप्रवाहों के लिए बनाया गया है.
footer-learn-more-link = अधिक जानें
features-learn-more = अधिक जानें
features-inspector-title = निरीक्षक
features-inspector-desc = पिक्सेल-परिपूर्ण लेआउट बनाने के लिए कोड का निरीक्षण एवं सुधार करें. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = नियंत्रक पट
features-console-desc = CSS, JavaScript, सुरक्षा और नेटवर्क समस्याओं पर नजर रखें. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = डिबगर
features-debugger-desc = आपके फ्रेमवर्क का समर्थन करने वाला शक्तिशाली JavaScript डीबगर. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = संजाल
features-network-desc = उन नेटवर्क अनुरोधों की निगरानी करें जो आपकी साइट को धीमा या अवरूद्ध कर सकते हैं. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = भंडारण
features-storage-desc = कैशै, कुकीज, डेटाबेस और सत्र डेटा को जोड़ें, संशोधित करें और निकालें. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = उत्तरदायी डिजाइन मोड
features-responsive-desc = अपने ब्राउज़र में इम्यूलेटेड डिवाइसों पर साइटों का निरीक्षण करें. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = विजुअल संपादन
features-visual-editing-desc = फाईन-ट्यून एनिमेशन, संरेखण और पैडिंग. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = कार्यक्षमता
features-performance-desc = अवरोध हटाएँ, प्रक्रियाओं को कारगर बनाएँ, संपत्तियों को इष्टतम बनाएँ. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = स्मृति
features-memory-desc = मेमोरी लीक को ढूंढें और अपने अनुप्रयोग को तेज बनाएँ. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = सदस्यता अनुरोध विफल हुआ ({ $errorDescription }).
newsletter-error-unknown = एक अनपेक्षित त्रुटि उत्पन्न हुई है.
newsletter-error-timeout = सदस्यता अनुरोध का समय बीत गया.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = आपने डेवलपर टूल को सफलतापूर्वक सक्षम कर दिया है! प्रारंभ करने के लिए, वेब डेवलपर मेनू का अंवेषण करें या { $shortcut } द्वारा उपकरण खोलें.
