# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Μια νέα ενημέρωση για το { -brand-shorter-name } είναι διαθέσιμη.
    .buttonlabel = Λήψη ενημέρωσης
    .buttonaccesskey = Λ
    .secondarybuttonlabel = Όχι τώρα
    .secondarybuttonaccesskey = Ό
appmenu-update-available-message = Ενημερώστε το { -brand-shorter-name } για ακόμα περισσότερη ταχύτητα και απόρρητο.
appmenu-update-manual =
    .label = Το { -brand-shorter-name } δεν μπορεί να ενημερωθεί στην πιο πρόσφατη έκδοση.
    .buttonlabel = Λήψη του { -brand-shorter-name }
    .buttonaccesskey = Λ
    .secondarybuttonlabel = Όχι τώρα
    .secondarybuttonaccesskey = Ό
appmenu-update-manual-message = Κάντε λήψη μιας φρέσκιας έκδοσης του { -brand-shorter-name } και θα σάς βοηθήσουμε να την εγκαταστήσετε.
appmenu-update-whats-new =
    .value = Δείτε τι νέο υπάρχει.
appmenu-update-restart =
    .label = Επανεκκίνηση για ενημέρωση του { -brand-shorter-name }.
    .buttonlabel = Επανεκκίνηση και επαναφορά
    .buttonaccesskey = Ε
    .secondarybuttonlabel = Όχι τώρα
    .secondarybuttonaccesskey = Ό
appmenu-update-restart-message = Μετά από μια γρήγορη επανεκκίνηση, το { -brand-shorter-name } θα ανακτήσει όλες τις ανοικτές καρτέλες και τα παράθυρα, που δεν είναι στη λειτουργία ιδιωτικής περιήγησης.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Εντάξει, το 'πιασα
    .buttonaccesskey = Ε
appmenu-addon-post-install-message = Διαχειριστείτε τα πρόσθετά σας κάνοντας κλικ στο <image data-l10n-name='addon-install-icon'></image>, στο μενού <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Να επιτρέπεται η εκτέλεση αυτής της επέκτασης σε ιδιωτικά παράθυρα
    .accesskey = Ν
appmenu-addon-private-browsing =
    .label = Αλλαγή σε επεκτάσεις ιδιωτικών παραθύρων
    .buttonlabel = Διαχείριση επεκτάσεων
    .buttonaccesskey = Δ
    .secondarybuttonlabel = Εντάξει, το 'πιασα
    .secondarybuttonaccesskey = Ε
appmenu-addon-private-browsing-message = Τυχόν νέες επεκτάσεις που προσθέτετε στο { -brand-shorter-name } δεν θα λειτουργούν στα ιδιωτικά παράθυρα, εκτός κι αν το επιτρέψετε στις ρυθμίσεις.
appmenu-addon-private-browsing-learn-more = Μάθετε πώς να διαχειρίζεστε τις ρυθμίσεις επεκτάσεων
