# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Tin tức quan trọng
heading = Thay đổi đối với hồ sơ { -brand-short-name } của bạn
changed-title = Những gì đã thay đổi?
changed-desc-profiles = Bản cài đặt { -brand-short-name } này có cấu hình mới. Cấu hình là tập hợp các tệp mà Firefox lưu thông tin như dấu trang, mật khẩu và tùy chọn người dùng.
changed-desc-dedicated = Để giúp dễ dàng và an toàn hơn khi chuyển đổi giữa các bản cài đặt Firefox (bao gồm Firefox, Firefox ESR, Firefox Beta, Firefox dành cho nhà phát triển và Firefox Nightly), bản cài đặt này hiện có một cấu hình chuyên dụng. Nó không tự động chia sẻ thông tin đã lưu của bạn với các bản cài đặt Firefox khác.
lost = <b>Bạn chưa mất bất kỳ dữ liệu cá nhân hoặc tùy chỉnh nào.</b> Nếu bạn đã lưu thông tin vào Firefox trên máy tính này, nó vẫn có sẵn trong một bản cài đặt Firefox khác.
options-title = Tôi có những lựa chọn gì?
options-do-nothing = Nếu bạn không làm gì, dữ liệu hồ sơ của bạn trong { -brand-short-name } sẽ khác với dữ liệu hồ sơ trong các bản cài đặt khác của Firefox.
options-use-sync = Nếu bạn muốn tất cả dữ liệu hồ sơ của mình giống nhau trên tất cả các cài đặt của Firefox, bạn có thể sử dụng { -fxaccount-brand-name } để giữ chúng đồng bộ hóa.
resources = Tài nguyên:
support-link = Sử dụng trình quản lý hồ sơ - Bài viết hỗ trợ
sync-header = Đăng nhập hoặc tạo { -fxaccount-brand-name }
sync-label = Nhập email của bạn
sync-input =
    .placeholder = Email
sync-button = Tiếp tục
sync-terms = Bằng cách tiếp tục, bạn đồng ý với <a data-l10n-name="terms">điều khoản dịch vụ</a> và <a data-l10n-name="privacy">thông báo bảo mật</a>.
sync-first = Lần đầu tiên sử dụng { -sync-brand-name }? Bạn sẽ cần đăng nhập vào mọi cài đặt Firefox để đồng bộ hóa thông tin của bạn.
sync-learn = Tìm hiểu thêm
