# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

panic-button-open-new-window = Mở một cửa sổ mới
panic-button-undo-warning = Thao tác này không thể hoàn tác được.
panic-button-forget-button =
    .label = Xóa!

## These strings are combined to form a complete sentence starting with
## panic-main-timeframe-desc. For example: "Forget the last: Five minutes".
## Please ensure that this remains the case in the translation.

panic-main-timeframe-desc = Xóa dữ liệu từ thời điểm:
panic-button-5min =
    .label = Năm phút trước
panic-button-2hr =
    .label = Hai tiếng trước
panic-button-day =
    .label = 24 giờ trước

## These strings are combined to form a complete sentence starting with
## panic-button-action-desc. For example: "Proceeding will: Delete Recent Cookies".
## Please ensure that this remains the case in the translation.
## Note also that some strings include <strong> tags for emphasis on the
## words "Cookies", "History", "Tabs" and "Windows". The translation should do the same.

panic-button-action-desc = Nếu tiếp tục, chương trình sẽ:
panic-button-delete-cookies = Xóa những <strong>Cookie</strong> gần đây
panic-button-delete-history = Xóa <strong>lịch sử</strong> gần đây
panic-button-delete-tabs-and-windows = Đóng tất cả các <strong>thẻ</strong> và <strong>cửa sổ</strong>
