# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Wo { -brand-full-name }
releaseNotes-link = Nowe funkcije a změny
update-checkForUpdatesButton =
    .label = Aktualizacije pytać
    .accesskey = A
update-updateButton =
    .label = Startujće znowa, zo byšće { -brand-shorter-name } aktualizował
    .accesskey = z
update-checkingForUpdates = Aktualizacije so pytaja…
update-downloading = <img data-l10n-name="icon"/>Aktualizacija so sćahuje — <label data-l10n-name="download-status"/>
update-applying = Aktualizacija so nałožuje…
update-failed = Aktualizowanje je so njeporadźiło. <label data-l10n-name="failed-link">Najnowšu wersiju sćahnyć</label>
update-failed-main = Aktualizowanje je so njeporadźiło. <a data-l10n-name="failed-link-main">Najnowšu wersiju sćahnyć</a>
update-adminDisabled = Aktualizacije su so wot twojeho administratora znjemóžnili
update-noUpdatesFound = { -brand-short-name } je aktualny
update-otherInstanceHandlingUpdates = { -brand-short-name } so přez druhu instancu aktualizuje
update-manual = Aktualizacije k dispoziciji na <label data-l10n-name="manual-link"/>
update-unsupported = Njemóžeće dalše aktualizacije na tutym systemje přewjesć. <label data-l10n-name="unsupported-link">Dalše informacije</label>
update-restarting = Startuje so…
channel-description = Sće tuchwilu na aktualizaciskim kanalu <label data-l10n-name="current-channel"></label>.{ " " }
warningDesc-version = { -brand-short-name } je eksperimentalny a móhł njestabilny być.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> je <label data-l10n-name="community-exp-creditsLink">globalne zhromadźenstwo,</label> kotrež zhromadnje dźěła, zo by web wotewrjeny, zjawny a za wšěch přistupny wobchował.
community-2 = { -brand-short-name } je so wot <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label> wuwił, <label data-l10n-name="community-creditsLink">globalneho zhromadźenstwa,</label> kotrež zhromadnje dźěła, zo by web wotewrjeny, zjawny a za wšěch přistupny wobchował.
helpus = Chceće pomhać? <label data-l10n-name="helpus-donateLink">Darće</label> abo <label data-l10n-name="helpus-getInvolvedLink">čińće sobu!</label>
bottomLinks-license = Licencne informacije
bottomLinks-rights = Prawa kónčneho wužiwarja
bottomLinks-privacy = Prawidła priwatnosće
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bitowy)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bitowy)
