# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Nowa aktualizacija { -brand-shorter-name } je k dispoziciji.
    .buttonlabel = Aktualizaciju sćahnyć
    .buttonaccesskey = A
    .secondarybuttonlabel = Nic nětko
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Aktualizujće swój { -brand-shorter-name } za najnowši w spěšnosći a priwatnosći.
appmenu-update-manual =
    .label = { -brand-shorter-name } njeda so na najnowšu wersiju aktualizować.
    .buttonlabel = { -brand-shorter-name } sćahnyć
    .buttonaccesskey = s
    .secondarybuttonlabel = Nic nětko
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Sćehńće nowu kopiju { -brand-shorter-name } a budźemy pomhać, ju instalować.
appmenu-update-whats-new =
    .value = Čitajće, štož je nowe.
appmenu-update-restart =
    .label = Startujće znowa, zo byšće { -brand-shorter-name } aktualizował.
    .buttonlabel = Znowa startować a wobnowić
    .buttonaccesskey = Z
    .secondarybuttonlabel = Nic nětko
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = { -brand-shorter-name } po spěšnym znowastartowanju swoje wočinjene rajtarki a wokna wobnowi, kotrež w priwatnym modusu njejsu.
appmenu-addon-private-browsing-installed =
    .buttonlabel = W porjadku, sym zrozumił
    .buttonaccesskey = z
appmenu-addon-post-install-message = Klikńće na <image data-l10n-name='addon-install-icon'></image> w meniju <image data-l10n-name='addon-menu-icon'></image>, zo byšće swoje přidatki rjadował.
appmenu-addon-post-install-incognito-checkbox =
    .label = Tute rozšěrjenje w priwatnych woknach dowolić
    .accesskey = T
appmenu-addon-private-browsing =
    .label = K rozšěrjenjam w priwatnych woknach změnić
    .buttonlabel = Rozšěrjenja rjadować
    .buttonaccesskey = R
    .secondarybuttonlabel = W porjadku, sym zrozumił
    .secondarybuttonaccesskey = z
appmenu-addon-private-browsing-message = Někotre nowe rozšěrjenja, kotrež { -brand-shorter-name } přidawaće, w priwatnych woknach njefunguja, chibazo dowoleće to w nastajenjach.
appmenu-addon-private-browsing-learn-more = Zhońće, kak so nastajenja rozšěrjenjow rjaduja.
