# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Pemutakhiran { -brand-shorter-name } terkini telah tersedia.
    .buttonlabel = Unduh Pemutakhiran
    .buttonaccesskey = D
    .secondarybuttonlabel = Jangan Sekarang
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Perbarui { -brand-shorter-name } Anda untuk mendapat yang terkini dalam kecepatan dan privasi.
appmenu-update-manual =
    .label = { -brand-shorter-name } tidak dapat diperbarui ke versi terkini.
    .buttonlabel = Unduh { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Jangan Sekarang
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Unduh salinan segar dari { -brand-shorter-name } dan kami akan membantu Anda untuk memasangnya.
appmenu-update-whats-new =
    .value = Lihat yang baru.
appmenu-update-restart =
    .label = Mulai ulang untuk memutakhirkan { -brand-shorter-name }.
    .buttonlabel = Mulai Ulang dan Kembalikan
    .buttonaccesskey = K
    .secondarybuttonlabel = Jangan Sekarang
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Setelah mulai ulang cepat, { -brand-shorter-name } akan mengembalikan semua tab dan jendela terbuka Anda yang tidak berada di mode Penjelajahan Pribadi.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Oke, paham
    .buttonaccesskey = O
appmenu-addon-post-install-message = Kelola pengaya Anda dengan mengeklik <image data-l10n-name='addon-install-icon'></image>di<image data-l10n-name='addon-menu-icon'></image> menu.
appmenu-addon-post-install-incognito-checkbox =
    .label = Izinkan ekstensi ini untuk berjalan di Jendela Pribadi
    .accesskey = I
appmenu-addon-private-browsing =
    .label = Ubah ke ekstensi pada Jendela Pribadi
    .buttonlabel = Kelola Ekstensi
    .buttonaccesskey = M
    .secondarybuttonlabel = Oke, paham
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Semua ekstensi baru yang Anda tambahkan ke { -brand-shorter-name } tidak akan berjalan di Jendela Pribadi kecuali Anda mengizinkannya di peraturan.
appmenu-addon-private-browsing-learn-more = Pelajari cara mengelola pengaturan ekstensi.
