# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Berita Penting
heading = Perubahan atas profil { -brand-short-name } Anda
changed-title = Apa yang berubah?
changed-desc-profiles = Pemasangan { -brand-short-name } ini memiliki profil baru. Profil adalah sekumpulan berkas tempat Firefox menyimpan informasi seperti markah, sandi, dan preferensi pengguna.
changed-desc-dedicated = Untuk mempermudah dan lebih aman berganti antara pemasangan Firefox (mencakup Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, dan Firefox Nightly), pemasangan ini memiliki profil khusus. Profil ini tidak secara otomatis berbagi informasi dengan pemasangan Firefox lainnya.
lost = <b>Anda belum kehilangan data pribadi ata penyesuaian.</b> Jika Anda telah menyimpan informasi ke Firefox pada komputer ini, informasi tersebut masih tersedia pada pemasangan Firefox lainnya.
options-title = Apa saja pilihannya?
options-do-nothing = Jika Anda tidak melakukan apa-apa, data profil Anda di { -brand-short-name } akan berbeda dengan data profil pada pemasangan Firefox lainnya.
options-use-sync = Jika Anda ingin menyamakan semua data profil Anda di semua pemasangan Firefox, Anda bisa menggunakan { -fxaccount-brand-name } untuk menyinkronkannya.
resources = Sumber Daya:
support-link = Artikel Dukungan Menggunakan Pengelola Profil
sync-header = Masuk atau buat { -fxaccount-brand-name }
sync-label = Masukkan surel Anda
sync-input =
    .placeholder = Surel
sync-button = Lanjutkan
sync-terms = Dengan melanjutkan, berarti Anda setuju dengan <a data-l10n-name="terms">Ketentuan Layanan</a> dan <a data-l10n-name="privacy">Pernyataan Privasi</a>.
sync-first = Pertama kali menggunakan { -sync-brand-name }? Anda harus masuk ke setiap pemasangan Firefox untuk menyinkronkan informasi Anda.
sync-learn = Pelajari lebih lanjut
