# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Ipyahúva { -brand-shorter-name } ñembohekopyahu eipurukuáva.
    .buttonlabel = Mbohekopyahu ñemboguejy
    .buttonaccesskey = M
    .secondarybuttonlabel = Ani ko'ág̃a
    .secondarybuttonaccesskey = A
appmenu-update-available-message = Embohekopyahu { -brand-shorter-name } ipya'e ha iñemive hag̃ua.
appmenu-update-manual =
    .label = { -brand-shorter-name } ndaikatúi embohekopyahu osẽramovévape.
    .buttonlabel = Emboguejy { -brand-shorter-name }
    .buttonaccesskey = E
    .secondarybuttonlabel = Ani ko'ág̃a
    .secondarybuttonaccesskey = A
appmenu-update-manual-message = Emboguejy { -brand-shorter-name } pyahu ha reñepytyvõta emohendaha hag̃ua.
appmenu-update-whats-new =
    .value = Ehecha mba'épa ipyahuvéva.
appmenu-update-restart =
    .label = Emoñepyrũjey embohekopyahu hag̃ua { -brand-shorter-name }
    .buttonlabel = Moñepyrũ ha mboguevijey
    .buttonaccesskey = M
    .secondarybuttonlabel = Ani ko'ág̃a
    .secondarybuttonaccesskey = A
appmenu-update-restart-message = Pya'e remoñepyrũjey rire, { -brand-shorter-name } omoĩmbajeýta tendayke ha ovetã rehecháva'ekue ha ndaha'éiva Kundahañemimegua.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Oĩma, aikumby
    .buttonaccesskey = O
appmenu-addon-post-install-message = Eñangareko ne rembipuru'i eikutúvo <image data-l10n-name='addon-install-icon'></image> poravorã <image data-l10n-name='addon-menu-icon'></image> pegua.
appmenu-addon-post-install-incognito-checkbox =
    .label = Emoneĩ ko jepysokue oñembohekóvo Windows ñemiguápe
    .accesskey = A
appmenu-addon-private-browsing =
    .label = Emoambue jepysokue Ovetã ñemiguápe
    .buttonlabel = Eñangareko jepysokuére
    .buttonaccesskey = M
    .secondarybuttonlabel = Oĩma, aikumby
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Oimeraẽ ambue jepysokue embojuajúva { -brand-shorter-name } rehe ndoikomo’ãi ovetã ñemíme neremoneĩriramo ñembohekópe.
appmenu-addon-private-browsing-learn-more = Eñangarekokuaa jepysokue ñembohekóre.
