# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Marandu iporãva
heading = Ñemoambue ne mba’etépe { -brand-short-name } rupive
changed-title = ¿Mba'e iñambue?
changed-desc-profiles = { -brand-short-name } ñemohenda oguereko mba’ete pyahu. Peteĩ mba’ete ha’e marandurenda aty Firefox oñongatuha marandu, techapyrãrõ techaukaha, ñe’ẽñemi ha puruhára oguerohoryvéva.
changed-desc-dedicated = Ndahasyive ha hekorosã hag̃ua mbojopyru Firefox ñemohenda (oikehápe Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition ha Firefox Nightly), ko ñemohenda ko’ág̃a oguereko mba’ete mboherapyre. Nomoherakuãi ojehegui marandu ñongatupyre ambue Firefox ñemohendapyre ndive.
lost = <b>Nokañýi ndehegui mba’evéichagua mba’ekuaarã mba’etéva térã momba’epyre.</b> Eñongatúmarõ marandu Firefox pegua ko mohendahápe, kóva ojepurukuaa gueteri ambue Firefox mohendapyrépe.
options-title = ¿Mba’épa umi poravorã?
options-do-nothing = Nderejapóirõ mba’eve, ne mba’ete mba’ekuaarã { -brand-short-name } pegua iñambuéta umi mba’ete mba’ekuaarã ambue Firefox ñemohenda peguágui.
options-use-sync = Eipotáramo oĩháicha ne mba’etéva mba’ekuaarã ojojogua opaite Firefox mohendapyrépe, ikatu eipuru { -fxaccount-brand-name } ojuehe tapia hag̃ua.
resources = Mba’eita:
support-link = Aipuruhína mba’ete ñangarekoha – Pytyvõha jehaipy
sync-header = Eñepyrũ tembiapo térã emoheñói peteĩ { -fxaccount-brand-name }
sync-label = Emoinge ne ñanduti veve
sync-input =
    .placeholder = Ñanduti veve
sync-button = Ku'ejey
sync-terms = Eku’ejeývo, emoneĩ ko’ã <a data-l10n-name="terms">Mba'epytyvõrã ñemboguata</a> ha pe <a data-l10n-name="privacy">Ñemigua marandu’i</a>.
sync-first = ¿Eipuru ñepyrũhína { -sync-brand-name }? Emoñepyrũva’erã tembiapo opaite Firefox ñemohendápe emoñondive hag̃ua ne marandu.
sync-learn = Kuaave
