# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Apie saityno kūrėjų priemones
enable-title = Įjungti saityno kūrėjų priemones
enable-inspect-element-title = Įjunkite „Firefox“ saityno kūrėjų priemones, norėdami naudotis elementų tyrikliu
enable-inspect-element-message = Peržiūrėkite ir redaguokite HTML bei CSS su saityno kūrėjų priemonių tyrikliu
enable-about-debugging-message = Programuokite ir derinkite „WebExtensions“, saityno scenarijus, aptarnavimo scenarijus, ir daugiau su „Firefox“ saityno kūrėjų priemonėmis.
enable-key-shortcut-message = Jūs paspaudėte saityno kūrėjų priemonių spartųjį klavišą. Jeigu tai buvo klaida, galite šią kortelę uždaryti.
enable-menu-message = Ištobulinkite savo svetainės HTML, CSS ir „JavaScript“ su tyriklio ir derintuvės įrankiais.
enable-common-message = Įprastai „Firefox“ saityno kūrėjų įrankiai yra išjungti, norint suteikti jums daugiau pasirinkimo, kaip veikia jūsų naršyklė.
enable-learn-more-link = Sužinokite apie saityno kūrėjų priemones
enable-enable-button = Įjungti saityno kūrėjų priemones
enable-close-button = Užverti šią kortelę
welcome-title = Sveiki! Čia – „Firefox“ saityno kūrėjų priemonės.
newsletter-title = „Mozillos“ programuotojų naujienlaiškis
newsletter-message = Gaukite programuotojams skirtas naujienas, patarimus ir kitą naudingą informaciją tiesiai į savo el. pašto dėžutę.
newsletter-email-placeholder =
    .placeholder = El. paštas
newsletter-privacy-label = Sutinku, kad „Mozilla“ tvarkytų mano duomenis kaip paaiškinta šiuose <a data-l10n-name="privacy-policy">Privatumo nuostatuose</a>.
newsletter-subscribe-button = Prenumeruoti
newsletter-thanks-title = Ačiū!
newsletter-thanks-message = Jei nesate anksčiau patvirtinę kurio nors „Mozillos“ naujienlaiškio prenumeratos, turbūt turėsite tai padaryti dabar. Dėl visa ko patikrinkite ir savo brukalo aplanką – galbūt mūsų laiškas netyčia atsidurs jame.
footer-title = Firefox Developer Edition
footer-message = Neužtenka saityno kūrėjo priemonių? Išbandykite „Firefox“ naršyklę, kuri sukurta būtent programuotojams bei moderniems darbams.
footer-learn-more-link = Sužinoti daugiau
features-learn-more = Sužinoti daugiau
features-inspector-title = Tyriklis
features-inspector-desc = Tirkite ir tobulinkite kodą, kad visi tinklalapiai atrodytų tobulai. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Pultas
features-console-desc = Matykite CSS, „JavaScript“, saugumo ir tinklo problemas. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Derintuvė
features-debugger-desc = Galinga „JavaScript“ derintuvė, palaikanti ir jūsų naudojamą karkasą. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Tinklas
features-network-desc = Stebėkite tinklo užklausas ir jų vykdymo spartą bei aptikite tas, kurios labiausiai lėtina tinklalapio įkėlimą. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Saugykla
features-storage-desc = Pridėkite, keiskite ir šalinkite podėlio įrašus, slapukus, vietinės duomenų bazės įrašus ir kitus duomenis. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Keičiamo dydžio rodinys
features-responsive-desc = Įsitikinkite, jog svetainės gerai atrodys mažuose telefonų ekranuose, emuliuodami juos tiesiai naršyklėje. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Vaizdusis redaktorius
features-visual-editing-desc = Kruopščiai nupoliruokite animacijas, parinkite tinkamiausias paraštes ir lygiuotę. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Našumas
features-performance-desc = Atraskite ir pašalinkite našumo problemas, sustyguokite procesus, optimizuokite išteklius. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Atmintis
features-memory-desc = Raskite atminties protėkius ir paspartinkite savo programą. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Prenumeratos užklausa nepavyko ({ $errorDescription }).
newsletter-error-unknown = Įvyko netikėta klaida.
newsletter-error-timeout = Baigėsi prenumeratos užklausai skirtas laikas.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Sėkmingai įjungėte saityno kūrėjų priemones! Norėdami pradėti, patyrinėkite meniu punktą „Saityno kūrėjams“, arba atverkite įrankius su { $shortcut }.
