# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Nowa aktualizacija { -brand-shorter-name } jo k dispoziciji.
    .buttonlabel = Aktualizaciju ześěgnuś
    .buttonaccesskey = A
    .secondarybuttonlabel = Nic něnto
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Aktualizěrujśo swój { -brand-shorter-name } za nejnowšy w malsnosći a priwatnosći.
appmenu-update-manual =
    .label = { -brand-shorter-name } njedajo se na nejnowšu wersiju aktualizěrowaś.
    .buttonlabel = { -brand-shorter-name } ześěgnuś
    .buttonaccesskey = z
    .secondarybuttonlabel = Nic něnto
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Ześěgniśo nowu kopiju { -brand-shorter-name } a buźomy pomagaś, ju instalěrowaś.
appmenu-update-whats-new =
    .value = Cytajśo, což jo nowe.
appmenu-update-restart =
    .label = Startujśo znowego, aby { -brand-shorter-name } aktualizěrował.
    .buttonlabel = Znowego startowaś a wobnowiś
    .buttonaccesskey = Z
    .secondarybuttonlabel = Nic něnto
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = { -brand-shorter-name } pó malsnem znowegostartowanju swóje wócynjone rejtarki a wokna wótnowijo, kótarež njejsu w priwatnem modusu.
appmenu-addon-private-browsing-installed =
    .buttonlabel = W pórěźe, som zrozměł
    .buttonaccesskey = z
appmenu-addon-post-install-message = Klikniśo na <image data-l10n-name='addon-install-icon'></image> w meniju <image data-l10n-name='addon-menu-icon'></image>, aby swóje dodanki zastojał.
appmenu-addon-post-install-incognito-checkbox =
    .label = Toś to rozšyrjenje w priwatnych woknach dowóliś
    .accesskey = T
appmenu-addon-private-browsing =
    .label = K rozšyrjenjam w priwatnych woknach přejś
    .buttonlabel = Rozšyrjenja zastojaś
    .buttonaccesskey = R
    .secondarybuttonlabel = W pórěźe, som zrozměł
    .secondarybuttonaccesskey = z
appmenu-addon-private-browsing-message = Někotare nowe rozšyrjenja, kótarež { -brand-shorter-name } pśidawaśo, w priwatnych woknach njefunkcioněruju, snaźkuli dowólujośo to w nastajenjach.
appmenu-addon-private-browsing-learn-more = Zgóńśo, kak se nastajenja rozšyrjenjow zastojaju.
