# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Yeni bir { -brand-shorter-name } güncellemesi var.
    .buttonlabel = Güncellemeyi indir
    .buttonaccesskey = G
    .secondarybuttonlabel = Daha sonra
    .secondarybuttonaccesskey = D
appmenu-update-available-message = En yeni hız ve gizlilik özellikleri için { -brand-shorter-name } tarayıcınızı güncelleyin.
appmenu-update-manual =
    .label = { -brand-shorter-name } son sürüme güncellenemiyor.
    .buttonlabel = { -brand-shorter-name } tarayıcısını indir
    .buttonaccesskey = t
    .secondarybuttonlabel = Daha sonra
    .secondarybuttonaccesskey = a
appmenu-update-manual-message = Önce yeni { -brand-shorter-name } kopyanızı indirin. Yüklemenize yardım edeceğiz.
appmenu-update-whats-new =
    .value = Yeniliklere bakın.
appmenu-update-restart =
    .label = { -brand-shorter-name } tarayıcısını güncellemek için yeniden başlatın.
    .buttonlabel = Yeniden başlat ve geri yükle
    .buttonaccesskey = b
    .secondarybuttonlabel = Daha sonra
    .secondarybuttonaccesskey = D
appmenu-update-restart-message = Yeniden başlatmanın ardından { -brand-shorter-name } tüm açık sekme ve pencerelerinizi geri yükleyecek (Gizli Gezinti modundakiler hariç).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Tamam, anladım
    .buttonaccesskey = T
appmenu-addon-post-install-message = Eklentilerinizi yönetmek için <image data-l10n-name='addon-menu-icon'></image> menüdeki <image data-l10n-name='addon-install-icon'></image> simgesine tıklayabilirsiniz.
appmenu-addon-post-install-incognito-checkbox =
    .label = Bu eklentinin gizli pencerelerde çalışmasına izin ver
    .accesskey = B
appmenu-addon-private-browsing =
    .label = Gizli pencerelerde eklentiler değişiyor
    .buttonlabel = Eklentileri yönet
    .buttonaccesskey = E
    .secondarybuttonlabel = Tamam, anladım
    .secondarybuttonaccesskey = T
appmenu-addon-private-browsing-message = Bundan sonra { -brand-shorter-name } tarayıcınıza ekleyeceğiniz eklentiler, siz özellikle izin vermedikçe gizli pencerelerde çalışmayacak.
appmenu-addon-private-browsing-learn-more = Eklenti ayarlarını yönetmeyi öğrenin.
