# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Önemli Bir Haber
heading = { -brand-short-name } profilinizle ilgili değişiklikler
changed-title = Neler değişti?
changed-desc-profiles = Bu { -brand-short-name } kurulumunun yeni bir profili var. Firefox’un yer imleri, parolalar ve kullanıcı tercihleri gibi bilgileri kaydettiği dosyalar kümesine profil denir.
changed-desc-dedicated = Firefox kurulumları (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition ve Firefox Nightly dahil) arasında geçiş yapmayı daha kolay ve güvenli hale getirmek için bu kuruluma özel bir profil oluşturduk. Kayıtlı bilgilerinizi diğer Firefox kurulumlarıyla otomatik olarak paylaşılmayacaktır.
lost = <b>Merak etmeyin, kişisel verileriniz ve özelleştirmeleriniz kaybolmadı.</b> Bu bilgisayarda Firefox’a herhangi bir bilgi kaydettiyseniz o bilgiler başka bir Firefox kurulumunda duruyordur.
options-title = Seçeneklerim neler?
options-do-nothing = Hiçbir şey yapmazsanız { -brand-short-name } profil verileriniz diğer Firefox kurulumlarındaki profil verilerinden farklı olacaktır.
options-use-sync = Tüm Firefox kurulumlarında tüm profil verilerinizin aynı olmasını istiyorsanız { -fxaccount-brand-name } ile verilerinizi eşitleyebilirsiniz.
resources = Kaynaklar:
support-link = Profil Yöneticisini Kullanma - Destek Makalesi
sync-header = Giriş yapın veya { -fxaccount-brand-name } oluşturun
sync-label = E-posta adresinizi yazın
sync-input =
    .placeholder = E-posta
sync-button = Devam et
sync-terms = Devam ederseniz <a data-l10n-name="terms">Hizmet Koşulları</a>’nı ve <a data-l10n-name="privacy">Gizlilik Bildirimi</a>’ni kabul etmiş olursunuz.
sync-first = İlk kez mi { -sync-brand-name } kullanıyorsunuz? Bilgilerinizi eşitlemek için tüm Firefox’larınızdan hesabınıza giriş yapmalısınız.
sync-learn = Daha fazla bilgi al
